/* -------------------------------------------------------------------------------------------------

Powered By : Tasawr Interactive
CSS author : Mosaddek Hossain
Start Date : 27-02-2012

----------------------------------------------------------------------------------------------------*/

.ltr {

    body {
      text-align: left;
      direction: ltr;
    }

    .start,
    .header,
    a.logo,
    .slide_wrap,
    .slide_content,
    .sliding_img,
    .sld_trns_bg,
    .sld_thum,
    .sld_desc,
    .sld_desc p,
    .reg_row,
    a.slide_prev,
    .reg_row p,
    .start,
    .rb_sign,
    .moteel_search_box,
    .moteel_search_one,
    .moteel_search_two,
    .moteel_search_three,
    .mtl_src_heading_one,
    .mtl_src_heading_two,
    .mtl_src_heading_three,
    .moteel_search_two input[type="text"],
    input.srch_btn,
    a.srch_btn {
      float: left;
    }

    .sign_row,
    .sign_row ul,
    .sign_row ul li {
      float: right;
    }

    .sign_row ul li {
      padding-left: 5px;
    }

    .sld_desc {
      margin-left: 20px;
    }

    .reg_row {
      margin-left: 25px;
    }

  /* a.slide_prev {*/
  /*margin-left: -35px;*/
  /*background: url("../../images/dashboard/slide_prev.png") no-repeat;*/
  /*}*/

  /* a.slide_next {*/
  /*margin-right: -35px;*/
  /*background: url("../../images/dashboard/slide_next.png") no-repeat;*/
  /*}*/

    a.slide_next,
    a.lst_moteel_btn {
      float: right
    }

    .rb_sign {
      margin-left: 70px;
      background: url("../../images/dashboard/en/rb_sign.jpg") no-repeat;
    }

    a.lst_moteel_btn {
      margin-right: 30px;
    }

    .mtl_src_heading_one {
      padding-left: 45px;
      background: url("../../images/dashboard/search_icon_set.png") no-repeat 0 0;
    }

    .mtl_src_heading_two {
      padding-left: 45px;
      background: url("../../images/dashboard/search_icon_set.png") no-repeat 0 -36px;
    }

    .mtl_src_heading_three {
      padding-left: 45px;
      background: url("../../images/dashboard/search_icon_set.png") no-repeat 0 -72px;
    }

    .moteel_search_one input[type="text"] {
      float: left;
      margin-left: 45px;
    }

    .moteel_search_two input[type="text"] {
      margin-right: 10px;
    }

    input.srch_btn,
    a.srch_btn {
      background: url("../../images/dashboard/en/sign_now_btn.png") no-repeat;
      padding-left: 20px;
      text-align: left;
    }

    .content .infoboxes label.select {
      color: #737380;
      font-size: 16px;
      display: block;
      padding-right: 10px;
    }

  /**/

    .know_more,
    .horizontal_divider,
    .more_thumb,
    .more_thumb a,
    .more_thumb a img,
    .footer,
    .footer_link,
    .footer_link ul,
    .footer_link ul li,
    .inner_bot_shade {
      float: left
    }

    .more_thumb a,
    .footer_link ul li {
      margin-right: 7px
    }

    .no_margin {
      margin-right: 0 !important
    }

    .social_icon_row,
    .welcome span,
    .welcome {
      float: right
    }

    a.facebook {
      background: url("../../images/dashboard/sotial_link.jpg") no-repeat -30px;
      float: right;
      margin-left: 10px;
    }

    a.twiter {
      background: url("../../images/dashboard/sotial_link.jpg") no-repeat 0px;
      float: right;
    }

  /*inner page*/

    .welcome span {
      padding-left: 5px
    }

    .inner_page_content,
    .wizard_nav,
    .wizard_nav ul,
    .wizard_nav ul li,
    .wizard_nav ul li a,
    .wizard_nav ul li a.active,
    .steps_row,
    .inner_main_content,
    .inner_sidebar,
    .form_wrap,
    .double_input_row,
    .double_input_row label,
    .double_input_row input[type="text"],
    .single_input_row,
    .single_input_row label,
    .single_input_row input[type="text"],
    .single_input_row input[type="password"] {
      float: left
    }

    .second_field {
      margin-left: 2%;
    }

    .verticle_divider {
      background: url("../../images/dashboard/verticle_divider.jpg") repeat-y right
    }

    .inner_sidebar {
      margin-left: 20px
    }

    input.single_submit,
    input.continue_btn,
    a.single_submit,
    a.continue_btn {
      background: url("../../images/dashboard/en/sm_btn.jpg") no-repeat;
      padding-left: 20px;
      text-align: left;

    }

    input.cancel_btn,
    a.cancel_btn {
      background: url("../../images/dashboard/en/cancel_btn.jpg") no-repeat;
      padding-left: 20px;
      text-align: left;
    }

    input.single_submit,
    a.single_submit {

    }

  /**/

    .steps {
      float: left;
    }

    .step_center_position {
      margin-left: 35%;
    }

    .steps .st_1, .steps .st_2, .steps .st_3, .steps .st_4, .steps .st_5, .steps .st_6, .steps .st_7, .steps .line {
      float: left;
    }

  /**/

    .side_list,
    .side_list ul,
    .side_list ul li,
    .side_desc,
    .side_desc p,
    .single_input_row textarea {
      float: left;
    }

    .side_list ul li {
      margin-left: 10px;
      list-style: disc;
    }

    .loc_map,
    .inner_full_width,
    .notice_box,
    .notice_box p {
      float: left
    }

    .skip_btn {
      background: url("../../images/dashboard/en/sign_now_btn.png") no-repeat right;
      padding-left: 20px;
      text-align: left;
    }

    .seperation {
      margin-left: 25px;
    }

    a.external_link {
      float: right;
    }

    .double_btn_center {
      margin-left: 280px
    }

    a.extra_link_center {

    }

    .center_combo,
    .chosse_bar,
    .chosse_bar ul,
    .chosse_bar ul li,
    .check_role,
    .check_role_individual,
    .check_role_individual input[type="checkbox"],
    .check_role_individual span,
    .exam_txt,
    .dollar,
    a.full_width_link_center {
      float: left
    }

    .center_combo select {
      margin-left: 0
    }

    input.cancel_btn,
    a.cancel_btn {

    }

    .chosse_bar ul li {
      margin-right: 10px;
    }

    .exam_txt {
      margin-left: 17%
    }

    .dollar {
      margin-left: 10px
    }

    a.full_width_link_center {
      margin-left: 45%
    }

    .pos_center {
      margin-left: 43% !important
    }

  /*dashboard*/

    .grid_16,
    .content {
      float: left;
    }

    .content .narrow,
    .content .narrow .infoboxes,
    .content .infoboxes label,
    .content .infoboxes select,
    .content .infoboxes h1,
    .quickview h1,
    .infoboxes span {
      float: left;
    }

    .infoboxes .changed,
    .content .wide {
      float: right;
    }

    .infoboxes .boxinfo,
    .infoboxes .boxinfo .info,
    .changed .up,
    .changed .down,
    .changed .equal,
    .changed .amount {
      float: left;
    }

    .infoboxes .boxinfo {
      border-right: 1px solid #D4D4D4;
    }

    .content .infoboxes label,
    .content .infoboxes select {
      margin-right: 5px;
    }

    .content .infoboxes label {
      color: #73A127;
      font-size: 18px;
    }

    .wide .controls,
    .wide .notification,
    .wide .quickview,
    .wide .statistics,
    .slide_wrap .quickview {
      float: right;
    }

    .wide .controls a {
      float: left;
      margin-right: 0.88%;
    }

    .notification a.close {
      float: right;
    }

    .notification label {
      float: left;
      padding-left: 40px;
    }

    .success label {
      background: url('../../images/dashboard/notification.png') 0px 0px no-repeat;
    }

    .failure label {
      background: url('../../images/dashboard/notification.png') 0px -50px no-repeat;
    }

    .quickview .views,
    .quickview .group,
    .quickview .group ul,
    .quickview .group ul li,
    .quickview .group ul li a {
      float: left;
    }

    .wide .statistics .row,
    .wide .statistics span,
    .wide .statistics label,
    .wide .statistics .reserve,
    .wide .statistics .usage,
    .wide .statistics  .chout {
      float: left;
    }

  /* .wide .statcontent {*/
  /*-webkit-border-top-right-radius: 5px;*/
  /*-webkit-border-bottom-right-radius: 5px;*/
  /*-webkit-border-bottom-left-radius: 05px;*/
  /*-moz-border-radius-topright: 5px;*/
  /*-moz-border-radius-bottomright: 5px;*/
  /*-moz-border-radius-bottomleft: 05px;*/
  /*border-top-right-radius: 5px;*/
  /*border-bottom-right-radius: 5px;*/
  /*border-bottom-left-radius: 05px;*/
  /*behavior: url(PIE.htc);*/
  /*}*/

    .statistics ul,
    .statistics ul li,
    .statistics ul li a,
    .wide .statcontent,
    .statcontent .bundle {
      float: left;
    }

    .statistics .row label {
      text-align: right;
      margin-right: 2%;
    }

    .statistics .chout .usage label,
    .statistics .chout .usage span {
      float: right;
    }

    .statistics .chout .usage label {
      margin-right: 0;
      margin-left: 1%;
    }

    .side_link_row,
    a.side_link {
      float: left
    }

    .infoboxes h1 {
      text-align: left
    }

  /**/
    .transbox,
    .coming_soon,
    .nrw_con {
      float: left
    }

    .coming_soon {
      margin-left: 45%
    }

    #nav,
    #nav ul,
    #nav li {
      float: left;
    }

    #nav ul {
      left: -9999px;
    }

    #nav li:hover ul {
      left: 0;
    }

    .import_row {
      float: left;
    }

    .tp_desc {
      float: left;
    }

    .tp_desc span {
      padding-right: 2px;
    }

    .import_row, .import_row p, .import_row a.import_btn, .msg_row, .msg_row img, .msg_row span, .instruction h2, .exam_txt, .sar, .field_step {
      float: left;

    }

    .import_row p {
      text-align: left !important;

    }

    .side_link_row, a.side_link, .double_head, .manage_input_row, .manage_input, .manage_input label, .manage_input select, .manage_input input, .m_sel_row, .m_sel_desc, .editable_row, .m_sel_row input, .m_sel_row span, .tp_desc, .tp_desc span, .editable_general {
      float: left;
    }

    a.head_link, span.head_link, .editable_row ul, .editable_row ul li, .editable_general ul, .editable_general ul li {
      float: right;
    }

    .wide_row .all_brances select, .brand_row select, .manage_input select {
    /* padding: 5px 5px 5px 0; */
    }

    .seperate {
    /*margin-left: 3%;  */
    }

    .flash_message,
    .flash_message .notification {
      float: left;
    }

    .breadcum,
    .breadcum  a,
    .breadcum  span,
    .breadcum  a.bread_sel {
      float: left;
    }

    .breadcum  a,
    .breadcum  span {
      padding-right: 5px
    }

    .manage_input .dt_txt, .manage_input .dt_txt input {
      float: left;
    }

    .dt_txt img {
      float: right;
    }

    .bi_row {
      float: left;
    }

    .category_label, .featuedRow .category, span.category_checkbox, .category_box {
      float: left;
    }

    .ci_row, .prf_owner_info, .prf_img, .prf_img_desc, .vp_row, .vp_row_info, .vp_row_info p, .vp_row_info label, .vp_row_info b, .vp_row_info span, .vp_row_info h1, .cn_row, .cn_row label, .cn_row input, .cn_row span {
      float: left;
    }

    .manage_input .dt_txt, .manage_input .dt_txt input, .bi_table, .bi_date, .bi_amnt, .bi_cn, .bi_note, .bi_row, .pagination {
      float: left;
    }

    .manage_input input, .cn_row input {
      padding-left: 5px;
      margin-right: 10px;
    }

    .bm_img, .bm_img_desc, .bm_img_desc span, .bm_img_desc p, a.change_pic, .bm_img_row, .bm_link_row, .bm_link_row ul, .bm_link_row ul li, .bm_link_row ul li a.select_bm, .ci_date, .ci_editable {
      float: left;
    }

    .bm_img_desc {
      margin-left: 5%;
    }

    .bm_link_row ul li {
      margin-right: 2%;
    }

  /**/

    .trans_car {

      bottom: 0px;
      position: relative;
    }

    .sign_box,
    .trans_car,
    .sign_head_one h1,
    .sign_head_two h2,
    .sign_tab,
    .sign_tab ul,
    .sign_tab ul li,
    .sign_tab ul li a,
    .sign_tab ul li a.active_sign_tab,
    .signbox_desc,
    .signbox_row,
    .signbox_row label,
    .signbox_row input,
    .signbox_row input [type="checkbox"],
    .signbox_row .remember,
    input.login_btn,
    .raakib_id_row,
    .raakib_id_row p,
    .full_wd,
    .full_wd a.sign_up_link,
    .full_wd span,
    .m_easy,
    .tag_title_border,
    .tag_row {
      float: left
    }

    .sign_box,
    .raakib_id_row {
      margin-left: 7%
    }

    .sign_tab ul li a.active_sign_tab {
      border-right: 1px solid #e3e3e3;
      border-left: 1px solid #e3e3e3
    }

    .no_bor_log {
      border-left: 0px !important
    }

    .no_bor_signup {
      border-right: 0px !important
    }

    .signbox_row a.forgot_pwd {
      float: right
    }

    input.login_btn {
      margin-left: 30%
    }

    .edit_wrapper, .edt_input, .feature_edit, .milegae_input {
      float: left;
    }

  .ctwscontainer .wide_row, .ctwscontainer .narrow_row, .container div .ctwscontainer .narrow_row .instruction p, .ctwscontainer .narrow_row .instruction, a.creatbran, .wide_row .all_brances, .wide_row .all_brances select, input.cancel_btn, a.next_btn, .all_branches_btns, .create_car, .select_car, .carType, .or, a.carType_btn, .all_brances_btn_row, .breadcum, .breadcum a, .breadcum span, .breadcum a.bread_sel, .car_input_row, .car_input_row label, .car_input_row input, .car_row, .tag_title_border, .tag_row, .brand_row, .brand_row label, .brand_row select, .brand_row textarea, .brand_row span, .feature_checkbox, .feature_checkbox input, .feature_checkbox span, .brand_row input, .sign_narrow_row {
    float: left;
  }

  .center_postion {
    margin-left: 65%;
  }

  a.print_link {
    background: url("../../images/dashboard/print_icon.png") no-repeat scroll left center transparent;
    float: right;
    height: 27px;
    padding-left: 40px;
  }

  .chk_details, .srv_details, .srv_take_row, .srv_take_row_other, .srv_total {
    float: left;
  }

  .srv_take_row {
    margin-right: 2%;
  }

  .guest_detail_info, .guest_detail, .guest_recommendation, .vp_row_info select {
    float: left;
  }

  .wide_row .all_brances select, .brand_row select, .manage_input select, .vp_row_info select {
  /* padding: 5px 5px 5px 0; */
  }

  .layoutTheme {
    background: #f0f0f0;
    margin: 10px 10px 10px 0;
    float: left;
    border: 1px solid #ccc;
  }

  .layoutTheme .icon {
    text-align: center;
    padding: 5px;
  }

  .layoutTheme .icon img {
    height: 90px;
  }

  .layoutTheme .options {
    font-size: 80%;
    background: #fff;
    padding: 3px;
    text-align: center
  }

  .layoutTheme .options img {
    border: 0
  }

  .selected, .layoutTheme:hover {
    background: aquamarine;
    cursor: pointer;
  }

  .wide_wrapper {
    float: right;
  }

  #remarks-3-5 span {
    padding-right: 5px;
  }

  .guest_recommendation p {
    text-align: left
  }

  .cn_row label {
    float: left;
  }

  .prf_owner_info,
  .prf_member_info,
  .prf_img {
    float: left;
  }

  .prf_img_desc {
    padding-left: 2%;
  }

  .prf_member_info {
    float: right;
    text-align: right;
  }

  .ci_row a {
    float: left !important;
  }

  .serviceAmountNote,
  .serviceAmountNote label,
  .serviceAmountNote textarea,
  .serviceAmount,
  .serviceAmount label,
  .serviceAmount input {
    float: left !important;
  }

  .serviceAmountNote .srvAmntBtn {
    float: left;
    margin-left: 30%;
  }

  input.arText, .arText {
    text-align: right;
  }

  .q_msg_row,
  .q_msg_row p {
    float: left;
  }

  input.enText, .enText {
    text-align: left;
  }

  .vp_row_info input,
  .vp_row_info select {
    float: left;
  }

  .btn_pos {
    margin-left: 22%
  }

  .brand_row .feature_checkbox {
    float: left;
  }

  .brand_row .feature_checkbox span,
  .asignRole-col,
  .vp_row .vp_row_info input[type="text"]#user_email,
  .vp_row .vp_row_info select {
    float: left;
  }

  .brand_row #hotel_starting_hour_5i,
  .brand_row #hotel_ending_hour_5i {
    margin-left: 10px;
  }

  .feature_other,
  .single_am,
  .single_am input[type="checkbox"] {
    float: left;
  }

  /*room availability*/

  .hotel_type_row,
  .sl_hotel,
  .sl_hotel_chose,
  .sl_hotel select,
  .h_date .dt_txt,
  .h_date,
  .h_date label {
    float: left;
  }

  .sl_hotel_other,
  .s_delux select,
  .h_date select {
    float: right;
  }

  .sl_hotel select,
  .s_delux select,
  .h_date select {
    padding: 4px 5px 5px 0;
  }

  .h_date .dt_txt input {
    padding-left: 5px
  }

  .side {
    float: right !important;
  }

  .s_delux select {
    margin-right: 2%;
  }

  .hotel_type_tab ul,
  .hotel_type_tab ul li,
  .hotel_type_tab ul li a,
  .hotel_type_tab ul li a.h_tab_select {
    float: left;
  }

  .m_room_type,
  .select_rm_type,
  .select_rm_type input[type="checkbox"] {
    float: right;
  }

  .select_rm_type .non_smoking,
  .select_rm_type .maintenance,
  .select_rm_type .cleaning,
  .select_rm_type span.dirty,
  .select_rm_type span.inspect,
  .select_rm_type span.repair,
  .select_rm_type span.touch_up,
  .custom_marker span {
    float: right;
  }

  .room_view_row,
  .room_view_box {
    float: left;
  }

  .room_view_box,
  .id_desc {
    margin-left: 1%;
  }

  .room_identy_row,
  .identy_col_row,
  .available_color,
  .id_desc,
  .reserved_color,
  .keeping_color,
  .maintenance_color {
    float: left;
  }

  /* .sl_hotel select {*/
  /*margin-right: 1.8%;*/
  /*}*/

  /* .side_curv_st_view {*/
  /*-moz-border-radius-topleft: 3px;*/
  /*-moz-border-radius-topright: 0px;*/
  /*-moz-border-radius-bottomright: 0px;*/
  /*-moz-border-radius-bottomleft: 3px;*/
  /*-webkit-border-radius: 3px 0px 0px 3px;*/
  /*border-radius: 3px 0px 0px 3px;*/
  /*}*/

  /* .side_curv_qk_view {*/
  /*-moz-border-radius-topleft: 0px;*/
  /*-moz-border-radius-topright: 3px;*/
  /*-moz-border-radius-bottomright: 3px;*/
  /*-moz-border-radius-bottomleft: 0px;*/
  /*-webkit-border-radius: 0px 3px 3px 0px;*/
  /*border-radius: 0px 3px 3px 0px;*/
  /*}*/

  /*stay view*/

  .stay_view,
  .grid_header {
    float: left;
  }

  .stay_view {
    margin-left: 2%;
  }

  .entity_type_tittle,
  .date_tittle,
  .date_single_row,
  .grid_info,
  .total_booking,
  .item_type {
    float: left;
  }

  .entity_type_tittle,
  .date_single_row,
  .total_booking,
  .item_type {
    border-right: 1px solid #fff;
  }

  .item_type span {
    padding-left: 5%
  }

  ._a,
  ._b {
    float: left;
  }

  .op_outer {
    float: right;;
    margin-right: 4%;
  }

  .reserved p,
  .stay_over p,
  .maintenance p,
  .due_out p,
  .checked_out p {
    text-align: center;
  }

  .identy_col_row_other,
  .due_out_color,
  .qv_desc_row,
  .qv_desc_row .wide_row,
  .qv_desc_row .narrow_row,
  .guest_info,
  .guest_type,
  .fi_row,
  .sel_date,
  .fi_light_box_row,
  .fi_head,
  .fi_head h1,
  .fi_date_row,
  .light_date,
  .fi_details,
  .fi_details .qv_desc_row {
    float: left;
  }

  .qv_row,
  .qv_info,
  a.fi_light_box {
    float: left;
    margin-left: 2%;
  }

  .qv_row h2 {
    padding-left: 2%;
  }

  .check_in_guests_container .qv_row h2 {
    padding-left: 1%;
  }

  a.fi_close {
    float: right;
  }

  .fi_details .qv_desc_row .guest_info,
  .fi_details .qv_desc_row .guest_type {
    float: left;
  }

  .check_in_color {
    float: left;
  }

  .room_identy_row .available,
  .room_identy_row .reserved,
  .room_identy_row .confirmed,
  .room_identy_row .keeping,
  .room_identy_row .due_out,
  .room_identy_row .checked_in,
  .room_identy_row .checked_out,
  .room_identy_row .stay_over,
  .room_identy_row .maintenance {
    float: left;
  }

  .grid_info .overlapped {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .grid_info .reverse_strip {
    -webkit-border-radius: 0 30px 30px 0 !important;
    -moz-border-radius: 0 30px 30px 0 !important;
    border-radius: 0 30px 30px 0 !important;
  }

  .oops_txt,
  .room_identy_row .locked,
  .srv_details select,
  .srv_details label {
    float: left;
  }

  a.submit_light_box {
    float: left;
    margin-left: 2%;
  }

  a.stay_view_next {
    float: right;
  }

  a.stay_view_next {
    background: url("../../images/dashboard/slide_next.png") no-repeat scroll 0 0 transparent;
    margin-left: -15px;
  }

  a.stay_view_pre {
    background: url("../../images/dashboard/slide_prev.png") no-repeat scroll 0 0 transparent;
    margin-left: -22px;
  }

  a.stay_view_pre,
  .moteel_video,
  .video_wrap,
  .moteel_video .inquery,
  .coming_soon_row {
    float: left;
  }

  a.comming_soon_btn {
    float: right;
  }

  .btn_speration,
  .coming_soon_row {
    margin-left: 35px;
  }

  .middle {
    margin-left: 18%;
  }

  .middle_room {
    margin-left: 5%;
  }

  /*coming soon*/

  .cm_banner_row,
  .cm_txt,
  .cm_video,
  a.cm_btn,
  .cm_feature_row,
  .cm_feature,
  .inc_easy,
  .acc_anywhere,
  .web_builder,
  .cm_feature h1,
  .cm_feature p,
  .cm_footer,
  a.tasawr_logo_footer,
  .cm_footer p {
    float: left;
  }

  .cm_feature {
    background: url("../../images/dashboard/cm_feature_bg.png") no-repeat right;
  }

  .cm_feature {
    margin-right: 20px;
  }

  .no_bg {
    background: none
  }

  .inc_easy,
  .acc_anywhere,
  .web_builder {
    margin-left: 95px;
  }

  .cm_social,
  a.cm_facebook,
  a.cm_tweeter {
    float: right;
  }

  .check_in_form_container .qv_row,
  .check_in_form_container .qv_info,
  .check_in_form_container a.fi_light_box {
    margin-left: 1%;
  }

  .right {
    float: right !important;
  }

  .half_size .chk_details {
    float: left;
  }

  .horizontal_separator {
    float: left;
    width: 60%;
  }

  .checkin_info .info_first_col,
  .checkin_info .info_second_col,
  .checkin_info span,
  .checkin_info label {
    float: left;
  }

  .checkin_info .info_col {
    width: 100%;
    padding: 10px 0 10px 0;
  }

  .checkin_info .info_first_col {
    width: 60%;
  }

  .checkin_info .info_second_col {
    width: 40%;
  }

  .checkin_info label {
    color: #73A127;
  }

  .checkin_info .charge_info label {
    width: 35%;
  }

  .printable_space {
    margin-left: 10px;
  }

  .ad_more_btn {
    float: right;
  }

  /**/

  .permission_group_name,
  .permission_activities,
  .permission_row,
  .permission_new_row,
  .permission_feature_row,
  .permission_option,
  .permission_option input[type="checkbox"],
  .permission_option span {
    float: left;
  }

  .bullet {
    float: left;
    margin-right: 10px;
  }

  a.permission_info {
    float: left;
    margin-left: 8px;
  }

  .permission_option input[type="checkbox"] {
    margin-right: 5px;
  }

  .service_row,
  .serv_col,
  .col_row,
  .payment_col,
  .paymnt_type,
  .pmnt_1,
  .pmnt_2,
  .pmnt_3,
  .pmnt_4,
  .rm_1,
  .rm_2,
  .rb_row,
  .rb_col,
  .rm_info {
    float: left;
  }

  .serv_col,
  .serv_col_head {
    border-right: 1px solid #d5d5d5;
  }

  .fi_head a.fi_close {
    margin-right: -5px;
  }

  .manage_input_full label,
  .manage_input_full span,
  .manage_input_full input {
    float: left;
  }

  .manage_input_full span,
  .manage_input_full input {
    margin-right: 5px;
  }

  .assingment-container .seperate {
    margin-left: 0.5%;
  }

  .associate_list div,
  .associate_list span {
    float: left;
  }

  /**/

  .group_list,
  .group_list ul,
  .group_list ul li,
  .room_list_wrap,
  .room_list_wrap h1 {
    float: left;
  }

  .group_list ul {
    margin-left: 8%;
  }

  .group_list a.minimize {
    background: url("../../images/dashboard/minimize.jpg") no-repeat left;
    padding-left: 20px;
  }

  .group_list a.maximize {
    background: url("../../images/dashboard/maximize.jpg") no-repeat left;
    padding-left: 20px;
  }

  /* .wizard_nav ul li a.first_child {*/
  /*-webkit-border-radius: 5px 0px 0px 5px;*/
  /*border-radius: 5px 0px 0px 5px;*/
  /*}*/

  /* .wizard_nav ul li a.last_child {*/
  /*-webkit-border-radius: 0px 5px 5px 0px;*/
  /*border-radius: 0px 5px 5px 0px;*/
  /*}*/

  .room_list_wrap h1 {
    text-align: left !important;
  }

  .operation,
  .operation a {
    float: right;
  }

  .operation a {
    margin-left: 5px;
    padding: 5px 5px 3px 25px;
  }

  .room_list_breadcrumb,
  .room_list_breadcrumb a,
  .room_list_breadcrumb span,
  .room_listing_desc,
  .col_wrap,
  .col_1,
  .col_2,
  .col_3,
  .col_4,
  .col_5,
  .col_6,
  .col_7,
  .col_8,
  ul.edit_view,
  ul.edit_view li {
    float: left;
  }

  .side_bor {
    border-right: 1px solid #d5d5d5;
  }

  .col_3,
  .col_4,
  .col_5,
  .col_6,
  .col_7,
  .col_8 {
    padding-left: 1%;
  }

  ul.edit_view li {
    margin-right: 2px;
  }

  .group_type_tab ul li {
    margin-right: 5px;
  }

  .cn_row span {
    margin-right: 10px;
  }

  .group_type_tab,
  .group_type_tab ul,
  .group_type_tab ul li,
  .group_type_tab ul li a {
    float: left;
  }

  .treeview_menu a.expanded {
    background: url('../../images/dashboard/minimize.jpg') no-repeat left;
    padding-left: 20px;
    margin-left: 5%;
  }

  .treeview_menu a.collapsed {
    background: url('../../images/dashboard/maximize.jpg') no-repeat left;
    padding-left: 20px;
    margin-left: 5%;
  }

  .treeview_menu a {
    padding: 2px 2px 2px 5%;
  }

  .chk_head_item_wrap {
    margin-right: 10px;
  }

  .start_next {
    float: right;
  }

  /**/

  .chk_table .col_1,
  .chk_table .col_2,
  .chk_table .col_3,
  .chk_table .col_4,
  .chk_table .col_10,
  .chk_table .col_12,
  .chk_table .col_5,
  .chk_table .col_6,
  .chk_table .col_8,
  .chk_table .col_7,
  .chk_table .col_9,
  .chk_table .col_11 {
    float: left;
  }

  .group_type_tab ul li a span {
    margin-left: 6px;
    float: right;
  }

  .ui-tabs .ui-tabs-panel .qv_row {
    margin-left: 0;
  }

  .ui-tabs .ui-tabs-panel .qv_row h2,
  .guest_rows h2 {
    padding-left: 1%;
  }

  .fi_head h1 {
    text-align: left;
  }

  .fi_light_box_row .qv_row {
    margin-left: 0px;
  }

  .gap10 {
    margin-left: 3%
  }

  .pad_wrap .subhead-label {
    padding-right: 10px !important;
    padding-left: 0 !important;
  }

  .pad_wrap #total_allocated_room_price {
    margin: 0 !important;
  }

  .bal_row, .bal_row span {
    float: right;
  }

  .bal_row span {
    padding-left: 5px;
  }

  .mid-pos {
    margin-left: 10px;
  }

  /**/

  .resrv_profile_row,
  .resrv_prof_desc .desc_half,
  .side_part {
    float: left;
  }

  /* .txt_align {*/
  /*text-align: right;*/
  /*}*/

  .more_pos {
    float: right;
    margin-right: 3%;
  }

  .prof_action_row ul.edit_view {
    margin-left: 30%;
  }

  .side_part {
    margin-right: 1.33%;
  }

  .side_part:last-child {
    margin-right: 0;
  }

  .side_part h1,
  .ttl_row {
    padding-left: 2%;
  }

  .rs_row label,
  .dep_desc span,
  .rs_row input,
  .rs_row select,
  .rs_row {
    float: left
  }

  .ttl_row .single_col_left {
    float: left;
  }

  .ttl_row .single_col_right {
    float: right;
  }

  .ph_more {
    margin-left: 18%;
  }

  .column_field_full input,
  .column_field_full input[type="checkbox"],
  .column_field_full a {
    float: left;
  }

  .column_field_full input[type="checkbox"],
  .column_field_full a {
    margin-left: 5px;
  }

  .crt_col_1,
  .crt_col_2,
  .crt_col_3,
  .crt_col_4 {
    float: left;
    padding: 1% 0 1% 1%;
    min-height: 85px;
  }

  .crt_table .table-border {
    border-right: 1px solid #d5d5d5;
  }

  .crt_col_1 p,
  .crt_col_2 p,
  .crt_col_3 p,
  .crt_col_4 p,
  .folio_list .first_col,
  .folio_list .others_col,
  .ac_state .option,
  .ac_state .same,
  .ac_state .desc_ac {
    float: left;
    text-align: left
  }

  .total_ac,
  .pmnt_type,
  .pmnt_type label,
  .pmnt_type select,
  .pmnt_amnt,
  .pmnt_amnt input,
  .pmnt_desc,
  .pmnt_desc input,
  .column_31_p,
  .column_20_p,
  .hotel_payment_type_id,
  .one_third,
  .row {
    float: left;
  }

  .ad_pht .photo,
  .import_row .addMoreImage {
    margin-left: 0 !important;
  }

  .row .column_31_p:first-child,
  .column_31_p {
    margin-left: 1%
  }

  .bok_dls_row .pmnt_type,
  .bok_dls_row .pmnt_amnt {
    margin-right: 3%;
  }

  /*house keeping*/

  .hk_status,
  .hk_row,
  .hk_row label,
  .hk_row span,
  .hk_row p,
  .hk_row .available,
  .hk_row .reserved,
  .hk_row .checked_in,
  .hk_row .checked_out,
  .hk_row .locked,
  .hk_row .maintenance,
  .hk_row .due_out,
  .reserv_search_row,
  .hk_whole_info,
  .hk_whole_desc,
  .hk_whole_desc .very_sm,
  .hk_whole_desc .small,
  .hk_whole_desc .medium,
  .hk_whole_desc .large {
    float: left;
    text-align: left;
  }

  .hk_whole_desc div {
    border-right: 1px solid #d5d5d5;
  }

  .hk_whole_desc div:last-child {
    border-right: none;
  }

  /*message*/

  .message_list_row,
  .message_list_row .msg_one,
  .message_list_row .msg_three,
  .message_list_row .msg_two,
  .message_list_row .msg_four,
  .msg_field label,
  .msg_field input,
  .msg_field textarea,
  .msg_field,
  .sender_img,
  .sender_name,
  .sender_desc,
  .seder_title,
  .seder_title span,
  .feature_checkbox .feature_check_wrap,
  .bm_photo {
    float: left;
  }

  .message_list_row div {
    padding-left: 1%;
  }

  .seder_title span {
    padding-right: 5px;
  }

  select {
    padding: 4px 3px 4px 0
  }

  .bm_photo .photo {
    margin-left: 0
  }

  .bm_ad_more a.ddMoreImage {
    margin-left: 0px;
  }

  .seperation10 {
    margin-left: 10px;
  }

  .admin_nav_wrapper {
    margin-left: 14%
  }

  .operation a.icon_ad {
    background: url("ad_icon.jpg") no-repeat 3px 5px;
    padding-bottom: 5px;
  }

  .operation a.icon_del {
    background: url("delete_icon.jpg") no-repeat 3px 5px;
  }

  .operation a.icon_cancel {
    background: url("cancel.jpg") no-repeat 3px 5px;
    padding-bottom: 5px;
  }

  .guest_no div,
  .guest_no span,
  #housekeeping_status {
    float: left;
  }

  .rm_cross {
    right: 5px;
  }

  ul.auto_complete_results,
  div.auto_complete ul li,
  div.auto_complete ul li .room {
    float: left;
  }

  .auto_complete_results li.adult {
    background: url("adult_icon.png") no-repeat left;
  }

  .auto_complete_results li.child {
    background: url("child_icon.png") no-repeat left;
  }

  .group_type_tab {
    margin-left: -0.5px;
  }

  #housekeeping_status {
    margin-right: 3px
  }

  .chk_details_balance label,
  .chk_details_name label {
    padding-right: 3px;
  }

  .prof_single_col,
  .group_auto_complete input,
  .group_auto_complete a,
  .prof_single_col label,
  .auto_complete_loading_wrapper,
  .v-align span,
  .ui-widget-content a {
    float: left;
  }

  img.edit_info {
    margin-left: 0px
  }

  .ui-widget-content a.addMoreAllocatedRoom {
    float: right;
  }

  a.addMoreDependent img {
    margin-right: 6px;
  }

  .v-align span input[type="checkbox"] {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
  }

  .total_guests input,
  .ad_tab_pos {
    margin-right: 5px
  }

  table.ui-datepicker-calendar td a {
    float: none !important;
  }

  .sl_hotel .m_room_type select,
  .sl_hotel .m_room_type,
  .gi_intendation .brand_row,
  .gi_intendation .brand_row label,
  .gi_intendation .brand_row input {
    float: left !important;
  }

  .sl_hotel .m_room_type select {
    margin-left: 10px;
  }

  .stay_view_one_third .qv_row {
    margin-left: 1% !important;
    float: left;
  }

  .ad_tab_pos {
    float: right !important;
  }

  .hotel_type_tab ul li a:hover,
  .hotel_type_tab ul li a.h_tab_select {
    border-left: 1px solid #6C9700;
    border-right: 1px solid #6C9700;
    margin-left: -1px;
  }

  .resrv_prof_desc .desc_half {
    border-right: 1px solid #d5d5d5;
  }

  .resrv_prof_desc .desc_half:last-child {
    border-right: none;
  }

  .context-menu-theme-gloss .context-menu-item .context-menu-item-inner {
    float: left;
  }

  .gp_stay_links {
    float: right;
  }

  .tabular_fullwidth tr td,
  .tabular_fullwidth tr th,
  .tabular_with_margin tr td,
  .tabular_with_margin tr th {
    border-right: 1px solid #d5d5d5;
  }

  .tabular_fullwidth tr td:last-child, .tabular_fullwidth tr th:last-child,
  .tabular_with_margin tr td:last-child, .tabular_with_margin tr th:last-child {
    border-right: none;
  }

  .gp_stay_links a {
    float: right;
    margin-left: 8px;
  }

  .rm_view_notification {
    right: -12px;
  }

  .lb_from_row, .lb_from_row label, .lb_from_row input {
    float: left;
  }

  .no_side_border {
    border-right: none !important;
  }

  .sl_hotel_other .h_date,
  .rm_night {
    margin-left: 2%
  }

  .custom_marker,
  .custom_marker input[type="checkbox"],
  .rm_night .night_label,
  .service_category_row {
    float: left;
  }

  .fl_right {
    float: right !important;
    margin-right: 1%;
  }

  .task_form_container .chzn-container .chzn-results {
    float: left;
  }

  .chk_gap,
  .edit_wrapper .brand_row span input[type="radio"] {
    margin-right: 5px;
  }

  .chk_more_wrap .more_options_fix_position .serv_col:first-child {
    text-align: center
  }

  .dp_list input[type="radio"],
  .dp_list label,
  .repeatable_service .serv_col span {
    float: left;
  }

  .dp_list label {
    padding-right: 5%;
  }

  .chzn-select.select_room .chzn-results {
    float: left;
    width: 215px;
  }

  .chzn-select.select_department .chzn-results {
    float: left;
    width: 215px;
  }

  .chzn-select.select_department_user .chzn-results {
    float: left;
    width: 215px;
  }

  .rcc_wrap input,
  .rcc_wrap label,
  .rcc_wrap {
    float: left;
  }

  .edit_wrapper .manage_input label,
  .rpt_choose span {
    padding-right: 3%;
  }

  #user_avatar_to_replace .branch_thumb,
  #user_avatar_to_replace span.pointer {
    float: left;

  }

  #user_avatar_to_replace .branch_thumb {
    margin-right: 15px;
  }

  .serv_col_head,
  .rpt_choose,
  .rpt_choose input[type="radio"],
  .rpt_choose span,
  .graph_icon a,
  .graph_wrap,
  .graph_border,
  .add_task .msg_field,
  .add_task .msg_field label,
  .add_task .msg_field input[type="text"],
  .add_task .msg_field select,
  .chkAdons,
  .chkAdons  label {
    float: left;
  }

  .rpt_base label {
    padding-right: 1%
  }

  .rpt_base select,
  .rpt_base input,
  .chkAdons  select,
  .grps_wrap label {
    margin-right: 1%
  }

  .graph_icon a {
    margin-right: 4%;
  }

  .graph_border {
    margin-right: 1.75%
  }

  .margin_less {
    margin-left: 0 !important;
  }

  .admin_nav_wrapper ul li,
  .grps_wrap label,
  .email_other .manage label {
    float: left;
  }

  .menu li ul a {
    float: left;
    padding-left: 10px;
  }

  .left15 {
    margin-left: 15px;
  }

  .treeview li strong {
    text-align: left;
    float: left;
    width: 100%;
  }

  .task_form_container .msg_field label,
  .task_form_container .msg_field .msg_receipt {
    float: left;
  }

  .progress-bar {
    border-left: 1px solid #D5D5D5;
  }

  .counter-row {
    margin-left: 30%;
  }

  .counter-row .title, input.ng-pristine, .ri-info label span {
    float: left;
  }

  .counter-row .value {
    float: right;
  }

  .add-task .msg_receipt select {
    margin-right: 6%
  }

  .txt-align, .inner_main_content .ri-box-wrap h1  {
    text-align: left;
  }

  /*last*/

  .gap-right, .pad-right {
    margin-right: 1%;
  }
  
  .view_profile_v_align p, .address-row p , .table-border-less thead tr th{
    text-align: left;
  }

  ul.breadcrumb li { float:left; margin-right:5px; }

  .room_service_charge .column_20_p {float: left}

  .ri-wide-box, .ri-narrow-box, .gn-img, .gn-img-desc, .gn-desc-row label, .gn-desc-row b, .gn-desc-row span, .one-fourth, .identification-row .one-fourth label, .identification-row .one-fourth b, .identification-row .one-fourth span  {float:left}

  .ri-narrow-box {margin-left:1.5%;}
  .gn-img-desc {margin-left:2%}

  .table-rm thead tr th, .table-rm tbody tr td {border-right:1px solid #d4d4d4; text-align:left}

  .table-rm thead tr th:last-child, .table-rm tbody tr td:last-child, .border-less {border-right:none !important;}

  .ribon {
    background: url("/assets/en/confirm.png") no-repeat scroll 0 0 transparent;
    right: 0;
  }

  .guest-input-ad, .guest-input-ad input.ng-pristine, .inv-label, .inv-span, .counter-name , .lb-title,  .column_32_p .column_field, .column_31_p .column_field, .column_32_p label, .column_31_p label   { float: left; }

  .tab-placement {margin-left: 25%;}



}