/* -------------------------------------------------------------------------------------------------

Powered By : Tasawr Interactive
CSS author : Mosaddek Hossain
Start Date : 27-02-2012

----------------------------------------------------------------------------------------------------*/

.rtl {

  body {
    text-align: right;
    direction: rtl;
  }

  .start,
  .header,
  a.logo,
  .slide_wrap,
  .slide_content,
  .sliding_img,
  .sld_trns_bg,
  .sld_thum,
  .sld_desc,
  .sld_desc p,
  .reg_row,
  a.slide_prev,
  .reg_row p,
  .start,
  .rb_sign,
  .moteel_search_box,
  .moteel_search_one,
  .moteel_search_two,
  .moteel_search_three,
  .mtl_src_heading_one,
  .mtl_src_heading_two,
  .mtl_src_heading_three,
  .moteel_search_two input[type="text"],
  input.srch_btn,
  a.srch_btn {
    float: right;
  }

  .sign_row,
  .sign_row ul,
  .sign_row ul li {
    float: left;
  }

  .sign_row ul li {
    padding-right: 5px;
  }

  .sld_desc {
    margin-right: 20px;
  }

  .reg_row {
    margin-right: 25px
  }

/*a.slide_prev {*/
/*margin-right: -35px;*/
/*background: url("../../images/dashboard/slide_next.png") no-repeat;*/
/*}*/

/*a.slide_next {*/
/*margin-left: -35px;*/
/*background: url("../../images/dashboard/slide_prev.png") no-repeat;*/
/*}*/

  a.slide_next,
  a.lst_moteel_btn {
    float: left
  }

  .rb_sign {
    margin-right: 70px;
    background: url(../../images/dashboard/ar/rb_sign.jpg) no-repeat;
  }

  a.lst_moteel_btn {
    margin-left: 30px;
  }

  .mtl_src_heading_one {
    padding-right: 45px;
    background: url(../../images/dashboard/search_icon_set.png) no-repeat 321px 0;
  }

  .mtl_src_heading_two {
    padding-right: 45px;
    background: url(../../images/dashboard/search_icon_set.png) no-repeat 336px -36px
  }

  .mtl_src_heading_three {
    padding-right: 45px;
    background: url(../../images/dashboard/search_icon_set.png) no-repeat 181px -72px;
  }

  .moteel_search_one input[type="text"] {
    float: left;
    margin-left: 45px;
  }

  .moteel_search_two input[type="text"] {
    margin-left: 10px
  }

  input.srch_btn,
  a.srch_btn {
    background: url(../../images/dashboard/ar/sign_now_btn.png) no-repeat;
    padding-right: 20px;
    text-align: right;
  }

  .content .infoboxes label.select {
    color: #737380;
    font-size: 16px;
    display: block;
    padding-left: 10px;
  }

/**/

  .know_more,
  .horizontal_divider,
  .more_thumb,
  .more_thumb a,
  .more_thumb a img,
  .footer,
  .footer_link,
  .footer_link ul,
  .footer_link ul li,
  .inner_bot_shade {
    float: right
  }

  .more_thumb a,
  .footer_link ul li {
    margin-left: 7px;
  }

  .no_margin {
    margin-left: 0 !important
  }

  .social_icon_row,
  .welcome span,
  .welcome {
    float: left
  }

  a.facebook {
    background: url("../../images/dashboard/sotial_link.jpg") no-repeat -30px;
    float: left;
    margin-right: 10px;
  }

  a.twiter {
    background: url("../../images/dashboard/sotial_link.jpg") no-repeat 0px;
    float: left;
  }

/*inner page*/

  .welcome span {
    padding-right: 5px
  }

  .inner_page_content,
  .wizard_nav,
  .wizard_nav ul,
  .wizard_nav ul li,
  .wizard_nav ul li a,
  .wizard_nav ul li a.active,
  .steps_row,
  .inner_main_content,
  .inner_sidebar,
  .form_wrap,
  .double_input_row,
  .double_input_row label,
  .double_input_row input[type="text"],
  .single_input_row,
  .single_input_row label,
  .single_input_row input[type="text"],
  .single_input_row input[type="password"] {
    float: right;
  }

  .second_field {
    margin-right: 2%;
  }

  .verticle_divider {
    background: url("../../images/dashboard/verticle_divider.jpg") repeat-y left
  }

  .inner_sidebar {
    margin-right: 20px;
    text-align: right;
    direction: rtl;

  }

  input.single_submit,
  input.continue_btn,
  a.single_submit,
  a.continue_btn {
    background: url("../../images/dashboard/ar/sm_btn.jpg") no-repeat right;
    padding-right: 20px;
    text-align: right;

  }

  input.cancel_btn,
  a.cancel_btn {
    background: url("../../images/dashboard/ar/cancel_btn.jpg") no-repeat right;
    padding-right: 20px;
    text-align: right;
  }

  input.single_submit,
  a.single_submit {

  }

/**/

  .steps {
    float: right;
  }

  .step_center_position {
    margin-right: 35%;
  }

  .steps .st_1, .steps .st_2, .steps .st_3, .steps .st_4, .steps .st_5, .steps .st_6, .steps .st_7, .steps .line {
    float: right;
  }

/**/

  .side_list,
  .side_list ul,
  .side_list ul li,
  .side_desc,
  .side_desc p,
  .single_input_row textarea {
    float: right;
  }

  .side_list ul li {
    margin-right: 10px;
    list-style: disc;
  }

  .loc_map,
  .inner_full_width,
  .notice_box,
  .notice_box p {
    float: right;
  }

  .skip_btn {
    background: url("../../images/dashboard/ar/sign_now_btn.png") no-repeat right;
    padding-right: 20px;
    text-align: right;
  }

  .seperation {
    margin-right: 25px;
  }

  a.external_link {
    float: left;
  }

  .double_btn_center {
    margin-right: 280px
  }

  a.extra_link_center {

  }

  .center_combo,
  .chosse_bar,
  .chosse_bar ul,
  .chosse_bar ul li,
  .check_role,
  .check_role_individual,
  .check_role_individual input[type="checkbox"],
  .check_role_individual span,
  .exam_txt,
  .dollar,
  a.full_width_link_center {
    float: right;
  }

  .center_combo select {
    margin-right: 0;
  }

  input.cancel_btn,
  a.cancel_btn {

  }

  .chosse_bar ul li {
    margin-left: 10px;
  }

  .exam_txt {
    margin-right: 17%
  }

  .dollar {
    margin-right: 10px
  }

  a.full_width_link_center {
    margin-right: 45%
  }

  .pos_center {
    margin-right: 43%
  }

/*dashboard*/

  .grid_16,
  .content {
    float: right;
  }

  .content .narrow,
  .content .narrow .infoboxes,
  .content .infoboxes label,
  .content .infoboxes select,
  .content .infoboxes h1,
  .quickview h1,
  .infoboxes span {
    float: right;
  }

  .infoboxes .changed,
  .content .wide {
    float: left;
  }

  .infoboxes .boxinfo,
  .infoboxes .boxinfo .info,
  .changed .up,
  .changed .down,
  .changed .equal,
  .changed .amount {
    float: right;
  }

  .infoboxes .boxinfo {
    border-left: 1px solid #D4D4D4;
  }

  .content .infoboxes label,
  .content .infoboxes select {
    margin-left: 5px;
  }

  .content .infoboxes label {
    color: #73A127;
    font-size: 18px;
  }

  .wide .controls,
  .wide .notification,
  .wide .quickview,
  .wide .statistics,
  .slide_wrap .quickview {
    float: left;
  }

  .wide .controls a {
    float: right;
    margin-left: 0.88%;
  }

  .notification a.close {
    float: left;
  }

  .notification label {
    float: right;
    padding-right: 40px;
  }

  .success label {
    background: url('../../images/dashboard/notification.png') 100% 0px no-repeat;
  }

  .failure label {
    background: url('../../images/dashboard/notification.png') 100% -50px no-repeat;
  }

  .quickview .views,
  .quickview .group,
  .quickview .group ul,
  .quickview .group ul li,
  .quickview .group ul li a {
    float: right;
  }

  .wide .statistics .row,
  .wide .statistics span,
  .wide .statistics label,
  .wide .statistics .reserve,
  .wide .statistics .usage,
  .wide .statistics  .chout {
    float: right;
  }

/*.wide .statcontent {*/
/*-webkit-border-top-left-radius: 5px;*/
/*-webkit-border-bottom-left-radius: 5px;*/
/*-webkit-border-bottom-right-radius: 05px;*/
/*-moz-border-radius-topleft: 5px;*/
/*-moz-border-radius-bottomleft: 5px;*/
/*-moz-border-radius-bottomright: 05px;*/
/*border-top-left-radius: 5px;*/
/*border-bottom-left-radius: 5px;*/
/*border-bottom-right-radius: 05px;*/
/*behavior: url(PIE.htc);*/
/*}*/

  .statistics ul,
  .statistics ul li,
  .statistics ul li a,
  .wide .statcontent,
  .statcontent .bundle {
    float: right;
  }

  .statistics .row label {
    text-align: left;
    margin-left: 2%;
  }

  .statistics .chout .usage label,
  .statistics .chout .usage span {
    float: left;
  }

  .statistics .chout .usage label {
    margin-left: 0;
    margin-right: 1%;
  }

  .side_link_row,
  a.side_link {
    float: right;
  }

  .infoboxes h1 {
    text-align: right
  }

/**/
  .transbox,
  .coming_soon,
  .nrw_con {
    float: right
  }

  .coming_soon {
    margin-right: 45%
  }

  #nav,
  #nav ul,
  #nav li {
    float: right;
  }

  #nav ul {
    right: -9999px;
  }

  #nav li:hover ul {
    right: 0;
  }

  .import_row {
    float: right;
  }

  .tp_desc {
    float: right;
  }

  .tp_desc span {
    padding-left: 2px;
  }

  .import_row, .import_row p, .import_row a.import_btn, .msg_row, .msg_row img, .msg_row span, .instruction h2, .exam_txt, .sar, .field_step {
    float: right;

  }

  .import_row p {
    text-align: right !important;

  }

  .side_link_row, a.side_link, .double_head, .manage_input_row, .manage_input, .manage_input label, .manage_input select, .manage_input input, .m_sel_row, .m_sel_desc, .editable_row, .m_sel_row input, .m_sel_row span, .tp_desc, .tp_desc span, .editable_general {
    float: right;
  }

  a.head_link, span.head_link, .editable_row ul, .editable_row ul li, .editable_general ul, .editable_general ul li {
    float: left;
  }

  .wide_row .all_brances select, .brand_row select, .manage_input select {
  /* padding: 0px 5px 5px 5px;*/
  }

  .seperate {
  /*margin-right: 3%;*/
  }

  .flash_message,
  .rlt .flash_message .notification {
    float: right;
  }

  .breadcum,
  .breadcum  a,
  .breadcum  span,
  .breadcum  a.bread_sel {
    float: right;
  }

  .breadcum  a,
  .breadcum  span {
    padding-left: 5px
  }

  .manage_input .dt_txt, .manage_input .dt_txt input {
    float: right;
  }

  .dt_txt img {
    float: left;
  }

  .bi_row {
    float: right;
  }

  .category_label, .featuedRow .category, span.category_checkbox, .category_box {
    float: right;
  }

  .ci_row, .prf_owner_info, .prf_img, .prf_img_desc, .vp_row, .vp_row_info, .vp_row_info p, .vp_row_info label, .vp_row_info b, .vp_row_info span, .vp_row_info h1, .cn_row, .cn_row label, .cn_row input, .cn_row span {
    float: right;
  }

  .manage_input .dt_txt, .manage_input .dt_txt input, .bi_table, .bi_date, .bi_amnt, .bi_cn, .bi_note, .bi_row, .pagination {
    float: right;
  }

  .manage_input input, .cn_row input {
    margin-left: 10px;
    padding-right: 5px;
  }

  .bm_img, .bm_img_desc, .bm_img_desc span, .bm_img_desc p, a.change_pic, .bm_img_row, .bm_link_row, .bm_link_row ul, .bm_link_row ul li, .bm_link_row ul li a.select_bm, .ci_date, .ci_editable {
    float: right;
  }

  .bm_img_desc {
    margin-right: 5%;
  }

  .bm_link_row ul li {
    margin-left: 2%;
  }

/**/

  .trans_car {
    background: url("../../images/dashboard/ar/trans_car.png") no-repeat left bottom;
    bottom: 0px;
    position: relative;
  }

  .sign_box,
  .trans_car,
  .sign_head_one h1,
  .sign_head_two h2,
  .sign_tab,
  .sign_tab ul,
  .sign_tab ul li,
  .sign_tab ul li a,
  .sign_tab ul li a.active_sign_tab,
  .signbox_desc,
  .signbox_row,
  .signbox_row label,
  .signbox_row input,
  .signbox_row input [type="checkbox"],
  .signbox_row .remember,
  input.login_btn,
  .raakib_id_row,
  .raakib_id_row p,
  .full_wd,
  .full_wd a.sign_up_link,
  .full_wd span,
  .m_easy,
  .tag_title_border,
  .tag_row {
    float: right;
  }

  .sign_box,
  .raakib_id_row {
    margin-right: 7%
  }

  .sign_tab ul li a.active_sign_tab {
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3
  }

  .no_bor_log {
    border-right: 0px !important
  }

  .no_bor_signup {
    border-left: 0px !important
  }

  .signbox_row a.forgot_pwd {
    float: left
  }

  input.login_btn {
    margin-right: 30%
  }

  .edit_wrapper, .edt_input, .feature_edit, .milegae_input {
    float: right;
  }

.ctwscontainer .wide_row, .ctwscontainer .narrow_row, .container div .ctwscontainer .narrow_row .instruction p, .ctwscontainer .narrow_row .instruction, a.creatbran, .wide_row .all_brances, .wide_row .all_brances select, input.cancel_btn, a.next_btn, .all_branches_btns, .create_car, .select_car, .carType, .or, a.carType_btn, .all_brances_btn_row, .breadcum, .breadcum a, .breadcum span, .breadcum a.bread_sel, .car_input_row, .car_input_row label, .car_input_row input, .car_row, .tag_title_border, .tag_row, .brand_row, .brand_row label, .brand_row select, .brand_row textarea, .brand_row span, .feature_checkbox, .feature_checkbox input, .feature_checkbox span, .brand_row input, .sign_narrow_row {
  float: right;
}

.center_postion {
  margin-right: 65%;
}

a.print_link {
  background: url("../../images/dashboard/print_icon.png") no-repeat scroll right center transparent;
  float: left;
  height: 27px;
  padding-right: 40px;
}

.chk_details, .srv_details, .srv_take_row, .srv_take_row_other, .srv_total {
  float: right;
}

.srv_take_row {
  margin-left: 2%;
}

.guest_detail_info, guest_detail, .guest_recommendation, .vp_row_info select {
  float: right;
}

.wide_row .all_brances select, .brand_row select, .manage_input select, .vp_row_info select {
/* padding: 5px 0 5px 5px;*/
}

.layoutTheme {
  background: #f0f0f0;
  margin: 10px 0 10px 10px;
  float: right;
  border: 1px solid #ccc;
}

.layoutTheme .icon {
  text-align: center;
  padding: 5px;
}

.layoutTheme .icon img {
  height: 90px;
}

.layoutTheme .options {
  font-size: 80%;
  background: #fff;
  padding: 3px;
  text-align: center
}

.layoutTheme .options img {
  border: 0
}

.selected, .layoutTheme:hover {
  background: aquamarine;
  cursor: pointer;
}

.wide_wrapper {
  float: left;
}

#remarks-3-5 span {
  padding-left: 5px;
}

.guest_recommendation p {
  text-align: right
}

.cn_row label {
  float: right;
}

.prf_owner_info,
.prf_member_info,
.prf_img {
  float: right;
}

.prf_img_desc {
  padding-right: 2%;
}

.prf_member_info {
  float: left;
  text-align: left;
}

.ci_row a {
  float: right !important;
}

.serviceAmountNote,
.serviceAmountNote label,
.serviceAmountNote textarea,
.serviceAmount,
.serviceAmount label,
.serviceAmount input {
  float: right !important;
}

.serviceAmountNote .srvAmntBtn {
  float: right;
  margin-right: 30%;
}

input.arText, .arText {
  text-align: right;
}

.q_msg_row,
.q_msg_row p {
  float: right;
}

input.enText, .enText {
  text-align: left;
}

.vp_row_info input,
.vp_row_info select {
  float: right;
}

.btn_pos {
  margin-right: 22%
}

.brand_row .feature_checkbox {
  float: right;
}

.brand_row .feature_checkbox span,
.asignRole-col,
.vp_row .vp_row_info input[type="text"]#user_email,
.vp_row .vp_row_info select {
  float: right;
}

.brand_row #hotel_starting_hour_5i,
.brand_row #hotel_ending_hour_5i {
  margin-right: 10px;
}

.feature_other,
.single_am,
.single_am input[type="checkbox"] {
  float: right;
}

/*room availability*/

.hotel_type_row,
.sl_hotel,
.sl_hotel_chose,
.sl_hotel select,
.h_date .dt_txt,
.h_date,
.h_date label {
  float: right;
}

.sl_hotel_other,
.s_delux select,
.h_date select {
  float: left;
}

.sl_hotel select,
.s_delux select,
.h_date select {
  padding: 4px 0 5px 5px;
}

.h_date .dt_txt input {
  padding-right: 5px
}

.side {
  float: left !important;
}

.s_delux select {
  margin-left: 2%;
}

.hotel_type_tab ul,
.hotel_type_tab ul li,
.hotel_type_tab ul li a,
.hotel_type_tab ul li a.h_tab_select {
  float: right;
}

.m_room_type,
.select_rm_type,
.select_rm_type input[type="checkbox"] {
  float: left;
}

.select_rm_type .non_smoking,
.select_rm_type .maintenance,
.select_rm_type .cleaning,
.select_rm_type span.dirty,
.select_rm_type span.inspect,
.select_rm_type span.repair,
.select_rm_type span.touch_up,
.custom_marker span {
  float: left;
}

.room_view_row,
.room_view_box {
  float: right;
}

.room_view_box,
.id_desc {
  margin-right: 1%;
}

.room_identy_row,
.identy_col_row,
.available_color,
.id_desc,
.reserved_color,
.keeping_color,
.maintenance_color {
  float: right;
}

/*.sl_hotel select {*/
/*margin-left: 1.8%;*/
/*}*/

/*.side_curv_st_view {*/
/*-moz-border-radius-topleft: 0px;*/
/*-moz-border-radius-topright: 3px;*/
/*-moz-border-radius-bottomright: 3px;*/
/*-moz-border-radius-bottomleft: 0px;*/
/*-webkit-border-radius: 0px 3px 3px 0px;*/
/*border-radius: 0px 3px 3px 0px;*/
/*}*/

/*.side_curv_qk_view {*/
/*-moz-border-radius-topleft: 3px;*/
/*-moz-border-radius-topright: 0px;*/
/*-moz-border-radius-bottomright: 0px;*/
/*-moz-border-radius-bottomleft: 3px;*/
/*-webkit-border-radius: 3px 0px 0px 3px;*/
/*border-radius: 3px 0px 0px 3px;*/
/*}*/

/*stay view*/

.stay_view,
.grid_header {
  float: right;
}

.stay_view {
  margin-right: 2%;
}

.entity_type_tittle,
.date_tittle,
.date_single_row,
.grid_info,
.total_booking,
.item_type {
  float: right;
}

.entity_type_tittle,
.date_single_row,
.total_booking,
.item_type {
  border-left: 1px solid #fff;
}

.item_type span {
  padding-right: 5%;
  text-align: right;
}

._a,
._b {
  float: right;
}

.op_outer {
  float: left;;
  margin-left: 4%;
}

.reserved p,
.stay_over p,
.maintenance p,
.due_out p,
.checked_out p {
  text-align: right;
}

.identy_col_row_other,
.due_out_color,
.qv_desc_row,
.qv_desc_row .wide_row,
.qv_desc_row .narrow_row,
.guest_info,
.guest_type,
.fi_row,
.sel_date,
.fi_light_box_row,
.fi_head,
.fi_head h1,
.fi_date_row,
.light_date,
.fi_details,
.fi_details .qv_desc_row {
  float: right;
}

.qv_row,
.qv_info,
a.fi_light_box {
  float: right;
  margin-right: 2%;
}

.qv_row h2 {
  padding-right: 2%;
}

.check_in_guests_container .qv_row h2 {
  padding-right: 1%;
}

a.fi_close {
  float: left;
}

.fi_details .qv_desc_row .guest_info,
.fi_details .qv_desc_row .guest_type {
  float: right;
}

.check_in_color {
  float: right;
}

.room_identy_row .available,
.room_identy_row .reserved,
.room_identy_row .confirmed,
.room_identy_row .keeping,
.room_identy_row .due_out,
.room_identy_row .checked_in,
.room_identy_row .checked_out,
.room_identy_row .stay_over,
.room_identy_row .maintenance {
  float: right;
}

.grid_info .overlapped {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.grid_info .reverse_strip {
  -webkit-border-radius: 30px 0 0 30px !important;
  -moz-border-radius: 30px 0 0 30px !important;
  border-radius: 30px 0 0 30px !important;
}

.oops_txt,
.room_identy_row .locked,
.srv_details select,
.srv_details label {
  float: right;
}

a.submit_light_box {
  float: right;
  margin-right: 2%;
}

a.stay_view_next {
  float: left;
}

a.stay_view_next {
  background: url("../../images/dashboard/slide_prev.png") no-repeat scroll 0 0 transparent;
  margin-right: -15px;
}

a.stay_view_pre {
  background: url("../../images/dashboard/slide_next.png") no-repeat scroll 0 0 transparent;
  margin-right: -22px;
}

a.stay_view_pre,
.moteel_video,
.video_wrap,
.moteel_video .inquery,
.coming_soon_row {
  float: right;
}

a.comming_soon_btn {
  float: left;
}

.btn_speration,
.coming_soon_row {
  margin-right: 35px;
}

.middle {
  margin-right: 18%;
}

.middle_room {
  margin-right: 5%;
}

/*coming soon*/

.cm_banner_row,
.cm_txt,
.cm_video,
a.cm_btn,
.cm_feature_row,
.cm_feature,
.inc_easy,
.acc_anywhere,
.web_builder,
.cm_feature h1,
.cm_feature p,
.cm_footer,
a.tasawr_logo_footer,
.cm_footer p {
  float: right;
}

.cm_feature {
  background: url("../../images/dashboard/cm_feature_bg.png") no-repeat left;
}

.cm_feature {
  margin-left: 20px;
}

.no_bg {
  background: none
}

.inc_easy,
.acc_anywhere,
.web_builder {
  margin-right: 95px;
}

.cm_social,
a.cm_facebook,
a.cm_tweeter {
  float: left;
}

.check_in_form_container .qv_row,
.check_in_form_container .qv_info,
.check_in_form_container a.fi_light_box {
  margin-right: 1%;
}

.right {
  float: left !important;
}

.half_size .chk_details {
  float: right;
}

.horizontal_separator {
  float: right;
  width: 60%;
}

.checkin_info .info_first_col,
.checkin_info .info_second_col,
.checkin_info span,
.checkin_info label {
  float: right;
}

.checkin_info .info_col {
  width: 100%;
  padding: 10px 0 10px 0;
}

.checkin_info .info_first_col {
  width: 60%;
}

.checkin_info .info_second_col {
  width: 40%;
}

.checkin_info label {
  color: #73A127;
}

.checkin_info .charge_info label {
  width: 35%;
}

.printable_space {
  margin-right: 10px;
}

.ad_more_btn {
  float: left;
}

/**/

.permission_group_name,
.permission_activities,
.permission_row,
.permission_new_row,
.permission_feature_row,
.permission_option,
.permission_option input[type="checkbox"],
.permission_option span {
  float: right;
}

.bullet {
  float: right;
  margin-left: 10px;
}

a.permission_info {
  float: right;
  margin-right: 8px;
}

.permission_option input[type="checkbox"] {
  margin-left: 5px;
}

.service_row,
.serv_col,
.col_row,
.payment_col,
.paymnt_type,
.pmnt_1,
.pmnt_2,
.pmnt_3,
.pmnt_4,
.rm_1,
.rm_2,
.rb_row,
.rb_col,
.rm_info {
  float: right;
}

.serv_col,
.serv_col_head {
  border-left: 1px solid #d5d5d5;
}

.fi_head a.fi_close {
  margin-left: -5px;
}

.manage_input_full label,
.manage_input_full span,
.manage_input_full input {
  float: right;
}

.manage_input_full span,
.manage_input_full input {
  margin-left: 5px;
}

.assingment-container .seperate {
  margin-right: 0.5%;
}

.associate_list div,
.associate_list span {
  float: right;
}

/**/

.group_list,
.group_list ul,
.group_list ul li,
.room_list_wrap,
.room_list_wrap h1 {
  float: right;
}

.group_list ul {
  margin-right: 8%;
}

.group_list a.minimize {
  background: url("../../images/dashboard/minimize.jpg") no-repeat right;
  padding-right: 20px;
}

.group_list a.maximize {
  background: url("../../images/dashboard/maximize.jpg") no-repeat right;
  padding-right: 20px;
}

/*.wizard_nav ul li a.first_child {*/
/*-webkit-border-radius: 0px 5px 5px 0px;*/
/*border-radius: 0px 5px 5px 0px;*/
/*}*/

/*.wizard_nav ul li a.last_child {*/
/*-webkit-border-radius: 5px 0px 0px 5px;*/
/*border-radius: 5px 0px 0px 5px;*/
/*}*/

.room_list_wrap h1 {
  text-align: right !important;
}

.operation,
.operation a {
  float: left;
}

.operation a {
  margin-right: 5px;
  padding: 5px 25px 3px 5px;
}

.room_list_breadcrumb,
.room_list_breadcrumb a,
.room_list_breadcrumb span,
.room_listing_desc,
.col_wrap,
.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6,
.col_7,
.col_8,
ul.edit_view,
ul.edit_view li {
  float: right;
}

.side_bor {
  border-left: 1px solid #d5d5d5;
}

.col_3,
.col_4,
.col_5,
.col_6,
.col_7,
.col_8 {
  padding-right: 1%;
}

ul.edit_view li {
  margin-left: 2px;
}

.group_type_tab ul li {
  margin-left: 5px;
}

.cn_row span {
  margin-left: 10px;
}

.group_type_tab,
.group_type_tab ul,
.group_type_tab ul li,
.group_type_tab ul li a {
  float: right;
}

.treeview_menu a.expanded {
  background: url('../../images/dashboard/minimize.jpg') no-repeat right;
  padding-right: 20px;
  margin-right: 5%;
}

.treeview_menu a.collapsed {
  background: url('../../images/dashboard/maximize.jpg') no-repeat right;
  padding-right: 20px;
  margin-right: 5%;
}

.treeview_menu a {
  padding: 2px 5% 2px 0px;
}

.chk_head_item_wrap {
  margin-left: 10px;
}

.start_next {
  float: left;
}

/**/

.chk_table .col_1,
.chk_table .col_2,
.chk_table .col_3,
.chk_table .col_4,
.chk_table .col_10,
.chk_table .col_12,
.chk_table .col_5,
.chk_table .col_6,
.chk_table .col_8,
.chk_table .col_7,
.chk_table .col_9,
.chk_table .col_11 {
  float: right;
}

.group_type_tab ul li a span {
  margin-right: 6px;
  float: left;
}

.ui-tabs .ui-tabs-panel .qv_row {
  margin-right: 0;
}

.ui-tabs .ui-tabs-panel .qv_row h2,
.guest_rows h2 {
  padding-right: 1%;
}

.fi_head h1 {
  text-align: right;
}

.fi_light_box_row .qv_row {
  margin-right: 0px;
}

.gap10 {
  margin-right: 3%
}

.pad_wrap .subhead-label {
  padding-left: 10px !important;
  padding-right: 0 !important;
}

.bal_row, .bal_row span {
  float: left;
}

.bal_row span {
  padding-right: 5px;
}

.mid-pos {
  margin-right: 10px;
}

/**/

.resrv_profile_row,
.resrv_prof_desc .desc_half,
.side_part {
  float: right;
}

/*.txt_align {*/
/*text-align: left;*/
/*}*/

.more_pos {
  float: left;
  margin-left: 3%;
}

.prof_action_row ul.edit_view {
  margin-right: 30%;
}

.side_part {
  margin-left: 1.33%;
}

.side_part:last-child {
  margin-left: 0;
}

.side_part h1,
.ttl_row {
  padding-right: 2%;
}

.rs_row label,
.dep_desc span,
.rs_row input,
.rs_row select,
.rs_row {
  float: right;
}

.ttl_row .single_col_left {
  float: right;
}

.ttl_row .single_col_right {
  float: left;
}

.ph_more {
  margin-right: 18%;
}

.column_field_full input,
.column_field_full input[type="checkbox"],
.column_field_full a {
  float: right;
}

.column_field_full input[type="checkbox"],
.column_field_full a {
  margin-right: 5px;
}

.crt_col_1,
.crt_col_2,
.crt_col_3,
.crt_col_4 {
  float: right;
  padding: 1% 1% 1% 0;
  min-height: 85px;
}

.crt_table .table-border {
  border-left: 1px solid #d5d5d5;
}

.crt_col_1 p,
.crt_col_2 p,
.crt_col_3 p,
.crt_col_4 p,
.folio_list .first_col,
.folio_list .others_col,
.ac_state .option,
.ac_state .same,
.ac_state .desc_ac {
  float: right;
  text-align: right;
}

.total_ac,
.pmnt_type,
.pmnt_type label,
.pmnt_type select,
.pmnt_amnt,
.pmnt_amnt input,
.pmnt_desc,
.pmnt_desc input,
.column_31_p,
.column_20_p,
.hotel_payment_type_id,
.one_third,
.row {
  float: right;
}

.ad_pht .photo,
.import_row .addMoreImage {
  margin-right: 0 !important;
}

.row .column_31_p:first-child,
.column_31_p {
  margin-right: 1%
}

.bok_dls_row .pmnt_type,
.bok_dls_row .pmnt_amnt {
  margin-left: 3%;
}

/*house keeping*/

.hk_status,
.hk_row,
.hk_row label,
.hk_row span,
.hk_row p,
.hk_row .available,
.hk_row .reserved,
.hk_row .checked_in,
.hk_row .checked_out,
.hk_row .locked,
.hk_row .maintenance,
.hk_row .due_out,
.reserv_search_row,
.hk_whole_info,
.hk_whole_desc,
.hk_whole_desc .very_sm,
.hk_whole_desc .small,
.hk_whole_desc .medium,
.hk_whole_desc .large {
  float: right;
  text-align: right
}

.hk_whole_desc div {
  border-left: 1px solid #d5d5d5;
}

.hk_whole_desc div:last-child {
  border-left: none;
}

/*message*/

.message_list_row,
.message_list_row .msg_one,
.message_list_row .msg_three,
.message_list_row .msg_two,
.message_list_row .msg_four,
.msg_field label,
.msg_field input,
.msg_field textarea,
.msg_field,
.sender_img,
.sender_name,
.sender_desc,
.seder_title,
.seder_title span,
.feature_checkbox .feature_check_wrap,
.bm_photo {
  float: right;
}

.message_list_row div {
  padding-right: 1%;
}

.seder_title span {
  padding-left: 5px;
}

select {
  padding: 4px 0px 4px 3px;
}

.bm_photo .photo {
  margin-right: 0
}

.seperation10 {
  margin-right: 10px;
}

.admin_nav_wrapper {
  margin-right: 20%
}

.operation a.icon_ad {
  background: url("ad_icon.jpg") right no-repeat;
  padding-bottom: 5px;
  padding-right: 20px;
  margin-right: 5px;
}

.operation a.icon_del {
  background: url("delete_icon.jpg") right no-repeat;
  padding-right: 20px;
  margin-right: 5px;
}

.operation a.icon_cancel {
  background: url("cancel.jpg") right no-repeat;
  padding-bottom: 5px;
  padding-right: 20px;
  margin-right: 5px;
}

.guest_no div,
.guest_no span,
#housekeeping_status {
  float: right;
}

.rtrl .auto_complete_results {
  direction: rtl;
}

.rm_cross {
  left: 5px;
}

ul.auto_complete_results,
div.auto_complete ul li,
div.auto_complete ul li .room {
  float: right;
}

.auto_complete_results li.adult {
  background: url("adult_icon.png") no-repeat right;
}

.auto_complete_results li.child {
  background: url("child_icon.png") no-repeat right;
}

.group_type_tab {
  margin-right: -0.5px;
}

#housekeeping_status {
  margin-left: 3px
}

.chk_details_balance label,
.chk_details_name label {
  padding-left: 3px;
}

.prof_single_col,
.group_auto_complete input,
.group_auto_complete a,
.prof_single_col label,
.auto_complete_loading_wrapper,
.v-align span,
.ui-widget-content a {
  float: right;
}

img.edit_info {
  margin-right: 0px
}

.ui-widget-content a.addMoreAllocatedRoom {
  float: left;
}

a.addMoreDependent img {
  margin-left: 6px;
}

.v-align span input[type="checkbox"] {
  float: right;
  margin-top: 5px;
  margin-left: 5px;
}

.total_guests input,
.ad_tab_pos {
  margin-left: 5px
}

table.ui-datepicker-calendar td a {
  float: none !important;
}

.sl_hotel .m_room_type select,
.sl_hotel .m_room_type,
.gi_intendation .brand_row,
.gi_intendation .brand_row label,
.gi_intendation .brand_row input {
  float: right !important;
}

.sl_hotel .m_room_type select {
  margin-right: 10px;
}

.stay_view_one_third .qv_row {
  margin-right: 1% !important;
  float: right;
}

.ad_tab_pos {
  float: left !important;
}

.hotel_type_tab ul li a:hover,
.hotel_type_tab ul li a.h_tab_select {
  border-left: 1px solid #6C9700;
  border-right: 1px solid #6C9700;
  margin-right: -1px;
}

.resrv_prof_desc .desc_half {
  border-left: 1px solid #d5d5d5;
}

.resrv_prof_desc .desc_half:last-child {
  border-left: none;
}

.context-menu-theme-gloss .context-menu-item .context-menu-item-inner {
  float: right;
  text-align: right;
}

.gp_stay_links {
  float: left;
  text-align: right;
}

.tabular_fullwidth tr td, .tabular_fullwidth tr th,
.tabular_with_margin tr td, .tabular_with_margin tr th {
  border-left: 1px solid #d5d5d5;
}

.tabular_fullwidth tr td:last-child, .tabular_fullwidth tr th:last-child,
.tabular_with_margin tr td:last-child, .tabular_with_margin tr th:last-child {
  border-left: none;
}

.gp_stay_links a {
  float: left;
  margin-right: 8px;
}

.rm_view_notification {
  left: -12px;
}

.lb_from_row, .lb_from_row label, .lb_from_row input {
  float: right;
}

.no_side_border {
  border-left: none !important;
}

.sl_hotel_other .h_date,
.rm_night {
  margin-right: 2%
}

.custom_marker,
.custom_marker input[type="checkbox"],
.rm_night .night_label,
.service_category_row {
  float: right;
}

.fl_right {
  float: left !important;
  margin-left: 1%;
}

.task_form_container .chzn-container .chzn-results {
  float: right;
}

.chk_gap,
.edit_wrapper .brand_row span input[type="radio"] {
  margin-left: 5px;
}

.chk_more_wrap .more_options_fix_position .serv_col:first-child {
  text-align: center
}

.dp_list input[type="radio"],
.dp_list label,
.repeatable_service .serv_col span {
  float: right;
}

.dp_list label {
  padding-left: 5%;
}

.chzn-select.select_room .chzn-results {
  float: right;
  width: 215px;
}

.chzn-select.select_department .chzn-results {
  float: right;
  width: 215px;
}

.chzn-select.select_department_user .chzn-results {
  float: right;
  width: 215px;
}

.rcc_wrap input,
.rcc_wrap label,
.rcc_wrap {
  float: right;
}

.edit_wrapper .manage_input label,
.rpt_choose span {
  padding-left: 3%;
}

#user_avatar_to_replace .branch_thumb,
#user_avatar_to_replace span.pointer {
  float: right;

}

#user_avatar_to_replace .branch_thumb {
  margin-left: 15px;
}

.serv_col_head,
.rpt_choose,
.rpt_choose input[type="radio"],
.rpt_choose span,
.graph_icon a,
.graph_wrap,
.graph_border,
.add_task .msg_field,
.add_task .msg_field label,
.add_task .msg_field input[type="text"],
.add_task .msg_field select,
.chkAdons,
.chkAdons  label {
  float: right;
}

.rpt_base label {
  padding-left: 1%
}

.rpt_base select,
.rpt_base input,
.chkAdons  select,
.grps_wrap label {
  margin-left: 1%
}

.graph_icon a {
  margin-left: 4%;
}

.graph_border {
  margin-left: 1.75%
}

.margin_less {
  margin-right: 0 !important;
}

.admin_nav_wrapper ul li,
.grps_wrap label,
.chk_details_balance label,
.chk_details_name label,
.chk_details_balance span,
.chk_details_name span,
.email_other .manage label {
  float: right;
}

.menu li ul a {
  float: right;
  padding-right: 10px
}

.menu li ul ul {
  right: 225px;
}

.left15 {
  margin-right: 15px;
}

.treeview {
  margin-right: 10px !important;
}

.treeview li strong {
  text-align: right;
  float: right;
  width: 100%;
}

.task_form_container .msg_field label,
.task_form_container .msg_field .msg_receipt {
  float: right;
}

.progress-bar {
  border-right: 1px solid #D5D5D5;
}

.counter-row {
  margin-right: 30%;
}

.counter-row .title, input.ng-pristine, .ri-info label span {
  float: right;
}

.counter-row .value {
  float: left;
}

.add-task .msg_receipt select {
  margin-left: 6%
}

.txt-align {
  text-align: right;
}

/*last*/

.gap-right, .pad-right {
  margin-left: 1%;
}

.view_profile_v_align p, .inner_main_content .ri-box-wrap h1, .table-border-less thead tr th {
  text-align: right;
}

.reserved p,
.stay_over p,
.maintenance p,
.due_out p,
.checked_out p {
  text-align: center !important;
}

.admin_nav_wrapper {
  float: right;
}

label, .address-row p {
  text-align: right;
}

ul.breadcrumb li {
  float: right;
  margin-left: 5px;
  direction: rtl;
}

.room_service_charge .column_20_p {
  float: right;
}

.ri-wide-box, .ri-narrow-box, .ri-narrow-box, .gn-img, .gn-img-desc, .gn-desc-row label, .gn-desc-row b, .gn-desc-row span, .one-fourth, .identification-row .one-fourth label, .identification-row .one-fourth b, .identification-row .one-fourth span {
  float: right
}

.ri-narrow-box {
  margin-right: 1.5% ;
}

.gn-img-desc {
  margin-right: 2%
}

.table-rm thead tr th, .table-rm tbody tr td {
  border-left: 1px solid #d4d4d4;
  text-align: right;
}

.table-rm thead tr th:last-child, .table-rm tbody tr td:last-child, .border-less {
  border-left: none !important;
}

.ribon {
  background: url("/assets/ar/confirm.png") no-repeat scroll 0 0 transparent;
  left: 0;
}

.guest-input-ad, .guest-input-ad input.ng-pristine {
  float: right;
}

/**** 13.03.2013 ****/
/*Payment*/

.payment-result-table table td.total,
.payment-result-table table td.advance,
.payment-result-table table td.balance {
  text-align: left;
}

.user-reservation .reservation-info span {
  text-align: right;
}

.payment-wraps .payment-input-element {
  float: right;
}

.payment-input-element label {
  float: right;
}

.payment-input-elements span {
  float: right;
}

.payment-advance .advance-element {
  float: right;
}

.advance-element label {
  float: right;
}

.payment-content-header h3 {
  float: right;

}

.payment-content-header .payment-bill {
  float: left;
}

.invoice-info label, .counter-name, .lb-title {
  float: right;

}

.history-total span.date-amount {
  float: left;

}

.pull-right {
  float: left;
}

  .tab-placement {margin-right: 25%;}

  .column_32_p .column_field, .column_31_p .column_field, .column_32_p label, .column_31_p label {float: right;}

}