/* -------------------------------------------------------------------------------------------------

Powered By : Tasawr Interactive
CSS author : Mosaddek
Start Date : 27-02-2012

----------------------------------------------------------------------------------------------------*/

body.ltr {
    text-align: left;
    direction: ltr;
}

.ltr .start,
.ltr .header,
.ltr a.logo,
.ltr .slide_wrap,
.ltr .slide_content,
.ltr .sliding_img,
.ltr .sld_trns_bg,
.ltr .sld_thum,
.ltr .sld_desc,
.ltr .sld_desc p,
.ltr .reg_row,
.ltr a.slide_prev,
.ltr .reg_row p,
.ltr .start,
.ltr .rb_sign,
.ltr .moteel_search_box,
.ltr .moteel_search_one,
.ltr .moteel_search_two,
.ltr .moteel_search_three,
.ltr .mtl_src_heading_one,
.ltr .mtl_src_heading_two,
.ltr .mtl_src_heading_three,
.ltr .moteel_search_two input[type="text"],
.ltr input.srch_btn,
.ltr a.srch_btn {
    float: left;
}

.ltr .sign_row,
.ltr .sign_row ul,
.ltr .sign_row ul li {
    float: right;
}

.ltr .sign_row ul li {
    padding-left: 5px;
}

.ltr .sld_desc {
    margin-left: 20px;
}

.ltr .reg_row {
    margin-left: 25px;
}

/*.ltr a.slide_prev {*/
    /*margin-left: -35px;*/
    /*background: url("../../images/dashboard/slide_prev.png") no-repeat;*/
/*}*/

/*.ltr a.slide_next {*/
    /*margin-right: -35px;*/
    /*background: url("../../images/dashboard/slide_next.png") no-repeat;*/
/*}*/

.ltr a.slide_next,
.ltr a.lst_moteel_btn {
    float: right
}

.ltr .rb_sign {
    margin-left: 70px;
    background: url("../../images/dashboard/en/rb_sign.jpg") no-repeat;
}

.ltr a.lst_moteel_btn {
    margin-right: 30px;
}

.ltr .mtl_src_heading_one {
    padding-left: 45px;
    background: url("../../images/dashboard/search_icon_set.png") no-repeat 0 0;
}

.ltr .mtl_src_heading_two {
    padding-left: 45px;
    background: url("../../images/dashboard/search_icon_set.png") no-repeat 0 -36px;
}

.ltr .mtl_src_heading_three {
    padding-left: 45px;
    background: url("../../images/dashboard/search_icon_set.png") no-repeat 0 -72px;
}

.ltr .moteel_search_one input[type="text"] {
    float: left;
    margin-left: 45px;
}

.ltr .moteel_search_two input[type="text"] {
    margin-right: 10px;
}

.ltr input.srch_btn,
.ltr a.srch_btn {
    background: url("../../images/dashboard/en/sign_now_btn.png") no-repeat;
    padding-left: 20px;
    text-align: left;
}

.ltr .content .infoboxes label.select {
    color: #737380;
    font-size: 16px;
    display: block;
    padding-right: 10px;
}

/**/

.ltr .know_more,
.ltr .horizontal_divider,
.ltr .more_thumb,
.ltr .more_thumb a,
.ltr .more_thumb a img,
.ltr .footer,
.ltr .footer_link,
.ltr .footer_link ul,
.ltr .footer_link ul li,
.ltr .inner_bot_shade {
    float: left
}

.ltr .more_thumb a,
.ltr .footer_link ul li {
    margin-right: 7px
}

.ltr .no_margin {
    margin-right: 0 !important
}

.ltr .social_icon_row,
.ltr .welcome span,
.ltr .welcome{
    float: right
}

.ltr a.facebook {
    background: url("../../images/dashboard/sotial_link.jpg") no-repeat -30px;
    float: right;
    margin-left: 10px;
}

.ltr a.twiter {
    background: url("../../images/dashboard/sotial_link.jpg") no-repeat 0px;
    float: right;
}

/*inner page*/

.ltr .welcome span {
    padding-left: 5px
}

.ltr .inner_page_content,
.ltr .wizard_nav,
.ltr .wizard_nav ul,
.ltr .wizard_nav ul li,
.ltr .wizard_nav ul li a,
.ltr .wizard_nav ul li a.active,
.ltr .steps_row,
.ltr .inner_main_content,
.ltr .inner_sidebar,
.ltr .form_wrap,
.ltr .double_input_row,
.ltr .double_input_row label,
.ltr .double_input_row input[type="text"],
.ltr .single_input_row,
.ltr .single_input_row label,
.ltr .single_input_row input[type="text"],
.ltr .single_input_row input[type="password"] {
    float: left
}

.ltr .second_field {
    margin-left: 2%;
}

.ltr .verticle_divider {
    background: url("../../images/dashboard/verticle_divider.jpg") repeat-y right
}

.ltr .inner_sidebar {
    margin-left: 20px
}

.ltr input.single_submit,
.ltr input.continue_btn,
.ltr a.single_submit,
.ltr a.continue_btn {
    background: url("../../images/dashboard/en/sm_btn.jpg") no-repeat;
    padding-left: 20px;
    text-align: left;

}

.ltr input.cancel_btn,
.ltr a.cancel_btn {
    background: url("../../images/dashboard/en/cancel_btn.jpg") no-repeat;
    padding-left: 20px;
    text-align: left;
}

.ltr input.single_submit,
.ltr a.single_submit {

}

/**/

.ltr .steps {
    float: left;
}

.ltr .step_center_position {
    margin-left: 35%;
}

.ltr .steps .st_1, .ltr .steps .st_2, .ltr .steps .st_3, .ltr .steps .st_4, .ltr .steps .st_5, .ltr .steps .st_6, .ltr .steps .st_7, .ltr .steps .line {
    float: left;
}

/**/

.ltr .side_list,
.ltr .side_list ul,
.ltr .side_list ul li,
.ltr .side_desc,
.ltr .side_desc p,
.ltr .single_input_row textarea {
    float: left;
}

.ltr .side_list ul li {
    margin-left: 10px;
    list-style: disc;
}

.ltr .loc_map,
.ltr .inner_full_width,
.ltr .notice_box,
.ltr .notice_box p {
    float: left
}

.ltr .skip_btn {
    background: url("../../images/dashboard/en/sign_now_btn.png") no-repeat right;
    padding-left: 20px;
    text-align: left;
}

.ltr .seperation {
    margin-left: 25px;
}

.ltr a.external_link {
    float: right;
}

.ltr .double_btn_center {
    margin-left: 280px
}

.ltr a.extra_link_center {

}

.ltr .center_combo,
.ltr .chosse_bar,
.ltr .chosse_bar ul,
.ltr .chosse_bar ul li,
.ltr .check_role,
.ltr .check_role_individual,
.ltr .check_role_individual input[type="checkbox"],
.ltr .check_role_individual span,
.ltr .exam_txt,
.ltr .dollar,
.ltr a.full_width_link_center {
    float: left
}

.ltr .center_combo select {
    margin-left: 0
}

.ltr input.cancel_btn,
.ltr a.cancel_btn {

}

.ltr .chosse_bar ul li {
    margin-right: 10px;
}

.ltr .exam_txt {
    margin-left: 17%
}

.ltr .dollar {
    margin-left: 10px
}

.ltr a.full_width_link_center {
    margin-left: 45%
}

.ltr .pos_center {
    margin-left: 43% !important
}

/*dashboard*/

.ltr .grid_16,
.ltr .content {
    float: left;
}

.ltr .content .narrow,
.ltr .content .narrow .infoboxes,
.ltr .content .infoboxes label,
.ltr .content .infoboxes select,
.ltr .content .infoboxes h1,
.ltr .quickview h1,
.ltr .infoboxes span {
    float: left;
}

.ltr .infoboxes .changed,
.ltr .content .wide {
    float: right;
}

.ltr .infoboxes .boxinfo,
.ltr .infoboxes .boxinfo .info,
.ltr .changed .up,
.ltr .changed .down,
.ltr .changed .equal,
.ltr .changed .amount {
    float: left;
}

.ltr .infoboxes .boxinfo {
    border-right: 1px solid #D4D4D4;
}

.ltr .content .infoboxes label,
.ltr .content .infoboxes select {
    margin-right: 5px;
}

.ltr .content .infoboxes label {
    color: #73A127;
    font-size: 18px;
}

.ltr .wide .controls,
.ltr .wide .notification,
.ltr .wide .quickview,
.ltr .wide .statistics,
.ltr .slide_wrap .quickview{
    float: right;
}

.ltr .wide .controls a {
    float: left;
    margin-right: 0.88%;
}

.ltr .notification a.close {
    float: right;
}

.ltr .notification label {
    float: left;
    padding-left: 40px;
}

.ltr .success label {
    background: url('../../images/dashboard/notification.png') 0px 0px no-repeat;
}

.ltr .failure label {
    background: url('../../images/dashboard/notification.png') 0px -50px no-repeat;
}

.ltr .quickview .views,
.ltr .quickview .group,
.ltr .quickview .group ul,
.ltr .quickview .group ul li,
.ltr .quickview .group ul li a {
    float: left;
}

.ltr .wide .statistics .row,
.ltr .wide .statistics span,
.ltr .wide .statistics label,
.ltr .wide .statistics .reserve,
.ltr .wide .statistics .usage,
.ltr .wide .statistics  .chout {
    float: left;
}

/*.ltr .wide .statcontent {*/
    /*-webkit-border-top-right-radius: 5px;*/
    /*-webkit-border-bottom-right-radius: 5px;*/
    /*-webkit-border-bottom-left-radius: 05px;*/
    /*-moz-border-radius-topright: 5px;*/
    /*-moz-border-radius-bottomright: 5px;*/
    /*-moz-border-radius-bottomleft: 05px;*/
    /*border-top-right-radius: 5px;*/
    /*border-bottom-right-radius: 5px;*/
    /*border-bottom-left-radius: 05px;*/
    /*behavior: url(PIE.htc);*/
/*}*/

.ltr .statistics ul,
.ltr .statistics ul li,
.ltr .statistics ul li a,
.ltr .wide .statcontent,
.ltr .statcontent .bundle {
    float: left;
}

.ltr .statistics .row label {
    text-align: right;
    margin-right: 2%;
}

.ltr .statistics .chout .usage label,
.ltr .statistics .chout .usage span {
    float: right;
}

.ltr .statistics .chout .usage label {
    margin-right: 0;
    margin-left: 1%;
}

.ltr .side_link_row,
.ltr a.side_link {
    float: left
}

.ltr .infoboxes h1 {
    text-align: left
}

/**/
.ltr .transbox,
.ltr .coming_soon,
.ltr .nrw_con {
    float: left
}

.ltr .coming_soon {
    margin-left: 45%
}

.ltr #nav,
.ltr #nav ul,
.ltr #nav li {
    float: left;
}

.ltr #nav ul {
    left: -9999px;
}

.ltr #nav li:hover ul {
    left: 0;
}

.import_row {
    float: left;
}

.tp_desc {
    float: left;
}

.tp_desc span {
    padding-right: 2px;
}

.ltr .import_row, .ltr .import_row p, .ltr .import_row a.import_btn, .ltr .msg_row, .ltr .msg_row img, .ltr .msg_row span, .ltr .instruction h2, .ltr .exam_txt, .ltr .sar, .ltr .field_step {
    float: left;

}

.ltr .import_row p {
    text-align: left !important;

}

.ltr .side_link_row, .ltr a.side_link, .ltr .double_head, .ltr .manage_input_row, .ltr .manage_input, .ltr .manage_input label, .ltr .manage_input select, .ltr .manage_input input, .ltr .m_sel_row, .ltr .m_sel_desc, .ltr .editable_row, .ltr .m_sel_row input, .ltr .m_sel_row span, .ltr .tp_desc, .ltr .tp_desc span, .ltr .editable_general {
    float: left;
}

.ltr a.head_link, .ltr .editable_row ul, .ltr .editable_row ul li, .ltr .editable_general ul, .ltr .editable_general ul li {
    float: right;
}

.ltr .wide_row .all_brances select, .ltr .brand_row select, .ltr .manage_input select {
   /* padding: 5px 5px 5px 0; */
}

.ltr .seperate {
    /*margin-left: 3%;  */
}

.ltr .flash_message,
.ltr .flash_message .notification {
    float: left;
}

.ltr .breadcum,
.ltr .breadcum  a,
.ltr .breadcum  span,
.ltr .breadcum  a.bread_sel {
    float: left;
}

.ltr .breadcum  a,
.ltr .breadcum  span {
    padding-right: 5px
}

.ltr .manage_input .dt_txt, .ltr .manage_input .dt_txt input {
    float: left;
}

.ltr .dt_txt img {
    float: right;
}

.ltr .bi_row {
    float: left;
}

.category_label, .featuedRow .category, span.category_checkbox, .category_box {
    float: left;
}

.ltr .ci_row, .ltr .prf_owner_info, .ltr .prf_img, .ltr .prf_img_desc, .ltr .vp_row, .ltr .vp_row_info, .ltr .vp_row_info p, .ltr .vp_row_info label, .ltr .vp_row_info b, .ltr .vp_row_info span, .ltr .vp_row_info h1, .ltr .cn_row, .ltr .cn_row label, .ltr .cn_row input, .ltr .cn_row span {
    float: left;
}

.ltr .manage_input .dt_txt, .ltr .manage_input .dt_txt input, .ltr .bi_table, .ltr .bi_date, .ltr .bi_amnt, .ltr .bi_cn, .ltr .bi_note, .ltr .bi_row, .ltr .pagination {
    float: left;
}

.ltr .manage_input input, .ltr .cn_row input {
    padding-left: 5px;
    margin-right: 10px;
}

.ltr .bm_img, .ltr .bm_img_desc, .ltr .bm_img_desc span, .ltr .bm_img_desc p, .ltr a.change_pic, .ltr .bm_img_row, .ltr .bm_link_row, .ltr .bm_link_row ul, .ltr .bm_link_row ul li, .ltr .bm_link_row ul li a.select_bm, .ltr .ci_date, .ltr .ci_editable {
    float: left;
}

.ltr .bm_img_desc {
    margin-left: 5%;
}

.ltr .bm_link_row ul li {
    margin-right: 2%;
}

/**/

.ltr .trans_car {

    bottom: 0px;
    position: relative;
}

.ltr .sign_box,
.ltr .trans_car,
.ltr .sign_head_one h1,
.ltr .sign_head_two h2,
.ltr .sign_tab,
.ltr .sign_tab ul,
.ltr .sign_tab ul li,
.ltr .sign_tab ul li a,
.ltr .sign_tab ul li a.active_sign_tab,
.ltr .signbox_desc,
.ltr .signbox_row,
.ltr .signbox_row label,
.ltr .signbox_row input,
.ltr .signbox_row input [type="checkbox"],
.ltr .signbox_row .remember,
.ltr input.login_btn,
.ltr .raakib_id_row,
.ltr .raakib_id_row p,
.ltr .full_wd,
.ltr .full_wd a.sign_up_link,
.ltr .full_wd span,
.ltr .m_easy,
.ltr .tag_title_border,
.ltr .tag_row {
    float: left
}

.ltr .sign_box,
.ltr .raakib_id_row {
    margin-left: 7%
}

.ltr .sign_tab ul li a.active_sign_tab {
    border-right: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3
}

.ltr .no_bor_log {
    border-left: 0px !important
}

.ltr .no_bor_signup {
    border-right: 0px !important
}

.ltr .signbox_row a.forgot_pwd {
    float: right
}

.ltr input.login_btn {
    margin-left: 30%
}

.ltr .edit_wrapper, .ltr .edt_input, .ltr .feature_edit, .ltr .milegae_input {
    float: left;
}

.ltr .ctwscontainer .wide_row, .ltr .ctwscontainer .narrow_row, .ltr .container div .ctwscontainer .narrow_row .instruction p, .ltr .ctwscontainer .narrow_row .instruction, .ltr a.creatbran, .ltr .wide_row .all_brances, .ltr .wide_row .all_brances select, .ltr input.cancel_btn, .ltr a.next_btn, .ltr .all_branches_btns, .ltr .create_car, .ltr .select_car, .ltr .carType, .ltr .or, .ltr a.carType_btn, .ltr .all_brances_btn_row, .ltr .breadcum, .ltr .breadcum a, .ltr .breadcum span, .ltr .breadcum a.bread_sel, .ltr .car_input_row, .ltr .car_input_row label, .ltr .car_input_row input, .ltr .car_row, .ltr .tag_title_border, .ltr .tag_row, .ltr .brand_row, .ltr .brand_row label, .ltr .brand_row select, .ltr .brand_row textarea, .ltr .brand_row span, .ltr .feature_checkbox, .ltr .feature_checkbox input, .ltr .feature_checkbox span, .ltr .brand_row input, .ltr .sign_narrow_row {
    float: left;
}

.ltr .center_postion {
    margin-left: 65%;
}

.ltr a.print_link {
    background: url("../../images/dashboard/print_icon.png") no-repeat scroll left center transparent;
    float: right;
    height: 27px;
    padding-left: 40px;
}

.ltr .chk_details, .ltr .srv_details, .ltr .srv_take_row, .ltr .srv_take_row_other, .ltr .srv_total {
    float: left;
}

.ltr .srv_take_row {
    margin-right: 2%;
}

.ltr .guest_detail_info, .ltr .guest_detail, .ltr .guest_recommendation, .ltr .vp_row_info select {
    float: left;
}

.ltr .wide_row .all_brances select, .ltr .brand_row select, .ltr .manage_input select, .ltr .vp_row_info select {
   /* padding: 5px 5px 5px 0; */
}

.ltr .layoutTheme {
    background: #f0f0f0;
    margin: 10px 10px 10px 0;
    float: left;
    border: 1px solid #ccc;
}

.ltr .layoutTheme .icon {
    text-align: center;
    padding: 5px;
}

.ltr .layoutTheme .icon img {
    height: 90px;
}

.ltr .layoutTheme .options {
    font-size: 80%;
    background: #fff;
    padding: 3px;
    text-align: center
}

.ltr .layoutTheme .options img {
    border: 0
}

.ltr .selected, .layoutTheme:hover {
    background: aquamarine;
    cursor: pointer;
}

.ltr .wide_wrapper {
    float: right;
}

.ltr #remarks-3-5 span {
    padding-right: 5px;
}

.ltr .guest_recommendation p {
    text-align: left
}

.ltr .cn_row label {
    float: left;
}

.ltr .prf_owner_info,
.ltr .prf_member_info,
.ltr .prf_img {
    float: left;
}

.ltr .prf_img_desc {
    padding-left: 2%;
}

.ltr .prf_member_info {
    float: right;
    text-align: right;
}

.ltr .ci_row a {
    float: left !important;
}

.ltr .serviceAmountNote,
.ltr .serviceAmountNote label,
.ltr .serviceAmountNote textarea,
.ltr .serviceAmount,
.ltr .serviceAmount label,
.ltr .serviceAmount input {
    float: left !important;
}

.ltr .serviceAmountNote .srvAmntBtn {
    float: left;
    margin-left: 30%;
}

.ltr input.arText, .ltr .arText {
    text-align: right;
}

.ltr .q_msg_row,
.ltr .q_msg_row p {
    float: left;
}

.ltr input.enText, .ltr .enText {
    text-align: left;
}
.ltr .vp_row_info input,
.ltr .vp_row_info select{
    float: left;
}

.ltr .btn_pos {
    margin-left: 22%
}

.ltr .brand_row .feature_checkbox {
    float: left;
}

.ltr .brand_row .feature_checkbox span,
.ltr .asignRole-col,
.ltr .vp_row .vp_row_info input[type="text"]#user_email,
.ltr .vp_row .vp_row_info select{
    float: left;
}

.ltr .brand_row #hotel_starting_hour_5i,
.ltr .brand_row #hotel_ending_hour_5i{
    margin-left: 10px;
}

.ltr .feature_other,
.ltr .single_am,
.ltr .single_am input[type="checkbox"]{
    float: left;
}

/*room availability*/

.ltr .hotel_type_row,
.ltr .sl_hotel,
.ltr .sl_hotel_chose,
.ltr .sl_hotel select,
.ltr .h_date .dt_txt,
.ltr .h_date,
.ltr .h_date label{
    float: left;
}

.ltr .sl_hotel_other,
.ltr .s_delux select,
.ltr .h_date select{
    float: right;
}

.ltr .sl_hotel select,
.ltr .s_delux select,
.ltr .h_date select{
    padding: 4px 5px 5px 0;
}

.ltr .h_date .dt_txt input {
    padding-left: 5px
}

.ltr .side {
    float: right !important;
}

.ltr .s_delux select {
    margin-right: 2%;
}

.ltr .hotel_type_tab ul,
.ltr .hotel_type_tab ul li,
.ltr .hotel_type_tab ul li a,
.ltr .hotel_type_tab ul li a.h_tab_select{
    float: left;
}

.ltr .m_room_type ,
.ltr .select_rm_type,
.ltr .select_rm_type input[type="checkbox"]{
    float: right;
}

.ltr .select_rm_type .non_smoking,
.ltr .select_rm_type .maintenance,
.ltr .select_rm_type .cleaning,
.ltr .select_rm_type span.dirty,
.ltr .select_rm_type span.inspect,
.ltr .select_rm_type span.repair,
.ltr .select_rm_type span.touch_up,
.ltr .custom_marker span{
    float:  right;
}

.ltr .room_view_row,
.ltr .room_view_box{
    float: left;
}

.ltr .room_view_box,
.ltr .id_desc{
    margin-left: 1%;
}

.ltr .room_identy_row,
.ltr .identy_col_row,
.ltr .available_color,
.ltr .id_desc,
.ltr .reserved_color,
.ltr .keeping_color,
.ltr .maintenance_color{
    float: left;
}

/*.ltr .sl_hotel select {*/
    /*margin-right: 1.8%;*/
/*}*/

/*.ltr .side_curv_st_view {*/
    /*-moz-border-radius-topleft: 3px;*/
    /*-moz-border-radius-topright: 0px;*/
    /*-moz-border-radius-bottomright: 0px;*/
    /*-moz-border-radius-bottomleft: 3px;*/
    /*-webkit-border-radius: 3px 0px 0px 3px;*/
    /*border-radius: 3px 0px 0px 3px;*/
/*}*/

/*.ltr .side_curv_qk_view {*/
    /*-moz-border-radius-topleft: 0px;*/
    /*-moz-border-radius-topright: 3px;*/
    /*-moz-border-radius-bottomright: 3px;*/
    /*-moz-border-radius-bottomleft: 0px;*/
    /*-webkit-border-radius: 0px 3px 3px 0px;*/
    /*border-radius: 0px 3px 3px 0px;*/
/*}*/

/*stay view*/

.ltr .stay_view,
.ltr .grid_header{
    float: left;
}

.ltr .stay_view{
    margin-left: 2%;
}

.ltr .entity_type_tittle,
.ltr .date_tittle,
.ltr .date_single_row,
.ltr .grid_info,
.ltr .total_booking,
.ltr .item_type{
    float: left;
}

.ltr .entity_type_tittle,
.ltr .date_single_row,
.ltr .total_booking,
.ltr .item_type{
    border-right: 1px solid #fff;
}

.ltr .item_type span {
    padding-left: 5%
}

.ltr ._a ,
.ltr ._b {
    float: left;
}

.ltr .op_outer {
    float: right;;
    margin-right: 4%;
}

.ltr .reserved p,
.ltr .stay_over p,
.ltr .maintenance p,
.ltr .due_out p,
.ltr .checked_out p{
    text-align: center;
}

.ltr .identy_col_row_other,
.ltr .due_out_color,
.ltr .qv_desc_row,
.ltr .qv_desc_row .wide_row,
.ltr .qv_desc_row .narrow_row,
.ltr .guest_info,
.ltr .guest_type,
.ltr .fi_row,
.ltr .sel_date,
.ltr .fi_light_box_row,
.ltr .fi_head,
.ltr .fi_head h1,
.ltr .fi_date_row,
.ltr .light_date,
.ltr .fi_details,
.ltr .fi_details .qv_desc_row{
    float: left;
}

.ltr .qv_row,
.ltr .qv_info,
.ltr a.fi_light_box{
    float: left;
    margin-left: 2%;
}

.ltr .qv_row h2 {
    padding-left: 2%;
}

.ltr .check_in_guests_container .qv_row h2 {
    padding-left: 1%;
}

.ltr a.fi_close {
    float: right;
}

.ltr .fi_details .qv_desc_row .guest_info,
.ltr .fi_details .qv_desc_row .guest_type{
    float: left;
}

.ltr .check_in_color {
    float: left;
}

.ltr .room_identy_row .available,
.ltr .room_identy_row .reserved,
.ltr .room_identy_row .keeping,
.ltr .room_identy_row .due_out,
.ltr .room_identy_row .checked_in,
.ltr .room_identy_row .checked_out,
.ltr .room_identy_row .stay_over,
.ltr .room_identy_row .maintenance  {
    float: left;
}


.ltr .grid_info .overlapped {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.ltr .grid_info .reverse_strip {
    -webkit-border-radius: 0 30px 30px 0!important;
    -moz-border-radius: 0 30px 30px 0!important;
    border-radius: 0 30px 30px 0!important;
}

.ltr .oops_txt,
.ltr .room_identy_row .locked,
.ltr .srv_details select,
.ltr .srv_details label{
    float: left;
}

.ltr a.submit_light_box {
    float: left;
    margin-left: 2%;
}

.ltr a.stay_view_next {
    float: right;
}

.ltr a.stay_view_next {
    background: url("../../images/dashboard/slide_next.png") no-repeat scroll 0 0 transparent;
    margin-left: -15px;
}

.ltr a.stay_view_pre {
    background: url("../../images/dashboard/slide_prev.png") no-repeat scroll 0 0 transparent;
    margin-left: -22px;
}

.ltr a.stay_view_pre,
.ltr .moteel_video,
.ltr .video_wrap,
.ltr .moteel_video .inquery,
.ltr .coming_soon_row{
    float: left;
}

.ltr a.comming_soon_btn{
    float: right;
}

.ltr .btn_speration,
.ltr .coming_soon_row{
    margin-left: 35px;
}

.ltr .middle {
    margin-left: 18%;
}

.ltr .middle_room {
    margin-left: 5%;
}

/*coming soon*/

.ltr .cm_banner_row,
.ltr .cm_txt,
.ltr .cm_video,
.ltr a.cm_btn,
.ltr .cm_feature_row,
.ltr .cm_feature,
.ltr .inc_easy,
.ltr .acc_anywhere,
.ltr .web_builder,
.ltr .cm_feature h1,
.ltr .cm_feature p,
.ltr .cm_footer,
.ltr a.tasawr_logo_footer,
.ltr .cm_footer p{
    float: left;
}

.ltr .cm_feature {
    background: url("../../images/dashboard/cm_feature_bg.png") no-repeat right;
}

.ltr .cm_feature {
    margin-right: 20px;
}

.ltr .no_bg {background: none}

.ltr .inc_easy,
.ltr .acc_anywhere,
.ltr .web_builder {
    margin-left: 95px;
}

.ltr .cm_social,
.ltr a.cm_facebook,
.ltr a.cm_tweeter{
    float: right;
}

.ltr .check_in_form_container .qv_row,
.ltr .check_in_form_container .qv_info,
.ltr .check_in_form_container a.fi_light_box{
    margin-left: 1%;
}

.ltr .right {
    float: right;
}

.ltr .half_size .chk_details {
    float: left;
}

.ltr .horizontal_separator {
    float: left;
    width: 60%;
}

.ltr .checkin_info .info_first_col,
.ltr .checkin_info .info_second_col,
.ltr .checkin_info span,
.ltr .checkin_info label
{
    float: left;
}

.ltr .checkin_info .info_col {
    width: 100%;
    padding: 10px 0 10px 0;
}

.ltr .checkin_info .info_first_col {
    width: 60%;
}

.ltr .checkin_info .info_second_col {
    width: 40%;
}

.ltr .checkin_info label {
    color: #73A127;
}

.ltr .checkin_info .charge_info label {
    width: 35%;
}

.ltr .printable_space {
    margin-left: 10px;
}

.ltr .ad_more_btn {
    float: right;
}

/**/

.ltr .permission_group_name,
.ltr .permission_activities,
.ltr .permission_row,
.ltr .permission_new_row,
.ltr .permission_feature_row,
.ltr .permission_option,
.ltr .permission_option input[type="checkbox"],
.ltr .permission_option span{ float: left;}

.ltr .bullet {
    float: left;
    margin-right: 10px;
}

.ltr a.permission_info {
    float: left;
    margin-left: 8px;
}

.ltr .permission_option input[type="checkbox"] {
    margin-right: 5px;
}

.ltr .service_row,
.ltr .serv_col,
.ltr .col_row,
.ltr .payment_col,
.ltr .paymnt_type,
.ltr .pmnt_1,
.ltr .pmnt_2,
.ltr .pmnt_3,
.ltr .pmnt_4,
.ltr .rm_1,
.ltr .rm_2,
.ltr .rb_row,
.ltr .rb_col,
.ltr .rm_info{
    float: left;
}

.ltr .serv_col,
.ltr .serv_col_head {
    border-right: 1px solid #d5d5d5;
}

.fi_head a.fi_close {
    margin-right: -5px;
}

.ltr .group_tab ul {
    margin-left: 14% ;
}

.ltr .manage_input_full label,
.ltr .manage_input_full span,
.ltr .manage_input_full input {
    float: left;
}

.ltr .manage_input_full span,
.ltr .manage_input_full input {
    margin-right: 5px;
}

.ltr .assingment-container .seperate {
    margin-left: 0.5%;
}

.ltr .associate_list div,
.ltr .associate_list span {
    float: left;
}

/**/

.ltr .group_list,
.ltr .group_list ul,
.ltr .group_list ul li,
.ltr .room_list_wrap,
.ltr .room_list_wrap h1{
    float: left;
}

.ltr .group_list ul {
    margin-left: 8%;
}

.ltr .group_list a.minimize {
    background: url("../../images/dashboard/minimize.jpg") no-repeat left;
    padding-left: 20px;
}

.ltr .group_list a.maximize {
    background: url("../../images/dashboard/maximize.jpg") no-repeat left;
    padding-left: 20px;
}

/*.ltr .wizard_nav ul li a.first_child {*/
    /*-webkit-border-radius: 5px 0px 0px 5px;*/
    /*border-radius: 5px 0px 0px 5px;*/
/*}*/

/*.ltr .wizard_nav ul li a.last_child {*/
    /*-webkit-border-radius: 0px 5px 5px 0px;*/
    /*border-radius: 0px 5px 5px 0px;*/
/*}*/

.ltr .room_list_wrap h1 {
    text-align: left !important;
}

.ltr .operation,
.ltr .operation a{
    float: right;
}

.ltr .operation a {
    margin-left: 5px;
    padding: 5px 5px 3px 25px;
}

.ltr .room_list_breadcrumb,
.ltr .room_list_breadcrumb a,
.ltr .room_list_breadcrumb span,
.ltr .room_listing_desc,
.ltr .col_wrap,
.ltr .col_1,
.ltr .col_2,
.ltr .col_3,
.ltr .col_4,
.ltr .col_5,
.ltr .col_6,
.ltr .col_7,
.ltr .col_8,
.ltr ul.edit_view,
.ltr ul.edit_view li{
    float: left;
}

.ltr .side_bor {
    border-right:1px solid #d5d5d5;
}

.ltr .col_3,
.ltr .col_4,
.ltr .col_5,
.ltr .col_6,
.ltr .col_7,
.ltr .col_8 {
    padding-left: 1%;
}

.ltr ul.edit_view li {
    margin-right: 2px;
}

.ltr .group_type_tab ul li {
    margin-right: 5px;
}

.ltr .cn_row span{
    margin-right: 10px;
}

.ltr .group_type_tab,
.ltr .group_type_tab ul,
.ltr .group_type_tab ul li,
.ltr .group_type_tab ul li a{
    float: left;
}

.ltr .treeview_menu a.expanded {
    background:  url('../../images/dashboard/minimize.jpg') no-repeat left ;
    padding-left: 20px;
    margin-left: 5%;
}
.ltr .treeview_menu a.collapsed {
    background:  url('../../images/dashboard/maximize.jpg') no-repeat left;
    padding-left: 20px;
    margin-left: 5%;
}

.ltr .treeview_menu a {
    padding: 2px 2px 2px 5%;
}

.ltr .chk_head_item_wrap {
    margin-right: 10px;
}

.ltr .start_next {
    float: right;
}

/**/

.ltr .chk_table .col_1,
.ltr .chk_table .col_2,
.ltr .chk_table .col_3,
.ltr .chk_table .col_4,
.ltr .chk_table .col_10,
.ltr .chk_table .col_12,
.ltr .chk_table .col_5,
.ltr .chk_table .col_6,
.ltr .chk_table .col_8,
.ltr .chk_table .col_7,
.ltr .chk_table .col_9,
.ltr .chk_table .col_11 {
    float: left;
}

.ltr .group_type_tab ul li a span {
    margin-left: 6px;
    float: right;
}

.ltr .ui-tabs .ui-tabs-panel .qv_row {
    margin-left:0;
}

.ltr .ui-tabs .ui-tabs-panel .qv_row h2,
.ltr .guest_rows h2{
    padding-left: 1%;
}

.ltr .fi_head h1 {
    text-align: left;
}

.ltr .fi_light_box_row .qv_row {
    margin-left: 0px;
}

.ltr .gap10 {margin-left: 3%}

.ltr .pad_wrap .subhead-label {
    padding-right: 10px !important;
    padding-left: 0 !important;
}

.ltr .pad_wrap #total_allocated_room_price  {
    margin: 0 !important;
}

.ltr .bal_row, .ltr .bal_row span {
    float:right;
}

.ltr .bal_row span {
    padding-left: 5px;
}

.ltr .mid-pos {
    margin-left: 10px;
}

/**/

.ltr .resrv_profile_row,
.ltr .resrv_prof_desc .desc_half,
.ltr .side_part{
    float: left;
}

/*.ltr .txt_align {*/
    /*text-align: right;*/
/*}*/

.ltr .more_pos {
    float: right;
    margin-right: 3%;
}

.ltr .prof_action_row ul.edit_view {
    margin-left: 30%;
}


.ltr .side_part {
    margin-right: 1.33%;
}

.ltr .side_part:last-child {
    margin-right:0;
}

.ltr .side_part h1,
.ltr .ttl_row{
    padding-left: 2%;
}

.ltr .rs_row label,
.ltr .dep_desc span,
.ltr .rs_row input,
.ltr .rs_row select,
.ltr .rs_row {
    float: left
}

.ltr .ttl_row .single_col_left {
    float: left;
}

.ltr .ttl_row .single_col_right {
    float: right;
}

.ltr .ph_more {
    margin-left: 18%;
}

.ltr .column_field_full input,
.ltr .column_field_full input[type="checkbox"] ,
.ltr .column_field_full a {
    float: left;
}

.ltr .column_field_full input[type="checkbox"],
.ltr .column_field_full a {
    margin-left: 5px;
}

.ltr .crt_col_1,
.ltr .crt_col_2,
.ltr .crt_col_3,
.ltr .crt_col_4 {
    float: left;
    padding: 1% 0 1% 1%;
    min-height: 85px;
}

.ltr .crt_table .table-border  {
    border-right: 1px solid #d5d5d5;
}

.ltr .crt_col_1 p,
.ltr .crt_col_2 p,
.ltr .crt_col_3 p,
.ltr .crt_col_4 p,
.ltr .folio_list .first_col,
.ltr .folio_list .others_col,

.ltr .ac_state .option,
.ltr .ac_state .same,
.ltr .ac_state .desc_ac{
    float: left;
    text-align: left
}

.ltr .total_ac,
.ltr .pmnt_type,
.ltr .pmnt_type label,
.ltr .pmnt_type select,
.ltr .pmnt_amnt,
.ltr .pmnt_amnt input,
.ltr .pmnt_desc,
.ltr .pmnt_desc input,
.ltr .column_31_p,
.ltr .column_20_p,
.ltr .hotel_payment_type_id,
.ltr .one_third,
.ltr .row{
    float: left;
}


.ltr .ad_pht .photo,
.ltr .import_row .addMoreImage{
    margin-left: 0 !important;
}

.ltr .row .column_31_p:first-child,
.ltr .column_31_p{
    margin-left: 1%
}

.ltr .bok_dls_row .pmnt_type,
.ltr .bok_dls_row .pmnt_amnt {
    margin-right: 3%;
}

/*house keeping*/

.ltr .hk_status,
.ltr .hk_row,
.ltr .hk_row label,
.ltr .hk_row span,
.ltr .hk_row p,

.ltr .hk_row .available,
.ltr .hk_row .reserved,
.ltr .hk_row .checked_in,
.ltr .hk_row .checked_out,
.ltr .hk_row .locked,
.ltr .hk_row .maintenance,
.ltr .hk_row .due_out,

.ltr .reserv_search_row,
.ltr .hk_whole_info,
.ltr .hk_whole_desc,

.ltr .hk_whole_desc .very_sm ,
.ltr .hk_whole_desc .small,
.ltr .hk_whole_desc .medium,
.ltr .hk_whole_desc .large{
    float: left;
    text-align: left;
}

.ltr .hk_whole_desc div {
    border-right: 1px solid #d5d5d5;
}

.ltr .hk_whole_desc div:last-child {
    border-right: none;
}

/*message*/

.ltr .message_list_row,
.ltr .message_list_row .msg_one,
.ltr .message_list_row .msg_three,
.ltr .message_list_row .msg_two,
.ltr .message_list_row .msg_four,
.ltr .msg_field label,
.ltr .msg_field input,
.ltr .msg_field textarea,
.ltr .msg_field,
.ltr .sender_img,
.ltr .sender_name,
.ltr .sender_desc,
.ltr .seder_title,
.ltr .seder_title span,
.ltr .feature_checkbox .feature_check_wrap,
.ltr .bm_photo{
    float: left;
}

.ltr .message_list_row div {
    padding-left: 1%;
}

.ltr .seder_title span {
    padding-right: 5px;
}

.ltr select {
    padding: 4px 3px 4px 0
}

.ltr .bm_photo .photo {
    margin-left: 0
}


.ltr .bm_ad_more a.ddMoreImage  {
    margin-left: 0px;
}

.ltr .seperation10 {
    margin-left: 10px;
}

.ltr .admin_nav_wrapper {
    margin-left: 14%
}

.ltr .operation a.icon_ad {
    background: url("ad_icon.jpg") no-repeat 3px 5px;
    padding-bottom: 5px;
}

.ltr .operation a.icon_del {
    background: url("delete_icon.jpg") no-repeat 3px 5px;
}

.ltr .operation a.icon_cancel {
    background: url("cancel.jpg") no-repeat 3px 5px;
    padding-bottom: 5px;
}

.ltr .guest_no div,
.ltr .guest_no span,
.ltr #housekeeping_status{ float: left;}

.ltr .rm_cross {
    right: 5px ;
}

.ltr ul.auto_complete_results,
.ltr div.auto_complete ul li,
.ltr div.auto_complete ul li .room{
    float: left;
}

.ltr .auto_complete_results li.adult {
    background: url("adult_icon.png") no-repeat left;
}

.ltr .auto_complete_results li.child {
    background: url("child_icon.png") no-repeat left;
}

.ltr .group_type_tab {
    margin-left: -0.5px;
}

.ltr #housekeeping_status{ margin-right: 3px}

.ltr .chk_details_balance label,
.ltr .chk_details_name label{
    padding-right: 3px;
}

.ltr .prof_single_col,
.ltr .group_auto_complete input,
.ltr .group_auto_complete a,
.ltr .prof_single_col label,
.ltr .auto_complete_loading_wrapper,
.ltr .v-align span,
.ltr .ui-widget-content a{
    float: left;
}

.ltr img.edit_info {
    margin-left: 0px
}

.ltr .ui-widget-content a.addMoreAllocatedRoom {
    float: right;
}

.ltr  a.addMoreDependent img {
    margin-right: 6px;
}

.ltr .v-align span input[type="checkbox"] {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

.ltr .total_guests input,
.ltr .ad_tab_pos {
    margin-right: 5px
}

.ltr table.ui-datepicker-calendar td a {
    float: none !important;
}


.ltr .sl_hotel .m_room_type select,
.ltr .sl_hotel .m_room_type,
.ltr .gi_intendation .brand_row,
.ltr .gi_intendation .brand_row label,
.ltr .gi_intendation .brand_row input {
    float: left !important;
}

.ltr .sl_hotel .m_room_type select {
    margin-left: 10px;
}

.ltr .stay_view_one_third .qv_row {
    margin-left: 1% !important;
    float: left;
}

.ltr .ad_tab_pos {
    float: right !important;
}

.ltr .hotel_type_tab ul li a:hover,
.ltr .hotel_type_tab ul li a.h_tab_select   {
    border-left: 1px solid #6C9700;
    border-right: 1px solid #6C9700;
    margin-left: -1px;
}

.ltr .resrv_prof_desc .desc_half{
    border-right: 1px solid #d5d5d5;
}

.ltr .resrv_prof_desc .desc_half:last-child{
    border-right: none;
}

.ltr .context-menu-theme-gloss .context-menu-item .context-menu-item-inner{
    float: left;
}
.ltr .gp_stay_links{
    float: right;
}

.ltr .tabular_fullwidth tr td,
.ltr .tabular_fullwidth tr th,
.ltr .tabular_with_margin tr td,
.ltr .tabular_with_margin tr th{
    border-right: 1px solid #d5d5d5;
}

.ltr .tabular_fullwidth tr td:last-child, .tabular_fullwidth tr th:last-child,
.ltr .tabular_with_margin tr td:last-child, .tabular_with_margin tr th:last-child{
    border-right: none;
}

.ltr .gp_stay_links a {
    float: right;
    margin-left: 8px;
}

.ltr .rm_view_notification {
    right: -12px;
}

.ltr .lb_from_row, .ltr .lb_from_row label, .ltr .lb_from_row input {
    float:left;
}

.ltr .no_side_border {
    border-right: none !important;
}

.ltr .sl_hotel_other .h_date,
.ltr .rm_night{
    margin-left: 2%
}

.ltr .custom_marker,
.ltr .custom_marker input[type="checkbox"],
.ltr .rm_night .night_label,
.ltr .service_category_row{
    float: left;
}

.ltr .fl_right {
    float: right!important;
    margin-right: 1%;
}

.ltr .task_form_container .chzn-container .chzn-results {
    float: left;
}

.ltr .chk_gap,
.ltr .edit_wrapper .brand_row span input[type="radio"]{
    margin-right: 5px;
}

.ltr .chk_more_wrap .more_options_fix_position .serv_col:first-child {
    text-align: center
}

.ltr .dp_list input[type="radio"],
.ltr .dp_list label,
.ltr .repeatable_service .serv_col span {
    float: left;
}

.ltr .dp_list label {
    padding-right: 5%;
}

.ltr .chzn-select.select_room .chzn-results {
    float: left;
    width: 215px;
}

.ltr .chzn-select.select_department .chzn-results {
    float: left;
    width: 215px;
}

.ltr .chzn-select.select_department_user .chzn-results {
    float: left;
    width: 215px;
}

.ltr .rcc_wrap input,
.ltr .rcc_wrap label,
.ltr .rcc_wrap {
    float: left;
}

.ltr .edit_wrapper .manage_input label,
.ltr .rpt_choose span{
    padding-right: 3%;
}

.ltr #user_avatar_to_replace .branch_thumb,
.ltr #user_avatar_to_replace span.pointer {
    float: left;

}

.ltr #user_avatar_to_replace .branch_thumb {
    margin-right: 15px;
}

.ltr .serv_col_head,
.ltr .rpt_choose,
.ltr .rpt_choose input[type="radio"],
.ltr .rpt_choose span,
.ltr .graph_icon a,
.ltr .graph_wrap ,
.ltr .graph_border,
.ltr .add_task .msg_field ,
.ltr .add_task .msg_field label,
.ltr .add_task .msg_field input[type="text"],
.ltr .add_task .msg_field select,
.ltr .chkAdons,
.ltr .chkAdons  label{
    float: left;
}

.ltr .rpt_base label{
    padding-right: 1%
}

.ltr .rpt_base select,
.ltr .rpt_base input,
.ltr .chkAdons  select,
.ltr .grps_wrap label{
    margin-right: 1%
}

.ltr .graph_icon a {
    margin-right: 4%;
}

.ltr .graph_border {
    margin-right: 1.75%
}

.ltr .margin_less {
    margin-left: 0 !important;
}

.ltr .admin_nav_wrapper ul li,
.ltr .grps_wrap label,
.ltr .email_other .manage label{
    float: left;
}

.ltr .menu li ul a {
    float: left;
    padding-left: 10px;
}

.ltr .left15 {
    margin-left: 15px;
}

.ltr .treeview li strong {
    text-align: left;
    float: left;
    width: 100%;
}

.ltr .task_form_container .msg_field label,
.ltr .task_form_container .msg_field .msg_receipt{
    float: left;
}

.ltr .progress-bar {
    border-left: 1px solid #D5D5D5;
}

.ltr .counter-row {
    margin-left: 30%;
}

.ltr .counter-row .title {
    float: left;
}

.ltr .counter-row .value {
    float: right;
}

.ltr .add-task .msg_receipt select {
    margin-right: 6%
}

.ltr .txt-align{
    text-align: left;
}

/*last*/

.ltr .gap-right {
    margin-right: 1%;
}

.ltr .pad-right20 {
    margin-right: 20%;
}

.ltr .minicolors-swatch {
    float: left !important;
}