/* -------------------------------------------------------------------------------------------------

Powered By : Tasawr Interactive
CSS author : Mosaddek
Start Date : 27-02-2012

----------------------------------------------------------------------------------------------------*/

body.rtl {
    text-align: right;
    direction: rtl;
}

.rtl .start,
.rtl .header,
.rtl a.logo,
.rtl .slide_wrap,
.rtl .slide_content,
.rtl .sliding_img,
.rtl .sld_trns_bg,
.rtl .sld_thum,
.rtl .sld_desc,
.rtl .sld_desc p,
.rtl .reg_row,
.rtl a.slide_prev,
.rtl .reg_row p,
.rtl .start,
.rtl .rb_sign,
.rtl .moteel_search_box,
.rtl .moteel_search_one,
.rtl .moteel_search_two,
.rtl .moteel_search_three,
.rtl .mtl_src_heading_one,
.rtl .mtl_src_heading_two,
.rtl .mtl_src_heading_three,
.rtl .moteel_search_two input[type="text"],
.rtl input.srch_btn,
.rtl a.srch_btn {
    float: right;
}

.rtl .sign_row,
.rtl .sign_row ul,
.rtl .sign_row ul li {
    float: left;
}

.rtl .sign_row ul li {
    padding-right: 5px;
}

.rtl .sld_desc {
    margin-right: 20px;
}

.rtl .reg_row {
    margin-right: 25px
}

/*.rtl a.slide_prev {*/
    /*margin-right: -35px;*/
    /*background: url("../../images/dashboard/slide_next.png") no-repeat;*/
/*}*/

/*.rtl a.slide_next {*/
    /*margin-left: -35px;*/
    /*background: url("../../images/dashboard/slide_prev.png") no-repeat;*/
/*}*/

.rtl a.slide_next,
.rtl a.lst_moteel_btn {
    float: left
}

.rtl .rb_sign {
    margin-right: 70px;
    background: url(../../images/dashboard/ar/rb_sign.jpg) no-repeat;
}

.rtl a.lst_moteel_btn {
    margin-left: 30px;
}

.rtl .mtl_src_heading_one {
    padding-right: 45px;
    background: url(../../images/dashboard/search_icon_set.png) no-repeat 321px 0;
}

.rtl .mtl_src_heading_two {
    padding-right: 45px;
    background: url(../../images/dashboard/search_icon_set.png) no-repeat 336px -36px
}

.rtl .mtl_src_heading_three {
    padding-right: 45px;
    background: url(../../images/dashboard/search_icon_set.png) no-repeat 181px -72px;
}

.rtl .moteel_search_one input[type="text"] {
    float: left;
    margin-left: 45px;
}

.rtl .moteel_search_two input[type="text"] {
    margin-left: 10px
}

.rtl input.srch_btn,
.rtl a.srch_btn {
    background: url(../../images/dashboard/ar/sign_now_btn.png) no-repeat;
    padding-right: 20px;
    text-align: right;
}

.rtl .content .infoboxes label.select {
    color: #737380;
    font-size: 16px;
    display: block;
    padding-left: 10px;
}

/**/

.rtl .know_more,
.rtl .horizontal_divider,
.rtl .more_thumb,
.rtl .more_thumb a,
.rtl .more_thumb a img,
.rtl .footer,
.rtl .footer_link,
.rtl .footer_link ul,
.rtl .footer_link ul li,
.rtl .inner_bot_shade {
    float: right
}

.rtl .more_thumb a,
.rtl .footer_link ul li {
    margin-left: 7px;
}

.rtl .no_margin {
    margin-left: 0 !important
}

.rtl .social_icon_row,
.rtl .welcome span,
.rtl .welcome{
    float: left
}

.rtl a.facebook {
    background: url("../../images/dashboard/sotial_link.jpg") no-repeat -30px;
    float: left;
    margin-right: 10px;
}

.rtl a.twiter {
    background: url("../../images/dashboard/sotial_link.jpg") no-repeat 0px;
    float: left;
}

/*inner page*/

.rtl .welcome span {
    padding-right: 5px
}

.rtl .inner_page_content,
.rtl .wizard_nav,
.rtl .wizard_nav ul,
.rtl .wizard_nav ul li,
.rtl .wizard_nav ul li a,
.rtl .wizard_nav ul li a.active,
.rtl .steps_row,
.rtl .inner_main_content,
.rtl .inner_sidebar,
.rtl .form_wrap,
.rtl .double_input_row,
.rtl .double_input_row label,
.rtl .double_input_row input[type="text"],
.rtl .single_input_row,
.rtl .single_input_row label,
.rtl .single_input_row input[type="text"],
.rtl .single_input_row input[type="password"] {
    float: right;
}

.rtl .second_field {
    margin-right: 2%;
}

.rtl .verticle_divider {
    background: url("../../images/dashboard/verticle_divider.jpg") repeat-y left
}

.rtl .inner_sidebar {
    margin-right: 20px
}

.rtl input.single_submit,
.rtl input.continue_btn,
.rtl a.single_submit,
.rtl a.continue_btn {
    background: url("../../images/dashboard/ar/sm_btn.jpg") no-repeat right;
    padding-right: 20px;
    text-align: right;

}

.rtl input.cancel_btn,
.rtl a.cancel_btn {
    background: url("../../images/dashboard/ar/cancel_btn.jpg") no-repeat right;
    padding-right: 20px;
    text-align: right;
}

.rtl input.single_submit,
.rtl a.single_submit {

}

/**/

.rtl .steps {
    float: right;
}

.rtl .step_center_position {
    margin-right: 35%;
}

.rtl .steps .st_1, .rtl .steps .st_2, .rtl .steps .st_3, .rtl .steps .st_4, .rtl .steps .st_5, .rtl .steps .st_6, .rtl .steps .st_7, .rtl .steps .line {
    float: right;
}

/**/

.rtl .side_list,
.rtl .side_list ul,
.rtl .side_list ul li,
.rtl .side_desc,
.rtl .side_desc p,
.rtl .single_input_row textarea {
    float: right;
}

.rtl .side_list ul li {
    margin-right: 10px;
    list-style: disc;
}

.rtl .loc_map,
.rtl .inner_full_width,
.rtl .notice_box,
.rtl .notice_box p {
    float: right;
}

.rtl .skip_btn {
    background: url("../../images/dashboard/ar/sign_now_btn.png") no-repeat right;
    padding-right: 20px;
    text-align: right;
}

.rtl .seperation {
    margin-right: 25px;
}

.rtl a.external_link {
    float: left;
}

.rtl .double_btn_center {
    margin-right: 280px
}

.rtl a.extra_link_center {

}

.rtl .center_combo,
.rtl .chosse_bar,
.rtl .chosse_bar ul,
.rtl .chosse_bar ul li,
.rtl .check_role,
.rtl .check_role_individual,
.rtl .check_role_individual input[type="checkbox"],
.rtl .check_role_individual span,
.rtl .exam_txt,
.rtl .dollar,
.rtl a.full_width_link_center {
    float: right;
}

.rtl .center_combo select {
    margin-right: 0;
}

.rtl input.cancel_btn,
.rtl a.cancel_btn {

}

.rtl .chosse_bar ul li {
    margin-left: 10px;
}

.rtl .exam_txt {
    margin-right: 17%
}

.rtl .dollar {
    margin-right: 10px
}

.rtl a.full_width_link_center {
    margin-right: 45%
}

.rtl .pos_center {
    margin-right: 43%
}

/*dashboard*/

.rtl .grid_16,
.rtl .content {
    float: right;
}

.rtl .content .narrow,
.rtl .content .narrow .infoboxes,
.rtl .content .infoboxes label,
.rtl .content .infoboxes select,
.rtl .content .infoboxes h1,
.rtl .quickview h1,
.rtl .infoboxes span {
    float: right;
}

.rtl .infoboxes .changed,
.rtl .content .wide {
    float: left;
}

.rtl .infoboxes .boxinfo,
.rtl .infoboxes .boxinfo .info,
.rtl .changed .up,
.rtl .changed .down,
.rtl .changed .equal,
.rtl .changed .amount {
    float: right;
}

.rtl .infoboxes .boxinfo {
    border-left: 1px solid #D4D4D4;
}

.rtl .content .infoboxes label,
.rtl .content .infoboxes select {
    margin-left: 5px;
}

.rtl .content .infoboxes label {
    color: #73A127;
    font-size: 18px;
}

.rtl .wide .controls,
.rtl .wide .notification,
.rtl .wide .quickview,
.rtl .wide .statistics,
.rtl .slide_wrap .quickview{
    float: left;
}

.rtl .wide .controls a {
    float: right;
    margin-left: 0.88%;
}

.rtl .notification a.close {
    float: left;
}

.rtl .notification label {
    float: right;
    padding-right: 40px;
}

.rtl .success label {
    background: url('../../images/dashboard/notification.png') 100% 0px no-repeat;
}

.rtl .failure label {
    background: url('../../images/dashboard/notification.png') 100% -50px no-repeat;
}

.rtl .quickview .views,
.rtl .quickview .group,
.rtl .quickview .group ul,
.rtl .quickview .group ul li,
.rtl .quickview .group ul li a {
    float: right;
}

.rtl .wide .statistics .row,
.rtl .wide .statistics span,
.rtl .wide .statistics label,
.rtl .wide .statistics .reserve,
.rtl .wide .statistics .usage,
.rtl .wide .statistics  .chout {
    float: right;
}

/*.rtl .wide .statcontent {*/
    /*-webkit-border-top-left-radius: 5px;*/
    /*-webkit-border-bottom-left-radius: 5px;*/
    /*-webkit-border-bottom-right-radius: 05px;*/
    /*-moz-border-radius-topleft: 5px;*/
    /*-moz-border-radius-bottomleft: 5px;*/
    /*-moz-border-radius-bottomright: 05px;*/
    /*border-top-left-radius: 5px;*/
    /*border-bottom-left-radius: 5px;*/
    /*border-bottom-right-radius: 05px;*/
    /*behavior: url(PIE.htc);*/
/*}*/

.rtl .statistics ul,
.rtl .statistics ul li,
.rtl .statistics ul li a,
.rtl .wide .statcontent,
.rtl .statcontent .bundle {
    float: right;
}

.rtl .statistics .row label {
    text-align: left;
    margin-left: 2%;
}

.rtl .statistics .chout .usage label,
.rtl .statistics .chout .usage span {
    float: left;
}

.rtl .statistics .chout .usage label {
    margin-left: 0;
    margin-right: 1%;
}

.rtl .side_link_row,
.rtl a.side_link {
    float: right;
}

.rtl .infoboxes h1 {
    text-align: right
}

/**/
.rtl .transbox,
.rtl .coming_soon,
.rtl .nrw_con {
    float: right
}

.rtl .coming_soon {
    margin-right: 45%
}

.rtl #nav,
.rtl #nav ul,
.rtl #nav li {
    float: right;
}

.rtl #nav ul {
    right: -9999px;
}

.rtl #nav li:hover ul {
    right: 0;
}

.import_row {
    float: right;
}

.tp_desc {
    float: right;
}

.tp_desc span {
    padding-left: 2px;
}

.rtl .import_row, .rtl .import_row p, .rtl .import_row a.import_btn, .rtl .msg_row, .rtl .msg_row img, .rtl .msg_row span, .rtl .instruction h2, .rtl .exam_txt, .rtl .sar, .rtl .field_step {
    float: right;

}

.rtl .import_row p {
    text-align: right !important;

}

.rtl .side_link_row, .rtl a.side_link, .rtl .double_head, .rtl .manage_input_row, .rtl .manage_input, .rtl .manage_input label, .rtl .manage_input select, .rtl .manage_input input, .rtl .m_sel_row, .rtl .m_sel_desc, .rtl .editable_row, .rtl .m_sel_row input, .rtl .m_sel_row span, .rtl .tp_desc, .rtl .tp_desc span, .rtl .editable_general {
    float: right;
}

.rtl a.head_link, .rtl .editable_row ul, .rtl .editable_row ul li, .rtl .editable_general ul, .rtl .editable_general ul li {
    float: left;
}

.rtl .wide_row .all_brances select, .rtl .brand_row select, .rtl .manage_input select {
   /* padding: 0px 5px 5px 5px;*/
}

.rtl .seperate {
    /*margin-right: 3%;*/
}

.rtl .flash_message,
.rlt .flash_message .notification {
    float: right;
}

.rtl .breadcum,
.rtl .breadcum  a,
.rtl .breadcum  span,
.rtl .breadcum  a.bread_sel {
    float: right;
}

.rtl .breadcum  a,
.rtl .breadcum  span {
    padding-left: 5px
}

.rtl .manage_input .dt_txt, .rtl .manage_input .dt_txt input {
    float: right;
}

.rtl .dt_txt img {
    float: left;
}

.rtl .bi_row {
    float: right;
}

.category_label, .featuedRow .category, span.category_checkbox, .category_box {
    float: right;
}

.rtl .ci_row, .rtl .prf_owner_info, .rtl .prf_img, .rtl .prf_img_desc, .rtl .vp_row, .rtl .vp_row_info, .rtl .vp_row_info p, .rtl .vp_row_info label, .rtl .vp_row_info b, .rtl .vp_row_info span, .rtl .vp_row_info h1, .rtl .cn_row, .rtl .cn_row label, .rtl .cn_row input, .rtl .cn_row span {
    float: right;
}

.rtl .manage_input .dt_txt, .rtl .manage_input .dt_txt input, .rtl .bi_table, .rtl .bi_date, .rtl .bi_amnt, .rtl .bi_cn, .rtl .bi_note, .rtl .bi_row, .rtl .pagination {
    float: right;
}

.rtl .manage_input input, .rtl .cn_row input {
    margin-left: 10px;
    padding-right: 5px;
}

.rtl .bm_img, .rtl .bm_img_desc, .rtl .bm_img_desc span, .rtl .bm_img_desc p, .rtl a.change_pic, .rtl .bm_img_row, .rtl .bm_link_row, .rtl .bm_link_row ul, .rtl .bm_link_row ul li, .rtl .bm_link_row ul li a.select_bm, .rtl .ci_date, .rtl .ci_editable {
    float: right;
}

.rtl .bm_img_desc {
    margin-right: 5%;
}

.rtl .bm_link_row ul li {
    margin-left: 2%;
}

/**/

.rtl .trans_car {
    background: url("../../images/dashboard/ar/trans_car.png") no-repeat left bottom;
    bottom: 0px;
    position: relative;
}

.rtl .sign_box,
.rtl .trans_car,
.rtl .sign_head_one h1,
.rtl .sign_head_two h2,
.rtl .sign_tab,
.rtl .sign_tab ul,
.rtl .sign_tab ul li,
.rtl .sign_tab ul li a,
.rtl .sign_tab ul li a.active_sign_tab,
.rtl .signbox_desc,
.rtl .signbox_row,
.rtl .signbox_row label,
.rtl .signbox_row input,
.rtl .signbox_row input [type="checkbox"],
.rtl .signbox_row .remember,
.rtl input.login_btn,
.rtl .raakib_id_row,
.rtl .raakib_id_row p,
.rtl .full_wd,
.rtl .full_wd a.sign_up_link,
.rtl .full_wd span,
.rtl .m_easy,
.rtl .tag_title_border,
.rtl .tag_row {
    float: right;
}

.rtl .sign_box,
.rtl .raakib_id_row {
    margin-right: 7%
}

.rtl .sign_tab ul li a.active_sign_tab {
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3
}

.rtl .no_bor_log {
    border-right: 0px !important
}

.rtl .no_bor_signup {
    border-left: 0px !important
}

.rtl .signbox_row a.forgot_pwd {
    float: left
}

.rtl input.login_btn {
    margin-right: 30%
}

.rtl .edit_wrapper, .rtl .edt_input, .rtl .feature_edit, .rtl .milegae_input {
    float: right;
}

.rtl .ctwscontainer .wide_row, .rtl .ctwscontainer .narrow_row, .rtl .container div .ctwscontainer .narrow_row .instruction p, .rtl .ctwscontainer .narrow_row .instruction, .rtl a.creatbran, .rtl .wide_row .all_brances, .rtl .wide_row .all_brances select, .rtl input.cancel_btn, .rtl a.next_btn, .rtl .all_branches_btns, .rtl .create_car, .rtl .select_car, .rtl .carType, .rtl .or, .rtl a.carType_btn, .rtl .all_brances_btn_row, .rtl .breadcum, .rtl .breadcum a, .rtl .breadcum span, .rtl .breadcum a.bread_sel, .rtl .car_input_row, .rtl .car_input_row label, .rtl .car_input_row input, .rtl .car_row, .rtl .tag_title_border, .rtl .tag_row, .rtl .brand_row, .rtl .brand_row label, .rtl .brand_row select, .rtl .brand_row textarea, .rtl .brand_row span, .rtl .feature_checkbox, .rtl .feature_checkbox input, .rtl .feature_checkbox span, .rtl .brand_row input, .rtl .sign_narrow_row {
    float: right;
}

.rtl .center_postion {
    margin-right: 65%;
}

.rtl a.print_link {
    background: url("../../images/dashboard/print_icon.png") no-repeat scroll right center transparent;
    float: left;
    height: 27px;
    padding-right: 40px;
}

.rtl .chk_details, .rtl .srv_details, .rtl .srv_take_row, .rtl .srv_take_row_other, .rtl .srv_total {
    float: right;
}

.rtl .srv_take_row {
    margin-left: 2%;
}

.rtl .guest_detail_info, .rtl guest_detail, .rtl .guest_recommendation, .rtl .vp_row_info select {
    float: right;
}

.rtl .wide_row .all_brances select, .rtl .brand_row select, .rtl .manage_input select, .rtl .vp_row_info select {
   /* padding: 5px 0 5px 5px;*/
}

.rtl .layoutTheme {
    background: #f0f0f0;
    margin: 10px 0 10px 10px;
    float: right;
    border: 1px solid #ccc;
}

.rtl .layoutTheme .icon {
    text-align: center;
    padding: 5px;
}

.rtl .layoutTheme .icon img {
    height: 90px;
}

.rtl .layoutTheme .options {
    font-size: 80%;
    background: #fff;
    padding: 3px;
    text-align: center
}

.rtl .layoutTheme .options img {
    border: 0
}

.rtl .selected, .layoutTheme:hover {
    background: aquamarine;
    cursor: pointer;
}

.rtl .wide_wrapper {
    float: left;
}

.rtl #remarks-3-5 span {
    padding-left: 5px;
}

.rtl .guest_recommendation p {
    text-align: right
}

.rtl .cn_row label {
    float: right;
}

.rtl .prf_owner_info,
.rtl .prf_member_info,
.rtl .prf_img {
    float: right;
}

.rtl .prf_img_desc {
    padding-right: 2%;
}

.rtl .prf_member_info {
    float: left;
    text-align: left;
}

.rtl .ci_row a {
    float: right !important;
}

.rtl .serviceAmountNote,
.rtl .serviceAmountNote label,
.rtl .serviceAmountNote textarea,
.rtl .serviceAmount,
.rtl .serviceAmount label,
.rtl .serviceAmount input {
    float: right !important;
}

.rtl .serviceAmountNote .srvAmntBtn {
    float: right;
    margin-right: 30%;
}

.rtl input.arText, .rtl .arText {
    text-align: right;
}

.rtl .q_msg_row,
.rtl .q_msg_row p {
    float: right;
}

.rtl input.enText, .rtl .enText {
    text-align: left;
}
.rtl .vp_row_info input,
.rtl .vp_row_info select{
    float: right;
}

.rtl .btn_pos {
    margin-right: 22%
}

.rtl .brand_row .feature_checkbox {
    float: right;
}

.rtl .brand_row .feature_checkbox span,
.rtl .asignRole-col,
.rtl .vp_row .vp_row_info input[type="text"]#user_email,
.rtl .vp_row .vp_row_info select{
    float: right;
}

.rtl .brand_row #hotel_starting_hour_5i,
.rtl .brand_row #hotel_ending_hour_5i{
    margin-right: 10px;
}

.rtl .feature_other,
.rtl .single_am,
.rtl .single_am input[type="checkbox"]{
    float: right;
}

/*room availability*/

.rtl .hotel_type_row,
.rtl .sl_hotel,
.rtl .sl_hotel_chose,
.rtl .sl_hotel select,
.rtl .h_date .dt_txt,
.rtl .h_date,
.rtl .h_date label{
    float:  right;
}

.rtl .sl_hotel_other,
.rtl .s_delux select,
.rtl .h_date select{
    float: left;
}

.rtl .sl_hotel select,
.rtl .s_delux select,
.rtl .h_date select{
    padding: 4px 0 5px 5px;
}

.rtl .h_date .dt_txt input {
    padding-right: 5px
}

.rtl .side {
    float: left !important;
}

.rtl .s_delux select {
    margin-left: 2%;
}

.rtl .hotel_type_tab ul,
.rtl .hotel_type_tab ul li,
.rtl .hotel_type_tab ul li a,
.rtl .hotel_type_tab ul li a.h_tab_select{
    float: right;
}

.rtl .m_room_type,
.rtl .select_rm_type,
.rtl .select_rm_type input[type="checkbox"]{
    float: left;
}

.rtl .select_rm_type .non_smoking,
.rtl .select_rm_type .maintenance,
.rtl .select_rm_type .cleaning,
.rtl .select_rm_type span.dirty,
.rtl .select_rm_type span.inspect,
.rtl .select_rm_type span.repair,
.rtl .select_rm_type span.touch_up,
.rtl .custom_marker span{
    float: left;
}

.rtl .room_view_row,
.rtl .room_view_box{
    float: right;
}

.rtl .room_view_box,
.rtl .id_desc{
    margin-right: 1%;
}

.rtl .room_identy_row,
.rtl .identy_col_row,
.rtl .available_color,
.rtl .id_desc,
.rtl .reserved_color,
.rtl .keeping_color,
.rtl .maintenance_color{
    float: right;
}

/*.rtl .sl_hotel select {*/
    /*margin-left: 1.8%;*/
/*}*/

/*.rtl .side_curv_st_view {*/
    /*-moz-border-radius-topleft: 0px;*/
    /*-moz-border-radius-topright: 3px;*/
    /*-moz-border-radius-bottomright: 3px;*/
    /*-moz-border-radius-bottomleft: 0px;*/
    /*-webkit-border-radius: 0px 3px 3px 0px;*/
    /*border-radius: 0px 3px 3px 0px;*/
/*}*/

/*.rtl .side_curv_qk_view {*/
    /*-moz-border-radius-topleft: 3px;*/
    /*-moz-border-radius-topright: 0px;*/
    /*-moz-border-radius-bottomright: 0px;*/
    /*-moz-border-radius-bottomleft: 3px;*/
    /*-webkit-border-radius: 3px 0px 0px 3px;*/
    /*border-radius: 3px 0px 0px 3px;*/
/*}*/

/*stay view*/

.rtl .stay_view,
.rtl .grid_header{
    float: right;
}

.rtl .stay_view{
    margin-right: 2%;
}

.rtl .entity_type_tittle,
.rtl .date_tittle,
.rtl .date_single_row,
.rtl .grid_info,
.rtl .total_booking,
.rtl .item_type{
    float: right;
}

.rtl .entity_type_tittle,
.rtl .date_single_row,
.rtl .total_booking,
.rtl .item_type{
    border-left: 1px solid #fff;
}

.rtl .item_type span {
    padding-right: 5% ; text-align: right;
}

.rtl ._a ,
.rtl ._b {
    float: right;
}

.rtl .op_outer {
    float: left;;
    margin-left: 4%;
}

.rtl .reserved p,
.rtl .stay_over p,
.rtl .maintenance p,
.rtl .due_out p,
.rtl .checked_out p{
    text-align: right;
}

.rtl .identy_col_row_other,
.rtl .due_out_color,
.rtl .qv_desc_row,
.rtl .qv_desc_row .wide_row,
.rtl .qv_desc_row .narrow_row,
.rtl .guest_info,
.rtl .guest_type,
.rtl .fi_row,
.rtl .sel_date,
.rtl .fi_light_box_row,
.rtl .fi_head,
.rtl .fi_head h1,
.rtl .fi_date_row,
.rtl .light_date,
.rtl .fi_details,
.rtl .fi_details .qv_desc_row {
    float: right;
}

.rtl .qv_row ,
.rtl .qv_info,
.rtl a.fi_light_box{
    float: right;
    margin-right: 2%;
}

.rtl .qv_row h2 {
    padding-right: 2%;
}

.rtl .check_in_guests_container .qv_row h2 {
    padding-right: 1%;
}

.rtl a.fi_close {
    float: left;
}

.rtl .fi_details .qv_desc_row .guest_info,
.rtl .fi_details .qv_desc_row .guest_type{
    float: right;
}

.rtl .check_in_color {
    float: right;
}

.rtl .room_identy_row .available,
.rtl .room_identy_row .reserved,
.rtl .room_identy_row .keeping,
.rtl .room_identy_row .due_out,
.rtl .room_identy_row .checked_in,
.rtl .room_identy_row .checked_out,
.rtl .room_identy_row .stay_over,
.rtl .room_identy_row .maintenance  {
    float: right;
}


.rtl .grid_info .overlapped {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.rtl .grid_info .reverse_strip {
    -webkit-border-radius: 30px 0 0 30px!important;
    -moz-border-radius: 30px 0 0 30px!important;
    border-radius: 30px 0 0 30px!important;
}

.rtl .oops_txt,
.rtl .room_identy_row .locked,
.rtl .srv_details select,
.rtl .srv_details label{
    float: right;
}

.rtl a.submit_light_box {
    float: right;
    margin-right: 2%;
}

.rtl a.stay_view_next {
    float: left;
}

.rtl a.stay_view_next {
    background: url("../../images/dashboard/slide_prev.png") no-repeat scroll 0 0 transparent;
    margin-right: -15px;
}

.rtl a.stay_view_pre {
    background: url("../../images/dashboard/slide_next.png") no-repeat scroll 0 0 transparent;
    margin-right: -22px;
}

.rtl a.stay_view_pre,
.rtl .moteel_video,
.rtl .video_wrap,
.rtl .moteel_video .inquery,
.rtl .coming_soon_row {
    float: right;
}

.rtl a.comming_soon_btn{
    float: left;
}

.rtl .btn_speration,
.rtl .coming_soon_row{
    margin-right: 35px;
}

.rtl .middle {
    margin-right: 18%;
}

.rtl .middle_room {
    margin-right: 5%;
}

/*coming soon*/

.rtl .cm_banner_row,
.rtl .cm_txt,
.rtl .cm_video,
.rtl a.cm_btn,
.rtl .cm_feature_row,
.rtl .cm_feature,
.rtl .inc_easy,
.rtl .acc_anywhere,
.rtl .web_builder,
.rtl .cm_feature h1,
.rtl .cm_feature p,
.rtl .cm_footer,
.rtl a.tasawr_logo_footer,
.rtl .cm_footer p{
    float: right;
}

.rtl .cm_feature {
    background: url("../../images/dashboard/cm_feature_bg.png") no-repeat left;
}

.rtl .cm_feature {
    margin-left: 20px;
}

.rtl .no_bg {background: none}

.rtl .inc_easy,
.rtl .acc_anywhere,
.rtl .web_builder {
    margin-right: 95px;
}

.rtl .cm_social,
.rtl a.cm_facebook,
.rtl a.cm_tweeter{
    float: left;
}

.rtl .check_in_form_container .qv_row,
.rtl .check_in_form_container .qv_info,
.rtl .check_in_form_container a.fi_light_box{
    margin-right: 1%;
}

.rtl .right {
    float: left;
}

.rtl .half_size .chk_details {
    float: right;
}

.rtl .horizontal_separator {
    float: right;
    width: 60%;
}

.rtl .checkin_info .info_first_col,
.rtl .checkin_info .info_second_col,
.rtl .checkin_info span,
.rtl .checkin_info label
{
    float: right;
}

.rtl .checkin_info .info_col {
    width: 100%;
    padding: 10px 0 10px 0;
}

.rtl .checkin_info .info_first_col {
    width: 60%;
}

.rtl .checkin_info .info_second_col {
    width: 40%;
}

.rtl .checkin_info label {
    color: #73A127;
}

.rtl .checkin_info .charge_info label {
    width: 35%;
}

.rtl .printable_space {
    margin-right: 10px;
}

.rtl .ad_more_btn {
    float: left;
}

/**/

.rtl .permission_group_name,
.rtl .permission_activities,
.rtl .permission_row,
.rtl .permission_new_row,
.rtl .permission_feature_row,
.rtl .permission_option ,
.rtl .permission_option input[type="checkbox"],
.rtl .permission_option span{ float: right;}

.rtl .bullet {
    float: right;
    margin-left: 10px;
}

.rtl a.permission_info {
    float: right;
    margin-right: 8px;
}

.rtl .permission_option input[type="checkbox"] {
    margin-left: 5px;
}

.rtl .service_row,
.rtl .serv_col,
.rtl .col_row,
.rtl .payment_col,
.rtl .paymnt_type,
.rtl .pmnt_1,
.rtl .pmnt_2,
.rtl .pmnt_3,
.rtl .pmnt_4,
.rtl .rm_1,
.rtl .rm_2,
.rtl .rb_row,
.rtl .rb_col,
.rtl .rm_info{
    float: right;
}

.rtl .serv_col ,
.rtl .serv_col_head{
    border-left: 1px solid #d5d5d5;
}

.fi_head a.fi_close {
    margin-left: -5px;
}

.rtl .group_tab ul {
    margin-right: 14% ;
}

.rtl .manage_input_full label,
.rtl .manage_input_full span,
.rtl .manage_input_full input {
    float: right;
}

.rtl .manage_input_full span,
.rtl .manage_input_full input {
    margin-left: 5px;
}

.rtl .assingment-container .seperate {
    margin-right: 0.5%;
}

.rtl .associate_list div,
.rtl .associate_list span {
    float: right;
}

/**/

.rtl .group_list,
.rtl .group_list ul,
.rtl .group_list ul li,
.rtl .room_list_wrap,
.rtl .room_list_wrap h1 {
    float: right;
}

.rtl .group_list ul {
    margin-right: 8%;
}

.rtl .group_list a.minimize {
    background: url("../../images/dashboard/minimize.jpg") no-repeat right;
    padding-right: 20px;
}

.rtl .group_list a.maximize {
    background: url("../../images/dashboard/maximize.jpg") no-repeat right;
    padding-right: 20px;
}

/*.rtl .wizard_nav ul li a.first_child {*/
    /*-webkit-border-radius: 0px 5px 5px 0px;*/
    /*border-radius: 0px 5px 5px 0px;*/
/*}*/

/*.rtl .wizard_nav ul li a.last_child {*/
    /*-webkit-border-radius: 5px 0px 0px 5px;*/
    /*border-radius: 5px 0px 0px 5px;*/
/*}*/

.rtl .room_list_wrap h1 {
    text-align: right !important;
}

.rtl .operation,
.rtl .operation a{
    float: left;
}

.rtl .operation a {
    margin-right: 5px;
    padding: 5px 25px 3px 5px;
}

.rtl .room_list_breadcrumb,
.rtl .room_list_breadcrumb a,
.rtl .room_list_breadcrumb span,
.rtl .room_listing_desc,
.rtl .col_wrap,
.rtl .col_1,
.rtl .col_2,
.rtl .col_3,
.rtl .col_4,
.rtl .col_5,
.rtl .col_6,
.rtl .col_7,
.rtl .col_8,
.rtl ul.edit_view,
.rtl ul.edit_view li{
    float: right;
}

.rtl .side_bor {
    border-left:1px solid #d5d5d5;
}

.rtl .col_3,
.rtl .col_4,
.rtl .col_5,
.rtl .col_6,
.rtl .col_7,
.rtl .col_8 {
    padding-right: 1%;
}

.rtl ul.edit_view li {
    margin-left: 2px;
}

.rtl .group_type_tab ul li {
    margin-left: 5px;
}

.rtl .cn_row span{
    margin-left: 10px;
}

.rtl .group_type_tab,
.rtl .group_type_tab ul,
.rtl .group_type_tab ul li,
.rtl .group_type_tab ul li a{
    float: right;
}

.rtl .treeview_menu a.expanded {
    background:  url('../../images/dashboard/minimize.jpg') no-repeat right ;
    padding-right: 20px;
    margin-right: 5%;
}
.rtl .treeview_menu a.collapsed {
    background:  url('../../images/dashboard/maximize.jpg') no-repeat right;
    padding-right: 20px;
    margin-right: 5%;
}

.rtl .treeview_menu a {
    padding: 2px 5% 2px 0px;
}

.rtl .chk_head_item_wrap {
    margin-left: 10px;
}

.rtl .start_next {
    float: left;
}

/**/

.rtl .chk_table .col_1,
.rtl .chk_table .col_2,
.rtl .chk_table .col_3,
.rtl .chk_table .col_4,
.rtl .chk_table .col_10,
.rtl .chk_table .col_12,
.rtl .chk_table .col_5,
.rtl .chk_table .col_6,
.rtl .chk_table .col_8,
.rtl .chk_table .col_7,
.rtl .chk_table .col_9,
.rtl .chk_table .col_11 {
    float:  right;
}

.rtl .group_type_tab ul li a span {
    margin-right: 6px;
    float: left;
}

.rtl .ui-tabs .ui-tabs-panel .qv_row {
    margin-right:0;
}

.rtl .ui-tabs .ui-tabs-panel .qv_row h2,
.rtl .guest_rows h2{
    padding-right: 1%;
}

.rtl .fi_head h1 {
    text-align: right;
}

.rtl .fi_light_box_row .qv_row {
    margin-right: 0px;
}

.rtl .gap10 {margin-right: 3%}

.rtl .pad_wrap .subhead-label {
    padding-left: 10px !important;
    padding-right: 0 !important;
}

.rtl .bal_row, .rtl .bal_row span {
    float:left;
}

.rtl .bal_row span {
    padding-right: 5px;
}

.rtl .mid-pos {
    margin-right: 10px;
}

/**/

.rtl .resrv_profile_row,
.rtl .resrv_prof_desc .desc_half,
.rtl .side_part {
    float: right;
}

/*.rtl .txt_align {*/
    /*text-align: left;*/
/*}*/

.rtl .more_pos {
    float: left;
    margin-left: 3%;
}

.rtl .prof_action_row ul.edit_view {
    margin-right: 30%;
}

.rtl .side_part {
    margin-left: 1.33%;
}

.rtl .side_part:last-child {
    margin-left:0;
}

.rtl .side_part h1,
.rtl .ttl_row{
    padding-right: 2%;
}

.rtl .rs_row label,
.rtl .dep_desc span,
.rtl .rs_row input,
.rtl .rs_row select,
.rtl .rs_row {
    float: right;
}

.rtl .ttl_row .single_col_left {
    float: right;
}

.rtl .ttl_row .single_col_right {
    float: left;
}

.rtl .ph_more {
    margin-right: 18%;
}

.rtl .column_field_full input,
.rtl .column_field_full input[type="checkbox"] ,
.rtl .column_field_full a {
    float: right;
}

.rtl .column_field_full input[type="checkbox"],
.rtl .column_field_full a {
    margin-right: 5px;
}

.rtl .crt_col_1,
.rtl .crt_col_2,
.rtl .crt_col_3,
.rtl .crt_col_4 {
    float: right;
    padding: 1% 1% 1% 0;
    min-height: 85px;
}

.rtl .crt_table .table-border  {
    border-left: 1px solid #d5d5d5;
}

.rtl .crt_col_1 p,
.rtl .crt_col_2 p,
.rtl .crt_col_3 p,
.rtl .crt_col_4 p,
.rtl .folio_list .first_col,
.rtl .folio_list .others_col,

.rtl .ac_state .option,
.rtl .ac_state .same,
.rtl .ac_state .desc_ac {
    float: right;
    text-align: right;
}

.rtl .total_ac,
.rtl .pmnt_type,
.rtl .pmnt_type label,
.rtl .pmnt_type select,
.rtl .pmnt_amnt,
.rtl .pmnt_amnt input,
.rtl .pmnt_desc,
.rtl .pmnt_desc input,
.rtl .column_31_p,
.rtl .column_20_p,
.rtl .hotel_payment_type_id,
.rtl .one_third,
.rtl .row{
    float: right;
}


.rtl .ad_pht .photo,
.rtl .import_row .addMoreImage{
    margin-right: 0 !important;
}

.rtl .row .column_31_p:first-child,
.rtl .column_31_p{
    margin-right: 1%
}

.rtl .bok_dls_row .pmnt_type,
.rtl .bok_dls_row .pmnt_amnt {
    margin-left: 3%;
}

/*house keeping*/

.rtl .hk_status,
.rtl .hk_row,
.rtl .hk_row label,
.rtl .hk_row span,
.rtl .hk_row p,

.rtl .hk_row .available,
.rtl .hk_row .reserved,
.rtl .hk_row .checked_in,
.rtl .hk_row .checked_out,
.rtl .hk_row .locked,
.rtl .hk_row .maintenance,
.rtl .hk_row .due_out,

.rtl .reserv_search_row,
.rtl .hk_whole_info,
.rtl .hk_whole_desc,

.rtl .hk_whole_desc .very_sm ,
.rtl .hk_whole_desc .small,
.rtl .hk_whole_desc .medium,
.rtl .hk_whole_desc .large{
    float: right;
    text-align: right
}

.rtl .hk_whole_desc div {
    border-left: 1px solid #d5d5d5;
}

.rtl .hk_whole_desc div:last-child {
    border-left: none;
}

/*message*/

.rtl .message_list_row,
.rtl .message_list_row .msg_one,
.rtl .message_list_row .msg_three,
.rtl .message_list_row .msg_two,
.rtl .message_list_row .msg_four,
.rtl .msg_field label,
.rtl .msg_field input,
.rtl .msg_field textarea,
.rtl .msg_field,
.rtl .sender_img,
.rtl .sender_name,
.rtl .sender_desc,
.rtl .seder_title,
.rtl .seder_title span,
.rtl .feature_checkbox .feature_check_wrap,
.rtl .bm_photo{
    float:  right;
}

.rtl .message_list_row div {
    padding-right: 1%;
}

.rtl .seder_title span {
    padding-left: 5px;
}

.rtl select {
    padding: 4px 0px 4px 3px;
}

.rtl .bm_photo .photo {
    margin-right: 0
}

.rtl .seperation10 {
    margin-right: 10px;
}

.rtl .admin_nav_wrapper {
    margin-right: 20%
}

.rtl .operation a.icon_ad {
    background: url("ad_icon.jpg") right no-repeat ;
    padding-bottom: 5px;
    padding-right:20px;
    margin-right: 5px;
}

.rtl .operation a.icon_del {
    background: url("delete_icon.jpg") right no-repeat;
    padding-right:20px;
    margin-right: 5px;
}

.rtl .operation a.icon_cancel {
    background: url("cancel.jpg") right no-repeat;
    padding-bottom: 5px;
    padding-right:20px;
    margin-right: 5px;
}

.rtl .guest_no div,
.rtl .guest_no span,
.rtl #housekeeping_status{ float: right;}

.rtrl .auto_complete_results {
    direction: rtl;
}

.rtl .rm_cross {
    left: 5px ;
}

.rtl ul.auto_complete_results,
.rtl div.auto_complete ul li,
.rtl div.auto_complete ul li .room{
    float: right;
}


.rtl .auto_complete_results li.adult {
    background: url("adult_icon.png") no-repeat right;
}

.rtl .auto_complete_results li.child {
    background: url("child_icon.png") no-repeat right;
}

.rtl .group_type_tab {
    margin-right: -0.5px;
}

.rtl #housekeeping_status { margin-left: 3px}

.rtl .chk_details_balance label,
.rtl .chk_details_name label {
    padding-left: 3px;
}

.rtl .prof_single_col,
.rtl .group_auto_complete input,
.rtl .group_auto_complete a,
.rtl .prof_single_col label,
.rtl .auto_complete_loading_wrapper,
.rtl .v-align span,
.rtl .ui-widget-content a{
    float: right;
}

.rtl img.edit_info {
    margin-right: 0px
}

.rtl .ui-widget-content a.addMoreAllocatedRoom   {
    float: left;
}

.rtl  a.addMoreDependent img {
    margin-left: 6px;
}

.rtl .v-align span input[type="checkbox"] {
    float: right;
    margin-top: 5px;
    margin-left: 5px;
}

.rtl .total_guests input,
.rtl .ad_tab_pos {
    margin-left: 5px
}

.rtl table.ui-datepicker-calendar td a {
    float: none !important;
}

.rtl .sl_hotel .m_room_type select,
.rtl .sl_hotel .m_room_type,
.rtl .gi_intendation .brand_row,
.rtl .gi_intendation .brand_row label,
.rtl .gi_intendation .brand_row input{
    float: right !important;
}

.rtl .sl_hotel .m_room_type select {
    margin-right: 10px;
}

.rtl .stay_view_one_third .qv_row {
    margin-right:  1% !important;
    float: right;
}

.rtl .ad_tab_pos {
    float: left!important;
}

.rtl .hotel_type_tab ul li a:hover,
.rtl .hotel_type_tab ul li a.h_tab_select   {
    border-left: 1px solid #6C9700;
    border-right: 1px solid #6C9700;
    margin-right: -1px;
}

.rtl .resrv_prof_desc .desc_half{
     border-left: 1px solid #d5d5d5;
 }

.rtl .resrv_prof_desc .desc_half:last-child{
    border-left: none;
}

.rtl .context-menu-theme-gloss .context-menu-item .context-menu-item-inner{
    float: right;
    text-align: right;
}
.rtl .gp_stay_links{
    float: left;
    text-align: right;
}

.rtl .tabular_fullwidth tr td, .rtl .tabular_fullwidth tr th,
.rtl .tabular_with_margin tr td, .rtl .tabular_with_margin tr th{
    border-left: 1px solid #d5d5d5;
}

.rtl .tabular_fullwidth tr td:last-child, .tabular_fullwidth tr th:last-child,
.rtl .tabular_with_margin tr td:last-child, .tabular_with_margin tr th:last-child{
    border-left: none;
}

.rtl .gp_stay_links a {
    float: left;
    margin-right: 8px;
}

.rtl .rm_view_notification {
    left: -12px;
}

.rtl .lb_from_row, .rtl .lb_from_row label, .rtl .lb_from_row input {
    float: right;
}

.rtl .no_side_border {
    border-left: none !important;
}

.rtl .sl_hotel_other .h_date,
.rtl .rm_night{
    margin-right: 2%
}

.rtl .custom_marker,
.rtl .custom_marker input[type="checkbox"],
.rtl .rm_night .night_label,
.rtl .service_category_row {
    float: right;
}

.rtl .fl_right {
    float: left!important;
    margin-left: 1%;
}

.rtl .task_form_container .chzn-container .chzn-results {
    float: right;
}

.rtl .chk_gap,
.rtl .edit_wrapper .brand_row span input[type="radio"]{
    margin-left: 5px;
}

.rtl .chk_more_wrap .more_options_fix_position .serv_col:first-child {
    text-align: center
}

.rtl .dp_list input[type="radio"],
.rtl .dp_list label,
.rtl .repeatable_service .serv_col span {
    float: right;
}

.rtl .dp_list label {
    padding-left: 5%;
}

.rtl .chzn-select.select_room .chzn-results {
    float: right;
    width: 215px;
}

.rtl .chzn-select.select_department .chzn-results {
    float: right;
    width: 215px;
}

.rtl .chzn-select.select_department_user .chzn-results {
    float: right;
    width: 215px;
}

.rtl .rcc_wrap input,
.rtl .rcc_wrap label,
.rtl .rcc_wrap {
    float: right;
}

.rtl .edit_wrapper .manage_input label,
.rtl .rpt_choose span{
    padding-left: 3%;
}

.rtl #user_avatar_to_replace .branch_thumb,
.rtl #user_avatar_to_replace span.pointer {
    float: right;

}

.rtl #user_avatar_to_replace .branch_thumb {
    margin-left: 15px;
}

.rtl .serv_col_head,
.rtl .rpt_choose,
.rtl .rpt_choose input[type="radio"],
.rtl .rpt_choose span,
.rtl .graph_icon a,
.rtl .graph_wrap ,
.rtl .graph_border,
.rtl .add_task .msg_field ,
.rtl .add_task .msg_field label,
.rtl .add_task .msg_field input[type="text"],
.rtl .add_task .msg_field select,
.rtl .chkAdons,
.rtl .chkAdons  label{
    float: right;
}

.rtl .rpt_base label {
    padding-left: 1%
}

.rtl .rpt_base select,
.rtl .rpt_base input,
.rtl .chkAdons  select,
.rtl .grps_wrap label{
    margin-left: 1%
}

.rtl .graph_icon a {
    margin-left: 4%;
}

.rtl .graph_border {
    margin-left: 1.75%
}

.rtl .margin_less {
    margin-right: 0 !important;
}

.rtl .admin_nav_wrapper ul li,
.rtl .grps_wrap label,
.rtl .chk_details_balance label,
.rtl .chk_details_name label,
.rtl .chk_details_balance span,
.rtl .chk_details_name span,
.rtl .email_other .manage label{
    float: right;
}

.rtl .menu li ul a {
    float: right;
    padding-right: 10px
}

.rtl .menu li ul ul {
    right: 225px;
}

.rtl .left15 {
    margin-right: 15px;
}

.rtl .treeview {
    margin-right:10px !important;
}

.rtl .treeview li strong {
    text-align: right;
    float: right;
    width: 100%;
}

.rtl .task_form_container .msg_field label,
.rtl .task_form_container .msg_field .msg_receipt {
    float: right;
}

.rtl .progress-bar {
    border-right: 1px solid #D5D5D5;
}

.rtl .counter-row {
    margin-right: 30%;
}

.rtl .counter-row .title {
    float: right;
}

.rtl .counter-row .value{
    float: left;
}

.rtl .add-task .msg_receipt select {
    margin-left: 6%
}

.rtl .txt-align{
    text-align: right;
}

/*last*/

.rtl .gap-right {
    margin-left: 1%;
}

.rtl .lightbox-list ul li {
    float: right !important;
}

.rtl .pad-right20 {
    margin-left: 20%;
}