body {font-family:'Arial'; font-size:13px; color:#414141; background:#3f3f3f !important}

.content { }

.top_bg { width:959px; background: url(/app/layouts/00/layout2/themes/theme3/images/top_bg.png) no-repeat; height:8px }

.mid_bg { width:959px; background: url(/app/layouts/00/layout2/themes/theme3/images/mid_bg.png) repeat-y;  }

.bot_bg { width:959px; background: url(/app/layouts/00/layout2/themes/theme3/images/bot_bg.png) no-repeat; height:8px }

/*-----------------------*/
a {outline:none; border:none }
.header { width:100% }

#layout_position_1 .header a img, #layout_position_2 .header a img, #layout_position_3 .header a img, #layout_position_4 .header a img, #layout_position_5 .header a img, #inner_page_content .header a img, #layout_position_6 .header a img, #layout_position_7 .header a img, #layout_position_8 .header a img { margin-top:40px; display:inline; border:none; }

/*menu bar section*/
#layout_position_2 .menuBar { width:588px; height:184px; border:8px solid #FFF; background:#d0ac89; margin-top:10px; display:inline  }

#layout_position_3 .menuBar { width:277px; height:184px; border:8px solid #FFF; background:#757575; margin-top:18px;  }

#layout_position_4 .menuBar { width:277px; height:184px; border:8px solid #FFF; background:#757575;  }

#layout_position_5 .menuBar, #inner_page_content .menuBar { width:910px; height:155px; border:8px solid #FFF; background:#757575;  }

#layout_position_6 .menuBar { width:575px; height:155px; border:8px solid #FFF; background:#757575;  }

#layout_position_7 .menuBar { width:295px; height:155px; border:8px solid #FFF; background:#757575;  }

#layout_position_6 .menuBar ul li a, #layout_position_5 .menuBar ul li a, #inner_page_content .menuBar ul li a, #layout_position_7 .menuBar ul li a  { 
  padding:0px 20px;
  display: block;
  color: #fff; 
  font-weight: normal;
  font-family: 'Myriad Pro';
  text-decoration:none;
  font-size:13px;
  border-bottom:1px solid #92bbcb 
}

#layout_position_6 .menuBar ul li a:hover, #layout_position_6 .menuBar ul li a.current,
#layout_position_5 .menuBar ul li a:hover, #layout_position_5 .menuBar ul li a.current,
#inner_page_content .menuBar ul li a:hover, #inner_page_content .menuBar ul li a.current,
#layout_position_7 .menuBar ul li a:hover, #layout_position_7 .menuBar ul li a.current

 { 
  background: #e29a00;
  text-decoration: none;
  color:#FFFFFF
}

#layout_position_6 .menuBar ul, #layout_position_7 .menuBar ul {margin-top:3px; width: 90%;   }

#layout_position_5 .menuBar ul, #inner_page_content .menuBar ul {margin-top:3px; width: 95%;   }

#layout_position_2 .menuBar ul { width: 95%; margin:0; padding:0 ;  margin-top:20px  }

#layout_position_7 .menuBar ul {margin-top:3px; width: 85%;   }

.menuBar ul { width: 80%; margin:0; padding:0 ;  margin-top:20px  }

.menuBar ul li { width:100%; list-style: none; text-transform:uppercase; }


.menuBar ul li a { 
  padding:0px 20px;
  display: block;
  line-height: 20px;
  color: #fff; 
  font-weight: bold;
  font-family: 'Arial';
  text-decoration:none;
  font-size:10px;
  border-bottom:1px solid #bababa 
}

.firstNav a { border-top:1px solid #bababa }

.menuBar ul li a:hover, .menuBar ul li a.current { 
  background: #e29a00;
  text-decoration: none;
  color:#FFFFFF
}

/*menu bar section end*/

#layout_position_2 .slide_img { width:627px; height:437px; margin-top:6px; display:inline; text-align:center  }

#layout_position_3 .slide_img { width:290px; height:251px;  margin-top:6px; display:inline; overflow:hidden; text-align:center  }

#layout_position_4 .slide_img { width:290px; height:186px;  margin-top:6px; display:inline; overflow:hidden; text-align:center  }

#layout_position_5 .slide_img, #inner_page_content .slide_img { width:951px; height:165px;  margin-top:6px; display:inline; overflow:hidden; text-align:center  }

#layout_position_6 .slide_img { width:590px; height:146px;  margin-top:6px; display:inline; overflow:hidden; text-align:center  }

#layout_position_7 .slide_img { width:315px; height:146px;  margin-top:6px; display:inline; overflow:hidden; text-align:center  }

/*search section*/
h1 {  font-family: 'Myriad Pro'; font-size:20px; text-transform:uppercase; color:#e29a00 }

#layout_position_2 .search_hotel_area h1, #layout_position_3 .search_hotel_area h1, #layout_position_4 .search_hotel_area h1, #layout_position_5 .search_hotel_area h1, #inner_page_content .search_hotel_area h1, #layout_position_6 .search_hotel_area h1, #layout_position_7 .search_hotel_area h1 {  font-family: 'Myriad Pro'; font-size:20px; text-transform:uppercase; color:#e29a00; display:none }

h1 label {color:#e29a00 }

h1 span {color:#e29a00 }
/*--------------------------------------------------------------*/


#layout_position_3 .search_box, #layout_position_4 .search_box, #layout_position_7 .search_box { width:100%; margin-bottom:20px; margin-top:20px }

#layout_position_3 .search_box_wrapper, #layout_position_4 .search_box_wrapper, #layout_position_7 .search_box_wrapper { width: 290px; margin:0 auto; }

#layout_position_3 .search_hotel_area, #layout_position_4 .search_hotel_area, #layout_position_7 .search_hotel_area { width:285px; margin-top:0px  }

#layout_position_3 .check_in, #layout_position_4 .check_in, #layout_position_7 .check_in { width:142px; margin-top:8px  }

#layout_position_3 .check_in label, #layout_position_4 .check_in label, #layout_position_7 .check_in label { width:142px; color:#757575; font-size:12px; font-weight:bold; line-height:25px   }

#layout_position_3 .check_in input, #layout_position_4 .check_in input, #layout_position_7 .check_in input { width:116px; color:#757575; font-size:11px;    }

#layout_position_3 .rooms, #layout_position_4 .rooms, #layout_position_7 .rooms { width:142px; margin-top:8px  }

#layout_position_3 .rooms label, #layout_position_4 .rooms label, #layout_position_7 .rooms label { width:142px; color:#757575; font-size:12px; font-weight:bold; line-height:25px   }

#layout_position_3 .rooms select, #layout_position_4 .rooms select, #layout_position_7 .rooms select { width:138px; color:#757575; font-size:11px;   }

#layout_position_3 .search_btn, #layout_position_4 .search_btn { width:285px; margin-top:28px; text-align:center  }

#layout_position_7 .search_btn { width:285px; margin-top:16px; text-align:center  }

/*-----------*/
#layout_position_5 .search_box, #inner_page_content .search_box { width:100%; margin-bottom:20px; margin-top:20px }

#layout_position_5 .search_box_wrapper, #inner_page_content .search_box_wrapper { width: 940px; margin:0 auto; }

#layout_position_5 .check_in, #inner_page_content .check_in { width:220px; margin-top:8px  }

#layout_position_5 .check_in label, #inner_page_content .check_in label { width:220px; color:#815743; font-size:12px; font-weight:bold; line-height:25px   }

#layout_position_5 .check_in input, #inner_page_content .check_in input { width:180px; color:#ab9b84; font-size:11px;    }

#layout_position_5 .rooms, #inner_page_content .rooms { width:200px; margin-top:8px  }

#layout_position_5 .rooms label, #inner_page_content .rooms label { width:200px; color:#815743; font-size:12px; font-weight:bold; line-height:25px   }

#layout_position_5 .rooms select, #inner_page_content .rooms select { width:180px; color:#ab9b84; font-size:11px;   }

#layout_position_5 .search_btn, #inner_page_content .search_btn { width:90px; margin-top:28px; text-align:center  }

/*---------*/

#layout_position_6 .search_box, #layout_position_2 .search_box { width:100%; margin-bottom:20px; margin-top:0px }

#layout_position_6 .search_box_wrapper, #layout_position_2 .search_box_wrapper { width: 564px; margin:0 auto; }

#layout_position_6 .search_hotel_area, #layout_position_2 .search_hotel_area { width:285px; margin-top:22px  }

#layout_position_6 .check_in, #layout_position_2 .check_in { width:280px; margin-top:8px  }

#layout_position_6 .check_in label, #layout_position_2 .check_in label { width:280px; color:#815743; font-size:12px; font-weight:bold; line-height:25px   }

#layout_position_6 .check_in input, #layout_position_2 .check_in input { width:250px; color:#ab9b84; font-size:11px;    }

#layout_position_6 .rooms, #layout_position_2 .rooms { width:280px; margin-top:8px  }

#layout_position_6 .rooms label, #layout_position_2 .rooms label { width:280px; color:#815743; font-size:12px; font-weight:bold; line-height:25px   }

#layout_position_6 .rooms select, #layout_position_2 .rooms select { width:270px; color:#ab9b84; font-size:11px;   }

#layout_position_6 .search_btn, #layout_position_2 .search_btn { width:560px; margin-top:15px; text-align:center  }

/*------------*/

#layout_position_2 .search_button, #layout_position_3 .search_button, #layout_position_4 .search_button, #layout_position_5 .search_button, #layout_position_7 .search_button, #layout_position_6 .search_button {background:url(/app/layouts/00/layout2/themes/theme3/images/search_btn.png) no-repeat; height:26px; width:86px; text-transform:uppercase;  color:#312f2f; border:0; cursor:pointer }
/*search section end*/

/*hotel desc info*/
#layout_position_2 .hotel_desc_info { width:610px; margin-top:20px; }

#layout_position_2 .desk_img_area { width:177px; overflow:hidden; display: none; margin:0 10px }

#layout_position_2 .hotel_desc_area { width:610px; overflow:hidden; display:inline }

#layout_position_2 .hotel_desc_area p { width:610px; margin-top:12px; text-align:justify }

/*----------*/
#layout_position_3 .hotel_desc_info { width:290px; margin-top:20px; height:235px; overflow:hidden; }

#layout_position_7 .hotel_desc_info { width:315px; margin-top:20px; height:135px; overflow:hidden; }


#layout_position_4 .hotel_desc_info { width:290px; margin-top:20px; height:135px; overflow:hidden; }

#layout_position_3 .desk_img_area, #layout_position_4 .desk_img_area, #layout_position_7 .desk_img_area { width:177px; overflow:hidden; display: none; margin:0 10px }

#layout_position_3 .hotel_desc_area, #layout_position_4 .hotel_desc_area{ width:290px; overflow:hidden; display:inline }

#layout_position_7 .hotel_desc_area { width:315px; overflow:hidden; display:inline }

#layout_position_7 .hotel_desc_area p { width:315px;  margin-top:12px; text-align:justify }

#layout_position_3 .hotel_desc_area p, #layout_position_4 .hotel_desc_area p { width:290px;  margin-top:12px; text-align:justify }

/*----------*/

#layout_position_6 .hotel_desc_info { width:590px; margin-top:20px; height:135px; overflow:hidden; }

#layout_position_6 .desk_img_area { width:177px; overflow:hidden; display: none; margin:0 10px }

#layout_position_6 .hotel_desc_area { width:590px; overflow:hidden; display:inline }

#layout_position_6 .hotel_desc_area p { width:590px;  margin-top:12px; text-align:justify }

/*-------------------*/

#layout_position_5 .hotel_desc_info, #inner_page_content .hotel_desc_info { width:951px; margin-top:20px; }

#layout_position_5 .desk_img_area, #inner_page_content .desk_img_area { width:177px; overflow:hidden; display:inline; margin:0 10px }

#layout_position_5 .hotel_desc_area, #inner_page_content .hotel_desc_area { width:720px; overflow:hidden; display:inline }

#layout_position_5 .hotel_desc_area p, #inner_page_content .hotel_desc_area p { width:720px; margin-top:12px; text-align:justify }

#layout_position_1 .hotel_desc_area  a.readMore, #layout_position_2 .hotel_desc_area  a.readMore, #layout_position_3 .hotel_desc_area  a.readMore, #layout_position_4 .hotel_desc_area  a.readMore, #inner_page_content .hotel_desc_area  a.readMore, #layout_position_8 .hotel_desc_area  a.readMore, 
#inner_page_content .hotel_desc_area  a.readMore {text-decoration:none; color:#E29A00; font-family:'tahoma'; font-weight:bold; margin-top:0px; display:inline;  }

#layout_position_1 .hotel_desc_area  a:hover.readMore, #layout_position_2 .hotel_desc_area  a:hover.readMore, #layout_position_3 .hotel_desc_area  a:hover.readMore, #layout_position_4 .hotel_desc_area  a:hover.readMore, #inner_page_content .hotel_desc_area  a:hover.readMore, #layout_position_8 .hotel_desc_area  a:hover.readMore, #inner_page_content .hotel_desc_area  a:hover.readMore {text-decoration: underline;   }

/*----------------------------------------*/

#layout_position_3 .room_select, #layout_position_4 .room_select, #layout_position_7 .room_select {width:295px;  }

#layout_position_5 .room_select_area, #inner_page_content .room_select_area{ width:910px; margin-bottom:10px; display:inline; }

#layout_position_3 .room_select_area, #layout_position_4 .room_select_area, #layout_position_7 .room_select_area { width:295px; margin-bottom:10px; display:inline; }

#layout_position_3 .verticalMenuArea, #layout_position_4 .verticalMenuArea, #layout_position_7 .verticalMenuArea{  width:100%; margin-top:5px; display:inline }

#layout_position_3 a.verticalMenuRow, #layout_position_4 a.verticalMenuRow, #layout_position_7 a.verticalMenuRow   {  width:295px; color:#414141; text-decoration:none; cursor:pointer  }

#layout_position_3 a.verticalMenuRow  .midMenuBg, #layout_position_4 a.verticalMenuRow  .midMenuBg, #layout_position_7 a.verticalMenuRow  .midMenuBg { border-bottom:1px solid #815743; width:295px; height:25px; padding-top:5px; }

#layout_position_3 a:hover.verticalMenuRow .midMenuBg, #layout_position_3 a.selectMenu .midMenuBg,
#layout_position_4 a:hover.verticalMenuRow .midMenuBg, #layout_position_4 a.selectMenu .midMenuBg,
#layout_position_7 a:hover.verticalMenuRow .midMenuBg, #layout_position_7 a.selectMenu .midMenuBg
 {  border-bottom:1px solid #815743; background:#815743; width:295px; height:25x; padding-top:5px; color:#FFF }

#layout_position_3 .room_name, #layout_position_4 .room_name, #layout_position_7 .room_name { width:140px }

#layout_position_3 .room_no, #layout_position_4 .room_no, #layout_position_7 .room_no { width:75px }

#layout_position_3 .reserve, #layout_position_4 .reserve, #layout_position_7 .reserve { width:80px }

/*--------------*/

#layout_position_5 .room_select, #inner_page_content .room_select{width:910px;  }

#layout_position_5 .verticalMenuArea, #inner_page_content .verticalMenuArea {  width:100%; margin-top:5px; display:inline }

#layout_position_5 a.verticalMenuRow, #inner_page_content a.verticalMenuRow {  width:910px; color:#414141; text-decoration:none; cursor:pointer  }

#layout_position_5 a.verticalMenuRow  .midMenuBg, #inner_page_content a.verticalMenuRow  .midMenuBg { border-bottom:1px solid #815743; width:910px; height:25px; padding-top:5px; }

#layout_position_5 a:hover.verticalMenuRow .midMenuBg, #inner_page_content a:hover.verticalMenuRow .midMenuBg,
#layout_position_6 a.selectMenu .midMenuBg
 {  border-bottom:1px solid #815743; background:#815743; width:910px; height:25x; padding-top:5px; color:#FFF }

#layout_position_5 .room_name, #inner_page_content .room_name { width:450px }

#layout_position_5 .room_no, #inner_page_content .room_no { width:280px }

#layout_position_5 .reserve, #inner_page_content .room_no { width:95px }

/*------------------------------------------------------------*/
#layout_position_6 .room_select, #layout_position_2 .room_select {width:580px;  }

#layout_position_6 .room_select_area, #layout_position_2 .room_select_area { width:580px; margin-bottom:10px; display:inline; }

#layout_position_6 .verticalMenuArea, #layout_position_2 .verticalMenuArea {  width:100%; margin-top:5px; display:inline }

#layout_position_6 a.verticalMenuRow, #layout_position_2 a.verticalMenuRow {  width:580px; color:#414141; text-decoration:none; cursor:pointer  }

#layout_position_6 a.verticalMenuRow  .midMenuBg, #layout_position_2 a.verticalMenuRow  .midMenuBg { border-bottom:1px solid #0f4961; width:570px; height:25px; padding-top:5px; }

#layout_position_6 a:hover.verticalMenuRow .midMenuBg, #layout_position_6 a.selectMenu .midMenuBg,
#layout_position_2 a:hover.verticalMenuRow .midMenuBg, #layout_position_2 a.selectMenu .midMenuBg
 {  border-bottom:1px solid #815743; background:#e29a00; width:570px; height:25x; padding-top:5px; color:#FFF }

#layout_position_6 .room_name,
#layout_position_2 .room_name   { width:240px }

#layout_position_6 .room_no,
#layout_position_2 .room_no { width:220px }

#layout_position_6 .reserve, #layout_position_2 .reserve { width:95px }

/*room selection end*/

/*footer*/

#layout_position_1 .footer, #layout_position_2 .footer, #layout_position_3 .footer, #layout_position_4 .footer, #inner_page_content .footer, #layout_position_8 .footer { width:959px  }

#layout_position_1 .footer_wrapper, #layout_position_2 .footer_wrapper, #layout_position_3 .footer_wrapper, #layout_position_4 .footer_wrapper, #inner_page_content .footer_wrapper, #layout_position_8 .footer_wrapper { width: 951px;  margin:0 auto;   }

#layout_position_1 .footer_link, #layout_position_2 .footer_link, #layout_position_3 .footer_link, #layout_position_4 .footer_link, #inner_page_content .footer_link, #layout_position_8 .footer_link {  width: 100%;  margin-top:10px; display:inline }

#layout_position_1 .footer_link ul, #layout_position_2 .footer_link ul, #layout_position_3 .footer_link ul, #layout_position_4 .footer_link ul, #inner_page_content .footer_link ul, #layout_position_8 .footer_link ul {padding:0px; margin:0px}

#layout_position_1 .footer_link ul li, #layout_position_1 .footer_link ul li a, #layout_position_2 .footer_link ul li, #layout_position_2 .footer_link ul li a, #layout_position_3 .footer_link ul li, #layout_position_3 .footer_link ul li a, #layout_position_4 .footer_link ul li, #layout_position_4 .footer_link ul li a, #inner_page_content .footer_link ul li, #inner_page_content .footer_link ul li a, #layout_position_8 .footer_link ul li, #layout_position_8 .footer_link ul li a { color: #9F9F9F; text-decoration:none; text-transform:uppercase; font-size:10px; font-weight:bold; font-family:'Arial'}

#layout_position_1 .footer_link ul li a:hover, #layout_position_2 .footer_link ul li a:hover, #layout_position_3 .footer_link ul li a:hover, #layout_position_4 .footer_link ul li a:hover, #inner_page_content .footer_link ul li a:hover, #layout_position_8 .footer_link ul li a:hover { color: #9F9F9F; text-decoration: underline}

#layout_position_1 .footer_link ul li, #layout_position_2 .footer_link ul li, #layout_position_3 .footer_link ul li, #layout_position_4 .footer_link ul li, #inner_page_content .footer_link ul li, #layout_position_8 .footer_link ul li {  list-style: none;  padding: 0px 10px;}

/*------------------------------------*/

#layout_position_6 .footer, #layout_position_7 .footer { background:#d1cbbb; border-top:8px solid #f1efea; width:505px  }

#layout_position_6 .footer_wrapper, #layout_position_7 .footer_wrapper { width: 480px; height:105px;  margin:0 auto; background: #d1cbbb;  }

#layout_position_6 .footer_link, #layout_position_7 .footer_link {  width: 100%;  padding-bottom: 20px; margin-top:40px; display:inline }

#layout_position_6 .footer_link ul, #layout_position_7 .footer_link ul {padding:0px; margin:0px}

#layout_position_6 .footer_link ul li, #layout_position_6 .footer_link ul li a, #layout_position_7 .footer_link ul li, #layout_position_7 .footer_link ul li a { color: #7a513e; text-decoration:none; text-transform:uppercase; font-size:13px}

#layout_position_6 .footer_link ul li a:hover, #layout_position_7 .footer_link ul li a:hover{ color: #7a513e; text-decoration: underline}

#layout_position_6 .footer_link ul li, #layout_position_7 .footer_link ul li {  list-style: none;  padding: 0px 10px;}

/*---------------*/

.copyright { text-transform:none !important; font-size:10px !important; font-weight:bold !important }

/*footer end*/

/*------------inner pages--------------------- */
 #inner_page_content .amenities_info { width:940px; margin-top:10px; padding-bottom:10px; display:inline }

#inner_page_content7 .big_photo_gal {width:328px; height:420px }

#layout_position_7 .select_photo_gal, #layout_position_3 .select_photo_gal, #layout_position_4 .select_photo_gal { margin-top:10px; width:328px;}

#inner_page_content .select_photo_gal img { width:32px; height:32px; margin-bottom:8px; display:inline  }

#layout_position_6 .select_photo_gal, #layout_position_7 .select_photo_gal {width:328px; margin:0 auto; margin-top:10px; display:inline  }

#layout_position_6 .select_photo_gal img, #layout_position_7 .select_photo_gal img { width:32px; height:32px; margin-bottom:8px; display:inline  }

#inner_page_content .amenities_heading, #inner_page_content .amenities_desc { width:100% }

#inner_page_content .amenities_desc {margin-top:10px; display:inline } 

#inner_page_content .amen_desc_info { width:220px;  }

#inner_page_content .amen_desc_info b { width:15px; background:url(../../them/layouts/00/layout2/themes/theme3/images/list_circle.png) no-repeat; display:block; }

#inner_page_content .amen_desc_info span { width:205px; }


/*-------reserve hotel--------24april-------------*/
a.language {
	color:#9f9f9f;
	line-height:36px;
	text-decoration:none;
	font-family: 'Arial';
  	font-size:10px;
	text-transform:uppercase;
}
a.language {
	outline:none;
}

a:hover.language { text-decoration:underline }



#inner_page_content .fullWide { width:905px; margin:0 20px; display:inline; margin-top:10px;  }

#inner_page_content .fullWideBox {background:#e6e7e8}

#inner_page_content .fullWide h3 { color:#E29A00; font-family:'Myriad Pro'; font-size:20px; text-transform:uppercase;}

#inner_page_content .reservaitonLeftDes a, #inner_page_content .rrHotelName a {font-family:'Myriad Pro','Tahoma'; font-size:16px; color:#414141; }

#inner_page_content .hotelLocation { color:#414141; }

#inner_page_content .bigBox_reservation, #inner_page_content .stepTitle  { background:#E29A00  ; }

#inner_page_content .roomDescHeadline { background:#E29A00 ; }

#inner_page_content .roomType h8, #inner_page_content .rate h8, #inner_page_content .adult h8, #inner_page_content .children h8 { color:#fff;}

#inner_page_content .roomDescBox { background-color:#fdfeff; border:1px solid #E29A00; }

#inner_page_content .radioDescName a, #inner_page_content .rrRow a, #inner_page_content .hotelLocationReserv a, #inner_page_content .tabfirst a  {color:#BF8200; text-decoration:none}

#inner_page_content .roomDescNormal {color:#414141; }

#inner_page_content .roomFooterArea, #inner_page_content .rrInfoCon { background-color:#fdfeff; border:1px solid #E29A00  ; }

#inner_page_content .footerHeading { color:#414141;}

#inner_page_content .footerHeadingRightRating {color:#815743}

#inner_page_content a.addMoreLink  {color:#bf8200 ; text-decoration:none }

#inner_page_content .footerRow .btnContinue, #inner_page_content .ashSearch {background:transparent url(/app/layouts/00/layout2/themes/theme3/images/search_btn.png) no-repeat  ; border:0 none; color:#FFFFFF; font-weight:bold; height:26px; width:86px; }

#inner_page_content .btnEdit {background:transparent url(/app/layouts/00/layout2/themes/theme3/images/search_btn_sm.png) no-repeat  ; border:0 none; color:#805700; font-weight:bold; height:26px; width:63px; }

#inner_page_content .btnCR {background:transparent url(/app/layouts/00/layout2/themes/theme3/images/search_btn_big.png) no-repeat  ; border:0 none; color:#805700; font-weight:bold; height:26px; width:150px; }

/*-------reserve online--------24april-------------*/

#inner_page_content .rrInfoRow, #inner_page_content .rtTitle, #inner_page_content .stepTitle, #inner_page_content .rrPolicies, #inner_page_content .bigBox_reservation h6, #inner_page_content .hotelLocationReserv, #inner_page_content .showmsg {color:#414141;}

#inner_page_content .rtTitle {background-color:#b6b6b6;}

#inner_page_content .thanksTitle {color:#312F2F;}

#inner_page_content .reservationRow { border-bottom:1px solid #b3a786; color:#414141; }

#inner_page_content .tabBox_reservation {border:1px solid #b3a786;}

#inner_page_content .tabfirst, #inner_page_content .tabthird, #inner_page_content .tabfourth { border-right:1px solid #b3a786;}

#inner_page_content .rrTotalCurr {color:#982B02;}

#inner_page_content .bigBox_roomType h7 {color:#982B02;}

#inner_page_content .boxRowRight a {color:#BF8200;}


/*----------*/

#inner_page_content .photo_gal_row_detials { width:931px;  margin-top:10px }

#inner_page_content .select_photo_gal_details { width:260px;   }

#inner_page_content .big_photo_gal {width:660px }

#inner_page_content .select_photo_gal_details img { width:32px; height:32px; margin-bottom:8px; display:inline  }

/*09 june*/

.fullWideBox {
	background: #FFFFFF;
	padding-bottom: 10px;
	width:885px;
}

.reservation_descTop {
	margin-top:10px;
	width:885px;
}

.reservaitonLeftDes {
	width:680px;
}

.hotelLocation {
	line-height:20px; width:100%;
}

.reservationImgArea {
	height:57px;
	width:147px;
}

.bigBox_reservation {
	background:#DCE2E8 none repeat scroll 0 0;
	height:32px;
	margin-top:10px;
	width:885px;
}

h6 {
	color:#475C69;
	font-family:'Myriad Pro','Tahoma';
	font-size:24px;
	font-weight:normal;
}

.bigBox_roomType {
	margin-top:20px;
	width:883px;
}

h7 {
	color:#475C69;
	font-family:'Myriad Pro','Tahoma';
	font-size:14px;
	font-weight:normal;
	line-height:20px;
}

.roomDescBox {
	background-color:#F6F7F9;
	border:1px solid #B9C7D4;
	width:883px;
}

.roomDescHeadline {
	background-color:#DCE2E8;
	height:30px;
	width:883px;
}

.roomType {
	padding-top:8px;
	width:425px;
}

h8 {
	color:#2B5278;
	font-family:'Myriad Pro','Tahoma';
	font-size:12px;
	font-weight:bold;
}

.rate {
	/*padding-top:8px;*/
	width:200px;
}

.adult {
	padding-top:8px;
	width:130px;
}

.children {
	padding-top:8px;
	width:91px;
}

.cross {
	height:13px;
	margin-top:8px;
	width:13px;
}

.roomDescNormal {
	color:#2B5278;
	height:34px;
	width:883px;
}

.radioDesc {
	width:395px;
}

.radioDescName {
	line-height:16px;
	width:360px;
}

.adultCombo {
	display:inline;
	width:80px;
}

.mt15 {
	margin-top:15px;
}

.roomFooterArea {
	background-color:#F6F7F9;
	border:1px solid #B9C7D4;
	height:48px;
	margin-top:20px;
	width:883px;
}

.footerHeading {
	color:#2B5278;
	font-family:'Myriad Pro','Tahoma';
	font-size:12px;
	font-weight:bold;
	margin-top:16px;
	width:425px;
}

.footerHeadingRightRating {
	color:#475C69;
	margin-top:16px;
	width:200px;
}

.footerRow {
	width:883px;
}

.btnContinue, .btnEdit, .btnCR, .btnTnxOK {
	border:medium none;
	color:white;
	cursor:pointer;
	display:inline;
	font-family:'Myriad Pro',Arial;
	font-size:14px;
	height:29px;
	padding-bottom:2px;
	text-align:center;
	width:84px;
}

.reservaitonCon {
	width:885px;
}

.thanksTitle {
	color:#475C69;
	font-family:'Myriad Pro',Arial;
	font-size:26px;
}

.hotelReservation {
	color:#2B5278;
	margin-top:15px;
	width:885px;
}

.hotelLocationReserv {
	color:#2B5278;
	font-weight:bold;
	line-height:25px;
	width:885px;
}

.tabBox_reservation {
	border:1px solid #52708E;
	margin-top:10px;
	width:883px;
}

.reservationRow {
	border-bottom:1px solid #52708E;
	color:#2B5278;
	font-weight:bold;
	line-height:25px;
	width:100%;
}

.tabfirst {
	width:150px;
}

.tabthird {
	width:65px;
}

.tabfourth {
	width:71px;
}

.tabfive {
	width:228px;
}

.showmsg {
	color:#2B5278;
	margin-top:30px;
	width:885px;
}

.msgbtn {
	clear:both;
	margin:0 auto;
	width:300px;
}

/*12 june */

.rrInfo {
	width:504px;
}

.rrInfoRow, .rtTitle, .stepTitle {
	color:#2B5278;
	width:480px;
}

.mt10 {
	margin-top:10px;
	clear:both;
}

.rrHotelName {
	width:410px;
}

a.viewDetailsLst {
	text-decoration:underline;
}

.rrEditBtn {
	width:70px;
}

.btnEdit {
	margin:8px 0 0;
	width:54px;
}

.rtTitle {
	height:22px;
	line-height:22px;
	margin-top:8px;
}

.txtAC {
	text-align:center !important;
}

.rtPart2 {
	width:40px;
}

.rtPart3 {
	width:70px;
}

.rtPart4 {
	width:120px;
}

.rrBorder {
	border-bottom:1px solid #B9C7D4;
	padding-bottom:15px;
	padding-top:15px;
}

.h32 {
	height:32px;
	line-height:32px;
}


.rate span {
	padding:0 2px;
}

.rate span {
	padding:0 2px;
}

.stepTitle {
	font-family:'Myriad Pro',Arial;
	font-size:24px;
	height:32px;
	line-height:32px;
}

.pb10 {
	padding-bottom:10px;
}

.rrInfoCon {
	margin:12px 0;
	width:502px;
}

.stepConTitle {
	font-family:'Myriad Pro',Arial;
	font-size:16px;
}

.st2Txt {
	font-family:'Tahoma',Arial;
	font-size:12px;
}

.mt20 {
	margin-top:20px;
}

.rrRow {
	width:480px;
}

.st2Name {
	width:230px;
}

.mt3 {
	margin-top:3px;
}

.stTb {
	border:1px solid #7F9DB9;
	color:#2B5278;
	font-family:'Myriad Pro',Arial;
	font-size:14px;
	height:22px !important;
	width:228px;
}

.ml20 {
	display:inline;
}

.stTa {
	border:1px solid #7F9DB9;
	color:#2B5278;
	font-family:'Myriad Pro',Arial;
	font-size:11px;
	height:72px;
	width:478px;
}

.w478 {
	width:478px !important;
}

.pb10 {
	padding-bottom:10px;
}

.lh20 {
	line-height:20px;
}

.stCb {
	margin-top:5px;
	width:20px;
}

.stTC {
	width:460px;
}

.secureImg {
	margin:33px 0 7px;
	text-align:center;
	width:480px;
}

.rrPolicies {
	font-family:'Tahoma',Arial;
	font-size:11px;
	line-height:20px;
	margin:5px 0 12px;
	width:325px;
}

.boxRow {
	width:390px;
}

.mt15 {
	margin-top:15px;
}

.boxTitle {
	font-family:'Tahoma','Myriad Pro';
	font-size:12px;
	font-weight:bold;
}

.boxRowLeft {
	width:90px;
}

.divColon {
	width:10px;
}

.boxTxt {
	font-family:'Tahoma','Myriad Pro';
	font-size:11px;
}

.boxRowRight {
	width:290px;
}

.floatDir {
	padding-bottom:20px; clear:both;
}

.pb30 {
	padding-bottom:30px;
}
