body {font-family:'Arial'; font-size:13px; color:#5d605c; background:#c0bebd url(/app/layouts/00/layout1/themes/theme3/images/body_bg.jpg) !important  }

.content {background:#FFFFFF }

#layout_position_1 .header, #layout_position_2 .header, #layout_position_3 .header, #layout_position_4 .header, #inner_page_content .header, #layout_position_6 .header, #layout_position_7 .header, #layout_position_8 .header {background: url(/app/layouts/00/layout1/themes/theme3/images/header_bg.jpg); background-repeat: repeat-x; height: 100px; width: 100%; }

#layout_position_1 .header img, #layout_position_2 .header img, #layout_position_3 .header img, #layout_position_4 .header img, #inner_page_content .header img, #layout_position_6 .header img, #layout_position_7 .header img, #layout_position_8 .header img { margin-top:4px; border:0px; display:inline  }


/*menu bar section*/
#layout_position_6 .menuBar, #layout_position_7 .menuBar { width: 100%; background: #d9d9d9 url(/app/layouts/00/layout1/themes/theme3/images/menu_bar.jpg);   }

.menuBar { width: 100%; background:#d9d9d9 url(/app/layouts/00/layout1/themes/theme3/images/menu_bar.jpg); background-repeat: repeat-x }

.menuBar ul { width: 90%; margin:0; padding:0 ; }

.menuBar ul li { list-style: none; text-transform:uppercase; }

.menuBar ul li a { 
  padding:0px 20px;
  display: block;
  line-height: 36px;
  color: #5d605c; 
  font-weight: normal;
  font-family: 'Myriad Pro';
  text-decoration:none;
  font-size:13px;
}

.menuBar ul li a:hover, .menuBar ul li a.current { 
  background: #cc220b url(/app/layouts/00/layout1/themes/theme3/images/menu_hover.jpg);
  text-decoration: none;
  color:#FFFFFF
}

/*menu bar section end*/

#layout_position_1 .slide_img, #layout_position_2 .slide_img, #layout_position_3 .slide_img, #layout_position_4 .slide_img, #inner_page_content .slide_img, #layout_position_8 .slide_img { width:1010px; height:340px;  }

#layout_position_6 .slide_img, #layout_position_7 .slide_img { width:505px; height:340px; overflow:hidden }

/*search section*/
h1 {  font-family: 'Myriad Pro'; font-size:20px; text-transform:uppercase }

h1 label {color:#6e99cb; display:block; font-family: 'Myriad Pro'; font-size:20px; }

h1 span {color:#01509a; display:block; font-family: 'Myriad Pro'; font-size:20px; }
/*--------------------------------------------------------------*/
#layout_position_1 .search_box, #layout_position_2 .search_box, #layout_position_3 .search_box, #layout_position_4 .search_box, #inner_page_content .search_box, #layout_position_8 .search_box { background: #e8f3ff; width:100% }

#layout_position_1 .search_box_wrapper, #layout_position_2 .search_box_wrapper, #layout_position_3 .search_box_wrapper, #layout_position_4 .search_box_wrapper, #inner_page_content .search_box_wrapper, #layout_position_8 .search_box_wrapper { width: 992px; height:88px;  margin:0 auto;  }

#layout_position_1 .search_hotel_area, #layout_position_2 .search_hotel_area, #layout_position_3 .search_hotel_area, #layout_position_4 .search_hotel_area, #inner_page_content .search_hotel_area, #layout_position_8 .search_hotel_area { width:110px; margin-top:22px  }

#layout_position_1 .check_in, #layout_position_2 .check_in, #layout_position_3 .check_in, #layout_position_4 .check_in,  #inner_page_content .check_in, #layout_position_8 .check_in { width:198px; margin-top:22px  }

#layout_position_1 .check_in label, #layout_position_2 .check_in label, #layout_position_3 .check_in label, #layout_position_4 .check_in label, #inner_page_content .check_in label, #layout_position_8 .check_in label { width:180px; color:#5d605c; font-size:12px; font-weight:bold; line-height:25px   }

#layout_position_1 .check_in input, #layout_position_2 .check_in input, #layout_position_3 .check_in input, #layout_position_4 .check_in input, #inner_page_content .check_in input, #layout_position_8 .check_in input { width:165px; color:#323439; font-size:11px;    }

#layout_position_1 .rooms, #layout_position_2 .rooms, #layout_position_3 .rooms, #layout_position_4 .rooms, #inner_page_content .rooms, #layout_position_8 .rooms { width:196px; margin-top:22px  }

#layout_position_1 .rooms label, #layout_position_2 .rooms label, #layout_position_3 .rooms label, #layout_position_4 .rooms label, #inner_page_content .rooms label, #layout_position_8 .rooms label { width:160px; color:#5d605c; font-size:12px; font-weight:bold; line-height:25px   }

#layout_position_1 .rooms select, #layout_position_2 .rooms select, #layout_position_3 .rooms select, #layout_position_4 .rooms select, #inner_page_content .rooms select, #layout_position_8 .rooms select { width:160px; color:#323439; font-size:11px;   }

#layout_position_1 .search_btn, #layout_position_2 .search_btn, #layout_position_3.search_btn, #layout_position_4 .search_btn, #inner_page_content .search_btn, #layout_position_8 .search_btn { width:80px; margin-top:42px  }

#layout_position_1 .search_button, #layout_position_2 .search_button, #layout_position_3 .search_button, #layout_position_4 .search_button, #inner_page_content .search_button, #layout_position_8 .search_button {background:url(/app/layouts/00/layout1/themes/theme3/images/search_btn.png) no-repeat; height:26px; width:79px; text-transform:uppercase; font-weight:bold; color:#FFFFFF; border:0  }

/*-----------------------------------------------------*/

#layout_position_6 .search_box, #layout_position_7 .search_box { background: #ffffff; width:100%; margin-bottom:20px }

#layout_position_6 .search_box_wrapper, #layout_position_7 .search_box_wrapper { background: #ffffff; width: 480px; margin:0 auto; }

#layout_position_6 .search_hotel_area, #layout_position_7 .search_hotel_area { width:480px; margin-top:22px  }

#layout_position_6 .check_in, #layout_position_7 .check_in { width:235px; margin-top:8px  }

#layout_position_6 .check_in label, #layout_position_7 .check_in label { width:235px; color:#815743; font-size:12px; font-weight:bold; line-height:25px   }

#layout_position_6 .check_in input, #layout_position_7 .check_in input { width:198px; color:#ab9b84; font-size:11px;    }

#layout_position_6 .rooms, #layout_position_7 .rooms { width:235px; margin-top:8px  }

#layout_position_6 .rooms label, #layout_position_7 .rooms label { width:235px; color:#815743; font-size:12px; font-weight:bold; line-height:25px   }

#layout_position_6 .rooms select, #layout_position_7 .rooms select { width:220px; color:#ab9b84; font-size:11px;   }

#layout_position_6 .search_btn, #layout_position_7 .search_btn { width:480px; margin-top:40px; text-align:center  }

#layout_position_6 .search_button, #layout_position_7 .search_button {background:url(/app/layouts/00/layout1/themes/theme3/images/search_btn.png) no-repeat; height:26px; width:79px; text-transform:uppercase; font-weight:bold; color:#FFFFFF; border:0  }

/*search section end*/

/*hotel desc info*/

#layout_position_1 .hotel_desc_info, #layout_position_2 .hotel_desc_info, #layout_position_3 .hotel_desc_info, #layout_position_4 .hotel_desc_info, #inner_page_content .hotel_desc_info, #layout_position_8 .hotel_desc_info { width:1010px; background:#FFFFFF; margin-top:20px; }

#layout_position_1 .hotel_desc_area, #layout_position_2 .hotel_desc_area, #layout_position_3 .hotel_desc_area, #layout_position_4 .hotel_desc_area, #inner_page_content .hotel_desc_area, #layout_position_8 .hotel_desc_area { width:992px; overflow:hidden; display:inline }

#layout_position_1 .hotel_desc_area p, #layout_position_2 .hotel_desc_area p, #layout_position_3 .hotel_desc_area p, #layout_position_4 .hotel_desc_area p, #inner_page_content .hotel_desc_area p, #layout_position_8 .hotel_desc_area p { width:992px; margin-top:20px; text-align:justify }

#layout_position_1 .hotel_desc_area  a.readMore, #layout_position_2 .hotel_desc_area  a.readMore, #layout_position_3 .hotel_desc_area  a.readMore, #layout_position_4 .hotel_desc_area  a.readMore, #inner_page_content .hotel_desc_area  a.readMore, #layout_position_8 .hotel_desc_area  a.readMore {text-decoration:none; color:#01509A; font-family:'tahoma'; font-weight:bold; margin-top:20px; display:inline;  }

#layout_position_1 .hotel_desc_area  a:hover.readMore, #layout_position_2 .hotel_desc_area  a:hover.readMore, #layout_position_3 .hotel_desc_area  a:hover.readMore, #layout_position_4 .hotel_desc_area  a:hover.readMore, #inner_page_content .hotel_desc_area  a:hover.readMore, #layout_position_8 .hotel_desc_area  a:hover.readMore {text-decoration: underline;   }

/*----------------------------------------*/
#layout_position_6 .hotel_desc_info, #layout_position_7 .hotel_desc_info { width:505px; background:#FFFFFF; margin-top:20px; }

#layout_position_6 .hotel_desc_area, #layout_position_7 .hotel_desc_area { width:480px; overflow:hidden; display:inline }

#layout_position_6 .hotel_desc_area p, #layout_position_7 .hotel_desc_area p{ width:480px; margin-top:20px; text-align:justify }

#layout_position_6 .hotel_desc_area  a.readMore, #layout_position_7 .hotel_desc_area  a.readMore {text-decoration:none; color:#01509a; font-family:'tahoma'; font-weight:bold; margin-top:20px; display:inline;  }

#layout_position_6 .hotel_desc_area  a:hover.readMore, #layout_position_7 .hotel_desc_area  a:hover.readMore {text-decoration: underline;   }

/*hotel desc info end*/

/*room selection*/

#layout_position_1 .room_select, #layout_position_2 .room_select, #layout_position_3 .room_select, #layout_position_4 .room_select, #inner_page_content .room_select, #layout_position_8 .room_select {width:1010px;  }

#layout_position_1 .room_select_area, #layout_position_2 .room_select_area, #layout_position_3 .room_select_area, #layout_position_4 .room_select_area, #inner_page_content .room_select_area, #layout_position_8 .room_select_area { width:992px; margin-top:30px; margin-bottom:10px; display:inline; }

#layout_position_1 .verticalMenuArea, #layout_position_2 .verticalMenuArea, #layout_position_3 .verticalMenuArea, #layout_position_4 .verticalMenuArea, #inner_page_content .verticalMenuArea, #layout_position_8 .verticalMenuArea {  width:100%; margin-top:20px; display:inline }

#layout_position_1 a.verticalMenuRow, #layout_position_2 a.verticalMenuRow, #layout_position_3 a.verticalMenuRow, #layout_position_4 a.verticalMenuRow,  #inner_page_content a.verticalMenuRow, #layout_position_8 a.verticalMenuRow{  width:992px; margin-bottom:2px; color:#414141; text-decoration:none; cursor:pointer  }

#layout_position_1 a.verticalMenuRow  .leftMenuBg, #layout_position_2 a.verticalMenuRow  .leftMenuBg, #layout_position_3 a.verticalMenuRow  .leftMenuBg, #layout_position_4 a.verticalMenuRow  .leftMenuBg, #inner_page_content a.verticalMenuRow  .leftMenuBg, #layout_position_8 a.verticalMenuRow  .leftMenuBg  { background:url(/app/layouts/00/layout1/themes/theme3/images/btnMenu_left.png) no-repeat 0 0; width:4px; height:28px }

#layout_position_1 a.verticalMenuRow  .midMenuBg, #layout_position_2 a.verticalMenuRow  .midMenuBg, #layout_position_3 a.verticalMenuRow  .midMenuBg, #layout_position_4 a.verticalMenuRow  .midMenuBg, #inner_page_content a.verticalMenuRow  .midMenuBg, #layout_position_8 a.verticalMenuRow  .midMenuBg { background:url(/app/layouts/00/layout1/themes/theme3/images/btnMenu_mid.png) repeat-x 0 0; width:984px; height:23px; padding-top:5px; }

#layout_position_1 a.verticalMenuRow  .rightMenuBg, #layout_position_2 a.verticalMenuRow  .rightMenuBg, #layout_position_3 a.verticalMenuRow  .rightMenuBg, #layout_position_4 a.verticalMenuRow  .rightMenuBg, #inner_page_content a.verticalMenuRow  .rightMenuBg, #layout_position_8 a.verticalMenuRow  .rightMenuBg {float:left; background:url(/app/layouts/00/layout1/themes/theme3/images/btnMenu_right.png) no-repeat 0 0; width:4px; height:28px }

#layout_position_1 a:hover.verticalMenuRow .leftMenuBg, #layout_position_1 a.selectMenu  .leftMenuBg, #layout_position_2 a:hover.verticalMenuRow .leftMenuBg, #layout_position_2 a.selectMenu  .leftMenuBg, #layout_position_3 a:hover.verticalMenuRow .leftMenuBg, #layout_position_3 a.selectMenu  .leftMenuBg, #layout_position_4 a:hover.verticalMenuRow .leftMenuBg, #layout_position_4 a.selectMenu  .leftMenuBg, #inner_page_content a:hover.verticalMenuRow .leftMenuBg, #inner_page_content a.selectMenu  .leftMenuBg, #layout_position_8 a:hover.verticalMenuRow .leftMenuBg, #layout_position_8 a.selectMenu  .leftMenuBg { background:url(/app/layouts/00/layout1/themes/theme3/images/btnMenu_left.png) no-repeat 0 -30px; width:4px; height:28px }

#layout_position_1 a:hover.verticalMenuRow .midMenuBg, #layout_position_1 a.selectMenu .midMenuBg, #layout_position_2 a:hover.verticalMenuRow .midMenuBg, #layout_position_2 a.selectMenu .midMenuBg, #layout_position_3 a:hover.verticalMenuRow .midMenuBg, #layout_position_3 a.selectMenu .midMenuBg, #layout_position_4 a:hover.verticalMenuRow .midMenuBg, #layout_position_4 a.selectMenu .midMenuBg, #inner_page_content a:hover.verticalMenuRow .midMenuBg, #inner_page_content a.selectMenu .midMenuBg, #layout_position_8 a:hover.verticalMenuRow .midMenuBg, #layout_position_8 a.selectMenu .midMenuBg { background:url(/app/layouts/00/layout1/themes/theme3/images/btnMenu_mid.png) repeat-x 0 -30px; width:984px; height:23px; padding-top:5px;  }

#layout_position_1 a:hover.verticalMenuRow  .rightMenuBg, #layout_position_1 a.selectMenu  .rightMenuBg, #layout_position_2 a:hover.verticalMenuRow  .rightMenuBg, #layout_position_2 a.selectMenu  .rightMenuBg, #layout_position_3 a:hover.verticalMenuRow  .rightMenuBg, #layout_position_3 a.selectMenu  .rightMenuBg, #layout_position_4 a:hover.verticalMenuRow  .rightMenuBg, #layout_position_4 a.selectMenu  .rightMenuBg, #inner_page_content a:hover.verticalMenuRow  .rightMenuBg, #inner_page_content a.selectMenu  .rightMenuBg, #layout_position_8 a:hover.verticalMenuRow  .rightMenuBg, #layout_position_8 a.selectMenu  .rightMenuBg { background:url(/app/layouts/00/layout1/themes/theme3/images/btnMenu_right.png) no-repeat 0 -30px; width:4px; height:28px }

#layout_position_1 .room_name, #layout_position_2 .room_name, #layout_position_3 .room_name, #layout_position_4 .room_name, #inner_page_content .room_name, #layout_position_8 .room_name  { width:358px }

#layout_position_1 .room_no, #layout_position_2 .room_no, #layout_position_3 .room_no, #layout_position_4 .room_no, #inner_page_content .room_no, #layout_position_8 .room_no { width:358px }

#layout_position_1 .reserve, #layout_position_2 .reserve, #layout_position_3 .reserve, #layout_position_4 .reserve, #inner_page_content .reserve, #layout_position_8 .reserve { width:268px }

/*------------------------------------------------------------*/
#layout_position_6 .room_select, #layout_position_7 .room_select {width:505px; }

#layout_position_6 .room_select_area, #layout_position_7 .room_select_area { width:470px; margin-top:20px; margin-bottom:10px; display:inline; }

#layout_position_6 .verticalMenuArea, #layout_position_7 .verticalMenuArea {  width:100%; margin-top:20px; display:inline }

#layout_position_6 a.verticalMenuRow, #layout_position_7 a.verticalMenuRow{  width:470px; margin-bottom:2px; color:#01509a; text-decoration:none; cursor:pointer  }

#layout_position_6 a.verticalMenuRow  .leftMenuBg, #layout_position_7 a.verticalMenuRow  .leftMenuBg  { background:url(/app/layouts/00/layout1/themes/theme3/images/btnMenu_left.png) no-repeat 0 0; width:4px; height:28px }
#layout_position_6 a.verticalMenuRow  .midMenuBg, #layout_position_7 a.verticalMenuRow  .midMenuBg { background:url(/app/layouts/00/layout1/themes/theme3/images/btnMenu_mid.png) repeat-x 0 0; width:462px; height:23px; padding-top:5px; }
#layout_position_6 a.verticalMenuRow  .rightMenuBg, #layout_position_7 a.verticalMenuRow  .rightMenuBg {float:left; background:url(/app/layouts/00/layout1/themes/theme3/images/btnMenu_right.png) no-repeat 0 0; width:4px; height:28px }

#layout_position_6 a:hover.verticalMenuRow .leftMenuBg, #layout_position_6 a.selectMenu  .leftMenuBg, #layout_position_7 a:hover.verticalMenuRow .leftMenuBg, #layout_position_7 a.selectMenu  .leftMenuBg { background:url(/app/layouts/00/layout1/themes/theme3/images/btnMenu_left.png) no-repeat 0 -30px; width:4px; height:28px }

#layout_position_6 a:hover.verticalMenuRow .midMenuBg, #layout_position_6 a.selectMenu .midMenuBg, #layout_position_7 a:hover.verticalMenuRow .midMenuBg, #layout_position_7 a.selectMenu .midMenuBg { background:url(/app/layouts/00/layout1/themes/theme3/images/btnMenu_mid.png) repeat-x 0 -30px; width:462px; height:23px; padding-top:5px; color:#FFFFFF  }

#layout_position_6 a:hover.verticalMenuRow  .rightMenuBg, #layout_position_6 a.selectMenu  .rightMenuBg, #layout_position_7 a:hover.verticalMenuRow  .rightMenuBg, #layout_position_7 a.selectMenu  .rightMenuBg{ background:url(/app/layouts/00/layout1/themes/theme3/images/btnMenu_right.png) no-repeat 0 -30px; width:4px; height:28px;  }

#layout_position_6 .room_name, #layout_position_7 .room_name  { width:175px }

#layout_position_6 .room_no, #layout_position_7 .room_no { width:180px }

#layout_position_6 .reserve, #layout_position_7 .reserve { width:95px }

/*room selection end*/

/*footer*/

#layout_position_1 .footer, #layout_position_2 .footer, #layout_position_3 .footer, #layout_position_4 .footer, #inner_page_content .footer, #layout_position_8 .footer { background:#abccf3; border-top:8px solid #dbe9f9; width:1010px  }

#layout_position_1 .footer_wrapper, #layout_position_2 .footer_wrapper, #layout_position_3 .footer_wrapper, #layout_position_4 .footer_wrapper, #inner_page_content .footer_wrapper, #layout_position_8 .footer_wrapper { width: 992px; height:50px;  margin:0 auto;   }

#layout_position_1 .footer_link, #layout_position_2 .footer_link, #layout_position_3 .footer_link, #layout_position_4 .footer_link, #inner_page_content .footer_link, #layout_position_8 .footer_link {  width: 100%;  padding-bottom: 20px; margin-top:20px; display:inline }

#layout_position_1 .footer_link ul, #layout_position_2 .footer_link ul, #layout_position_3 .footer_link ul, #layout_position_4 .footer_link ul, #inner_page_content .footer_link ul, #layout_position_8 .footer_link ul {padding:0px; margin:0px}

#layout_position_1 .footer_link ul li, #layout_position_1 .footer_link ul li a, #layout_position_2 .footer_link ul li, #layout_position_2 .footer_link ul li a, #layout_position_3 .footer_link ul li, #layout_position_3 .footer_link ul li a, #layout_position_4 .footer_link ul li, #layout_position_4 .footer_link ul li a, #inner_page_content .footer_link ul li, #inner_page_content .footer_link ul li a, #layout_position_8 .footer_link ul li, #layout_position_8 .footer_link ul li a { color: #5d605c; text-decoration:none; text-transform:uppercase; font-size:13px}

#layout_position_1 .footer_link ul li a:hover, #layout_position_2 .footer_link ul li a:hover, #layout_position_3 .footer_link ul li a:hover, #layout_position_4 .footer_link ul li a:hover, #inner_page_content .footer_link ul li a:hover, #layout_position_8 .footer_link ul li a:hover { color: #000; text-decoration: underline}

#layout_position_1 .footer_link ul li, #layout_position_2 .footer_link ul li, #layout_position_3 .footer_link ul li, #layout_position_4 .footer_link ul li, #inner_page_content .footer_link ul li, #layout_position_8 .footer_link ul li {  list-style: none;  padding: 0px 10px;}

/*------------------------------------*/

#layout_position_6 .footer, #layout_position_7 .footer { background:#d1cbbb; border-top:8px solid #f1efea; width:505px  }

#layout_position_6 .footer_wrapper, #layout_position_7 .footer_wrapper { width: 480px; height:105px;  margin:0 auto; background: #d1cbbb;  }

#layout_position_6 .footer_link, #layout_position_7 .footer_link {  width: 100%;  padding-bottom: 20px; margin-top:40px; display:inline }

#layout_position_6 .footer_link ul, #layout_position_7 .footer_link ul {padding:0px; margin:0px}

#layout_position_6 .footer_link ul li, #layout_position_6 .footer_link ul li a, #layout_position_7 .footer_link ul li, #layout_position_7 .footer_link ul li a { color: #7a513e; text-decoration:none; text-transform:uppercase; font-size:13px}

#layout_position_6 .footer_link ul li a:hover, #layout_position_7 .footer_link ul li a:hover{ color: #7a513e; text-decoration: underline}

#layout_position_6 .footer_link ul li, #layout_position_7 .footer_link ul li {  list-style: none;  padding: 0px 10px;}

/*---------------*/

.copyright { text-transform:none !important; font-size:12px !important }

/*footer end*/

/*------------inner pages--------------------- */

#inner_page_content .photo_gal_row, #inner_page_content .amenities_info { width:992px; margin-top:10px; padding-bottom:10px; display:inline }

#inner_page_content .big_photo_gal {width:668px; height:420px }

#inner_page_content .select_photo_gal_details { width:323px }

#inner_page_content .select_photo_gal_details img { width:99px; height:99px; margin-bottom:8px; display:inline  }

#layout_position_6 .select_photo_gal, #layout_position_7 .select_photo_gal {width:480px; margin:0 auto; margin-top:10px; display:inline  }

#layout_position_6 .select_photo_gal img, #layout_position_7 .select_photo_gal img { width:99px; height:99px; margin-bottom:8px; display:inline  }

#inner_page_content .amenities_heading, #inner_page_content .amenities_desc { width:100% }

#inner_page_content .amenities_desc {margin-top:10px; display:inline } 

#inner_page_content .amen_desc_info { width:220px;  }

#inner_page_content .amen_desc_info b { width:15px; background:url(/app/layouts/00/layout1/themes/theme3/images/list_circle.jpg) no-repeat; display:block; }

#inner_page_content .amen_desc_info span { width:205px; }


/*-------reserve hotel--------24april-------------*/
a.language {
	color:#414141;
	line-height:36px;
	text-decoration:none;
}
a.language {
	outline:none;
}

a:hover.language { text-decoration:underline }



#inner_page_content .fullWide { width:905px; margin:0 50px; display:inline; margin-top:10px}

#inner_page_content .fullWide h3 { color:#01509a; font-family:'Myriad Pro'; font-size:20px; text-transform:uppercase;}

#inner_page_content .reservaitonLeftDes a, #inner_page_content .rrHotelName a {font-family:'Myriad Pro','Tahoma'; font-size:16px; color:#414141; }

#inner_page_content .hotelLocation { color:#414141; }

#inner_page_content .bigBox_reservation, #inner_page_content .stepTitle  { background:#75a1d3; }

#inner_page_content .roomDescHeadline { background:#75a1d3; }

#inner_page_content .roomType h8, #inner_page_content .rate h8, #inner_page_content .adult h8, #inner_page_content .children h8 { color:#fff;}

#inner_page_content .roomDescBox { background-color:#eff7ff; border:1px solid #688fbc; }

#inner_page_content .radioDescName a, #inner_page_content .rrRow a, #inner_page_content .hotelLocationReserv a, #inner_page_content .tabfirst a  {color:#01509A; text-decoration:none}

#inner_page_content .roomDescNormal {color:#414141; }

#inner_page_content .roomFooterArea, #inner_page_content .rrInfoCon { background-color:#eff7ff; border:1px solid #688fbc; }

#inner_page_content .footerHeading { color:#414141;}

#inner_page_content .footerHeadingRightRating {color:#01509a}

#inner_page_content a.addMoreLink  {color:#01509a; text-decoration:none }

#inner_page_content .footerRow .btnContinue, #inner_page_content .ashSearch {background:transparent url(/app/layouts/00/layout1/themes/theme3/images/search_btn.png) no-repeat ; border:0 none; color:#FFFFFF; font-weight:bold; height:26px; width:79px; }

#inner_page_content .btnEdit {background:transparent url(/app/layouts/00/layout1/themes/theme3/images/search_btn_sm.png) no-repeat ; border:0 none; color:#FFFFFF; font-weight:bold; height:26px; width:63px; }

#inner_page_content .btnCR {background:transparent url(/app/layouts/00/layout1/themes/theme3/images/search_btn_big.png) no-repeat ; border:0 none; color:#FFFFFF; font-weight:bold; height:26px; width:160px; }

/*-------reserve online--------24april-------------*/

#inner_page_content .rrInfoRow, #inner_page_content .rtTitle, #inner_page_content .stepTitle, #inner_page_content .rrPolicies, #inner_page_content .bigBox_reservation h6, #inner_page_content .hotelLocationReserv, #inner_page_content .showmsg {color:#5d605c;}

#inner_page_content .rtTitle {background-color:#83b5ed; color:#FFFFFF}

#inner_page_content .thanksTitle {color:#6E99CB;}

#inner_page_content .reservationRow { border-bottom:1px solid #d1d3d4; color:#414141; }

#inner_page_content .tabBox_reservation {border:1px solid #d1d3d4;}

#inner_page_content .tabfirst, #inner_page_content .tabthird, #inner_page_content .tabfourth { border-right:1px solid #d1d3d4;}

#inner_page_content .rrTotalCurr {color:#5A6234;}

#inner_page_content .bigBox_roomType h7 {color:#5A6234;}

#inner_page_content .boxRowRight a {color:#01509A;}

/*09 june*/

.fullWideBox {
	background: #FFFFFF;
	padding-bottom: 10px;
	width:885px;
}

.reservation_descTop {
	margin-top:10px;
	width:885px;
}

.reservaitonLeftDes {
	width:680px;
}

.hotelLocation {
	line-height:20px; width:100%;
}

.reservationImgArea {
	height:57px;
	width:147px;
}

.bigBox_reservation {
	background:#DCE2E8 none repeat scroll 0 0;
	height:32px;
	margin-top:10px;
	width:885px;
}

h6 {
	color:#475C69;
	font-family:'Myriad Pro','Tahoma';
	font-size:24px;
	font-weight:normal;
}

.bigBox_roomType {
	margin-top:20px;
	width:883px;
}

h7 {
	color:#475C69;
	font-family:'Myriad Pro','Tahoma';
	font-size:14px;
	font-weight:normal;
	line-height:20px;
}

.roomDescBox {
	background-color:#F6F7F9;
	border:1px solid #B9C7D4;
	width:883px;
}

.roomDescHeadline {
	background-color:#DCE2E8;
	height:30px;
	width:883px;
}

.roomType {
	padding-top:8px;
	width:425px;
}

h8 {
	color:#2B5278;
	font-family:'Myriad Pro','Tahoma';
	font-size:12px;
	font-weight:bold;
}

.rate {
	/*padding-top:8px;*/
	width:200px;
}

.adult {
	padding-top:8px;
	width:130px;
}

.children {
	padding-top:8px;
	width:91px;
}

.cross {
	height:13px;
	margin-top:8px;
	width:13px;
}

.roomDescNormal {
	color:#2B5278;
	height:34px;
	width:883px;
}

.radioDesc {
	width:395px;
}

.radioDescName {
	line-height:16px;
	width:360px;
}

.adultCombo {
	display:inline;
	width:80px;
}

.mt15 {
	margin-top:15px;
}

.roomFooterArea {
	background-color:#F6F7F9;
	border:1px solid #B9C7D4;
	height:48px;
	margin-top:20px;
	width:883px;
}

.footerHeading {
	color:#2B5278;
	font-family:'Myriad Pro','Tahoma';
	font-size:12px;
	font-weight:bold;
	margin-top:16px;
	width:425px;
}

.footerHeadingRightRating {
	color:#475C69;
	margin-top:16px;
	width:200px;
}

.footerRow {
	width:883px;
}

.btnContinue, .btnEdit, .btnCR, .btnTnxOK {
	border:medium none;
	color:white;
	cursor:pointer;
	display:inline;
	font-family:'Myriad Pro',Arial;
	font-size:14px;
	height:29px;
	padding-bottom:2px;
	text-align:center;
	width:84px;
}

.reservaitonCon {
	width:885px;
}

.thanksTitle {
	color:#475C69;
	font-family:'Myriad Pro',Arial;
	font-size:26px;
}

.hotelReservation {
	color:#2B5278;
	margin-top:15px;
	width:885px;
}

.hotelLocationReserv {
	color:#2B5278;
	font-weight:bold;
	line-height:25px;
	width:885px;
}

.tabBox_reservation {
	border:1px solid #52708E;
	margin-top:10px;
	width:883px;
}

.reservationRow {
	border-bottom:1px solid #52708E;
	color:#2B5278;
	font-weight:bold;
	line-height:25px;
	width:100%;
}

.tabfirst {
	width:150px;
}

.tabthird {
	width:65px;
}

.tabfourth {
	width:71px;
}

.tabfive {
	width:228px;
}

.showmsg {
	color:#2B5278;
	margin-top:30px;
	width:885px;
}

.msgbtn {
	clear:both;
	margin:0 auto;
	width:300px;
}

/*12 june */

.rrInfo {
	width:504px;
}

.rrInfoRow, .rtTitle, .stepTitle {
	color:#2B5278;
	width:480px;
}

.mt10 {
	margin-top:10px;
	clear:both;
}

.rrHotelName {
	width:410px;
}

a.viewDetailsLst {
	text-decoration:underline;
}

.rrEditBtn {
	width:70px;
}

.btnEdit {
	margin:8px 0 0;
	width:54px;
}

.rtTitle {
	height:22px;
	line-height:22px;
	margin-top:8px;
}

.txtAC {
	text-align:center !important;
}

.rtPart2 {
	width:40px;
}

.rtPart3 {
	width:70px;
}

.rtPart4 {
	width:120px;
}

.rrBorder {
	border-bottom:1px solid #B9C7D4;
	padding-bottom:15px;
	padding-top:15px;
}

.h32 {
	height:32px;
	line-height:32px;
}


.rate span {
	padding:0 2px;
}

.rate span {
	padding:0 2px;
}

.stepTitle {
	font-family:'Myriad Pro',Arial;
	font-size:24px;
	height:32px;
	line-height:32px;
}

.pb10 {
	padding-bottom:10px;
}

.rrInfoCon {
	margin:12px 0;
	width:502px;
}

.stepConTitle {
	font-family:'Myriad Pro',Arial;
	font-size:16px;
}

.st2Txt {
	font-family:'Tahoma',Arial;
	font-size:12px;
}

.mt20 {
	margin-top:20px;
}

.rrRow {
	width:480px;
}

.st2Name {
	width:230px;
}

.mt3 {
	margin-top:3px;
}

.stTb {
	border:1px solid #7F9DB9;
	color:#2B5278;
	font-family:'Myriad Pro',Arial;
	font-size:14px;
	height:22px !important;
	width:228px;
}

.ml20 {
	display:inline;
}

.stTa {
	border:1px solid #7F9DB9;
	color:#2B5278;
	font-family:'Myriad Pro',Arial;
	font-size:11px;
	height:72px;
	width:478px;
}

.w478 {
	width:478px !important;
}

.pb10 {
	padding-bottom:10px;
}

.lh20 {
	line-height:20px;
}

.stCb {
	margin-top:5px;
	width:20px;
}

.stTC {
	width:460px;
}

.secureImg {
	margin:33px 0 7px;
	text-align:center;
	width:480px;
}

.rrPolicies {
	font-family:'Tahoma',Arial;
	font-size:11px;
	line-height:20px;
	margin:5px 0 12px;
	width:325px;
}

.boxRow {
	width:390px;
}

.mt15 {
	margin-top:15px;
}

.boxTitle {
	font-family:'Tahoma','Myriad Pro';
	font-size:12px;
	font-weight:bold;
}

.boxRowLeft {
	width:90px;
}

.divColon {
	width:10px;
}

.boxTxt {
	font-family:'Tahoma','Myriad Pro';
	font-size:11px;
}

.boxRowRight {
	width:290px;
}

.floatDir {
	padding-bottom:20px; clear:both;
}

.pb30 {
	padding-bottom:30px;
}
