<div class="views">
  <%= form_for(:transaction_report, :url => room_occupancy_report_path, :method => 'get', :remote => true) do |f| %>
      <div class="edit_wrapper car_input_row">
        <div class="manage_input">
          <label><%= t('views.labels.start_date') %></label>

          <div class="dt_txt">
            <%= text_field_tag "room_occupancy_start_date", @start_date, :class => 'datepicker',
                               "data-less-than-eq-field" => 'room_occupancy_end_date'
            %>
          </div>
        </div>
        <div class="manage_input">
          <label><%= t('views.labels.end_date') %></label>

          <div class="dt_txt">
            <%= text_field_tag "room_occupancy_end_date", @end_date, :class => 'datepicker',
                               "data-less-than-eq-field" => 'room_occupancy_start_date'
            %>
          </div>
        </div>

        <div>
          <%=hidden_field_tag :target_dom_id, 'room_occupancy_report_content'%>
          <%=hidden_field_tag :content_body_selector, '#room_occupancy_report_content_index_content_body'%>
          <input name="submit" type="submit" class="go_btn centered_button " value="<%= t('views.labels.search') %>"/>
        </div>
      </div>

  <% end %>
</div>

<div class="room_listing_desc" id="room_occupancy_report_content_index_content_body">

  <%= render :partial => 'reports_base/room_occupancy_report/index_content_body' %>
</div>