<%if params['target_dom_id'].present?%>
var target_container = '<%=params['target_dom_id']%>';
<%if params[:content_body_selector].present?%>
$j('#' + target_container).find('<%=params[:content_body_selector]%>').html('<%= escape_javascript(render :partial => 'reports_base/room_occupancy_report/index_content_body')%>');
<%else%>
$j('#' + target_container).html('<%= escape_javascript(render :partial => 'reports_base/room_occupancy_report/index_content')%>');
<%end%>
<% end %>
<% if params['report_type'] == 'email'%>
  gLightBoxes['email_report_lb'].deactivate();
<%end %>