<div class="room_list_wrap">
  <div class="header_operation_wrap">
    <h1><%= t('views.labels.cash_closeout_reports') %></h1>

    <div class="operation">
      <%= link_to t('views.labels.back'), session[:return_to], {:class => 'icon_cancel'} %>
    </div>
  </div>
  <div class="room_list_breadcrumb">
    <%= render_breadcrumbs '>' %>
  </div>
  <%= render :partial => 'reports_base/room_occupancy_report/index_content' %>
</div>
