$j('#cashier_desk_dashboard_container').html('<%= escape_javascript(render :partial => 'cashier_desk/home_content') %>');

$j('#cashier_desk_dashboard_container').show();
$j('a.h_tab_select').removeClass('h_tab_select');
$j('#dashboard_home_tab').addClass('h_tab_select');