<div class="group_type_tab tab_view">
  <ul id="v_tabs">
    <li>
      <%= link_to t('views.labels.cashier_desk'), cashier_desk_path, :id => 'dashboard_home_tab', :title => 'Room Service Dashboard', :class => 'h_tab_select', :remote => true %>
    </li>
  </ul>
</div>
<div class="quickview less_top" id="v_tab_content">
  <div id="cashier_desk_dashboard_container" class="v_tab_content_item">
    <%= render :partial => 'cashier_desk/home_content'%>
  </div>
</div>

