<% if @billing_info.present? %>
    <div style="clear: both">
      <%= render :partial => 'shared/email_report_lb', :locals => {:parameterised_url => email_billing_information_pdf_path(:start_date => params[:start_date], :end_date => params[:end_date], :group_type => params[:group_type], :submit => params[:submit], :report_type => 'email'), :email_body_id => 'email_billing_info_id'} %>
      <div class="gp_stay_links gap-right">
        <%= link_to t('views.labels.email'), 'javascript:void(0)', :onclick => "showEmailModalbox('email_billing_info_id')" %>
        <%= link_to_csv %>
        <%= link_to_pdf %>
      </div>
      <div class="report_container">
        <%= render :partial => "shared/table", :locals => {:items => @billing_info,
                                                           :total_col_span => 7,
                                                           :sum_column_titles => [t('views.labels.room_change'),
                                                                                  t('views.labels.discount_on_room_charge'),
                                                                                  t('views.labels.service_charges'),
                                                                                  t('views.labels.total_paid'),
                                                                                  t('views.labels.balance')]} %>
      </div>
    </div>

<% end %>