<div class="views">
  <%= form_for(:transaction_report, :url => billing_information_report_path, :method => 'get', :remote => true) do |f| %>
    <%
       @start_id = 'start_date_' + Time.now.to_i.to_s
       @end_id = 'end_date_' + Time.now.to_i.to_s
    %>
    <div class="edit_wrapper car_input_row">
      <div class="manage_input" >
        <label><%= t('views.labels.start_date') %></label>

        <div class="dt_txt">
          <%= text_field_tag "start_date", params[:start_date]? params[:start_date] : Time.zone.today.strftime('%Y-%m-%d'),
                             :class => 'datepicker',
                             :id => @start_id,
                             "data-less-than-eq-field" => @end_id
          %>
        </div>
      </div>
      <div class="manage_input" >
        <label><%= t('views.labels.end_date') %></label>

        <div class="dt_txt">
          <%= text_field_tag "end_date", params[:end_date]? params[:end_date] : Time.zone.today.strftime('%Y-%m-%d'),
                             :class => 'datepicker',
                             :id => @end_id,
                             "data-greater-than-eq-field" => @start_id
          %>
        </div>
      </div>
      <div class="manage_input" style="width: 20%">
        <label><%= t('views.labels.group_type') %></label>
        <%= select_tag :group_type, options_for_select(Constants::GROUP_TYPES), :prompt => t('views.labels.select') %>
      </div>
      <div class="manage_input" style="width: 10%">
        <%= hidden_field_tag :lan, I18n.locale %>
        <%= hidden_field_tag :target_dom_id, 'rpt_billing_information_content' %>
        <%= hidden_field_tag :content_body_selector, '#billing_information_content_body' %>

        <input name="submit" type="submit" class="go_btn centered_button " value="<%= t('views.labels.search') %>"/>
      </div>
    </div>
  <% end %>
</div>