
<div class=" clear groups_stay_form">
<%= render :partial => 'housekeeping/housekeeping_reports/part/billing_information_filter' %>
</div>
<div class="room_listing_desc" id="billing_information_content_body">
<%= render :partial => 'housekeeping/housekeeping_reports/part/billing_information_body' %>
  </div>