<% if @transaction_list.present? %>
    <div style="clear: both">
      <%= render :partial => 'shared/email_report_lb', :locals => {:parameterised_url => email_cashier_statement_pdf_path(:start_date => params[:start_date], :end_date => params[:end_date], :cash_counter_id => params[:cash_counter_id], :submit => params[:submit], :report_type => 'email'), :email_body_id => 'email_cashier_statement_id'} %>
      <div class="gp_stay_links gap-right">
        <%= link_to t('views.labels.email'), 'javascript:void(0)', :onclick => "showEmailModalbox('email_cashier_statement_id')"  %>
        <%= link_to_csv %>
        <%= link_to_pdf %>
      </div>
      <div class="report_container">
        <%= render :partial => "shared/table", :locals => {:items => @transaction_list,
                                                           :total_col_span => 2,
                                                           :sum_column_titles => [t('views.labels.amount')]} %>
      </div>
    </div>

<% end %>