
<div class=" clear groups_stay_form">
<%= render :partial => 'housekeeping/housekeeping_reports/part/cashier_statement_filter' %>
</div>
<div class="room_listing_desc" id="cashier_statement_content_body">

<%= render :partial => 'housekeeping/housekeeping_reports/part/cashier_statement_body' %>
  </div>