<div class="views">
  <%= form_for(:transaction_report, :url => deposit_listing_report_path, :method => 'get', :remote => true) do |f| %>
    <%
       @start_id = 'start_date_' + Time.now.to_i.to_s
       @end_id = 'end_date_' + Time.now.to_i.to_s
    %>
    <div class="edit_wrapper car_input_row">
      <div class="manage_input">
        <label><%= t('views.labels.start_date') %></label>
        <div class="dt_txt">
          <%= text_field_tag "start_date", params[:start_date]? params[:start_date] : Time.zone.today.strftime('%Y-%m-%d'),
                             :class => 'datepicker',
                             :id => @start_id,
                             "data-less-than-eq-field" => @end_id
          %>
        </div>
      </div>
      <div class="manage_input">
        <label><%= t('views.labels.end_date') %></label>
        <div class="dt_txt">
          <%= text_field_tag "end_date", params[:end_date]? params[:end_date] : Time.zone.today.strftime('%Y-%m-%d'),
                             :class => 'datepicker',
                             :id => @end_id,
                             "data-greater-than-eq-field" => @start_id
          %>
        </div>
      </div>

      <div class="manage_input dp_list mtop8" style="width: 30%">

        <%= radio_button_tag 'checkstatus', Constants::CHECK_IN_STATUSES[:checked_in] %>
        <label for="theme"><%= t('views.labels.check_in') %></label>

        <%= radio_button_tag 'checkstatus', Constants::CHECK_IN_STATUSES[:checked_out] %>
        <label for="theme"><%= t('views.labels.check_out') %></label>

        <%= radio_button_tag 'checkstatus', 'DepositDate' %>
        <label for="theme"><%= t('views.labels.deposit_date') %></label>
      </div>

      <div class="">
        <%=hidden_field_tag :lan, I18n.locale%>
        <%=hidden_field_tag :target_dom_id, 'rpt_deposit_listing_content'%>
        <%=hidden_field_tag :content_body_selector, '#deposit_listing_content_body'%>

        <input name="submit" type="submit" class="go_btn centered_button " value="<%= t('views.labels.search') %>"/>
      </div>
    </div>
  <% end %>

</div>