<div class=" clear groups_stay_form">
<%= render :partial => 'housekeeping/housekeeping_reports/part/deposit_listing_filter' %>
  </div>
<div class="room_listing_desc" id="deposit_listing_content_body">
<%= render :partial => 'housekeeping/housekeeping_reports/part/deposit_listing_body' %>

</div>