<div class="views">
  <%= form_for(:transaction_report, :url => financial_statement_report_path, :method => 'get',:remote => true) do |f| %>
    <%
       @start_id = 'start_date_' + Time.now.to_i.to_s
       @end_id = 'end_date_' + Time.now.to_i.to_s
    %>
    <div class="edit_wrapper car_input_row">
      <div class="manage_input"  >
        <label><%= t('views.labels.start_date') %></label>
        <div class="dt_txt">
          <%= text_field_tag "start_date", params[:start_date]? params[:start_date] : Time.zone.today.strftime('%Y-%m-%d'),
                             :class => 'datepicker',
                             :id => @start_id,
                             "data-less-than-eq-field" => @end_id
          %>
        </div>
      </div>
      <div class="manage_input"  >
        <label><%= t('views.labels.end_date') %></label>
        <div class="dt_txt">
          <%= text_field_tag "end_date", params[:end_date]? params[:end_date] : Time.zone.today.strftime('%Y-%m-%d'),
                             :class => 'datepicker',
                             :id =>@end_id,
                             "data-greater-than-eq-field" => @start_id
          %>
        </div>

      </div>

      <div class="manage_input"  style="width: 21%">
        <label><%= t('views.labels.or') %></label>
        <div class="dt_txt" style="border: none; background: none; width: 80%">

          <%= select_tag('days_count', options_for_select(translate_days_count_options(Constants::DAYS_COUNT_OPTIONS_FINANCIAL_STATEMENT), params[:days_count].to_i), :class => 'filter-duration', :style=>'width:90%', :prompt => t('views.labels.select_duration')) %>
        </div>
      </div>

      <div class="manage_input" style="width: 10%">
        <%=hidden_field_tag :lan, I18n.locale%>
        <%=hidden_field_tag :target_dom_id, 'rpt_financial_statement_content'%>
        <%=hidden_field_tag :content_body_selector, '#financial_statement_content_body'%>
        <input name="submit" type="submit" class="go_btn centered_button " value="<%= t('views.labels.search') %>"/>
      </div>
    </div>
  <% end %>

</div>

<script type="text/javascript">
  $j(document).ready(function() {

    /* duration dropdown changed */
    $j('#days_count').live('change', function() {

      var sel_value = $j('#days_count').val();
      if (sel_value == '1')
      {
        $j('#<%= @end_id %>').datepicker('setDate', '<%= Time.zone.today %>');
        $j('#<%= @start_id %>').datepicker('setDate', '<%= Time.zone.today.at_beginning_of_week %>');
        $j('#<%= @start_id %>').datepicker({ dateFormat: 'yy-mm-dd' })
      }
      else if (sel_value == '2')
      {
        $j('#<%= @end_id %>').datepicker('setDate', '<%= Time.zone.today %>');
        $j('#<%= @start_id %>').datepicker('setDate', '<%= Time.zone.today.at_beginning_of_month %>');
        $j('#<%= @start_id %>').datepicker({ dateFormat: 'yy-mm-dd' })
      }
      else if (sel_value == '3')
      {
        $j('#<%= @end_id %>').datepicker('setDate', '<%= Time.zone.today %>');
        $j('#<%= @start_id %>').datepicker('setDate', '<%= Time.zone.today.at_beginning_of_year %>');
        $j('#<%= @start_id %>').datepicker({ dateFormat: 'yy-mm-dd' })
      }


    });

  });
</script>