<script type="text/javascript">
    Array.prototype.reduce = undefined;
</script>
<% if @transaction_list.present? %>
    <div style="clear: both">
      <%=render :partial => 'shared/email_report_lb', :locals => {:parameterised_url => financial_statement_report_path(:start_date => params[:start_date], :end_date => params[:end_date], :submit => params[:submit], :report_type => 'email'),:email_body_id => 'email_finance_state_id'}%>
      <div class="gp_stay_links gap-right">
        <%= link_to t('views.labels.email'), 'javascript:void(0)', :onclick => "showEmailModalbox('email_finance_state_id')"  %>
        <%= link_to_csv %>
        <%= link_to_pdf %>
      </div>
      <div class="report_container">
        <%= render :partial => "shared/table", :locals => {:items => @transaction_list,
                                                           :total_col_span => 4,
                                                           :sum_column_titles => [t('views.labels.room_charge'),
                                                                                  t('views.labels.discount_on_room_charge'),
                                                                                  t('views.labels.service_charges'),
                                                                                  t('views.labels.total_paid'),
                                                                                  t('views.labels.balance')]} %>
      </div>

    </div>

    <!--<div class="graph_wrap">-->
      <!--<div id='room_charge_pie_chart' style="float: left"></div>-->
      <!--<div id='discount_pie_chart' style="float: left"></div>-->
      <!--<div id='service_charge_pie_chart' style="float: left"></div>-->
      <!--<div id='total_paid_pie_chart' style="float: left"></div>-->
      <!--<%= render_chart(@room_charge_pie_chart, 'room_charge_pie_chart') %>-->
      <!--<%= render_chart(@discount_pie_chart, 'discount_pie_chart') %>-->
      <!--<%= render_chart(@service_charge_pie_chart, 'service_charge_pie_chart') %>-->
      <!--<%= render_chart(@total_paid_pie_chart, 'total_paid_pie_chart') %>-->
    <!--</div>-->


<% end %>
