<div class=" clear groups_stay_form">
<%= render :partial => 'housekeeping/housekeeping_reports/part/revenue_by_counter_filter' %>
  </div>
<div class="room_listing_desc" id="revenue_by_counter_content_body">
<%= render :partial => 'housekeeping/housekeeping_reports/part/revenue_by_counter_body' %>
  </div>