<div class=" clear groups_stay_form">
<%= render :partial => 'housekeeping/housekeeping_reports/part/service_wise_transaction_filter' %>
</div>
<div class="room_listing_desc" id="service_wise_transaction_content_body">

<%= render :partial => 'housekeeping/housekeeping_reports/part/service_wise_transaction_body' %>
</div>