<% if @transaction_list.present? %>
    <div style="clear: both">
      <%= render :partial => 'shared/email_report_lb', :locals => {:parameterised_url => email_service_wise_revenue_pdf_path(:start_date => params[:start_date], :end_date => params[:end_date], :report_type => 'email'), :email_body_id => 'email_service_wise_id'} %>

      <div class="gp_stay_links gap-right">
        <%= link_to t('views.labels.email'), 'javascript:void(0)', :onclick => "showEmailModalbox('email_service_wise_id')" %>
        <%= link_to_csv %>
        <%= link_to_pdf %>
      </div>
      <div class="report_container">
        <%= render :partial => "shared/table", :locals => {:items => @transaction_list,
                                                           :total_col_span => 1,
                                                           :sum_column_titles => [:total_amount => t('views.labels.amount')]
        } %>
      </div>
      <%
         progress_percent = ((@total_amount * 100)/@service_revenue).to_f
      %>
      <div style=" float:left; width:98%;margin-left: 1%; margin-bottom: 1%; border: 1px solid #D5D5D5">
        <div style="float: left; padding-left: 5px; padding-top: 5px; width: 40%; ">
          <strong><%= t('views.labels.total') %> :<%= @service_revenue %></strong></div>
        <div style="float: left; width: 55%; padding-left: 10px; padding-top: 5px;border-left: 1px solid #D5D5D5" class=" twitter-bootstrap-root">
          <div style="float: left; width:40%"><%= t('views.labels.service_wise_revenue_ratio') %></div>
          <div class="progress " style="float: left; width:50%">
            <div class="bar" style="width:<%= progress_percent.round(2) %>%; padding-top: 2px;"><%= progress_percent.round(2) %>
              %
            </div>
          </div>

        </div>
      </div>


    </div>

<% end %>