<div class="views">
  <%= form_for(:transaction_report, :url => service_wise_revenue_report_path, :method => 'get', :remote => true) do |f| %>
    <%
       @start_id = 'start_date_' + Time.now.to_i.to_s
       @end_id = 'end_date_' + Time.now.to_i.to_s
    %>

    <div class="edit_wrapper car_input_row">
      <div class="manage_input" >
        <label><%= t('views.labels.start_date') %></label>
        <div class="dt_txt">
          <%= text_field_tag "start_date", params[:start_date]? params[:start_date] : Time.zone.today.strftime('%Y-%m-%d'),
                             :class => 'datepicker',
                             :id =>@start_id,
                             "data-less-than-eq-field" => @end_id
          %>
        </div>
      </div>
      <div class="manage_input" >
        <label><%= t('views.labels.end_date') %></label>
        <div class="dt_txt">
          <%= text_field_tag "end_date", params[:end_date]? params[:end_date] : Time.zone.today.strftime('%Y-%m-%d'),
                             :class => 'datepicker',
                             :id => @end_id,
                             "data-greater-than-eq-field" => @start_id
          %>
        </div>
      </div>
      <div class="manage_input"  style="width: 20%">
        <label><%= t('views.labels.services') %></label>
        <%= select_tag 'service_id', options_from_collection_for_select(@services, "id", "name", params[:service_id]), {:prompt => t('views.labels.all_service')}%>
      </div>
      <div class="manage_input"  style="width: 20%">
        <%=hidden_field_tag :lan, I18n.locale%>
        <%=hidden_field_tag :target_dom_id, 'rpt_service_wise_revenue_content'%>
        <%=hidden_field_tag :content_body_selector, '#service_wise_transaction_content_body'%>
        <input name="submit" type="submit" class="go_btn centered_button " value="<%= t('views.labels.search') %>"/>
      </div>
    </div>
  <% end %>
</div>