<%if params['target_dom_id'].present?%>
var target_container = '<%=params['target_dom_id']%>';
<%if params[:content_body_selector].present?%>
$j('#' + target_container).find('<%=params[:content_body_selector]%>').html('<%= escape_javascript(render :partial => 'housekeeping/housekeeping_reports/part/billing_information_body')%>');
<%else%>
$j('#' + target_container).html('<%= escape_javascript(render :partial => 'housekeeping/housekeeping_reports/part/billing_information_content')%>');
<%end%>
<% end %>
<% if params['report_type'] == 'email'%>
$('#email_service_wise_id').dialog('close');
gLightBoxes['email_billing_info_id'].deactivate();
<%end %>