<%if params['target_dom_id'].present?%>
var target_container = '<%=params['target_dom_id']%>';
<%if params[:content_body_selector].present?%>
$j('#' + target_container).find('<%=params[:content_body_selector]%>').html('<%= escape_javascript(render :partial => 'housekeeping/housekeeping_reports/part/deposit_listing_body')%>');
<%else%>
$j('#' + target_container).html('<%= escape_javascript(render :partial => 'housekeeping/housekeeping_reports/part/deposit_listing_content')%>');
<%end%>
<% end %>
