<div class="room_list_wrap">
  <div class="header_operation_wrap">
    <h1><%= t('template.dashboard.hotel_admin_nav.financial_statement_report') %></h1>

    <div class="operation">
      <%= link_to t('views.labels.back'), session[:return_to], {:class => 'icon_cancel'} %>
    </div>
  </div>
  <div class="room_list_breadcrumb">
    <%= render_breadcrumbs '>' %>
  </div>
 <div id ="rpt_financial_statement_content">
<%= render :partial => 'housekeeping/housekeeping_reports/part/financial_statement_content' %>
 </div>
</div>
