<%if params['target_dom_id'].present?%>
var target_container = '<%=params['target_dom_id']%>';
<%if params[:content_body_selector].present?%>
$j('#' + target_container).find('<%=params[:content_body_selector]%>').html('<%= escape_javascript(render :partial => 'housekeeping/housekeeping_reports/part/financial_statement_body')%>');
<%else%>
$j('#' + target_container).html('<%= escape_javascript(render :partial => 'housekeeping/housekeeping_reports/part/financial_statement_content')%>');
<%end%>
<% end %>
<% if params['report_type'] == 'email'%>
$('#email_finance_state_id').dialog('close');
<%end %>