    <li>|</li>
    <li id="branch_in_header" >
        <% entities = Hotel.where('hotels.id' => manageable_hotel_ids).includes(:translations).all %>
        <% if entities.size > 1 and !(controller_name == 'night_audit') %>
          <span class="current_branch">
          <%= select_tag('current_reporting_branch_id', options_for_select(entities.collect { |r| [r.title, r.id] }, current_reporting_branch_id), :class => '') %>
          </span>
        <% else %>
          <span>
            <%= current_branch.try(:name) %>
          </span>
        <% end %>
    </li>
