<% if current_cash_counter.present? %>
    <span>
      <%= current_cash_counter.name %>
    </span>
<% else %>
    <span>
   <%= link_to t('views.labels.select_cash_counter'), select_branch_panel_cash_counters_path, :target => '_blank' %>
  </span>
<% end %>