<%#= render :partial => 'parts/checkin_lb' %>
<%= render :partial => 'allocated_rooms/charge_room_lb' %>
<%= render :partial => 'check_ins/manage_payment_lb' %>
<%= render :partial => 'check_ins/check_out_lb' %>
<%= render :partial => 'check_ins/change_room_lb' %>
<%= render :partial => 'check_ins/cancel_check_in_lb' %>
<%= render :partial => 'wallets/charge_wallet_lb' %>
<%= render :partial => 'permission_groups/details_lb' %>
<%= render :partial => 'check_ins/cancel_check_out_lb' %>
<%= render :partial => 'rooms/markers_lb' %>
<%= render :partial => 'check_ins/add_edit_guest_lb' %>
<%= render :partial => 'check_ins/add_edit_group_lb' %>
<%= render :partial => 'check_ins/express_check_out_lb' %>
<%= render :partial => 'check_ins/housekeeping_confirm_lb' %>
<%= render :partial => 'tasks/task_lb' %>
<%= render :partial => 'tasks/multiple_assign_task_lb' %>
<%= render :partial => 'tasks/add_edit_lb' %>
<%= render :partial => 'partial_checkouts/popup' %>
<%= render :partial => 'shared/warn_for_time_zone' %>
<%= render :partial => 'shared/warn_for_night_audit' %>
<%= render :partial => 'folios/add_edit_lb' %>
<%= render :partial => 'folios/move_folio_confirm_lb' %>
<%= render :partial => 'hotel_services_payment/manage_payment_lb' %>
<%= render :partial => 'rates/rate_search_lb' %>
<%= render :partial => 'shared/email_query_report_lb' %>