<div class="nav_center">
  <div class="wizard_nav">
    <ul class="jq-menu">
      <li>
        <%= link_to t('template.dashboard.dashboard'), dashboard_home_path, {:class => (dashboard_nav_selected_class('dashboard').to_s + ' first_child')} %>
      </li>
      <li>
        <%= link_to_room_service_home %>
      </li>
      <li>
        <%= link_to_front_desk %>
      </li>
      <li>
        <%= link_to_house_keeping %>
      </li>
      <!--<li>-->
      <!--<%#= link_to t('template.dashboard.cashier_desk'), 'javascript:void(0)', :target => '_blank', :class => dashboard_nav_selected_class('cachier_desk') %>-->
      <!--</li>-->

      <li>
        <%= link_to_hotel_administration %>
      </li>
    </ul>
  </div>
</div>
<%#=    render :partial => 'parts/checkin_lb' %>
<%= render :partial => 'allocated_rooms/charge_room_lb' %>
<%= render :partial => 'check_ins/manage_payment_lb' %>
<%= render :partial => 'check_ins/check_out_lb' %>
<%= render :partial => 'check_ins/change_room_lb' %>
<%= render :partial => 'check_ins/cancel_check_in_lb' %>
<%= render :partial => 'check_ins/cancel_check_out_lb' %>
<%= render :partial => 'wallets/charge_wallet_lb' %>
<%= render :partial => 'permission_groups/details_lb' %>

