<div class="wrapper">
  <div class="header">
    <%= link_to(image_tag('dashboard/moteel_logo.png'), root_path, :class => 'logo position_logo') %>
    <div class="sign_row" style="margin-top: 6px">
      <div class="welcome">
        <ul style="display: inline-block; width: auto;">
          <li>
            <% if I18n.locale.to_s == 'en' %>
                <%= link_to(t('template.dashboard.arabic'), {:'lan' => 'ar', :params => params.delete_if { |key, value| key == "lan" }}, {:class => '', :onclick => fix_language_switch}) %>
            <% else %>
                <%= link_to(t('template.dashboard.english'), {:'lan' => 'en', :params => params.delete_if { |key, value| key == "lan" }}, {:class => '', :onclick => fix_language_switch}) %>
            <% end %>
          </li>
          <li>|</li>
          <li><%= link_to_logout %></li>
            <%= render :partial => 'layouts/parts/branch_in_header' %>
          <li>|</li>
          <li id="cash_counter_in_header">
            <%= render :partial => 'layouts/parts/cash_counter_in_header' %>
          </li>

          <li>|</li>

        </ul>
        <span class=""><%= link_to current_user.name, profile_path(current_user.profile) %></span>
        <span><%= t('template.dashboard.welcome') %></span>
      </div>
    </div>
    <div class="nav_wrapper">
      <div class="nav_center">
        <div class="admin_nav_wrapper margin_less">
          <%begin%>
          <%= render :partial => 'nav'%>
              <%rescue%>
              <%= render :partial => 'dashboard/nav'%>
          <%end%>
        </div>
      </div>

    </div>
  </div>
</div>

