<div id="report_wrapper" class="narrow">
  <div id="report_dashboard">
    <div class="hk_status">
      <h3><%= t('views.labels.todays_report') %></h3>

      <div class="hk_row">
        <label>
          <%= link_to t('views.labels.arrival_list'), 'javascript:void(0)', :url => front_desk_arrival_list_path(:target_dom_id => 'fdr_expected_guests_content'), 'loading_container_id' => 'fdr_expected_guests_content', :class => 'for_tab_view', :rel => 'fdr_expected_guests', :title => t('views.labels.arrival_list') %>
        </label>
        <span><a href="#"><%= @todays_activity_count['arrived'] %></a></span>
      </div>
      <div class="hk_row">
        <label>
          <%= link_to t('views.labels.no_show_reservation'), 'javascript:void(0)', :url => front_desk_no_show_guests_path(:target_dom_id => 'fdr_no_show_guests_content'), 'loading_container_id' => 'fdr_no_show_guests_content', :class => 'for_tab_view', :rel => 'fdr_no_show_guests', :title => t('views.labels.no_show_reservation') %>
        </label>
        <span><a href="#" id="no_show_reservation_link"><%= @todays_no_show_reservation_count.present? ? @todays_no_show_reservation_count : 0%></a></span>
      </div>
      <div class="hk_row">
        <label>
          <%= link_to t('views.labels.checkin_list'), 'javascript:void(0)', :url => front_desk_checkin_list_path(:target_dom_id => 'fdr_checkin_list_content'), 'loading_container_id' => 'fdr_checkin_list_content', :class => 'for_tab_view', :rel => 'fdr_checkin_list', :title => t('views.labels.checkin_list') %>
        </label>
        <span><a href="#" id="todays_checkin_link_count"><%= @todays_activity_count['todays_checkin_rooms'] %></a></span>
      </div>


      <!--<div class="hk_row">-->
      <!--<label>-->
      <!--<%#= link_to t('views.labels.check_in_summary'), 'javascript:void(0)', :url => front_desk_checkin_summary_path(:target_dom_id => 'fdr_checkin_summary_content'), 'loading_container_id' => 'fdr_checkin_summary_content', :class => 'for_tab_view', :rel => 'fdr_checkin_summary', :title => t('views.labels.check_in_summary') %>-->
      <!--</label>-->
      <!--<span><a href="#"><%#= @todays_activity_count['todays_checkin'] %></a></span>-->
      <!--</div>-->


      <div class="hk_row">
        <label>
          <%= link_to t('views.labels.checkout_list'), 'javascript:void(0)', :url => front_desk_checkout_list_path(:target_dom_id => 'fdr_checkout_list_content'), 'loading_container_id' => 'fdr_checkout_list_content', :class => 'for_tab_view', :rel => 'fdr_checkout_list', :title => t('views.labels.checkout_list') %>
        </label>
        <span><a href="#" id="todays_checkout_link_count"><%= @todays_activity_count['todays_checkout_rooms'] || 0 %></a></span>
      </div>
      <div class="hk_row">
        <label>
          <%= link_to t('views.labels.departure_list'), 'javascript:void(0)', :url => front_desk_departure_guests_path(:target_dom_id => 'fdr_departure_guests_content'), 'loading_container_id' => 'fdr_departure_guests_content', :class => 'for_tab_view', :rel => 'fdr_departure_guests', :title => t('views.labels.departure_list') %>
        </label>
        <span><a href="#" id="todays_departures_guests_count"><%= @todays_activity_count['todays_departures_guests'] %></a></span>
      </div>
      <!--<div class="hk_row">-->
      <!--<label>-->
      <!--<%= link_to t('views.labels.expected_group_checkout'), 'javascript:void(0)', :url => front_desk_departure_groups_path(:target_dom_id => 'fdr_departure_groups_content'), 'loading_container_id' => 'fdr_departure_groups_content', :class => 'for_tab_view', :rel => 'fdr_departure_groups', :title => t('views.labels.expected_group_checkout') %>-->
      <!--</label>-->
      <!--<span><a href="#"><%= @todays_activity_count['todays_departures_groups'] %></a></span>-->
      <!--</div>-->
      <div class="hk_row">
        <label>
          <%= link_to t('views.labels.temp_reservation_list'), 'javascript:void(0)', :url => front_desk_reservation_list_path(:target_dom_id => 'fdr_reservation_list_content'), 'loading_container_id' => 'fdr_reservation_list_content', :class => 'for_tab_view', :rel => 'fdr_reservation_list', :title => t('views.labels.temp_reservation_list') %>
        </label>
        <span><a href="#" id="todays_reservation_count"><%= @todays_activity_count['todays_reservation'] %></a></span>
      </div>
      <div class="hk_row">
        <label>
          <%= link_to t('views.labels.check_in_bill_summary'), 'javascript:void(0)', :url => front_desk_checkin_bill_summary_path(:target_dom_id => 'checkin_bill_summary_content'), :loading_container_id => 'checkin_bill_summary_content', :class => 'for_tab_view', :rel => 'checkin_bill_summary', :title => t('views.labels.check_in_bill_summary') %>
        </label>
      </div>
      <div class="hk_row">
        <label>
          <%= link_to t('views.labels.online_reservations'), 'javascript:void(0)', :url => online_reservations_path(:target_dom_id => 'online_reservation_report_content'), :loading_container_id => 'online_reservation_report_content', :class => 'for_tab_view',:id => 'online_reservation_link', :rel => 'online_reservation_report', :title => t('views.labels.online_reservations') %>
        </label>
        <span><a href="#" id="online_reservation_count"><%= @total_online_reservation_count.present? ? @total_online_reservation_count : 0%></a></span>
      </div>
      <!--<div class="hk_row">-->
      <!--<label>-->
      <!--<%#= link_to t('views.labels.expected_group_checkin'), 'javascript:void(0)', :url => front_desk_expected_groups_path(:target_dom_id => 'fdr_expected_groups_content'), 'loading_container_id' => 'fdr_expected_groups_content', :class => 'for_tab_view', :rel => 'fdr_expected_groups', :title => t('views.labels.expected_group_checkin') %>-->
      <!--</label>-->
      <!--<span><a href="#"><%#= @todays_activity_count['todays_expected_groups'] %></a></span>-->
      <!--</div>-->

      <!--<div class="hk_row">-->
      <!--<label>-->
      <!--<%#= link_to t('views.labels.no_show_group_checkin'), 'javascript:void(0)', :url => front_desk_no_show_groups_path(:target_dom_id => 'fdr_no_show_groups_content'), 'loading_container_id' => 'fdr_no_show_groups_content', :class => 'for_tab_view', :rel => 'fdr_no_show_groups', :title => t('views.labels.no_show_group_checkin') %>-->
      <!--</label>-->
      <!--<span><a href="#"><%#= @todays_activity_count['todays_no_show_groups'] %></a></span>-->
      <!--</div>-->
    </div>
    <%= render :partial => 'parts/side_bar_message_notification' %>

    <%= render :partial => 'parts/side_bar_task_notification' %>

    <div class="hk_status">
      <div class="room_identy_row">
        <% Constants::ITEM_VIEW_STATUSES.each do |status| %>
            <div class="identy_col_row_other">
              <div class="<%= status %>"></div>
              <div class="id_desc">
             <span>
               <%= t("template.dashboard.#{status}") %>:
             </span>
              <span id="<%= status %>_count" class="status_count">
                   0
              </span>
              </div>
            </div>
        <% end %>
      </div>
      <script type="text/javascript">
          DASHBOARD.itemViewStatuses = [<%= Constants::ITEM_VIEW_STATUSES.collect{|c|"'#{c}'"}.join(", ").html_safe %>];
      </script>
    </div>
  </div>

  <div id="invoice_dashboard" style="display: none;">
    <div class="user-reservation">
      <h4>
        <%= t('views.labels.payment_information') %>
      </h4>
    </div>
  </div>
</div>
