<ul class="jq-menu">
  <% if current_user %>
      <li><%= link_to t('template.dashboard.dashboard'), dashboard_home_path, {:class => dashboard_nav_selected_class('dashboard').to_s + ' first_child'} %></li>
      <% if current_reporting_branch_id != 0 %>
          <li>
            <%= link_to t('template.dashboard.hotel_admin_nav.general'), 'javascript:void(0)', :class => 'admin_top_menu_event', :id => "generalMenu_li" %>
            <%= render :partial => 'layouts/parts/hotel_admin_navs/general' %>
          </li>
          <li class="margin-left">
            <a href="#" class="down-arrow"></a>
            <%= render :partial => 'layouts/parts/hotel_admin_navs/general', :locals => {:ul_id => 'generalMenu_arrow', :parent_class => 'right-padding10 head-nav', :child_class => 'left-padding15'} %>
          </li>

          <li>
            <%= link_to t('template.dashboard.hotel_admin_nav.hotel_and_rooms_management'), 'javascript:void(0)', :class => 'admin_top_menu_event', :id => 'hotelRoomsMenu_li' %>
            <%= render :partial => 'layouts/parts/hotel_admin_navs/hotel_and_room' %>
          </li>
          <li class="margin-left">
            <a href="#" class="down-arrow "></a>
            <%= render :partial => 'layouts/parts/hotel_admin_navs/hotel_and_room', :locals => {:ul_id => 'hotelRoomsMenu_arrow', :parent_class => 'right-padding10 head-nav', :child_class => 'left-padding15'} %>
          </li>


          <li>
            <%= link_to t('template.dashboard.hotel_admin_nav.user_management'), 'javascript:void(0)', :class => 'admin_top_menu_event', :id => "userMenu_li" %>
            <%= render :partial => 'layouts/parts/hotel_admin_navs/user_management' %>
          </li>
          <li class="margin-left">
            <a href="#" class="down-arrow"></a>
            <%= render :partial => 'layouts/parts/hotel_admin_navs/user_management', :locals => {:ul_id => 'userMenu_arrow', :parent_class => 'right-padding10 head-nav', :child_class => 'left-padding15'} %>
          </li>


          <li>
            <%= link_to t('template.dashboard.hotel_admin_nav.crm'), 'javascript:void(0)', :class => 'admin_top_menu_event', :id => "crmMenu_li" %>
            <%= render :partial => 'layouts/parts/hotel_admin_navs/crm' %>
          </li>
          <li class="margin-left">
            <a href="#" class="down-arrow"></a>
            <%= render :partial => 'layouts/parts/hotel_admin_navs/crm', :locals => {:ul_id => 'crmMenu_arrow', :parent_class => 'right-padding10 head-nav', :child_class => 'left-padding15'} %>
          </li>

          <li>
            <%= link_to t('template.dashboard.hotel_admin_nav.accounting'), 'javascript:void(0)', :class => 'admin_top_menu_event', :id => "accMenu_li" %>
            <%= render :partial => 'layouts/parts/hotel_admin_navs/accounting' %>
          </li>
          <li class="margin-left">
            <a href="#" class="down-arrow"></a>
            <%= render :partial => 'layouts/parts/hotel_admin_navs/accounting', :locals => {:ul_id => 'accMenu_arrow', :parent_class => 'right-padding10 head-nav', :child_class => 'left-padding15'} %>
          </li>

          <li>
            <%= link_to t('template.dashboard.hotel_admin_nav.online_management'), 'javascript:void(0)', :class => 'admin_top_menu_event', :id => 'onlineManagementMenu_li' %>
            <%= render :partial => 'layouts/parts/hotel_admin_navs/online_management' %>
          </li>
          <li class="margin-left">
            <a href="#" class="down-arrow"></a>
            <%= render :partial => 'layouts/parts/hotel_admin_navs/online_management', :locals => {:ul_id => 'onlineManagementMenu_arrow', :parent_class => 'right-padding10 head-nav', :child_class => 'left-padding15'} %>
          </li>
      <% end %>
      <% if travel_agent? %>
          <li><%= link_to t('template.dashboard.reservation'), 'javascript:void(0)', :class => dashboard_nav_selected_class('reservation') %></li>
          <li><%= link_to t('template.dashboard.finance'), 'javascript:void(0)', :class => dashboard_nav_selected_class('finance') %></li>
      <% end %>
  <% else %>
      <li><%= link_to(t('template.dashboard.home'), root_path, :class => 'active selected_menu') %></li>
      <li><%= link_to(t('template.dashboard.contact_us'), "javascript:void(0)", :class => 'active selected_menu') %></li>
  <% end %>
</ul>

<script type="text/javascript">
    $j(document).ready(function () {
        $j("ul.nav-sub-menu").not(":has(li)").parent().hide();
        $j("li.right-menu>ul").not(":has(li)").parent().hide();
    });
</script>