<ul class="jq-menu">

  <li>
    <%= link_to_front_desk %>
    <ul class="nav-sub-menu">
      <% if  hotel_agent? || has_any_role_with_hierarchy?(:check_in_manage_all) %>
          <li><%= link_to t('template.dashboard.walkin_checkin'), 'javascript:void(0)', :url => new_check_in_path(:target_dom_id => 'fdr_checkin_form_content'), :class => 'for_tab_view', :rel => 'fdr_checkin_form', :title => t('views.labels.check_in') %></li>
      <% end %>
      <% if  hotel_agent? || has_any_role_with_hierarchy?(:reservation_manage_all) %>
          <li><%= link_to t('template.dashboard.reservation'), 'javascript:void(0)', :url => new_check_in_path(:target_dom_id => 'fdr_reservation_form_content', :status => Constants::CHECK_IN_STATUSES[:reserved]), :class => 'for_tab_view', :rel => 'fdr_reservation_form', :title => t('views.labels.reservation') %></li>
      <% end %>
      <% if  hotel_agent? || has_any_role_with_hierarchy?(:check_in_manage_all) %>
          <li><%= link_to t('views.labels.check_out'), "javascript:void(0)", :class => 'check_out ' %></li>
      <% end %>

      <% if hotel_agent? || has_any_role_with_hierarchy?(:check_in_add_edit_charge) %>
          <li><%= link_to t('template.dashboard.charge_room'), "javascript:void(0)", :class => 'chargeroom ' %>
      <% end %>
      <% if hotel_agent? || has_any_role_with_hierarchy?(:check_in_add_edit_payment) %>
          <li><%= link_to t('views.labels.manage_payment'), "javascript:void(0)", :class => 'manage_payment ' %>
      <% end %>
      <% if can_cash_closeout? %>
          <li><%= link_to t('template.dashboard.cash_close_out'), 'javascript:void(0)', :url => new_branch_panel_cash_closeout_path( :target_dom_id => 'fdr_cash_closeout_content'), :class => 'for_tab_view', :rel => 'fdr_cash_closeout', :title => t('views.labels.cash_closeout')  %></li>
      <% end %>
      <% if  hotel_agent? || has_any_role_with_hierarchy?(:check_in_manage_all) %>
          <li><%= link_to t('template.dashboard.rate_search'), 'javascript:void(0)', :'data-dialog' => 'rate_search_lb', :'data-dialog-width' => '750' %></li>
      <% end %>
    </ul>
  </li>

  <li>
    <%#= link_to_house_keeping %>
  </li>
  <!--<li>-->
  <!--<%= link_to t('template.dashboard.cashier_desk'), :cashier_desk, :target => '_blank', :class => "dashboard_nav_selected_class('cashier_desk')" %>-->
  <!--</li>-->
  <li>
    <%= link_to_reporting %>
  </li>

  <li>
    <%#= link_to_room_service_home %>
  </li>
  <li>
    <%= link_to_hotel_administration %>
  </li>
  <li><%= link_to_support %></li>

</ul>