<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <title><%= t('views.labels.page_title') %></title>
  <%= yield :head_tag %>
  <%= stylesheet_link_tag "dashboard/style_#{I18n.locale.to_s}" %>
  <%= stylesheet_link_tag 'dashboard/style' %>
  <%= stylesheet_link_tag 'nav' %>
  <%= stylesheet_link_tag 'lightbox2' %>
  <%= stylesheet_link_tag 'lightbox_'+I18n.locale.to_s %>
</head>

<body class="<%= ltr_or_rtl %>" current_language="<%=I18n.locale.to_s%>">

<div class="slider_row clear">
<%= render :partial => 'parts/dashboard_header' %>
<div class="wrapper">
<div class="slide_wrap">
  <div class="inner_page_content">
    <div class="oops"> </div>
    <div class="oops_txt">You may have mistyped the address or the page may have moved.</div>
    <div class="start height">&nbsp;</div>

    <div class="clear"></div>
    <div class="center">
      <span class="inline-block">
        <input type="submit" value="Back To Front Desk" name=" " class="back_desk_btn">
      </span>
    </div>
  </div>
</div>
</div>
</div>
</div>
<div class="inner_bot_wrap">
  <div class="inner_bot_shade"></div>
</div>
</div>

<%= render :partial => 'parts/dashboard_footer' %>
<%= render :partial => 'lightbox/message' %>

</body>
</html>