<div class="narrow">
  <div class="hk_status">
    <h3>Todays Room Status</h3>

    <div class="hk_row">
      <label><a href="#">Today's Check In</a></label>
      <span><a href="#">6</a></span>
    </div>
    <div class="hk_row">
      <label><a href="#">Today's Check Out</a></label>
      <span><a href="#">14</a></span>
    </div>
    <div class="hk_row">
      <label>Available</label>
      <span>24</span>
    </div>
    <div class="hk_row">
      <label>Reserved</label>
      <span>4</span>
    </div>
    <div class="hk_row">
      <label>Occupied</label>
      <span>2</span>
    </div>
    <div class="hk_row">
      <label>Blocked</label>
      <span>0</span>
    </div>
    <div class="hk_row">
      <label>Overbooking</label>
      <span>0</span>
    </div>
    <div class="hk_row">
      <label>Checked Out</label>
      <span>4</span>
    </div>

  </div>

  <div id="housekeeping-filters" class="hk_status">
    <h3>Housekeeping</h3>
    <div id="housekeeping-filters-dirty" class="hk_row">
      <label>Dirty</label>
      <span>0</span>
    </div>
    <div id="housekeeping-filters-touch-up" class="hk_row">
      <label>Touch up</label>
      <span>0</span>
    </div>
    <div id="housekeeping-filters-clean" class="hk_row">
      <label>Clean</label>
      <span>0</span>
    </div>
    <div id="housekeeping-filters-repair" class="hk_row">
      <label>Repair</label>
      <span>0</span>
    </div>
    <div id="housekeeping-filters-inspect" class="hk_row">
      <label>Inspect</label>
      <span>0</span>
    </div>
  </div>

  <div class="hk_status">
    <h3>Room Status Legends</h3>
    <div class="hk_row">
      <div class="available"></div>
      <p>Available</p>
      <span>0</span>
    </div>
    <div class="hk_row">
      <div class="reserved"></div>
      <p>Reserved</p>
      <span>24</span>
    </div>
    <div class="hk_row">
      <div class=" due_out"></div>
      <p>Due Out</p>
      <span>2</span>
    </div>
    <div class="hk_row">
      <div class=" checked_in"></div>
      <p>Checked In</p>
      <span>0</span>
    </div>
    <div class="hk_row">
      <div class=" checked_out"></div>
      <p>Checked Out</p>
      <span>1</span>
    </div>
    <div class="hk_row">
      <div class=" locked"></div>
      <p>Locked</p>
      <span>1</span>
    </div>
    <div class="hk_row">
      <div class=" maintenance"></div>
      <p>Maintenance</p>
      <span>1</span>
    </div>
  </div>

  <a href="#" class="add_more">Refresh Houekeeping Status</a>

</div>

<div class="wide_wrapper">

  <div class="reserv_search_row">
      <label>
        Set Housekeeping Status
      </label>
      <select>
        <option>Select</option>
      </select>
      <input type="submit" class="submit_btn" id="" value="Go">

      <label>
        Assign Selected Room to
      </label>
      <select>
        <option>Select Employee</option>
      </select>
      <input type="submit" class="submit_btn" id="" value="Assign">
      <label>
        View By
      </label>
      <select>
        <option>All Rooms</option>
      </select>
  </div>

  <div class="hk_whole_info">
    <div class="hk_whole_desc heading_txt">
      <div class="very_sm">
        <input type="checkbox">
      </div>
      <div class="small">
        Room
      </div>
      <div class="medium">
        Room Type
      </div>
      <div class="small">
        status
      </div>
      <div class="small">
        Availability
      </div>
      <div class="large">
        Remarks
      </div>
      <div class="large">
        Names
      </div>
    </div>

    <div class="hk_whole_desc odd_bg">
      <div class="very_sm">
        <input type="checkbox">
      </div>
      <div class="small">
        RN01
      </div>
      <div class="medium">
        Super Deluxe
      </div>
      <div class="small">
        <a href="#" class="add_more">Touch Up</a>
      </div>
      <div class="small available light_txt">
        Available
      </div>
      <div class="large">
        Check out
      </div>
      <div class="large">
        Not Assign
      </div>
    </div>

    <div class="hk_whole_desc ">
      <div class="very_sm">
        <input type="checkbox">
      </div>
      <div class="small">
        RN01
      </div>
      <div class="medium">
        Super Deluxe
      </div>
      <div class="small">
        <a href="#" class="add_more">Touch Up</a>
      </div>
      <div class="small">
        Available
      </div>
      <div class="large">
        Check out
      </div>
      <div class="large">
        Not Assign
      </div>
    </div>

    <div class="hk_whole_desc odd_bg">
      <div class="very_sm">
        <input type="checkbox">
      </div>
      <div class="small">
        RN01
      </div>
      <div class="medium">
        Super Deluxe
      </div>
      <div class="small">
        <a href="#" class="add_more">Touch Up</a>
      </div>
      <div class="small">
        Available
      </div>
      <div class="large">
        Check out
      </div>
      <div class="large">
        Not Assign
      </div>
    </div>

    <div class="hk_whole_desc ">
      <div class="very_sm">
        <input type="checkbox">
      </div>
      <div class="small">
        RN01
      </div>
      <div class="medium">
        Super Deluxe
      </div>
      <div class="small">
        <a href="#" class="add_more">Touch Up</a>
      </div>
      <div class="small">
        Available
      </div>
      <div class="large">
        Check out
      </div>
      <div class="large">
        Not Assign
      </div>
    </div>

    <div class="hk_whole_desc odd_bg">
      <div class="very_sm">
        <input type="checkbox">
      </div>
      <div class="small">
        RN01
      </div>
      <div class="medium">
        Super Deluxe
      </div>
      <div class="small">
        <a href="#" class="add_more">Touch Up</a>
      </div>
      <div class="small">
        Available
      </div>
      <div class="large">
        Check out
      </div>
      <div class="large">
        Not Assign
      </div>
    </div>

    <div class="hk_whole_desc ">
      <div class="very_sm">
        <input type="checkbox">
      </div>
      <div class="small">
        RN01
      </div>
      <div class="medium">
        Super Deluxe
      </div>
      <div class="small">
        <a href="#" class="add_more">Touch Up</a>
      </div>
      <div class="small">
        Available
      </div>
      <div class="large">
        Check out
      </div>
      <div class="large">
        Not Assign
      </div>
    </div>

    <div class="hk_whole_desc odd_bg">
      <div class="very_sm">
        <input type="checkbox">
      </div>
      <div class="small">
        RN01
      </div>
      <div class="medium">
        Super Deluxe
      </div>
      <div class="small">
        <a href="#" class="add_more">Touch Up</a>
      </div>
      <div class="small">
        Available
      </div>
      <div class="large">
        Check out
      </div>
      <div class="large">
        Not Assign
      </div>
    </div>

    <div class="hk_whole_desc ">
      <div class="very_sm">
        <input type="checkbox">
      </div>
      <div class="small">
        RN01
      </div>
      <div class="medium">
        Super Deluxe
      </div>
      <div class="small">
        <a href="#" class="add_more">Touch Up</a>
      </div>
      <div class="small">
        Available
      </div>
      <div class="large">
        Check out
      </div>
      <div class="large">
        Not Assign
      </div>
    </div>

    <div class="hk_whole_desc odd_bg">
      <div class="very_sm">
        <input type="checkbox">
      </div>
      <div class="small">
        RN01
      </div>
      <div class="medium">
        Super Deluxe
      </div>
      <div class="small">
        <a href="#" class="add_more">Touch Up</a>
      </div>
      <div class="small">
        Available
      </div>
      <div class="large">
        Check out
      </div>
      <div class="large">
        Not Assign
      </div>
    </div>


    <div class="hk_whole_desc ">
      <div class="very_sm">
        <input type="checkbox">
      </div>
      <div class="small">
        RN01
      </div>
      <div class="medium">
        Super Deluxe
      </div>
      <div class="small">
        <a href="#" class="add_more">Touch Up</a>
      </div>
      <div class="small">
        Available
      </div>
      <div class="large">
        Check out
      </div>
      <div class="large">
        Not Assign
      </div>
    </div>

    <div class="hk_whole_desc odd_bg">
      <div class="very_sm">
        <input type="checkbox">
      </div>
      <div class="small">
        RN01
      </div>
      <div class="medium">
        Super Deluxe
      </div>
      <div class="small">
        <a href="#" class="add_more">Touch Up</a>
      </div>
      <div class="small ">
        Available
      </div>
      <div class="large">
        Check out
      </div>
      <div class="large">
        Not Assign
      </div>
    </div>



    <div class="clear"></div>
    <div class="center " style="margin: 10px 0">
      <input type="button" class="go_btn centered_button" value="Print">
    </div>

  </div>




</div>