<div class="reserv_search_row">
  <label>
    Reserv. No
  </label>
  <input type="text" value=""  style="width: 11%">

  <label>
    Guest Name
  </label>
  <input type="text" value=""  style="width: 20%">

  <label>
    Reserv. Status
  </label>
  <input type="text" value=""  style="width: 10%">

  <label>
    Reserv. Source
  </label>
  <input type="text" value=""  style="width: 12%">

  <input type="submit" value="Search"  class="submit_btn" >

</div>

<div class="resrv_profile_row">
  <h1 class="reserv_head_bg">
    Profile
  </h1>

  <div class="resrv_prof_desc">
    <div class="desc_half">
      <div class="prof_single_col">
        <label>Last Name</label>
        <input type="text" value=""  >
      </div>
      <div class="prof_single_col">
        <label>Fast Name</label>
        <input type="text" value=""  >
      </div>
      <div class="prof_single_col">
        <label>Tittle </label>
        <select class="half">
          <option>
            Mr.
          </option>
        </select>
      </div>
      <div class="prof_single_col">
        <label>Nationality</label>
        <select class="full">
          <option>
            Saudia Arabia
          </option>
        </select>
      </div>
      <div class="prof_single_col">
        <label>Guest ID</label>
        <input type="text" value=""  >
      </div>
      <div class="prof_single_col">
        <label>Guest Designation </label>
        <select class="half">
          <option>
            Citizen
          </option>
        </select>
      </div>

      <div class="prof_single_col">
        <label>Guest Type </label>
        <select class="half">
          <option>
            VIP
          </option>
        </select>
      </div>

      <div class="prof_single_col">
        <label>Guest History </label>
        <select class="half">
          <option>
            Normal
          </option>
        </select>
      </div>

      <div class="prof_single_col">
        <label>ID Type </label>
        <select class="full">
          <option>
            National ID
          </option>
        </select>
      </div>

      <div class="prof_single_col">
        <label>ID Number</label>
        <input type="text" value=""  >
      </div>
      <div class="prof_single_col">
        <label>Passport No.</label>
        <input type="text" value=""  >
      </div>
      <div class="prof_single_col">
        <label>Visa Number</label>
        <input type="text" value=""  >
      </div>

    </div>
    <div class="desc_half">


      <div class="prof_single_col">
        <label>Telephone</label>
        <input type="text" value=""  >
      </div>

      <div class="prof_single_col">
        <label class="txt_align">Type </label>
        <select class="half">
          <option>
            Agent
          </option>
        </select>
      </div>

      <div class="prof_single_col">
        <label>ID No.</label>
        <input type="text" value=""  >
      </div>

      <div class="prof_single_col_full">
        <label>Address</label>
        <input type="text" value=""  >
      </div>
      <a href="#" class="add_more more_pos">+Add More Details</a>

      <div class="prof_action_row">

        <ul class="edit_view">
          <li>
            <a  class="Deactivate" href="#">Create</a>
          </li>
          <li>
            <a  class="Deactivate" href="#">Update</a>
          </li>
          <li>
            <a  class="Deactivate" href="#">More info</a>
          </li>
        </ul>

      </div>

    </div>
  </div>
</div>

<div class="rerserv_room_wrap">
  <div class="side_part">
    <h1 class="reserv_head_bg">
      Reservation Information
    </h1>

    <div class="full_wrap">
      <div class="prof_single_col">
        <label>Check In</label>
        <input type="text"  value="">
      </div>
      <div class="prof_single_col">
        <label>No. of Rooms</label>
        <select class="half">
          <option>
           Citizen
          </option>
        </select>
      </div>
      <div class="prof_single_col">
        <label>Nights </label>
        <select class="half">
          <option>
            Mr.
          </option>
        </select>
      </div>
      <div class="prof_single_col">
        <label>Rate Code </label>
        <select class="full">
          <option>
            Corporate 10%
          </option>
        </select>
      </div>
      <div class="prof_single_col">
        <label>Check Out</label>
        <input type="text"  value="">
      </div>
      <div class="prof_single_col">
        <label>Discount Type </label>
        <select class="half">
          <option>
            NA
          </option>
        </select>
      </div>

      <div class="prof_single_col">
        <label>Total Price </label>
        <input type="text"  value="">
      </div>

      <div class="prof_single_col">
        <label>After Discount </label>
        <input type="text"  value="">
      </div>

    </div>

    <div class="sub_box ">
      <h1 class="no_curv_head_bg">Instant Deposite</h1>
      <div class="full_wrap">
        <div class="prof_single_col">
          <label>Deposite</label>
          <input type="text"  value="">
        </div>
        <div class="prof_single_col">
          <label>C. Card No</label>
          <input type="text"  value="">
        </div>
        <div class="prof_single_col">
          <label>Payment Type </label>
          <select class="full">
            <option>
              Credit Card
            </option>
          </select>
        </div>
        <div class="prof_single_col">
          <label>Ext. Number </label>
          <input type="text"  value="">
        </div>
        <div class="prof_single_col">
          <label>CC Name</label>
          <input type="text"  value="">
        </div>
        <div class="prof_single_col">
          <label>Exp. Date </label>
          <input type="text"  value="">
        </div>
        <div class="prof_single_col">
          <input type="checkbox"  value="">
          <span>Store Credit Card Info</span>
        </div>

      </div>
    </div>

    <div class="sub_box ">
      <h1 class="no_curv_head_bg">Source and Status</h1>
      <div class="full_wrap">
        <div class="prof_single_col">
          <label>Booked By</label>
          <input type="text"  value="">
        </div>
        <div class="prof_single_col">
          <label>Date & Time</label>
          <input type="text"  value="">
        </div>
        <div class="prof_single_col">
          <label>Source </label>
          <input type="text"  value="">
        </div>
        <div class="prof_single_col">
          <label>Done By </label>
          <input type="text"  value="">
        </div>
        <div class="prof_single_col">
          <label>Res. Status</label>
          <input type="text"  value="">
        </div>
        <div class="prof_single_col">
          <label>Valid Untill </label>
          <input type="text"  value="">
        </div>
        <div class="prof_single_col_full">
          <label>Comments</label>
          <input type="text"  value="">
        </div>

      </div>
    </div>

  </div>



  <div class="side_part">
    <h1 class="reserv_head_bg">
      Room RN1
    </h1>

    <div class="rs_room_row">
      <div class="rs_row v-align">
        <label class="">Room Type</label>
        <select style="width: 20%">
          <option>
            Delux
          </option>
        </select>
        <label class="">Room No</label>
        <input type="text"  value="" style="width: 20%">
        <label class="">Price</label>
        <span>:</span>
        <span class="rs_bold_sm ">2000SAR</span>
      </div>
      <div class="rs_row">
        <label>Guest Name</label>
        <span class="rs_bold_sm">Abdul Aziz Arifi</span>
      </div>

      <div class="rs_row">
        <label>Dependents</label>

        <div class="dep_desc">
          <span class="rs_bold_sm">Ahammed</span>
          <span>[ Son ]</span>

          <div class="clear"></div>
          <span class="rs_bold_sm">Afsana Bin</span>
          <span>[ Daughter  ]</span>
          <span><b>Adult</b> <b>:</b> <b>2</b>  <b>Child</b> <b>:</b> <b>1</b>  </span>

          <div class="clear"></div>
          <span class="rs_bold_sm">Rukhiya Bin</span>
          <span>[ Daughter  ]</span>

        </div>
      </div>

      <div class="rs_row v-align">
        <label class="">New Dependent</label>
        <input type="text"  value="" style="width: 20%">
        <label class="">Relation</label>
        <select style="width: 20%">
          <option>
            Select
          </option>
        </select>
        <a href="#" class="space"><img src="/assets/dashboard/add.png" class="edit_info add_guest" alt="Add"></a>


      </div>

    </div>

    <h1 class="no_curv_head_bg">Room RN2</h1>

    <div class="rs_room_row">
      <div class="rs_row v-align">
        <label class="">Room Type</label>
        <select style="width: 20%">
          <option>
            Delux
          </option>
        </select>
        <label class="">Room No</label>
        <input type="text" style="width: 20%" value="" >
        <label class="">Price</label>
        <span>:</span>
        <span class="rs_bold_sm ">2000SAR</span>
      </div>
      <div class="rs_row">
        <label>Guest Name</label>
        <span class="rs_bold_sm">Abdul Aziz Arifi</span>
      </div>

      <div class="rs_row">
        <label>Dependents</label>

        <div class="dep_desc">
          <span class="rs_bold_sm">Ahammed</span>
          <span>[ Son ]</span>

          <div class="clear"></div>
          <span class="rs_bold_sm">Afsana Bin</span>
          <span>[ Daughter  ]</span>
          <span><b>Adult</b> <b>:</b> <b>2</b>  <b>Child</b> <b>:</b> <b>1</b>  </span>

          <div class="clear"></div>
          <span class="rs_bold_sm">Rukhiya Bin</span>
          <span>[ Daughter  ]</span>

        </div>
      </div>

      <div class="rs_row v-align">
        <label class="">New Dependent</label>
        <input type="text" style="width: 20%" value="" >
        <label class="">Relation</label>
        <select style="width: 20%">
          <option>
            Select
          </option>
        </select>
        <a class="space" href="#"><img alt="Add" class="edit_info add_guest" src="/assets/dashboard/add.png"></a>


      </div>

    </div>

    <h1 class="no_curv_head_bg">Room RN3</h1>

    <div class="rs_room_row">
      <div class="rs_row v-align">
        <label class="">Room Type</label>
        <select style="width: 20%">
          <option>
            Delux
          </option>
        </select>
        <label class="">Room No</label>
        <input type="text" style="width: 20%" value="" >
        <label class="">Price</label>
        <span>:</span>
        <span class="rs_bold_sm ">2000SAR</span>
      </div>
      <div class="rs_row">
        <label>Guest Name</label>
        <span class="rs_bold_sm">Abdul Aziz Arifi</span>
      </div>

      <div class="rs_row">
        <label>Dependents</label>

        <div class="dep_desc">
          <span class="rs_bold_sm">Ahammed</span>
          <span>[ Son ]</span>

          <div class="clear"></div>
          <span class="rs_bold_sm">Afsana Bin</span>
          <span>[ Daughter  ]</span>
          <span><b>Adult</b> <b>:</b> <b>2</b>  <b>Child</b> <b>:</b> <b>1</b>  </span>

          <div class="clear"></div>
          <span class="rs_bold_sm">Rukhiya Bin</span>
          <span>[ Daughter  ]</span>

        </div>
      </div>

      <div class="rs_row v-align">
        <label class="">New Dependent</label>
        <input type="text" style="width: 20%" value="" >
        <label class="">Relation</label>
        <select style="width: 20%">
          <option>
            Select
          </option>
        </select>
        <a class="space" href="#"><img alt="Add" class="edit_info add_guest" src="/assets/dashboard/add.png"></a>


      </div>

    </div>

    <div class="ttl_row">
      <div class="single_col_left">
        <span>Total Room</span>
        <span>:</span>
        <span class="rs_bold_sm">03</span>
      </div>
      <div class="single_col_right">
        <span>Total Price</span>
        <span>:</span>
        <span class="rs_bold_sm">800SAR</span>
      </div>
    </div>

  </div>


</div>

<div style="margin-top: 10px" class="center clear">
  <input type="button" value="Save" class="go_btn centered_button">
  <input type="submit" value="Checkin" class="go_btn centered_button">
  <input type="button" value="Cancel" class="go_btn centered_button">
  <input type="submit" value="Print" class="go_btn centered_button">
  <input type="submit" value="checkout" class="go_btn centered_button">
</div>