<%=render :partial => 'shared/email_report_lb', :locals => {:parameterised_url => sales_by_services_report_path(:start_date => params[:start_date], :end_date => params[:end_date],  :report_type => 'email')}%>

<div class="gp_stay_links">
  <%= link_to t('views.labels.email'), 'javascript:void(0)', :onclick => "initialize(); gLightBoxes['email_report_lb'].activate();" %>
  <%= link_to_pdf %>
  <%= link_to_csv %>
</div>
<div class="col_wrap bot_border head_bold">
  <div class="col_1 side_bor">#</div>

  <div class="col_3 " style="width: 13%"><%= t('views.labels.counter') %></div>
  <div class="col_3 " style="width: 13%"><%= t('views.labels.user') %></div>
  <div class="col_3 " style="width: 13%"><%= t('views.labels.opening_balance') %></div>
  <div class="col_3 " style="width: 13%"><%= t('views.labels.closing_balance') %></div>
  <div class="col_3 " style="width: 13%"><%= t('views.labels.transferred_amount') %></div>

  <div class="col_8" style="width: 13%"><%= t('views.labels.activities') %></div>
</div>

<% if @sales_by_services.size > 0 %>
    <% @sales_by_services.each_with_index do |sales_by_service, i| %>
        <div class="col_wrap bot_border ">
          <div class="col_1 side_bor"><%= i+1 %></div>

          <div class="col_3 " style="width: 13%"><%= sales_by_service.cash_counter.name %></div>
          <div class="col_3 " style="width: 13%"><%= sales_by_service.cash_counter_access_log.user.name rescue "" %></div>
          <div class="col_3 " style="width: 13%"><%= sales_by_service.opening_balance %></div>
          <div class="col_3 " style="width: 13%"><%= sales_by_service.closing_balance %></div>
          <div class="col_3 " style="width: 13%"><%= sales_by_service.transferred_balance %></div>

          <div class="col_8" style="width: 13%">
            <%= link_to t('views.labels.print'), 'javascript:void(0)', :target => '_blank' %>
          </div>
        </div>
    <% end %>
<% else %>
    <%= t('notifications.no_data_available') %>
<% end %>

