<div class="reserv_search_row rm_service_select_size">
  <label><%= t('views.labels.status') %></label>
  <span>
    <%= form_tag(update_room_service_status_path, :id => 'set_statuses_form', :style => "width:19%", :name => 'set_statuses_form', :remote => true) do %>
          <%= select_tag 'room_service_status', options_for_select(Constants::TASK_STATUSES.collect { |s, k| [t("views.labels.#{s.downcase}"), Constants::TASK_STATUSES[s.downcase.to_sym]] }), :prompt => t('views.labels.select') %>
          <%= hidden_field_tag 'set_status_selected_ids', '' %>
          <%= submit_tag t('views.labels.go'), :id => 'set_statuses_submit', :class => 'submit_btn' %>
      <% end %>

  </span>


  <label>

    <%= t('views.labels.filter_by') %>
  </label>

  <span><%= select_tag 'filter_service', options_from_collection_for_select(Service.filtered(current_reporting_branch_id).optionals, 'id', 'title'), :prompt => t('views.labels.service'), :style => 'width:100px; ' %></span>
  <span><%= select_tag 'filter_pending_service_status', options_for_select(Constants::PENDING_ROOM_SERVICE_DELIVERY_STATUS.collect { |s| [t("views.labels.#{s}"), s] }), :prompt => t('views.labels.pending_status'), :style => 'width:100px; ' %></span>

  <label>
    <%= t('views.labels.select_employee') %>
  </label>
  <%= form_tag(assign_employee_room_service_path, :id => 'assign_employee_form',:style => "width:17%", :name => 'assign_employee_form', :remote => true, :method => :post) do %>
      <%= select_tag 'assigned_employee_id', options_from_collection_for_select(assigned_users, 'id', 'full_name'), :prompt => t('views.labels.select'), :style => 'width:62px; ' %>
      <%= hidden_field_tag 'assign_employee_selected_ids', '' %>
      <%= hidden_field_tag 'task_title', '' %>
      <%= hidden_field_tag 'room_service_status', '' , :id => 'emp_assign_room_service' %>
      <%= link_to t('views.labels.assign'), 'javascript:void(0)', :id => 'assign_employee_submit', :class => 'submit_btn' %>
  <% end %>

  <div class="right" style="width: 80%; margin: 1% 1% 0;">
    <div class="operation mt3" style="width: auto;">
      <a href="#" class="icon_del">
        <%= submit_tag(t("views.labels.cancel_service"), :onclick => "if(confirm('#{t("notifications.sure")}')){$j('#cancel_multiple_tasks_form').attr('action', '#{cancel_multiple_tasks_path}').submit()}") %>
      </a>
      <a href="#" class="icon_del">
        <%= submit_tag(t("views.labels.delete_service"), :onclick => "if(confirm('#{t("notifications.sure")}')){$j('#cancel_multiple_tasks_form').attr('action', '#{delete_multiple_tasks_path}').submit()}") %>
      </a>
      <%= link_to t('views.labels.add_service'), 'javascript:void(0)', :class => "add_edit_task icon_ad", :'data-url' => new_lb_tasks_path(supplied_type: 'CheckInAddOnTask') %>
      <%= link_to t('views.labels.payment'), 'javascript:void(0)', :class => "icon_ad manage_payment" %>
    </div>

  </div>
</div>


