<% curr_time ||= (Time.now.to_f*1000000).to_i %>
<div class="border_inner_box">
  <%= render :partial => 'room_service/actions_with_filter', :locals => {:assigned_users => assigned_users} %>
</div>
<%= form_for(:tmp, :url => '', :method => :post, :remote =>true,  :html => {:id => 'cancel_multiple_tasks_form'}) do |f|%>
<div class="message_list twitter-bootstrap-root" style="padding: 5px;width: 99%">
  <table class="table table-striped table-bordered" id="data_table_<%= curr_time %>">
    <thead>
    <tr>
      <th>
        <input type="checkbox" data-checkbox-toggle-all="room_service_task">
      </th>
      <th>
        <%= t('views.labels.service') %>
      </th>
      <th>
        <%= t('views.labels.quantity') %>
      </th>
      <th>
        <%= t('views.labels.room') %>
      </th>
      <th>
        <%= t('views.labels.delivery_time') %>
      </th>
      <th>
        <%= t('views.labels.assign_to') %>
      </th>
      <th>
        <%= t('views.labels.remarks') %>
      </th>
      <th>
        <%= t('views.labels.action') %>
      </th>
    </tr>
    </thead>
    <tbody id="room_service_row_container">
    <%= render :partial => 'room_service/room_service_row', :collection => room_services %>
    </tbody>
  </table>
</div>
<% end %>
<style type="text/css ">
    .message_list select, .message_list input[type="text"] {
        margin-bottom: 0px;
    }
</style>


