<ul class="jq-menu">

  <li>
    <%= link_to_front_desk %>
  </li>
  <li>
    <%= link_to_house_keeping %>
  </li>
  <li>
    <%= link_to_reporting %>
  </li>

  <li>
   <%= link_to_room_service_home %>
  </li>
  <li>
    <%= link_to_hotel_administration %>
  </li>
</ul>