<td class="<%= room_service_row.service_status %>" room_service_status ="<%= room_service_row.service_status %>" style="width: 25px;">
  <input type="checkbox" name= "task_ids[]" toggle_check_attr="room_service_task" style="width: 20px;" multiple_select_check = "true" class="room_service_task_checkbox" value="<%= room_service_row.id %>" service_id="<%= room_service_row.check_in_add_on.service.id rescue '' %>" service_status="<%= room_service_row.service_status %>">


</td>
<td>
  <%= link_to room_service_row.check_in_add_on.service.title, 'javascript:void(0)',
              :class => "add_edit_task icon_ad",
              :remote => true,
              :'data-url' => edit_lb_task_path(room_service_row.id, :supplied_type => 'CheckInAddOnTask', 'hide_due_date' => 'false') %>

</td>
<td>
  <%= room_service_row.check_in_add_on.try(:service_count) %>
</td>
<td>
  <%= room_service_row.check_in_add_on.try(:room).try(:title) %>
</td>
<td>
  <%= fdt(room_service_row.due_date) %>
</td>
<td>
  <%= room_service_row.try(:assigned_user).try(:full_name) %>
</td>
<td>
  <%= room_service_row.title %>
</td>

<td data-status="<%= room_service_row.status.to_s.downcase %>" data-id="<%= room_service_row.id %>" class="no_flt room_service_status medium" id="room_service_status_<%= room_service_row.id %>">
  <%= t("views.labels.#{room_service_row.status.downcase}")  %>
</td>