<div class="narrow">
  <%= form_tag room_service_path, :method => 'get', :name => 'filter-from', 'data-remote' => true do %>

      <div class="hk_status inline-datepicker-wrapper">
        <div class="inline-datepicker">
          <%= hidden_field_tag "room_service_filter_date", params[:sroom_service_filter_date] || Time.zone.today,
                               :class => 'target_date_field select_ajax_submit' %>
        </div>
      </div>
  <% end %>

  <div id="room_service_side_bar_message_notification">
    <%= render :partial => 'parts/side_bar_message_notification' %>
  </div>
  <div id="room_service_side_bar_task_notification">
    <%= render :partial => 'parts/side_bar_task_notification' %>
  </div>

  <div class="hk_status">
    <h3><%= t('views.labels.service_status') %></h3>

    <div id="room_service_status_counts">
      <%= render :partial => 'status_counts' %>
    </div>

  </div>

  <%#=link_to t('views.labels.refresh_room_service_status'), 'javascript:void(0)'%>
</div>
<script type="text/javascript">
    $j(document).ready(function () {
        $j('.inline-datepicker').datepicker(
                {   dateFormat: "yy-mm-dd",
                    onSelect: function (dateText, inst) {
                        $j($j(this).find('.target_date_field').val(dateText)).trigger('change');
                    }
                }

        );
    })
</script>

<style type="text/css">
    .inline-datepicker-wrapper .ui-datepicker {
        width: auto !important;
    }
</style>