<% Constants::PENDING_ROOM_SERVICE_DELIVERY_STATUS.each do |k| %>
    <div class="hk_row">
      <label class="room_service_status_filter"> <span class="<%=k%>"> </span>   <%= link_to t("views.labels.#{k}"), 'javascript:void(0)', :filter => k %></label>
      <span class="room_service_status_count">
        <%= @room_services_status_count_hash[k] || 0 rescue 0%>
      </span>
    </div>
<% end %>