$j('#flash_message_div').html("<%= escape_javascript(render :partial => 'parts/dashboard_flash_message') %>");
$j('#flash_message_div').slideDown().delay(10000);
<%if @success%>
$j('#room_service_row_container').html("<%= escape_javascript(render :partial => 'room_service/room_service_row', :collection => @room_services) %>");
<%end%>