<%if params[:context] == 'room_service'%>
$j('#' + roomServiceDataTableId).dataTable().fnDestroy();
$j('#room_service_row_container').html('<%= escape_javascript(render :partial => 'room_service/room_service_row', :collection => @room_services) %>');
initRoomServiceDataTable();
$j('#room_service_status_counts').html('<%=escape_javascript(render :partial => 'room_service/status_counts')%>')
$j('#room_service_side_bar_message_notification').html('<%=escape_javascript(render :partial => 'parts/side_bar_message_notification')%>')
$j('#room_service_side_bar_task_notification').html('<%=escape_javascript(render :partial => 'parts/side_bar_task_notification')%>')

<% else %>
$j('#room_service_dashboard_container').html('<%= escape_javascript(render :partial => 'room_service/home_content',
                                                            :locals => {:assigned_users => @assigned_users,
                                                            :room_services => @room_services}) %>');

$j('#room_service_dashboard_container').show();
$j('a.h_tab_select').removeClass('h_tab_select');
$j('#dashboard_home_tab').addClass('h_tab_select');

<% end %>
