<% curr_time = (Time.now.to_f*1000000).to_i %>
<script type="text/javascript">
    Teks.roomServiceFilter = '';
</script>
<div class="group_type_tab tab_view">
  <ul id="v_tabs">
    <li>
      <%= link_to t('views.labels.room_service'), room_service_path, :id => 'dashboard_home_tab', :title => t('views.labels.room_service_dashboard'), :class => 'h_tab_select', :remote => true %>
    </li>
    <%= render_refresh_tab(t('views.labels.room_service')) %>
  </ul>
</div>
<div class="quickview less_top" id="v_tab_content">
  <div id="room_service_dashboard_container" class="v_tab_content_item">
    <%= render :partial => 'room_service/home_content', :locals => {:assigned_users => @assigned_users, :room_services => @room_services, :curr_time => curr_time} %>
  </div>
</div>

<script type="text/javascript">

    $j.fn.dataTableExt.afnFiltering.push(
            function (oSettings, aData, iDataIndex) {
                var return_value = true;
                if (Teks.roomServiceFilter.length > 0) {
                    var co = $j(aData[0]);
                    if (co.attr('service_status') != Teks.roomServiceFilter)
                        return_value = false;
                }

                if (return_value) {
                    var service_id = $j('#filter_service').val() * 1;
                    var co = $j(aData[0]);
                    if (service_id > 0 && co.attr('service_id') != service_id) {
                        return_value = false;
                    }
                }
                return return_value;
            }
    );

    var statusOptions = "<%=raw Constants::TASK_STATUSES.collect { |s,k| "<option value='#{Constants::TASK_STATUSES[s.downcase.to_sym]}'> #{t("views.labels.#{s.downcase}") }</option> "}.join(' ')%>";
    var roomServiceDataTable = null;
    var roomServiceDataTableId = 'data_table_<%= curr_time %>';
    var ROOM_SERVICE_DASHBOARD = {
        updateDataTable: function (task_id, new_record) {
            var dataRow = $j('tr[room_service_task_id=' + task_id + ']')
            var tdData = jQuery.map(dataRow.find('td'), function (el) {
                return $j(el).html();
            });
            if (typeof new_record == "undefined") {
                var pos = roomServiceDataTable.fnGetPosition(dataRow.get(0));
                roomServiceDataTable.fnUpdate(tdData, pos)
            }
            else
                roomServiceDataTable.fnAddData(tdData);
        }
    }

    var initRoomServiceDataTable = function(){
        roomServiceDataTable = $j('#' + roomServiceDataTableId).dataTable({
            "aoColumns": [
                { "bSortable": false },
                null,
                null,
                null,
                null,
                null,
                null,
                { "bSortable": false }
            ],
            "fnDrawCallback": function(oSettings) {
                if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
                    $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
                }
            },

            "oLanguage": {
                "sSearch": "<%= t('views.labels.search') %>",
                "sZeroRecords": "<%= t('views.labels.no_data_available') %>",
                "sInfo": "<%= t('views.labels.showing_records_table') %>",
                "sInfoEmpty": "<%= t('views.labels.showing_empty_records_table') %>",
                "sLoadingRecords": "<%= t('views.labels.loading') %>",
                "sProcessing": "<%= t('views.labels.processing') %>",
                "sLengthMenu": "<%= t('views.labels.show_entries_filter') %>",
                "oPaginate": {
                    "sFirst": "<%= t('views.labels.first') %>",
                    "sPrevious": "<%= t('views.labels.previous') %>",
                    "sNext": "<%= t('views.labels.next') %>",
                    "sLast": "<%= t('views.labels.last') %>"
                }
            }

        });

    }
    $j(document).ready(function () {
        $j('.check_all').live('change', function () {
            var css_class = $j(this).data('checkbox-css');
            $j('.' + css_class).attr('checked', $j(this).is(':checked'));
        });


        $j('#assign_employee_submit').live('click', function (e) {
            $j('#multiple_assign_title').val('');

            $j('#multiple_assign_task_lb').dialog({
                width: 700,
                modal: true,
                title: $j('#assign_employee_submit').attr('modal-title')
            });
            e.preventDefault();
        });

        $j('#multiple_assign_title_save').live('click', function () {
            var roomIds = [];
            $j('input[multiple_select_check]:checked').each(function () {
                roomIds.push($j(this).val());
            });
            $j('#assign_employee_selected_ids').val(roomIds.toString());
            $j('#task_title').val($j('#multiple_assign_title').val());
            if ($j('#assigned_employee_id').val() == '') {
                $j('#emp_assign_room_service').val('NOT_ASSIGNED');

            } else {
                $j('#emp_assign_room_service').val('ASSIGNED');

            }
            $j('#assign_employee_form').submit();
            gLightBoxes['multiple_assign_task_lb'].deactivate();
        });

        $j('#set_statuses_submit').live('click', function (e) {
            var roomIds = [];
            $j('input[multiple_select_check]:checked').each(function () {
                roomIds.push($j(this).val());
            });
            if ($j('#room_service_status').val() == 'ASSIGNED' && $j('#assigned_employee_id').val() == "") {
                alert("Please select an employee");
                return false
            }
            $j('#set_status_selected_ids').val(roomIds.toString());
            $j('#set_statuses_form').submit();
            e.preventDefault();
        });

        $j('#filter_room_type').live('change', function (e) {
            var selectedRoomTypeId = $j('#filter_room_type').val();

            $j('#room_type_loading').show();
            $j.ajax({
                type: "GET",
                url: "/housekeeping",
                data: { room_type_id: selectedRoomTypeId }
            }).done(function () {
                        $j('#room_type_loading').hide();
                    });

            e.preventDefault();
        });

        initRoomServiceDataTable()
        $j('.room_service_status_filter a').click(function () {
            Teks.roomServiceFilter = $j(this).attr('filter')
        });

        $j('#filter_pending_service_status ').change(function () {
            Teks.roomServiceFilter = $j(this).val()
        });

        $j('.room_service_status_filter a').click(function () {
            roomServiceDataTable.fnDraw();
        });

        $j('#filter_pending_service_status, #filter_service').change(function () {
            roomServiceDataTable.fnDraw();
        });


        $j('.room_service_status').live('click', function (e) {
            var oldValue = $j(this).text().trim().toLowerCase();
            var did = $j(this).data('id');
            var markup = '<select style="width: 100px;" data-id="' + did + '" class="s_room_service_status" name="room_service_status"> ' + statusOptions + ' </select><input class="submit_btn set_individual_status_submit" name="commit" type="button" value="GO"/>';
            $j(this).html(markup);
            $j('select.s_room_service_status [value="' + oldValue + '"]').attr('selected', true);
        });

        $j('.room_service_status select.s_room_service_status').live('click', function (e) {
            e.stopPropagation();
        });


        $j('.set_individual_status_submit').live('click', function (e) {
            $j('#room_service_status').val($j(this).prev().val());
            var data = {
                "authenticity_token": $j('#set_statuses_form input[name="authenticity_token"]').val(),
                "room_service_status": $j(this).prev().val(),
                "set_status_selected_ids": $j(this).prev().data('id')
            };
            $j.post('/update_room_service_status?lan=en', data);
        });

        $j('body').on('task_created', function (e, task_id) {
           // DASHBOARD.Tasks.reloadTask(task_id, 'room_service');
            DASHBOARD.Tasks.reloadFullTask('room_service');
        });

        $j('body').on('task_updated', function (e, task_id) {
            //DASHBOARD.Tasks.reloadTask(task_id, 'room_service', true);
            DASHBOARD.Tasks.reloadFullTask('room_service');
        });
        $j('body').on('tasks_canceled', function (e) {
            DASHBOARD.Tasks.reloadFullTask('room_service');
        });


    });
</script>