<% @tasks.each do |task| %>
$j('#room_service_status_<%= task.id %>').html('<%= t("views.labels.#{task.status.downcase}")  %>');
var firstTD = $j('#room_service_status_<%= task.id %>').closest('tr').find('td:first');
firstTD.removeClass('<%= Constants::TASK_STATUSES.collect{|k, v| k.to_s}.join(' ') %>');

<%if task.status == Constants::TASK_STATUSES[:completed]%>
firstTD.addClass('<%= task.status.try(:downcase) %>');
firstTD.attr('room_service_status', '<%=task.status.downcase%>')
<%else%>
firstTD.addClass('<%= task.service_status %>');
firstTD.attr('room_service_status', '<%=task.service_status%>')
<%end%>
<% end %>

$j('#flash_message_div').html("<%= escape_javascript(render :partial => 'parts/dashboard_flash_message') %>");
$j('#flash_message_div').slideDown().delay(10000);

<% @room_services,@room_services_status_count_hash  = CheckInAddOnTask.list_for_room_service_home(current_branch)%>
$j('#room_service_status_counts').html('<%=escape_javascript(render :partial => 'room_service/status_counts')%>')
$j('#room_service_side_bar_message_notification').html('<%=escape_javascript(render :partial => 'parts/side_bar_message_notification')%>')
$j('#room_service_side_bar_task_notification').html('<%=escape_javascript(render :partial => 'parts/side_bar_task_notification')%>')
