<div class="reserv_search_row">

  <label>
    <%= t('views.labels.filter_by') %>
  </label>

  <span><%= select_tag 'filter_room_type', options_from_collection_for_select(room_types, 'id', 'title', selected_room_type.to_i), :prompt => t('views.labels.select_room_type') %></span>
  <span id="room_type_loading" style="display:none"> <%= image_tag 'spin.gif', :height => '20px', :align => 'top' %></span>

  <!--<div class="multiple_status_assign">-->
  <label><%= t('views.labels.set_housekeeping_status') %></label>

  <%= form_tag(update_housekeeping_status_path, :id => 'set_statuses_form', :name => 'set_statuses_form', :remote => true) do %>
      <%= select_tag 'housekeeping_status', options_for_select(Constants::HOUSEKEEPING_STATUS_OPTIONS.collect { |s| [t("views.labels.#{s}"), Constants::HOUSEKEEPING_STATUS_CODES[s.to_sym]] }), :prompt => t('views.labels.select') %>
      <%= hidden_field_tag 'set_status_selected_ids', '' %>
      <%= submit_tag t('views.labels.update'), :id => 'set_statuses_submit', :class => 'submit_btn' %>
  <% end %>

  <!--</div>-->

  <!--<div class="multiple_employee_assign">-->
  <label>
    <%= t('views.labels.select_employee') %>
  </label>
  <%= form_tag(assign_employee_housekeeping_path, :id => 'assign_employee_form', :name => 'assign_employee_form', :remote => true, :method => :post) do %>
      <%= select_tag 'assigned_employee_id', options_from_collection_for_select(assigned_users, 'id', 'full_name'), :prompt => t('views.labels.select'), :style => "width:65%;" %>
      <%= hidden_field_tag 'assign_employee_selected_ids', '' %>
      <%= hidden_field_tag 'task_title', '' %>
      <%= submit_tag t('views.labels.assign'), :id => 'assign_employee_submit', :'modal-title' => t('views.labels.assign_employee'), :class => 'submit_btn' %>
  <% end %>
  <!--</div>-->
</div>


