<div class="border_inner_box">
  <%= render :partial => 'housekeeping/actions_with_filter', :locals => {:assigned_users => assigned_users, :room_types => room_types, :selected_room_type => selected_room_type} %>
</div>
<div class="border_inner_box">
  <table class="hk_whole_info tabular_fullwidth mid_val no_flt" cellpadding="0" cellspacing="0">
    <tr class="hk_whole_desc heading_txt no_h_bor no_flt">
      <th>
        <input type="checkbox" class="check_all" data-checkbox-css="room_select_checkbox">
      </th>
      <th>
        <%= t('views.labels.room') %>
      </th>
      <th>
        <%= t('views.labels.room_type') %>
      </th>
      <th>
        <%= t('views.labels.housekeeping_status') %>
      </th>
      <th>
        <%= t('views.labels.front_desk_status') %>
      </th>
      <th>
        <%= t('views.labels.remarks') %>
      </th>
      <th>
        <%= t('views.labels.employee') + ' ' + t('views.labels.names') %>
      </th>
    </tr>

    <%= render :partial => 'housekeeping/housekeeping_row', :locals => {:rooms => rooms, :status_data => status_data} %>

    <tfoot>
    <tr>
      <td class="no_bor" colspan="7">
        <div class="clear"></div>
        <div class="center " style="margin: 10px 0">

          <%= link_to t('views.labels.print'), housekeeping_print_path(:action_type => 'print'), :class => 'go_btn centered_button', :target => '_blank', :class => "go_btn centered_button" %>


        </div>
      </td>
    </tfoot>
    </tr>
  </table>

</div>

<script type="text/javascript">
    $j(document).ready(function () {
        $j('.check_all').live('change', function () {
            var css_class = $j(this).data('checkbox-css');
            $j('.' + css_class).attr('checked', $j(this).is(':checked'));
        });

        $j('#set_statuses_submit').live('click', function (e) {
            var roomIds = [];
            $j('.room_select_checkbox:checked').each(function () {
                roomIds.push($j(this).val());
            });
            $j('#set_status_selected_ids').val(roomIds.toString());

            $j('#set_statuses_form').submit();
            e.preventDefault();
        });

        <% Constants::HOUSEKEEPING_STATUS_CODES.each do |k, v| %>
        $j('#<%= k %>_count').text($j('.<%= k %>').size());
        <% end %>

        $j('#assign_employee_submit').live('click', function (e) {
            $j('#multiple_assign_title').val('');
            $j('#multiple_assign_task_lb').dialog({
                width: 700,
                modal: true,
                title: $j('#assign_employee_submit').attr('modal-title')
            });
            $j('#multiple_assign_task_lb #multiple_assign_title_save').removeAttr('clicked');

            e.preventDefault();
        });

        $j('#multiple_assign_title_save').live('click', function () {
            if (!$j(this).attr('clicked')) {
                $j(this).attr('clicked', true)
            }
            else {
                return false;
            }
            var roomIds = [];
            $j('.room_select_checkbox:checked').each(function () {
                roomIds.push($j(this).val());
            });
            $j('#assign_employee_selected_ids').val(roomIds.toString());
            $j('#task_title').val($j('#multiple_assign_title').val());
            $j('#assign_employee_form').submit();
            $j('#multiple_assign_task_lb').dialog('close');
        });

        $j('#filter_room_type').live('change', function (e) {
            var selectedRoomTypeId = $j('#filter_room_type').val();

            $j('#room_type_loading').show();
            $j.ajax({
                type: "GET",
                url: "/housekeeping",
                data: { room_type_id: selectedRoomTypeId }
            }).done(function () {
                        $j('#room_type_loading').hide();
                    });

            e.preventDefault();
        });

        $j('.housekeeping_status_filter a').live('click', function (e) {
            var clickedStatus = $j(this).attr("data_seed");
            $j('.housekeeping_room_row').show();
            $j('.housekeeping_room_row:not([data-status="' + clickedStatus + '"])').hide();
            e.preventDefault();
        });

        $j('.room_housekeeping_status').live('click', function (e) {

            var oldValue = $j(this).text().trim().toLowerCase().replace(" ", "_");
            var did = $j(this).data('id');
            var markup = '<select data-id="' + did + '" class="housekeeping_status" name="housekeeping_status"><option value=""><%= t("views.labels.select") %></option><option value="dirty"> <%= t("views.labels.dirty") %></option><option value="touch_up"><%= t("views.labels.touch_up") %></option><option value="clean"><%= t("views.labels.clean") %></option><option value="repair"><%= t("views.labels.repair") %></option><option value="inspect"><%= t("views.labels.inspect") %></option></select><input class="submit_btn" id="set_individual_status_submit" name="commit" type="button" value="<%= t("views.labels.go") %>"/>';
            $j(this).html(markup);
            $j(this).find('select.housekeeping_status [value="' + oldValue + '"]').attr('selected', true);
        });
        $j('.room_housekeeping_status select.housekeeping_status').live('click', function (e) {
            e.stopPropagation();
        });


        $j('#set_individual_status_submit').live('click', function (e) {
            $j('#housekeeping_status').val($j(this).prev().val());
            var data = {
                "authenticity_token": $j('#set_statuses_form input[name="authenticity_token"]').val(),
                "housekeeping_status": $j(this).prev().val(),
                "set_status_selected_ids": $j(this).prev().data('id')
            };
            $j.post("/update_housekeeping_status?lan=<%= params[:lan] %>", data);
        });

        $j('#dirty_count').text(<%= rooms.collect {|r| r.house_keeping_status}.count {|i|i=='DIRTY'} %>);
        $j('#touch_up_count').text(<%= rooms.collect {|r| r.house_keeping_status}.count {|i|i=='TOUCH_UP'} %>);
        $j('#clean_count').text(<%= rooms.collect {|r| r.house_keeping_status}.count {|i|i=='CLEAN'} %>);
        $j('#repair_count').text(<%= rooms.collect {|r| r.house_keeping_status}.count {|i|i=='REPAIR'} %>);
        $j('#inspect_count').text(<%= rooms.collect {|r| r.house_keeping_status}.count {|i|i=='INSPECT'} %>);

    });
</script>

<style type="text/css">
    span[assigned_task_to_id] {
        padding: 2px 4px;
        background: #b0c0c9;
        border-radius: 5px !important;
        border: 1px solid #ffffff;
        position: relative;
    }

    span[assigned_task_to_id] a {
        position: absolute;
        top: -6px;
        color: #E31F1F;
    }

    .ltr span[assigned_task_to_id] a {
     right: 0;
    }

    .rtl span[assigned_task_to_id] a {
     left: 0;
    }


</style>