<% rooms.each do |room| %>
    <% status = @status_data[room.id] || 'available' %>
    <tr class="hk_whole_desc  housekeeping_room_row no_h_bor no_flt" data-status="<%= room.house_keeping_status.to_s.titleize || Constants::HOUSEKEEPING_STATUS_CODES[:clean] %>">
      <% unless params[:action_type] == 'print' %>
          <td>
            <input type="checkbox" class="room_select_checkbox" value="<%= room.id %>">
          </td>
      <% end %>

      <td>
        <%= room.title %>
      </td>
      <td>
        <%= room.room_type.title || "&nbsp;".html_safe %>
      </td>
      <td data-status="<%= room.house_keeping_status.to_s.downcase %>" data-id="<%= room.id %>" class="no_flt room_housekeeping_status medium" id="room_housekeeping_status_<%= room.id %>">
        <%= t("views.labels.#{room.house_keeping_status.downcase}") rescue '' %>
      </td>

      <td class=" <%= status.downcase %> light_txt">
        <%= t("views.labels.#{status.downcase}", :default => t('views.labels.available')) %>
      </td>
      <td>
        <%= @remarks_and_assignments[room.id][:remarks] rescue "&nbsp;".html_safe %>
      </td>
      <td style="text-align: left">
        <% if @remarks_and_assignments[room.id] && @remarks_and_assignments[room.id][:assigned_user_task].size > 0 %>
            <% @remarks_and_assignments[room.id][:assigned_user_task].collect do |task| %>
                <% user = task.assigned_user%>
                <span room_id="<%= room.id %>" assigned_task_to_id="<%= user.id %>">
              <%= user.full_name %>
                  <%= link_to 'x', "/remove_employee_housekeeping?task_id=#{task.id}", :class => 'remove', :remote =>true, :method => "post", :confirm => t('views.labels.are_you_sure'), :title => t('views.labels.remove') %>
            </span>
            <% end %>
        <% else %>
        <span>
          <%= t('views.labels.not_assigned') %>
        </span>
        <% end %>
      </td>
    </tr>
<% end %>