<link href="/assets/print_media_<%= I18n.locale.to_s %>.css" media="print" rel="stylesheet" type="text/css"/>
<div class="border_inner_box">
  <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin-top: 5px;" class="tabular_fullwidth">
    <thead>
    <tr>
      <th style="width: 7%">
        <%= t('views.labels.room') %>
      </th>
      <th  style="width: 10%">
        <%= t('views.labels.room_type') %>
      </th>
      <th  style="width: 10%">
        <%= t('views.labels.housekeeping_status') %>
      </th>
      <th  style="width: 10%">
        <%= t('views.labels.front_desk_status') %>
      </th>
      <th  style="width: 28%">
        <%= t('views.labels.remarks') %>
      </th>
      <th  style="width: 20%">
        <%= t('views.labels.employee') + ' ' + t('views.labels.names') %>
      </th>
    </tr>
    </thead>
    <tbody>
    <%= render :partial => 'housekeeping/housekeeping_row', :locals => {:rooms =>@rooms, :status_data => @status_data} %>
    </tbody>

  </table>


</div>