<a href="" class="lbOn" rel="multi_room_assign_lb"></a>
<div class="fi_light_box_row" id="multi_room_assign_lb" style="display: none;width: auto;left:20%;right:20%;z-index: 1001;position: absolute;">
  <div class="fi_head">
    <h1 id='task_lb_header'>
      <%= t('views.labels.assign_employee') %>
    </h1>
    <a class="fi_close multi_room_assign_lb_close" href="javascript:void(0)"></a>
  </div>
  <div class="qv_row charge_room" style="width: 96%">
    <div class="qv_row_full_content" id="multi_room_assign_lb_container" style="padding: 5px;">

    </div>
  </div>
</div>

