<ul class="jq-menu">

  <li>
    <%= link_to t('template.dashboard.front_desk'), front_desk_path, :class => "#{dashboard_nav_selected_class('front_desk')}" + ' first_child' %>
    <ul class="nav-sub-menu">
      <% if  hotel_agent? || has_any_role_with_hierarchy?(:check_in_manage_all) %>
          <li><%= link_to t('template.dashboard.walkin_checkin'), 'javascript:void(0)', :url => from_room_view_check_ins_path(:target_dom_id => 'fdr_checkin_form_content'), :class => 'for_tab_view', :rel => 'fdr_checkin_form', :title => t('views.labels.check_in') %></li>
      <% end %>
      <% if  hotel_agent? || has_any_role_with_hierarchy?(:reservation_manage_all) %>
          <li><%= link_to t('template.dashboard.reservation'), 'javascript:void(0)', :url => from_room_view_reservations_path(:target_dom_id => 'fdr_reservation_form_content'), :class => 'for_tab_view', :rel => 'fdr_reservation_form', :title => t('views.labels.reservation') %></li>
      <% end %>
      <% if  hotel_agent? || has_any_role_with_hierarchy?(:check_in_manage_all) %>
          <li><%= link_to t('views.labels.check_out'), "javascript:void(0)", :class => 'check_out ' %></li>
      <% end %>

      <% if hotel_agent? || has_any_role_with_hierarchy?(:check_in_add_edit_charge) %>
          <li><%= link_to t('template.dashboard.charge_room'), "javascript:void(0)", :class => 'chargeroom ' %>
      <% end %>
      <% if hotel_agent? || has_any_role_with_hierarchy?(:check_in_add_edit_payment) %>
          <li><%= link_to t('views.labels.manage_payment'), "javascript:void(0)", :class => 'manage_payment ' %>
      <% end %>
      <% if can_cash_closeout? %>
          <li><%= link_to t('template.dashboard.cash_close_out'), 'javascript:void(0)', :url => new_branch_panel_cash_closeout_path( :target_dom_id => 'fdr_cash_closeout_content'), :class => 'for_tab_view', :rel => 'fdr_cash_closeout', :title => t('views.labels.cash_closeout')  %></li>
      <% end %>
    </ul>
  </li>

  <li>
    <% if hotel_agent? || has_any_role_with_hierarchy?(:housekeeping_dashboard_view) %>
      <%= link_to t('template.dashboard.house_keeping'), housekeeping_path, :target => '_blank', :class => "#{dashboard_nav_selected_class('house_keeping')}" %>
    <% end %>
  </li>
  <!--<li>-->
  <!--<%#= link_to t('template.dashboard.cashier_desk'), :cashier_desk, :target => '_blank', :class => "dashboard_nav_selected_class('cashier_desk')" %>-->
  <!--</li>-->
  <li>
    <% if hotel_agent? || has_any_role_with_hierarchy?(:report_home) %>
      <%= link_to t('template.dashboard.hotel_admin_nav.reporting'), :reports_base, :target => '_blank', :class => "dashboard_nav_selected_class('reports_base')" %>
    <% end %>
  </li>

  <li>
    <% if hotel_agent? || has_any_role_with_hierarchy?(:room_service) %>
      <%= link_to t('views.labels.room_service'), :room_service, :target => '_blank', :class => "dashboard_nav_selected_class('room_service')" %>
    <% end %>
  </li>
  <li>
    <% if hotel_agent? %>
      <%= link_to t('template.dashboard.hotel_administration'), hotel_administration_path, :target => '_blank', :class => "dashboard_nav_selected_class('reports').to_s + ' last_child'" %>
    <% end %>
  </li>
</ul>