$j('#flash_message_div').html("<%= escape_javascript(render :partial => 'parts/dashboard_flash_message') %>");
$j('#flash_message_div').slideDown().delay(10000);
DASHBOARD.TabView.refresh_tab('dashboard_home_tab');
