<link href="/assets/print_<%= I18n.locale.to_s %>.css" rel="stylesheet" type="text/css" />
<link href="/assets/print_media_<%= I18n.locale.to_s %>.css" media="print" rel="stylesheet" type="text/css"/>

<style type="text/css">
    table {
        border-collapse: collapse;
        width: auto;
    }

    table, td, th {
        border: 1px solid #D5D5D5;
    }

    td, th {
        padding: 5px;
    }

    td:last-of-type {
        width: 50px;
        text-align: right;
    }
    .heading {
        height: auto;
    }
        /* Done for the amount column assuming that it is the right most */
    hr {
        margin-top: 20px;
        border: 0;
        height: 1px;
        background: #333;
        background-image: -webkit-linear-gradient(left, #ccc, #888, #ccc);
        background-image: -moz-linear-gradient(left, #ccc, #888, #ccc);
        background-image: -ms-linear-gradient(left, #ccc, #888, #ccc);
        background-image: -o-linear-gradient(left, #ccc, #888, #ccc);
    }

    @media print {
        .receipt_row { border: none;}
    }
</style>

<div class="heading">
  <h1>House Keeping Report</h1>
  <h1>Date: <%= Time.zone.today.strftime('%Y-%m-%d') %></h1>
</div>
<div class="wrapper">
  <div class="cont_add">
    <div class="left_side">
      <%= render :partial => 'hotel_services_payment/hotel_address', :locals => {hotel: current_branch} %>
    </div>
  </div>

  <div class="receipt_row">
    <div class="full_widh">
      <div class="received_row">
        <%= render :partial => 'housekeeping/housekeeping_print_content' %>
      </div>
    </div>

    <div class="term_row">
      <div class="condition" style="background-color: #FFFFFF;">
        <%#= render :partial => 'shared/terms_and_conditions' %>
      </div>
      <div class="signature">
        <p>Signature</p>
      </div>
    </div>

  </div>
</div>
<div style="margin: 10px 0 30px 0" class="center clear">
  <a id="close_link" class="go_btn centered_button" href="javascript:window.close(); "><%= t("views.labels.close") %></a>
  <a id="print_link" class="go_btn centered_button" href="javascript:window.print();"><%= t("views.labels.print") %></a>
</div>






