<% unless params.has_key?('action_type') %>
    <div class="group_type_tab tab_view">
      <ul id="v_tabs">
        <li>
          <%= link_to t('views.labels.dashboard'), housekeeping_path, :id => 'dashboard_home_tab', :title => t('views.labels.dashboard'), :class => 'h_tab_select', :remote => true %>
        </li>
        <%= render_refresh_tab(t('views.labels.dashboard'))%>
      </ul>
    </div>
<% end %>
<div class="quickview less_top" id="v_tab_content">
  <div id="housekeeping_dashboard_container" class="v_tab_content_item">
    <%= render :partial => 'housekeeping/home_content', :locals => {:assigned_users => @assigned_users, :rooms => @rooms, :status_data => @status_data, :room_types => @room_types, :selected_room_type => @selected_room_type} %>
  </div>
</div>

