$j('#housekeeping_dashboard_container').html('<%= escape_javascript(render :partial => 'housekeeping/home_content',
                                                            :locals => {:assigned_users => @assigned_users,
                                                            :rooms => @rooms,
                                                            :status_data => @status_data,
                                                            :selected_room_type => @selected_room_type,
                                                            :room_types => @room_types}) %>');

$j('.v_tab_content_item').hide();
$j('#housekeeping_dashboard_container').show();
$j('a.h_tab_select').removeClass('h_tab_select');
$j('#dashboard_home_tab').addClass('h_tab_select');
$j("#v_tabs .tab_refresh span").html("<%= t('views.labels.dashboard') %>");