<% @rooms.each do |room| %>
$j('#room_housekeeping_status_<%= room.id %>').html('<%= t("views.labels.#{room.house_keeping_status.try(:downcase)}", :locale => params[:lan] ,:default => t('views.labels.available')) %>');
$j('#room_housekeeping_status_<%= room.id %>').removeClass('<%= Constants::HOUSEKEEPING_STATUS_CODES.collect{|k, v| k.to_s}.join(' ') %>');
$j('#room_housekeeping_status_<%= room.id %>').addClass('<%= room.house_keeping_status.try(:downcase) %>');
<% end %>



<% Constants::HOUSEKEEPING_STATUS_CODES.each do |k, v| %>
$j('#<%= k %>_count').text($j('.<%= k %>').size().toString());
<% end %>

$j('#flash_message_div').html("<%= escape_javascript(render :partial => 'parts/dashboard_flash_message') %>");
$j('#flash_message_div').slideDown().delay(10000);
