<div id="room_view_<%= availability_item[:item_id] %>" class=" item_view_block item_type_filter_<%= availability_item[:item_type_id] %> <%= availability_item[:markers].collect { |m| "custom_marker_#{m.dehumanize}" }.join(' ') + ' ' +availability_item[:status] %> <%= 'confirmed' if availability_item[:markers].include?('confirmed') %>">

  <div class="room_view_box <%= availability_item[:status] %>  " context-menu-id="room_view_context_<%= availability_item[:item_id] %>" data-check-in-id="<%= availability_item[:check_in_id] %>">
   <% if availability_item[:markers].include?('confirmed') %>
    <div class="ribon"></div>
   <% end %>
    <div class="box_wrap">
      <div class="rm_view_notification" id="task_count_for_room_<%= availability_item[:item_id] %>" style="display: none;">
        <%= link_to "#{item_with_task_count["#{availability_item[:item_id]}"]}",
                    'javascript:void(0)',
                    :url => incomplete_tasks_path(:target_dom_id => "fdr_incomplete_tasks_#{availability_item[:item_id]}_content",
                                                  :room_id => availability_item[:item_id],
                                                  :start_date => @filter_start_date || Time.zone.today,
                                                  :end_date => @filter_end_date || Time.zone.today,
                                                  :from => 'incomplete_tasks'),
                    'loading_container_id' => 'fdr_incomplete_tasks_content',
                    :style => 'color: white;text-decoration:none;',
                    :class => 'for_tab_view',
                    :rel => "fdr_incomplete_tasks_#{availability_item[:item_id]}",
                    :title => t('views.labels.incomplete_tasks') %>
      </div>

      <h1><%= availability_item[:name] %></h1>

      <p>
        <%= availability_item[:item_type_name] %>
        <%#= availability_item[:item_id] %>
      </p>
      <span class="guest_note">
        <%= availability_item[:guest_note] %>
      </span>
      <% if availability_item[:days_left].present? %>
      <span class="balance">
        (<%= availability_item[:days_left] %>)

      </span>
      <% end %>
    </div>
    <div class="clear"></div>
    <div class="room_type_icon">
      <div class="inline-block marker_container" style="width: 80%;" id="markers_of_<%= availability_item[:item_id] %>">
        <% if availability_item[:status] == Constants::ITEM_VIEW_AVAILABLE_STATUS %>
        <span style="float: left;">
            <%= check_box_tag 'multi_select_room', "#{availability_item[:item_id]}" %>
        </span>
        <% end %>
        <% availability_item[:markers].each do |marker| %>
            <span class="<%= marker.dehumanize %>"></span>
        <% end %>
      </div>
    </div>

    <%= render :partial => "reporting_service/items/#{availability_item[:status]}_room_view_options", :locals => {:item => availability_item} rescue "" %>
    <%= render :partial => "reporting_service/items/multiple_room_view_options", :locals => {:item => availability_item} %>

  </div>
</div>

<script type="text/javascript">
    $j(document).ready(function () {
        $j('#room_view_' + '<%= availability_item[:item_id] %> input[type="checkbox"]').attr('checked', false);
    });
</script>
