<div id="room_view_context_<%= "#{item[:item_id]}" %>" class="context-menu context-menu-theme-gloss">
  <% if hotel_agent? || permitted_to?(:from_room_view, :check_ins) %>
      <div class="context-menu-item">
        <%= link_to 'javascript:void(0)',
                    :url => new_check_in_path(:item_ids => item[:item_id], :target_dom_id => 'fdr_checkin_form_content'),
                    :class => 'check_in', :rel => 'fdr_checkin_form', :title => t('views.labels.check_in') do %>

            <div class="context-menu-item-inner">
              <%= t('views.labels.check_in') %>
            </div>
        <% end %>
      </div>
  <% end %>

  <% if hotel_agent? || permitted_to?(:from_room_view, :reservations) %>
      <div class="context-menu-item">
        <%#= link_to t('views.labels.reservation'), from_room_view_reservations_path(:item_id => item[:item_id]), 'data-remote' => true %>
        <%= link_to 'javascript:void(0)',
                    :url => new_check_in_path(:item_ids => item[:item_id], :target_dom_id => 'fdr_reservation_form_content', :status => Constants::CHECK_IN_STATUSES[:reserved]),
                    :class => 'check_in', :rel => 'fdr_reservation_form', :title => t('views.labels.reservation') do %>
            <div class="context-menu-item-inner">
              <%= t('views.labels.reservation') %>
            </div>
        <% end %>
      </div>
  <% end %>

  <% if hotel_agent? || permitted_to?(:assign_employee, :rooms) %>
      <div class="context-menu-item">

        <%= link_to assign_employee_rooms_path(:room_id => item[:item_id]), 'data-remote' => true do %>
            <div class="context-menu-item-inner">
              <%= t('views.labels.assign_employee') %>
            </div>
        <% end %>

      </div>
  <% end %>

  <%# if item[:cleaning].present? || @filter_date == Date.today %>
  <% if hotel_agent? || permitted_to?(:edit_markers, :rooms) %>
      <div class="context-menu-item">

        <%= link_to edit_markers_rooms_path(:id => item[:item_id]), 'data-remote' => true do %>
            <div class="context-menu-item-inner">
              <%= t('views.labels.assign_markers') %>
            </div>
        <% end %>

      </div>
  <% end %>

  <% if permitted_to?(:new_lb, :tasks) %>
      <div class="context-menu-item">

        <%= link_to 'javascript:void(0)', :class => "add_edit_task icon_ad", :remote => true,
                    :'data-url' => new_lb_tasks_path(:'task[room_id]' => item[:item_id]) do %>
            <div class="context-menu-item-inner">
              <%= t('views.labels.assign_task') %>
            </div>
        <% end %>

      </div>
  <% end %>

  <% if item[:cleaning].present? %>
      <div class="context-menu-item">

        <% if item[:cleaning] == 1 %>
            <%= link_to mark_as_clean_rooms_path(:room_id => item[:item_id]), :remote => true, :method => :post do %>
                <div class="context-menu-item-inner" id="manage_cleaning_<%= "#{item[:item_id]}" %>">
                  <%= t('views.labels.mark_as_clean') %>
                </div>
            <% end %>
        <% else %>
            <%= link_to mark_as_dirty_rooms_path(:room_id => item[:item_id]), :remote => true, :method => :post do %>
                <div class="context-menu-item-inner" id="manage_cleaning_<%= "#{item[:item_id]}" %>">
                  <%= t('views.labels.mark_as_dirty') %>
                </div>
            <% end %>
        <% end %>

      </div>
  <% end %>
  <%# if @filter_date >= Date.today %>
  <div class="context-menu-item">

    <%#= link_to t('views.labels.mark_as_maintenance'), 'javascript:void(0)', :class => 'mark_maintenance', :item_id => item[:item_id] %>
    <%= link_to 'javascript:void(0)',
                :class => "add_edit_task icon_ad",
                :remote => true,
                :'data-url' => new_lb_tasks_path(:supplied_type => 'DamagedRoomTask', :'task[room_id]' => item[:item_id], 'hide_due_date' => 'true') do %>
        <div class="context-menu-item-inner">
          <%= t('views.labels.mark_as_maintenance') %>
        </div>
    <% end %>

  </div>
  <% if item[:transferred_at].nil? %>
      <% if hotel_agent? || permitted_to?(:change_room_from_room_view, :check_ins) %>
          <div class="context-menu-item">
            <%= link_to cancel_checkout_from_room_view_check_ins_path(:check_in_id => item[:check_in_id]), 'data-remote' => true do %>
                <div class="context-menu-item-inner" id="room_change_<%= "#{item[:item_id]}" %>">
                  <%= t('views.labels.uncheck_out') %>
                </div>
            <% end %>
          </div>

          <%# end %>
      <% end %>
  <% end %>
  <%# end %>
  <%# end %>
  <div class="context-menu-item">

    <%= link_to 'javascript:void(0)',
                :class => "add_edit_task icon_ad", :remote => true,
                :'data-url' => new_lb_tasks_path(:supplied_type => 'LockedRoomTask', :'task[room_id]' => item[:item_id], 'hide_due_date' => 'true') do %>
        <div class="context-menu-item-inner">
          <%= t('views.labels.mark_as_locked') %>
        </div>
    <% end %>

  </div>
  <!--<div class="context-menu-item">-->
    <%= link_to 'javascript:void(0)',
#                :url => room_asset_allocation_report_path(:room_id => item[:item_id],:target_dom_id => 'rpt_fixed_asset_transaction_content'),
                :class => 'for_tab_view', :rel => 'rpt_fixed_asset_transaction',:title => t('template.dashboard.hotel_admin_nav.room_asset_allocation_report') do %>
        <!--<div class="context-menu-item-inner">-->
          <!--<%= t('template.dashboard.hotel_admin_nav.room_asset_allocation_report') %>-->
        <!--</div>-->
    <!--<% end %>-->
  <!--</div>-->

</div>