
<div id="context_<%= "#{ar_model_name}_#{reference_id}" %>" class="context-menu context-menu-theme-gloss context-menu-theme-gloss-semitransparent">
  <!--<div title="" class="context-menu-item">-->
    <!--<div style="" class="context-menu-item-inner">-->
      <!--<a href="#"><%= t('views.labels.add_guest') %></a>-->
   <!--</div>-->
  <!--</div>-->
  <!--<div title="" class="context-menu-item">-->
    <!--<div style="" class="context-menu-item-inner">-->
      <!--<a href="#"><%= t('views.labels.add_payment') %></a>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="context-menu-separator"></div> -->

  <!--<div title="" class="context-menu-item">-->
    <!--<div style="" class="context-menu-item-inner">-->
      <!--<a href="#"><%= t('views.labels.add_service') %></a>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div title="" class="context-menu-item ">-->
    <!--<div style="" class="context-menu-item-inner no_bor">-->
      <!--<a href="#">Add something</a>-->
    <!--</div>-->
  <!--</div>-->

</div>