<div id="room_view_context_<%= "#{item[:item_id]}" %>" class="context-menu context-menu-theme-gloss context-menu-theme-gloss-semitransparent">
  <% if hotel_agent? || permitted_to?(:add_charge_from_room_view, :allocated_rooms) %>
      <div class="context-menu-item">
        <%= link_to add_charge_from_room_view_allocated_rooms_path(:reference_id => item[:reference_id]), 'data-remote' => true do %>
            <div class="context-menu-item-inner" id="manage_charge_<%= "#{item[:item_id]}" %>">
              <%= t('views.labels.add_charge') %>
            </div>
        <% end %>
      </div>
  <% end %>

  <% if hotel_agent? || permitted_to?(:add_payment_from_room_view, :check_ins) %>
      <div class="context-menu-item">
        <%#= link_to add_payment_from_room_view_check_ins_path(:reference_id => item[:reference_id]), 'data-remote' => true do %>
        <% unless current_cash_counter_id %>
            <%= link_to select_branch_panel_cash_counters_path, :target => '_blank' do %>
                <div class="context-menu-item-inner">
                  <%= t('views.labels.payment') %>
                </div>
            <% end %>
        <% else %>
            <%= link_to 'javascript:void(0)', :class => "add_payment", :'data-url' => add_payment_path(check_in_id: item[:check_in_id], :previous_page => 'front_desk') do %>
                <div class="context-menu-item-inner" id="manage_payment_<%= "#{item[:item_id]}" %>">
                  <%= t('views.labels.payment') %>
                </div>
            <% end %>
        <% end %>
      </div>
      <% if item[:associated_item_ids].size > 0 #room check out able       %>
          <div class="context-menu-item">
            <%= link_to new_partial_checkout_path(:context => 'room', :check_in_id => item[:check_in_id], :allocated_room_id => item[:reference_id]), 'data-remote' => true do %>

                <div class="context-menu-item-inner" id="manage_payment_<%= "#{item[:item_id]}" %>">
                  <%= t('views.labels.partial_checkout') %>
                </div>
            <% end %>
          </div>
      <% end %>

      <% if item[:guests_count].to_i > 1 #guest check out able       %>
          <div class="context-menu-item">
            <%= link_to new_partial_checkout_path(:context => 'guest', :check_in_id => item[:check_in_id], :allocated_room_id => item[:reference_id]), 'data-remote' => true do %>
                <div class="context-menu-item-inner" id="manage_payment_<%= "#{item[:item_id]}" %>">
                  <%= t('views.labels.partial_guest_checkout') %>
                </div>
            <% end %>
          </div>
      <% end %>


  <% end %>

  <% if permitted_to?(:new_lb, :tasks) %>
      <div class="context-menu-item">
        <%= link_to 'javascript:void(0)', :class => "add_edit_task icon_ad", :remote => true,
                    :'data-url' => new_lb_tasks_path(:'task[room_id]' => item[:item_id], :title => t('views.labels.assign_employee')) do %>

            <div class="context-menu-item-inner">
              <%= t('views.labels.assign_employee') %>
            </div>
        <% end %>
      </div>
  <% end %>

  <% if hotel_agent? || permitted_to?(:edit, :check_ins) %>
      <div class="context-menu-item">
        <%= link_to change_room_from_room_view_check_ins_path(:reference_id => item[:reference_id]), 'data-remote' => true do %>

            <div class="context-menu-item-inner" id="room_change_<%= "#{item[:item_id]}" %>">
              <%= t('views.labels.room_transfer') %>

            </div>
        <% end %>
      </div>
  <% end %>

  <% if hotel_agent? || permitted_to?(:edit, :check_ins) %>
      <div class="context-menu-item">
        <%= link_to 'javascript:void(0)', :url => edit_check_in_path(item[:check_in_id], :target_dom_id => "fdt_checkin_#{item[:check_in_id]}_content", :open_tab => '2'),
                    :rel => "fdt_checkin_#{item[:check_in_id]}", :class => 'for_tab_view',
                    :title => check_in_tab_title(item[:status], item[:check_in_id]), 'data-remote' => true do %>

            <div class="context-menu-item-inner" id="manage_check_out_tab_<%= "#{item[:item_id]}" %>">
              <%= t('views.labels.check_out') %>
            </div>
        <% end %>
      </div>
  <% end %>

  <% if hotel_agent? || permitted_to?(:edit, :check_ins) %>
      <div class="context-menu-item">
        <%= link_to 'javascript:void(0)', :url => edit_check_in_path(item[:check_in_id], :target_dom_id => "fdt_checkin_#{item[:check_in_id]}_content", :open_tab => '0'),
                    :rel => "fdt_checkin_#{item[:check_in_id]}", :class => 'for_tab_view',
                    :loading_container_id => "fdt_checkin_#{item[:check_in_id]}_content",
                    :'manual-remove-loading' => 'true',
                    :title => check_in_tab_title(item[:status], item[:check_in_id]), 'data-remote' => true do %>

            <div class="context-menu-item-inner" id="manage_check_out_<%= "#{item[:item_id]}" %>">
              <%= t('views.labels.edit') %>
            </div>
        <% end %>
      </div>
  <% end %>

  <% if hotel_agent? || permitted_to?(:edit, :check_ins) %>
      <div class="context-menu-item">

        <%= link_to cancel_checkin_from_room_view_check_ins_path(:reference_id => item[:reference_id]), 'data-remote' => true do %>
            <div class="context-menu-item-inner" id="room_change_<%= "#{item[:item_id]}" %>">
              <%= t('views.labels.uncheck_in') %>
            </div>
        <% end %>

      </div>
  <% end %>

  <% if hotel_agent? || permitted_to?(:edit_markers, :rooms) %>
      <div class="context-menu-item">
        <%= link_to edit_markers_rooms_path(:id => item[:item_id]), 'data-remote' => true do %>
            <div class="context-menu-item-inner">
              <%= t('views.labels.assign_markers') %>
            </div>
        <% end %>

      </div>
  <% end %>

  <% if item[:cleaning].present? %>
      <div class="context-menu-item">
        <% if item[:cleaning] == 1 %>
            <%= link_to mark_as_clean_rooms_path(:room_id => item[:item_id]), :remote => true, :method => :post do %>
                <div class="context-menu-item-inner" id="manage_cleaning_<%= "#{item[:item_id]}" %>">
                  <%= t('views.labels.mark_as_clean') %>
                </div>
            <% end %>
        <% else %>
            <%= link_to mark_as_dirty_rooms_path(:room_id => item[:item_id]), :remote => true, :method => :post do %>
                <div class="context-menu-item-inner" id="manage_cleaning_<%= "#{item[:item_id]}" %>">
                  <%= t('views.labels.mark_as_dirty') %>
                </div>
            <% end %>
        <% end %>
      </div>
  <% end %>
  <!--<div class="context-menu-item">-->
    <%= link_to 'javascript:void(0)',
#                :url => room_asset_allocation_report_path(:room_id => item[:item_id], :target_dom_id => 'rpt_fixed_asset_transaction_content'),
                :class => 'for_tab_view', :rel => 'rpt_fixed_asset_transaction', :title => t('template.dashboard.hotel_admin_nav.room_asset_allocation_report') do %>
        <!--<div class="context-menu-item-inner">-->
          <!--<%= t('template.dashboard.hotel_admin_nav.room_asset_allocation_report') %>-->
        <!--</div>-->
    <!--<% end %>-->
  <!--</div>-->
</div>