<div id="room_view_context_<%= "#{item[:item_id]}" %>" class="context-menu context-menu-theme-gloss context-menu-theme-gloss-semitransparent">

  <% if hotel_agent? || permitted_to?(:add_payment_from_room_view, :check_ins) %>
      <div class="context-menu-item">
        <% unless current_cash_counter_id%>
            <%= link_to  select_branch_panel_cash_counters_path , :target => '_blank' do %>
                <div class="context-menu-item-inner">
                  <%= t('views.labels.payment') %>
                </div>
            <% end %>
        <% else%>
            <%= link_to 'javascript:void(0)', :class => "add_payment", :'data-url' => add_payment_path(check_in_id: item[:check_in_id], :previous_page => 'front_desk') do %>
                <div class="context-menu-item-inner" id="manage_payment_<%= "#{item[:item_id]}" %>">
                  <%= t('views.labels.payment') %>
                </div>
            <% end %>
        <% end %>
      </div>
  <% end %>
  <% if hotel_agent? || permitted_to?(:edit, :check_ins) %>
      <div class="context-menu-item">
        <%= link_to 'javascript:void(0)', :url=> edit_check_in_path(item[:check_in_id], :target_dom_id => "fdt_checkin_#{item[:check_in_id]}_content", :open_tab => '2'),
                    :rel => "fdt_checkin_#{item[:check_in_id]}", :class => 'for_tab_view',
                    :loading_container_id =>"fdt_checkin_#{item[:check_in_id]}_content",
                    :title => check_in_tab_title(item[:status], item[:check_in_id]), 'data-remote' => true do %>

            <div class="context-menu-item-inner" id="manage_check_out_<%= "#{item[:item_id]}" %>">
              <%= t('views.labels.check_out') %>
            </div>
        <% end %>
      </div>
  <% end %>

  <% if hotel_agent? || permitted_to?(:edit, :check_ins) %>
      <div class="context-menu-item">
        <%= link_to 'javascript:void(0)', :url=> edit_check_in_path(item[:check_in_id], :target_dom_id => "fdt_checkin_#{item[:check_in_id]}_content", :open_tab => '0'),
                    :rel => "fdt_checkin_#{item[:check_in_id]}", :class => 'for_tab_view',
                    :loading_container_id =>"fdt_checkin_#{item[:check_in_id]}_content",
                    :title => check_in_tab_title(item[:status], item[:check_in_id]), 'data-remote' => true do %>

            <div class="context-menu-item-inner" id="manage_check_out_<%= "#{item[:item_id]}" %>">
              <%= t('views.labels.edit') %>
            </div>
        <% end %>
      </div>
  <% end %>
  <!--<div class="context-menu-item">-->
    <%= link_to 'javascript:void(0)',
#                :url => room_asset_allocation_report_path(:room_id => item[:item_id],:target_dom_id => 'rpt_fixed_asset_transaction_content'),
                :class => 'for_tab_view', :rel => 'rpt_fixed_asset_transaction',:title => t('template.dashboard.hotel_admin_nav.room_asset_allocation_report') do %>
        <!--<div class="context-menu-item-inner">-->
          <!--<%= t('template.dashboard.hotel_admin_nav.room_asset_allocation_report') %>-->
        <!--</div>-->
    <!--<% end %>-->
  <!--</div>-->
</div>