<%= select_tag('item_type_id', ("<option value=''>#{t('template.dashboard.select_item_type')}</option>" + options_for_select(item_types.collect { |r| [r.title, r.id] }, params[:item_type_id].to_i)).html_safe, :class => 'filter-entity') %>