<div id="item_view">
  <%= form_tag front_desk_path, :method => 'get', :name => 'filter-from', :id => 'room_view_tab_form', 'data-remote' => true do %>
      <div class="hotel_type_row">
        <div class="sl_hotel" style="width: 40%;">
          <div id="item_type_container">
            <%= render :partial => 'item_type_options', :locals => {:item_types => @item_types} %>
          </div>
          <div class="m_room_type">
            <%= select_tag('_', ("<option value=''>#{t('template.dashboard.select_status')}</option>" + Constants::ITEM_VIEW_STATUSES.collect { |c| "<option class='#{c}' value='#{c}'>#{t('views.labels.'+ c)}</option>" }.join(" ")).html_safe) %>
          </div>
        </div>

        <div class="sl_hotel_other upper">

          <div class="h_date fl_right">
            <label class="no_pad"><%= t('views.labels.end_date') %></label>
            <br/>

            <div class="dt_txt  clear">

              <%= text_field_tag :filter_end_date,
                                 params[:filter_end_date] || Time.zone.today,
                                 :id => 'filter_end_date',
                                 :class => 'select_ajax_submit datepicker',
                                 "data-greater-than-eq-field" => 'item_view_filter_start_date'
              %>
            </div>
          </div>

          <div class="rm_night fl_right">
            <lavel class=" ">
              <%= t('views.labels.nights') %>
            </lavel>
            <br/>
            <%= select_tag :room_view_nights_count, options_for_select(0..50), {:class => 'half room_view_nights_count'} %>
          </div>

          <div class="h_date fl_right">
            <label class="no_pad"><%= t('views.labels.start_date') %></label>
            <br/>

            <div class="dt_txt clear">

              <%= text_field_tag :filter_start_date, params[:filter_start_date] || Time.zone.today,
                                 :id => 'item_view_filter_start_date',
                                 :class => 'select_ajax_submit datepicker',
                                 "data-less-than-eq-field" => 'filter_end_date' %>
            </div>
          </div>


        </div>
      </div>
      <div class="m_room_type marker_row item_view_marker_filters">
        <% @compulsory_markers.each do |marker| %>
            <div class="select_rm_type">
              <span class="<%= marker.name.dehumanize %>"> </span>
              <%= check_box_tag '__', 'yes', false, :filter => "custom_marker_#{marker.name.dehumanize}" %>
            </div>
        <% end %>

        <% @custom_markers.each do |marker| %>
            <div class="custom_marker select_rm_type ">
              <span><%= marker.title %> </span>
              <%= check_box_tag marker.name.dehumanize, '', false, :filter => "custom_marker_#{marker.name.dehumanize}" %>
            </div>
        <% end %>

      </div>
      <div class="separation_border clear"></div>
      <div class="quickview less_margin_top no_border_full">
        <div class="service_category_row">
          <% Constants::HOUSEKEEPING_STATUS_CODES.each do |k, v| %>

              <div class="custom_marker select_rm_type ">
                <span class="<%= k.to_s %>"><%= t("views.labels.#{k.to_s}") %></span>
                <%= check_box_tag k, '', false, :filter => "custom_marker_#{k}" %>
              </div>

          <% end %>
        </div>
        <div class="room_view_row">
          <div id="availability_items_container">
            <%#= render :partial => 'availability_item', :collection => @items, :locals => {:item_with_task_count => @item_with_task_count} %>
          </div>

        </div>
      </div>
  <% end %>

  <%= render 'rooms/markers_for_room_view_lb' %>
  <%= render 'rooms/damaged_lb' %>
  <%= render 'rooms/edit_damaged_lb' %>
  <%= render 'rooms/locked_lb' %>
  <%= render 'rooms/edit_locked_lb' %>
  <%= render 'rooms/assign_employee_lb' %>


  <script type="text/javascript">
      function editMarkers(roomID) {
          new Ajax.Request('/rooms/edit_markers?id=' + roomID + '&lan=' + '<%=I18n.locale.to_s%>' + '&authenticity_token=' + encodeURIComponent('<%=form_authenticity_token%>', {
              method:'get'
          }));

      }

      function editDamagedRoom(damagedID) {
          new Ajax.Request('/damaged_rooms/edit?id=' + damagedID + '&lan=' + '<%=I18n.locale.to_s%>&filter_date=<%=@filter_start_date%>&from_room_view=1' + '&authenticity_token=' + encodeURIComponent('<%=form_authenticity_token%>'), {
              method:'get'
          });
      }

      DASHBOARD.initToolTipAtItemView("<%= t('views.labels.room_information')%>");

      //      $j(document).ready(function () {
      //          $j('#item_view_filter_start_date').trigger('change');
      //      })
  </script>


</div>
