<div id="room_view_context_<%= "#{item[:item_id]}" %>" class="context-menu context-menu-theme-gloss">
  <% if hotel_agent? || permitted_to?(:assign_employee, :rooms) %>
      <div class="context-menu-item">

        <div class="context-menu-item-inner">
          <%= link_to t('views.labels.assign_employee'), 'javascript:void(0)', :class => "add_edit_task icon_ad", :remote => true,
                      :'data-url' => new_lb_tasks_path(:'task[room_id]' => item[:item_id]) %>
        </div>
      </div>
  <% end %>


  <% if hotel_agent? || permitted_to?(:edit_markers, :rooms) %>
      <div class="context-menu-item">
        <%= link_to edit_markers_rooms_path(:id => item[:item_id]), 'data-remote' => true do %>
            <div class="context-menu-item-inner">
              <%= t('views.labels.assign_markers') %>
            </div>
        <% end %>

      </div>
  <% end %>

  <% if permitted_to?(:new_lb, :tasks) %>
      <div class="context-menu-item">

        <%= link_to 'javascript:void(0)', :class => "add_edit_task icon_ad", :remote => true,
                    :'data-url' => new_lb_tasks_path(:'task[room_id]' => item[:item_id]) do %>
            <div class="context-menu-item-inner">
              <%= t('views.labels.add_task') %>
            </div>
        <% end %>
      </div>
  <% end %>

  <% if item[:cleaning].present? %>
      <div class="context-menu-item">
        <% if item[:cleaning] == 1 %>
            <%= link_to mark_as_clean_rooms_path(:room_id => item[:item_id]), :remote => true, :method => :post do %>
                <div class="context-menu-item-inner" id="manage_cleaning_<%= "#{item[:item_id]}" %>">
                  <%= t('views.labels.mark_as_clean') %>
                </div>
            <% end %>
        <% else %>
            <div class="context-menu-item-inner" id="manage_cleaning_<%= "#{item[:item_id]}" %>">
              <%= link_to t('views.labels.mark_as_dirty'), mark_as_dirty_rooms_path(:room_id => item[:item_id]), :remote => true, :method => :post %>
            </div>
        <% end %>

      </div>
  <% end %>

  <% if @filter_start_date >= Time.zone.today %>
      <div class="context-menu-item">

        <%= link_to 'javascript:void(0)',
                    :class => "add_edit_task icon_ad", :remote => true,
                    :'data-url' => new_lb_tasks_path(:supplied_type => 'DamagedRoomTask',
                                                     :'task[room_id]' => item[:item_id], 'hide_due_date' => 'true') do %>
            <div class="context-menu-item-inner">
              <%= t('views.labels.mark_as_maintenance') %>
            </div>
        <% end %>
      </div>

  <% end %>
  <div class="context-menu-item">

    <% locked_room_task_id = LockedRoom.find(item[:reference_id]).try(:task_id) %>
    <%= link_to 'javascript:void(0)',
                :class => "add_edit_task icon_ad", :remote => true,
                :'data-url' => edit_lb_task_path(locked_room_task_id, :supplied_type => 'LockedRoomTask', 'hide_due_date' => 'true') do %>
        <div class="context-menu-item-inner">
          <%= t('views.labels.unlocked') %>
        </div>
    <% end %>

  </div>

  <!--<div class="context-menu-item">-->
    <%= link_to 'javascript:void(0)',
#                :url => room_asset_allocation_report_path(:room_id => item[:item_id],:target_dom_id => 'rpt_fixed_asset_transaction_content'),
                :class => 'for_tab_view', :rel => 'rpt_fixed_asset_transaction',:title => t('template.dashboard.hotel_admin_nav.room_asset_allocation_report') do %>
        <!--<div class="context-menu-item-inner">-->
          <!--<%= t('template.dashboard.hotel_admin_nav.room_asset_allocation_report') %>-->
        <!--</div>-->
    <!--<% end %>-->
  <!--</div>-->
</div>