<div id="room_view_context_<%= "#{item[:item_id]}" %>" class="context-menu context-menu-theme-gloss context-menu-theme-gloss-semitransparent">
  <%# if hotel_agent? || permitted_to?(:assign_employee, :rooms) %>
      <!--<div class="context-menu-item">-->
        <!--<div class="context-menu-item-inner">-->
          <!--<%#= link_to t('views.labels.assign_employee'), assign_employee_rooms_path(:room_id => item[:item_id]), 'data-remote' => true %>-->
        <!--</div>-->
      <!--</div>-->
  <%# end %>

  <% if hotel_agent? || permitted_to?(:edit_markers, :rooms) %>
      <div class="context-menu-item">
        <div class="context-menu-item-inner">
          <%= link_to t('views.labels.assign_markers'), edit_markers_rooms_path(:id => item[:item_id]), 'data-remote' => true %>
        </div>
      </div>
  <% end %>

  <% if permitted_to?(:new_lb, :tasks) %>
      <div class="context-menu-item">
        <div class="context-menu-item-inner">
          <%= link_to t('views.labels.assign_employee'), 'javascript:void(0)', :class => "add_edit_task icon_ad", :remote => true,
                      :'data-url' => new_lb_tasks_path(:'task[room_id]' => item[:item_id]) %>
        </div>
      </div>
  <% end %>

  <% if item[:cleaning].present? %>
      <div class="context-menu-item">
        <div class="context-menu-item-inner" id="manage_cleaning_<%= "#{item[:item_id]}" %>">
          <% if item[:cleaning] == 1 %>
              <%= link_to t('views.labels.mark_as_clean'), mark_as_clean_rooms_path(:room_id => item[:item_id]), :remote => true, :method => :post %>
          <% else %>
              <%= link_to t('views.labels.mark_as_dirty'), mark_as_dirty_rooms_path(:room_id => item[:item_id]), :remote => true, :method => :post %>
          <% end %>
        </div>
      </div>
  <% end %>

  <div class="context-menu-item">
    <div class="context-menu-item-inner">
      <% damaged_room_task_id = DamagedRoom.find(item[:reference_id]).try(:task_id) %>
      <%= link_to t('views.labels.remove_from_maintenance'), 'javascript:void(0)',
                  :class => "add_edit_task icon_ad",
                  :remote => true,
                  :'data-url' => edit_lb_task_path(damaged_room_task_id, :supplied_type => 'DamagedRoomTask', 'hide_due_date' => 'true') %>
    </div>
  </div>
  <div class="context-menu-item">
    <div class="context-menu-item-inner">
      <%= link_to t('views.labels.mark_as_locked'), 'javascript:void(0)',
                  :class => "add_edit_task icon_ad", :remote => true,
                  :'data-url' => new_lb_tasks_path(:supplied_type => 'LockedRoomTask', :'task[room_id]' => item[:item_id], 'hide_due_date' => 'true') %>
    </div>
  </div>
  <!--<div class="context-menu-item">-->
    <%= link_to 'javascript:void(0)',
#                :url => room_asset_allocation_report_path(:room_id => item[:item_id],:target_dom_id => 'rpt_fixed_asset_transaction_content'),
                :class => 'for_tab_view', :rel => 'rpt_fixed_asset_transaction',:title => t('template.dashboard.hotel_admin_nav.room_asset_allocation_report') do %>
        <!--<div class="context-menu-item-inner">-->
          <!--<%= t('template.dashboard.hotel_admin_nav.room_asset_allocation_report') %>-->
        <!--</div>-->
    <!--<% end %>-->
  <!--</div>-->
</div>