
<div id="context_<%= "#{ar_model_name}_#{reference_id}" %>" class="context-menu context-menu-theme-gloss context-menu-theme-gloss-semitransparent">
  <div class="context-menu-item">
      <div class="context-menu-item-inner">
        <%= link_to t('views.labels.remove_from_maintenance'), 'javascript:void(0)', :class => 'remove_maintenance', :item_id => reference_id %>
      </div>
    </div>

</div>