<% if existing %>
    <%= link_to 'Mark as `ready`', 'javascript:void(0)', :class => 'remove_cleaning', :item_id => item_id %>
<% else %>
    <%= link_to 'Mark as `cleaning`', 'javascript:void(0)', :class => 'mark_cleaning', :item_id => item_id %>
<% end %>