<div id="room_view_multi_context_<%= item[:item_id] %>" class="room_view_multi_context context-menu context-menu-theme-gloss context-menu-theme-gloss-semitransparent">
  <% if permitted_to? :multiple_from_room_view, :check_ins %>
      <div class="context-menu-item check_in_option">
        <%= link_to 'javascript:void(0)',
                    :class => 'for_tab_view multiple_check_in_link',
                    :rel => 'fdr_multiple_checkin_form', :title => t('views.labels.check_in') do %>
            <div class="context-menu-item-inner">
              <%= t('views.labels.check_in') %>
            </div>
        <% end %>
      </div>
  <% end %>
  <% if permitted_to? :multiple_from_room_view, :reservations %>
      <div class="context-menu-item reservation_option">

        <%= link_to 'javascript:void(0)',
                    :class => 'for_tab_view multiple_reservation_link',
                    :rel => 'fdr_multiple_reservation_form', :title => t('views.labels.reservation') do %>
            <div class="context-menu-item-inner">
              <%= t('views.labels.reservation') %>
            </div>
        <% end %>
      </div>
  <% end %>

  <%# if item[:cleaning].present? || @filter_date == Time.zone.today %>
  <!--<div class="context-menu-item cleaning_option">-->
  <!--<div class="context-
menu-item-inner" id="manage_cleaning_<%#= "#{item[:item_id]}" %>">-->
  <!--<%# if item[:cleaning].present? %>-->
  <!--<%#= link_to 'Mark as `ready`', 'javascript:void(0)', :class => 'remove_cleaning', :item_id => item[:item_id] %>-->
  <!--<%# else #if @filter_date == Time.zone.today      %>-->
  <!--<%#= link_to 'Mark as `cleaning`', 'javascript:void(0)', :class => 'mark_cleaning', :item_id => item[:item_id] %>-->
  <!--<%# end %>-->
  <!--</div>-->
  <!--</div>-->
  <%# end %>

  <%# if @filter_date >= Time.zone.today %>
  <!--<div class="context-menu-item maintenance_option">-->
  <!--<div class="context-menu-item-inner">-->
  <!--<%#= link_to 'Mark as `maintenance`', 'javascript:void(0)', :class => 'mark_maintenance', :item_id => item[:item_id] %>-->
  <!--</div>-->
  <!--</div>-->
  <%# end %>
  <!--<div class="context-menu-item lock_option">-->
  <!--<div class="context-menu-item-inner">-->
  <!--<%#= link_to 'Mark as `Locked`', 'javascript:void(0)', :class => 'mark_locked', :item_id => item[:item_id] %>-->
  <!--</div>-->
  <!--</div>-->
</div>

