<% future_data = @data_after_today.sort %>
<div id="qv_future_inventory_container_more">
  <div class="fi_details qv_scroll fi_details_height">
    <div class="qv_desc_row">
      <div class="guest_info guest_type_head">
        <%= t('template.dashboard.reporting_service_items.activity_count') %>
        <%= t('views.labels.type') %>
      </div>
      <% future_data.each do |fdate, data| %>
          <div class="guest_type guest_type_head">
            <%= Time.zone.parse(fdate).strftime("%d/%m") %>
          </div>
      <% end %>
    </div>

    <div class="qv_desc_row">
      <div class="guest_info ">
        <%= t('template.dashboard.available') %>
      </div>
      <% future_data.each do |fdate, data| %>
          <div class="guest_type">
            <%= data.nil? ? '' : data.hotel_inventory['available'] %>
          </div>
      <% end %>
    </div>

    <div class="qv_desc_row">
      <div class="guest_info ">
        <%= t('template.dashboard.reporting_service_items.total_maintenance') %>
      </div>
      <% future_data.each do |fdate, data| %>
          <div class="guest_type">
            <%= data.nil? ? '' : data.hotel_inventory['total_maintenance'] %>
          </div>
      <% end %>
    </div>

  </div>
  <div class="fi_details">
    <div class="qv_desc_row bold no_border ">
      <div class="guest_info ">
        <%= t('template.dashboard.total') %>
      </div>
      <% future_data.each do |fdate, data| %>
          <div class="guest_type">
            <%= data.nil? ? '' : data.hotel_inventory['total_available'] %>
          </div>
      <% end %>
    </div>
  </div>
</div>