<%#= debug @quick_view_data.inspect %>
<%= render :partial => 'widget_todays_statistics' %>
<%= render :partial => 'widget_total_guests' %>
<%= render :partial => 'widget_todays_activity' %>
<%= render :partial => 'widget_hotel_inventory' %>
<%= render :partial => 'widget_future_inventory' %>
<%= render :partial => 'widget_housekeeping_status' %>
<%= render :partial => 'quick_view_future_inventory_lb' %>


<script type="text/javascript">
    $j(document).ready(function () {
        $.get('/quick_view_future_inventory');
    })
</script>

