<%= form_tag quick_view_path, :method => 'get', :name => 'filter-from', 'data-remote' => true do %>
<div class="hotel_type_row">
  <div class="sl_hotel">
    &nbsp;
    <%#= select_tag('entity_id', "<option value=''>#{t('template.dashboard.select_entity')}</option>" + options_for_select(@entities.collect { |r| [r.title, r.id] }, current_reporting_branch_id), :class => 'filter-entity select_ajax_submit') %>
  </div>

  <div id="view_options_wrapper">
    <%= render :partial => 'view_options' %>
  </div>
  <div class="sl_hotel_other">

  </div>
</div>
<% end %>
<div class="quickview less_margin_top">
  <h1>
    <span class="ra_head_color"><%= t('template.dashboard.quick_view') %></span>
  </h1>

  <div id="quick_view_container" class="room_view_row">

    <%= render :partial => 'quick_view_stats' unless @no_data %>

  </div>
</div>