<a href="" class="lbOn" rel="quick_view_future_lb"></a>
<% future_data = @data_after_today.sort %>
<div class="fi_light_box_row" id="quick_view_future_lb" style="display: none;" title="<%= t('views.labels.future_inventory') %>" >
  <%= form_tag quick_view_future_inventory_more_path, :method => 'get', :name => 'filter-from-more', :class => 'show_inner_loading', 'data-remote' => true do %>
      <div class="fi_date_row">
        <div class="light_date future-light-date">
          <label class="sel_date"><%= t('template.dashboard.select_date') %></label>
          <div class="h_date">

            <div class="dt_txt">
              <%= text_field_tag "start_date", params[:start_date] || Time.zone.today.to_date,
                                 :class => 'datepicker',:id => 'submit_future_inventory_lb' %>
            </div>
            <%= hidden_field_tag "entity_id", params[:entity_id] %>
            <a href="#" class="submit_light_box" id="submit_future_inventory_lb">
              <%= t('template.dashboard.submit') %>
            </a>

          </div>
        </div>
      </div>
  <% end %>
  <div id="qv_future_inventory_container_more">
    <div class="fi_details qv_scroll fi_details_height">
      <div class="qv_desc_row">
        <div class="guest_info guest_type_head">
          <%= t('template.dashboard.type') %>
        </div>
        <% future_data.each do |fdate, data| %>
            <div class="guest_type guest_type_head">
              <%= Time.zone.parse(fdate).strftime("%d/%m") %>
            </div>
        <% end %>
      </div>

      <div class="qv_desc_row">
        <div class="guest_info ">
          <%= t('template.dashboard.available') %>
        </div>
        <% future_data.each do |fdate, data| %>
            <div class="guest_type">
              <%= data.nil? ? '' : data.hotel_inventory['available'] %>
            </div>
        <% end %>
      </div>

      <div class="qv_desc_row">
        <div class="guest_info ">
          <%= t('template.dashboard.reporting_service_items.total_maintenance') %>
        </div>
        <% future_data.each do |fdate, data| %>
            <div class="guest_type">
              <%= data.nil? ? '' : data.hotel_inventory['total_maintenance'] %>
            </div>
        <% end %>
      </div>

    </div>
    <div class="fi_details">
      <div class="qv_desc_row bold no_border ">
        <div class="guest_info ">
          <%= t('template.dashboard.total') %>
        </div>
        <% future_data.each do |fdate, data| %>
            <div class="guest_type">
              <%= data.nil? ? '' : data.hotel_inventory['total_available'] %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


