<%
    start_date = params[:start_date].present? ? Time.zone.parse(params[:start_date]) : Time.zone.today
    end_date = params[:end_date].present? ? Time.zone.parse(params[:end_date]) : start_date
    items = items || @items || ReportItemDailyActivity.generate_availability(current_reporting_branch_id, nil, start_date, end_date, :item_filters => ->(o) { o.in(:reference_id => room.try(:id)) })
%>
<%= render :partial => "reporting_service/items/render_check_in_block", locals: {items: items} %>