<%
    start_date = params[:start_date].present? ? Time.zone.parse(params[:start_date]) : Time.zone.today
    end_date = params[:end_date].present? ? Time.zone.parse(params[:end_date]) : start_date
    check_in = check_in || @check_in
    room_ids ||= []
    room_ids = room_ids + check_in.all_allocated_rooms.collect(&:room_id) if check_in
    items = items || @items || ReportItemDailyActivity.generate_availability(current_reporting_branch_id, nil, start_date, end_date, :item_filters => ->(o) { o.in(:reference_id => room_ids.uniq) })
    item_with_task_count = ReportTask.tasks_by_room_within_dates(current_reporting_branch_id, current_user.id)

    items.each do |item|
      item[:task_count] = item_with_task_count[item[:item_id].to_s]
    end
 %>
try_with(function () {
    var permissions = {};
    <% if hotel_agent? || permitted_to?(:from_room_view, :check_ins) %>
    permissions['can_check_in'] = true;
    <% end %>
    <% if hotel_agent? || permitted_to?(:from_room_view, :reservations) %>
    permissions['can_reserve'] = true;
    <% end %>
    <% if permitted_to?(:new_lb, :tasks) %>
    permissions['can_assign_employee'] = true;
    <% end %>
    <% if hotel_agent? || permitted_to?(:edit_markers, :rooms) %>
    permissions['can_assign_markers'] = true;
    <% end %>
    <% if hotel_agent? || permitted_to?(:add_charge_from_room_view, :allocated_rooms) %>
    permissions['can_add_charge'] = true;
    <% end %>
    <% if hotel_agent? || permitted_to?(:add_payment_from_room_view, :check_ins) %>
    permissions['can_add_payment'] = true;
    <% end %>
    <% if hotel_agent? || permitted_to?(:edit, :check_ins) %>
    permissions['can_edit_check_in'] = true;
    <% end %>

    <% items.each do |item| %>
    RoomView.render_room(<%= raw item.to_json %>, permissions);
    <% end %>
});