<script type="text/template" id="room_view_template">
  <div id="room_view_{{item_id}}" class=" item_view_block item_type_filter_{{item_type_id}} {{#markers}}custom_marker_{{.}}{{/markers}} {{status}} {{#confirmed}}confirmed{{/confirmed}}">
    <div class="room_view_box {{status}}  " context-menu-id="room_view_context_{{item_id}}" data-check-in-id="{{check_in_id}}">
      {{#confirmed}}
      <div class="ribon"></div>
      {{/confirmed}}
      <div class="box_wrap">
        <div class="rm_view_notification" id="task_count_for_room_{{item_id}}" style="display: none;">
          <a href="javascript:void(0)" class="for_tab_view" loading_container_id="fdr_incomplete_tasks_content" rel="fdr_incomplete_tasks_{{item_id}}"
             style="color: white;text-decoration:none;" title="Incomplete Tasks"
             url="/tasks/incomplete?end_date=<%= Date.current %>&from=incomplete_tasks&lan=en&room_id={{item_id}}&start_date=<%= Date.current %>&target_dom_id=fdr_incomplete_tasks_{{item_id}}_content">
            {{task_count}}
          </a>
        </div>

        <h1>{{name}}</h1>

        <p>{{item_type_name}}</p>
        <span class="guest_note">
          {{guest_note}}
        </span>

        {{#days_left}}
        <span class="balance">({{days_left}})</span>
        {{/days_left}}
      </div>
      <div class="clear"></div>
      <div class="room_type_icon">
        <div class="inline-block marker_container" style="width: 80%;" id="markers_of_{{item_id}}">
          {{#multi_select_room}}
          <span style="float: left;"><input id="multi_select_room" class="multi_checked_room" name="multi_select_room" type="checkbox" value="{{item_id}}"></span>
          {{/multi_select_room}}

          {{#markers}}
          <span class="{{.}}"></span>
          {{/markers}}
        </div>
      </div>

      <div id="room_view_multi_context_{{item_id}}" class="room_view_multi_context context-menu context-menu-theme-gloss context-menu-theme-gloss-semitransparent">
        <div class="context-menu-item check_in_option">
          <a href="javascript:void(0)" class="for_tab_view multiple_check_in_link avl_room" rel="fdr_multiple_checkin_form" title="<%= t('views.labels.check_in') %>">
            <div class="context-menu-item-inner">
              <%= t('views.labels.check_in') %>
            </div>
          </a>
        </div>
        <div class="context-menu-item reservation_option">
          <a href="javascript:void(0)" class="for_tab_view multiple_reservation_link avl_room" rel="fdr_multiple_reservation_form" title="<%= t('views.labels.reservation') %>">
            <div class="context-menu-item-inner">
              <%= t('views.labels.reservation') %>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</script>

<%= render :partial => "reporting_service/items/option_templates/available_room_view_options" %>
<%= render :partial => "reporting_service/items/option_templates/checked_in_room_view_options" %>
<%= render :partial => "reporting_service/items/option_templates/due_out_room_view_options" %>
<%= render :partial => "reporting_service/items/option_templates/reserved_room_view_options" %>
<%= render :partial => "reporting_service/items/option_templates/checked_out_room_view_options" %>
<%= render :partial => "reporting_service/items/option_templates/maintenance_room_view_options" %>
<%= render :partial => "reporting_service/items/option_templates/locked_room_view_options" %>