<%= form_tag stay_view_path, :method => 'get', :name => 'filter-from', 'data-remote' => true do %>
    <div class="hotel_type_row">
      <div class="sl_hotel">
        <div id="item_type_container" class="">
          <%= render :partial => 'item_type_options', :locals => {:item_types => @item_types} %>
        </div>
      </div>
      <div class="sl_hotel_other">
        <div class="s_delux fl_right gap10">
          <%= select_tag('days_count', options_for_select(translate_days_count_options(Constants::DAYS_COUNT_OPTIONS_STAY_VIEW_BY_WEEK), params[:days_count].to_i), :class => 'filter-entity select_ajax_submit') %>
        </div>

        <div class="h_date fl_right">
          <div class="dt_txt side">
            <%= text_field_tag "stay_view_filter_date", params[:stay_view_filter_date] || Time.zone.today,
                               :class => 'datepicker select_ajax_submit' %>
          </div>
        </div>



      </div>
    </div>
<% end %>
