<div id="report_view">
  <%= form_tag stay_view_path, :method => 'get', :name => 'filter-from', 'data-remote' => true do %>

    <div class="hotel_type_row">
      <div class="sl_hotel">
        <%#= select_tag('current_reporting_branch_id', "<option value=''>#{t('template.dashboard.select_entity')}</option>" + options_for_select(@entities.collect { |r| [r.title, r.id] }, current_reporting_branch_id), :class => 'filter-entity select_ajax_submit') %>
        <div id="item_type_container" class="">
          <%= render :partial => 'item_type_options', :locals => {:item_types => @item_types} %>
        </div>
      </div>
      <div id="view_options_wrapper">
        <%= render :partial => 'view_options' %>
      </div>
      <div class="sl_hotel_other">
        <div class="h_date">
          <div class="dt_txt side">
            <%= text_field_tag "stay_view_filter_date", params[:stay_view_filter_date] || Time.zone.today,
                               :class => 'datepicker select_ajax_submit' %>
          </div>
        </div>
        <div class="s_delux ">
          <%= select_tag('days_count', options_for_select(translate_days_count_options(Constants::DAYS_COUNT_OPTIONS_STAY_VIEW), params[:days_count].to_i), :class => 'filter-entity select_ajax_submit') %>
        </div>

      </div>
    </div>


  <% end %>

  <div class="quickview less_margin_top">
    <h1>
      <span class="ra_head_color"><%= t('template.dashboard.stay_view') %></span>
    </h1>

    <div id="stay_view_content">
      <%= render :partial => 'stay_view_content' unless @no_data %>
    </div>

    <div class="room_view_row">
      <div class="room_identy_row ">
        <div class="rm_identy_wrap middle">
          <div class="identy_col_row_other">
            <div class="stay_over"></div>
            <div class="id_desc"><%= t('template.dashboard.stay_over') %></div>
          </div>
          <div class="identy_col_row_other">
            <div class="reserved"></div>
            <div class="id_desc"><%= t('template.dashboard.reserved') %></div>
          </div>
          <div class="identy_col_row_other">
            <div class="checked_in"></div>
            <div class="id_desc"><%= t('template.dashboard.checked_in') %></div>
          </div>
          <div class="identy_col_row_other">
            <div class="checked_out"></div>
            <div class="id_desc"><%= t('template.dashboard.checked_out') %></div>
          </div>
          <div class="identy_col_row_other">
            <div class="locked"></div>
            <div class="id_desc"><%= t('template.dashboard.locked') %></div>
          </div>
          <div class="identy_col_row_other">
            <div class="maintenance"></div>
            <div class="id_desc"><%= t('template.dashboard.maintenance') %></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>