<div class="stay_view_content_wrapper">
<div class="m_room_type stay_view_marker_filters" style="width: 100%; margin-bottom: 10px;">
  <% @compulsory_markers.each do |marker| %>
    <div class="select_rm_type">
      <span class="<%= marker.name.dehumanize %>"> </span>
      <%= check_box_tag '__', 'yes', false, :filter => "custom_marker_#{marker.name.dehumanize}" %>
    </div>
  <% end %>

  <% @custom_markers.each do |marker| %>
    <div class="custom_marker select_rm_type ">
      <span><%= marker.title %> </span>
      <%= check_box_tag marker.name.dehumanize, '', false, :filter => "custom_marker_#{marker.name.dehumanize}" %>
    </div>
  <% end %>
</div>

<div class="room_view_row">
  <div class="stay_view">
    <%= link_to ' ', stay_view_path(merged_params_for_stay_view_date("pre")), :class => 'stay_view_pre', :title => 'previous', 'data-remote' => true %>
    <%= link_to ' ', stay_view_path(merged_params_for_stay_view_date), :class => 'stay_view_next', :title => 'next', 'data-remote' => true %>
    <div class="grid_header">
      <div class="entity_type_tittle entity_bg">
        <span class="ent_name"><%= t('template.dashboard.item') %></span>
      </div>

      <div class="date_tittle">
        <% @date_range.each do |date| %>
          <div class="date_single_row date_bg" style="width: <%= @grid_width %>%;">
            <span><%= date.strftime("%d") %></span>
            <span><%= date.strftime("%h") %></span>
            <span><%= date.strftime("%a") %></span>
          </div>
        <% end %>
      </div>
    </div>

    <% @stay_view_data.each do |item_type_id, data| %>

      <div class="grid_info item_type_info">
        <div class="item_type item_type_bg">
          <span>
            <%= truncate(data['info']['name'], :length => 25) %>
          </span>
        </div>
        <div class="date_tittle">
          <% @date_range.each do |date| %>
            <div class="total_booking item_type_bg " style="width: <%= @grid_width %>%;">
              <span item_type_daily_stat="<%="item_type_#{item_type_id}_#{date}"%>" >00</span>
            </div>
          <% end %>
        </div>
      </div>

      <% data['data'].each do |item_data| %>

        <div class="grid_info room_strip_row item_type_filter_<%=item_type_id%> <%= item_data[:markers].collect { |mrk| "custom_marker_" + mrk }.join(' ') if item_data[:markers].present? %>">

          <div class="item_type entity_bg">
            <span>
              <%= item_data[:item_name] %>
            </span>
            <span class="op_outer">
              <a href="#" class="no_smoking_light"></a>
            </span>
          </div>
          <div class="date_tittle">
            <% activities_length = item_data[:activities].length %>
            <% @from_a_part = false %>
            <% item_data[:activities].each_with_index do |activity, i| %>
              <div class="total_booking  <%= cycle('item_bg_a', 'item_bg_b', :name => 'grid') %>" style="width: <%= @grid_width %>%;">
                <%
                   @span_length = nil
                   @reverse_span_length = nil
                   a_classes = []
                   b_classes = []
                   a_classes << activity[:a][:status] if activity && activity[:a].present?
                   a_classes << activity[:b][:status] if activity && activity[:b].present? && !activity[:b][:event_start].present? && activity[:b][:second_shift].present?
                   if activity && activity[:a].present?
                     if activity[:a][:event_end].present?
                       a_classes << 'event_end'
                       if i == 0 && !activity[:a][:event_start].present?
                         @reverse_span_length = (200 * (activity[:a][:event_length]- activity[:a][:day_passed]))+100
                         @from_a_part = true
                       end
                     end
                   end

                   b_classes << activity[:b][:status] if activity && activity[:b].present?
                   if activity && activity[:b].present?
                     if i == 0 && !activity[:b][:event_start].present?
                       if  activity[:b][:event_length]- activity[:b][:day_passed] >= activities_length
                         @reverse_span_length = (200 * activities_length) + ((activities_length-i) * (activities_length*1.5)/7)
                         b_classes << 'overlapped'
                       else
                         length = activity[:b][:event_length]- activity[:b][:day_passed]
                         @reverse_span_length = (200 * length)+100 + ((length-i) * (length*1.5)/7)
                       end
                     end

                     if activity[:b][:event_start].present?
                       b_classes << 'event_start'
                       if (activities_length-i-1) < activity[:b][:event_length]
                         b_classes << 'overlapped'
                         @span_length = (200 * (activities_length-i))-100 + (activities_length-i) * (activities_length*1.5)/7
                       else
                         @span_length = 200 * [activity[:b][:event_length], 0.5].max
                       end
                     end
                   end
                %>
                <%# begin %>
                <div class="_a" style="width: 50%;">
                  <% if activity.present? && activity[:a].present? &&
                      activity[:a][:status] != Constants::CHECK_IN_STATUSES[:cancelled].downcase %>
                    <% if @reverse_span_length && @from_a_part %>
                      <div context-menu-id="context_<%= "#{activity[:a][:ar_model_name]}_#{activity[:a][:reference_id]}" %>" class="reverse_strip <%= a_classes.join(' ') %>" style='width: <%=@reverse_span_length.to_f%>%'>
                        <span> <%= activity[:a][:main_guest] %> &nbsp; </span>
                        <%= render :partial => "#{activity[:a][:status]}_strip_options", :locals => {:ar_model_name => activity[:a][:ar_model_name], :reference_id => activity[:a][:reference_id]} rescue '' %>
                      </div>
                    <% elsif @reverse_span_length %>
                      <div context-menu-id="context_<%= "#{activity[:b][:ar_model_name].split(' ').first}_#{activity[:b][:reference_id]}" %>" class="reverse_strip <%= b_classes.join(' ') %>" style='width: <%=@reverse_span_length.to_f%>%'>
                        <span> <%= activity[:b][:main_guest] %> &nbsp;</span>
                        <%= render :partial => "#{activity[:b][:status].split(' ').first}_strip_options", :locals => {:ar_model_name => activity[:b][:ar_model_name], :reference_id => activity[:b][:reference_id]} rescue '' %>
                      </div>
                    <% end %>
                  <% elsif i == 0 && activity.present? && activity[:b].present? && !activity[:b][:event_start].present? &&
                      activity[:b][:status] != Constants::CHECK_IN_STATUSES[:cancelled].downcase %>
                    <% if @reverse_span_length %>
                      <div context-menu-id="context_<%= "#{activity[:b][:ar_model_name]}_#{activity[:b][:reference_id]}" %>" class="reverse_strip <%= b_classes.join(' ') %>" style='width: <%=@reverse_span_length.to_f%>%'>
                        <span> <%= activity[:b][:main_guest] %> &nbsp;</span>
                        <%= render :partial => "#{activity[:b][:status]}_strip_options", :locals => {:ar_model_name => activity[:b][:ar_model_name], :reference_id => activity[:b][:reference_id]} rescue '' %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <div class="_b <%= "item_type_#{item_type_id}_#{@date_range[i]} #{'ds_' + activity[:b][:status] rescue 'ds_available'}"%>"  style="width: 50%;">
                  <% unless b_classes.empty? %>
                    <% if @span_length %>
                      <div context-menu-id="context_<%= "#{activity[:b][:ar_model_name]}_#{activity[:b][:reference_id]}" %>" class="strip <%= b_classes.join(' ') %>" style='width:<%=@span_length.to_f%>%'>
                        <span> <%= activity[:b][:main_guest] %> &nbsp;</span>
                        <%= render :partial => "#{activity[:b][:status].split(' ').first}_strip_options", :locals => {:ar_model_name => activity[:b][:ar_model_name], :reference_id => activity[:b][:reference_id]} rescue '' %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <%# rescue %>
                <!--Do nothing, just allow us to proceed :)-->
                <%# end %>
              </div>

            <% end %>
            <% reset_cycle('grid') %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
 </div>
<%= render 'rooms/damaged_lb' %>
<%= render 'rooms/edit_damaged_lb' %>

