<div class="group_type_tab tab_view">
  <ul id="v_tabs">
    <li>
      <%= link_to t('template.dashboard.stay_view'), 'javascript:void(0)', :title => t('template.dashboard.stay_view'), :load_url => stay_view_path(merged_params_for_vew_options(:target_dom_id => 'stay_view_content')), :id => 'stay_view', :class => view_options_selected_tab('stay_view', 'side_curv_st_view') + ' tab existing_tab' %>
    </li>
    <li>
      <%= link_to t('template.dashboard.quick_view'), 'javascript:void(0)', :title => t('template.dashboard.quick_view'), :load_url => quick_view_path(merged_params_for_vew_options(:target_dom_id => 'quick_view_content')), :id => 'quick_view', :class => view_options_selected_tab('quick_view', 'side_curv_qk_view') + ' tab existing_tab' %>
    </li>
    <li>
      <%= link_to t('template.dashboard.room_view'), 'javascript:void(0)', :title => t('template.dashboard.room_view'), :load_url => front_desk_path(merged_params_for_vew_options(:target_dom_id => 'item_view_content')), :loaded => true, :id => 'item_view', :class => view_options_selected_tab('front_desk') + ' tab  existing_tab' %>
    </li>
    <li>
      <%= link_to t('template.dashboard.payment'), 'javascript:void(0)', :title => t('template.dashboard.payment'), :load_url => payment_tab_path(merged_params_for_vew_options(:target_dom_id => 'payment_view_content')),:loaded => true,:id => 'payment_view', :class => view_options_selected_tab('payment') + ' tab  existing_tab' %>
    </li>
    <%= render_refresh_tab(t('template.dashboard.room_view')) %>
  </ul>
</div>


