<div class="qv_row house_keeping_status">
  <h2><%= t('template.dashboard.reporting_service_items.housekeeping_status') %></h2>

  <div class="qv_info ">

    <div class="qv_desc_row">
      <div class="guest_info guest_type_head">
        &nbsp;
      </div>
      <div class="guest_type guest_type_head">
        <%= t('template.dashboard.vacant') %>
      </div>
      <div class="guest_type guest_type_head long">
        <%= t('template.dashboard.occupied') %>
      </div>
      <div class="guest_type guest_type_head">
        <%= t('template.dashboard.total') %>
      </div>
    </div>

    <% Constants::HOUSEKEEPING_STATUS_OPTIONS.each do |status| %>
        <div class="qv_desc_row">
          <div class="guest_info">
            <%= t("views.labels.#{status}") %>
          </div>
          <div class="guest_type">
            <%= v = @quick_view_data['todays_statistics']['housekeeping_data']["#{status}"]['vacant'] rescue 0  %>
          </div>
          <div class="guest_type long">
            <%= o = @quick_view_data['todays_statistics']['housekeeping_data']["#{status}"]['occupied'] rescue 0 %>
          </div>
          <div class="guest_type">
            <%= v + o %>
          </div>
        </div>
    <% end %>

    <!--<div class="qv_desc_row">-->
    <!--<div class="guest_info">-->
    <!--<%#= t('template.dashboard.maintenance') %>-->
    <!--</div>-->
    <!--<div class="guest_type">-->
    <!--<%#= @quick_view_data.hotel_inventory['total_maintenance'] %>-->
    <!--</div>-->
    <!--<div class="guest_type long">-->
    <!--&lt;!&ndash; @todo will implement later&ndash;&gt;-->
    <!--0-->
    <!--</div>-->
    <!--<div class="guest_type">-->
    <!--<%#= @quick_view_data.hotel_inventory['total_maintenance'] %>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</div>