<div class="qv_row">
  <h2><%= t('template.dashboard.reporting_service_items.todays_activity_count') %></h2>

  <div class="qv_info ">
    <div class="qv_desc_row">
      <div class="wide_row">
        <%= t('template.dashboard.arrived') %>
      </div>
      <div class="narrow_row">
        <%= @quick_view_data.todays_activity_count['arrived'] %>
      </div>
    </div>
    <div class="qv_desc_row">
      <div class="wide_row">
        <%= t('template.dashboard.checked_out') %>
      </div>
      <div class="narrow_row">
        <%= @quick_view_data.todays_activity_count['checked_out'] %>
      </div>
    </div>
    <div class="qv_desc_row">
      <div class="wide_row">
        <%= t('template.dashboard.due_out') %>
      </div>
      <div class="narrow_row">
        <%= @quick_view_data.todays_activity_count['due_out'] %>
      </div>
    </div>
  </div>
</div>
