<div class="qv_row">
  <h2><%= t('template.dashboard.reporting_service_items.todays_statistics') %></h2>

  <div class="qv_info">
    <div class="qv_desc_row">
      <div class="wide_row">
        <%= t('template.dashboard.reporting_service_items.current_room_checked_in') %>
      </div>
      <div class="narrow_row">
        <%= @quick_view_data.todays_statistics['current_room_checked_in'] %>
      </div>
    </div>
    <div class="qv_desc_row">
      <div class="wide_row">
        <%= t('template.dashboard.reporting_service_items.rooms_due_out') %>
      </div>
      <div class="narrow_row">
        <%= @quick_view_data.todays_statistics['rooms_due_out'] %>
      </div>
    </div>
    <div class="qv_desc_row">
      <div class="wide_row">
        <%= t('template.dashboard.reporting_service_items.todays_stay_over') %>
      </div>
      <div class="narrow_row">
        <%= @quick_view_data.todays_statistics['stay_over'] %>
      </div>
    </div>
    <div class="qv_desc_row">
      <div class="wide_row">
        <%= t('template.dashboard.reporting_service_items.available_rooms') %>
      </div>
      <div class="narrow_row">
        <%= @quick_view_data.todays_statistics['available'] %>
      </div>
    </div>
  </div>
</div>