<div class="qv_row">
  <h2><%= t('template.dashboard.reporting_service_items.todays_guest') %></h2>

  <div class="qv_info">
    <div class="qv_desc_row">
      <div class="wide_row">
        <%= t('template.dashboard.reporting_service_items.total_guest') %>
      </div>
      <div class="narrow_row">
        <%= @quick_view_data.total_guest['total_guest'] %>
      </div>
    </div>
    <div class="qv_desc_row">
      <div class="wide_row">
        <%= t('template.dashboard.reporting_service_items.due_to_checkout') %>
      </div>
      <div class="narrow_row">
        <%= @quick_view_data.total_guest['due_to_check_out'] %>
      </div>
    </div>
    <div class="qv_desc_row">
      <div class="wide_row">
        <%= t('template.dashboard.reporting_service_items.staying_over') %>
      </div>
      <div class="narrow_row">
        <%= @quick_view_data.total_guest['staying_over'] %>
      </div>
    </div>
    <div class="qv_desc_row">
      <div class="wide_row">
        <%= t('template.dashboard.reporting_service_items.expected_in_house') %>
      </div>
      <div class="narrow_row">
        <%= @quick_view_data.total_guest['expected_in_house'] %>
      </div>
    </div>
  </div>
</div>