<div class="qv_row">
  <h2><%= t('template.dashboard.reporting_service_items.future_inventory') %></h2>

  <div class="qv_info ">

    <%= form_tag quick_view_future_inventory_path, :method => 'get', :class => 'show_inner_loading', :name => 'filter-from', 'data-remote' => true do %>
      <div class="fi_row">
        <label class="sel_date"><%= t('template.dashboard.select_date') %></label>
        <div class="h_date">
          <div class="dt_txt">
            <%= text_field_tag "check_in", params[:check_in] || Time.zone.today.to_date,
                               #:onchange =>"Teks.CalenderDateSelect.Search.afterStartDatePopulate(this.form.check_in,this.form.check_out)",
                               #:valid_date_check => "Teks.CalenderDateSelect.Search.validCheckinDate(date)",
                               :class=>'datepicker' %>
          </div>
          <%= hidden_field_tag "entity_id", params[:entity_id] %>
          <a href="javascript:return void(0);" class="fi_light_box submit_future_inventory" id="submit_future_inventory">
            <img src="/images/dashboard/fi_light_icon.jpg" alt="">
          </a>
        </div>
      </div>
    <% end %>
    <div id="qv_future_inventory_container">
    </div>

  </div>
</div>