<div class="qv_row clear">
  <h2><%= t('template.dashboard.reporting_service_items.hotel_inventory') %></h2>

  <div class="qv_info ">
    <div class="qv_desc_row">
      <div class="wide_row">
        <%= t('template.dashboard.available') %>
      </div>
      <div class="narrow_row">
        <%= @quick_view_data.hotel_inventory['available'] %>
      </div>
    </div>
    <div class="qv_desc_row">
      <div class="wide_row">
        <%= t('template.dashboard.reporting_service_items.total_maintenance') %>
      </div>
      <div class="narrow_row">
        <%= @quick_view_data.hotel_inventory['total_maintenance'] %>
      </div>
    </div>
    <div class="qv_desc_row">
      <div class="wide_row">
        <%= t('template.dashboard.reporting_service_items.total_available') %>
      </div>
      <div class="narrow_row">
        <%= @quick_view_data.hotel_inventory['total_available'] %>
      </div>
    </div>

  </div>
</div>