<div id="item_view_content" class="v_tab_content_item">
  <div id="report_view">
    <%= render 'item_view_full' %>
  </div>
</div>
<script type="text/javascript">
    $j(document).ready(function () {
//        DASHBOARD.TabView.open_existing_tab($j('a#stay_view'));
        $j('#stay_view_content').hide();
        reloadTaskCounts();
        DASHBOARD.updateLeftPanel();

        DASHBOARD.updateStatusCount('.item_view_block');
        <%= render :partial => "reporting_service/items/render_check_in_block", formats: [:js], locals: {items: @items} %>
    });
</script>