
<% if params[:outside].to_s == 'true' %>
$j('#report_view').html('<%=escape_javascript(render :partial => 'item_view_full')%>');
$j('#view_options_wrapper').html('<%=escape_javascript(render :partial => 'view_options')%>');
<% else %>
$j('#availability_items_container').html('<%=escape_javascript(render :partial => 'availability_item', :collection => @items, :locals => {:item_with_task_count => @item_with_task_count})%>');
DASHBOARD.updateLeftPanel()
$j('#item_type_container').html('<%=escape_javascript(render :partial => 'item_type_options', :locals => {:item_types => @item_types})%>');
<% end %>
$j("#room_view_footer").html('<%=escape_javascript(render :partial => 'item_view_footer')%>');
$j('#room_view_nights_count').val(DASHBOARD.Checkin.nightCount($j('#item_view_filter_start_date'),$j('#filter_end_date')));
DASHBOARD.filterItemView();
DASHBOARD.initToolTipAtItemView("<%= t('views.labels.room_information')%>");
reloadTaskCounts();
$j('a#stay_view').removeAttr('loaded');
DASHBOARD.updateStatusCount('.item_view_block');
DASHBOARD.bindContextMenu();
//DASHBOARD.TabView.open_existing_tab($j('a#stay_view'));      DONT UNCOMMENT THIS: Its been using for reference

$(document).ajaxComplete(function () {
    if (!$(this).hasClass('show_inner_loading')) {
        DASHBOARD.removeShadeWithLoading();
    }
});
