<h1><%= t('template.dashboard.add_new_item') %></h1>
<div class="views">
  <div class="edit_wrapper car_input_row">
    <%= form_for(@item, :html => {:name => 'item_new'}, :url => {:action => :create, :lan => I18n.locale.to_s}) do |f| %>

      <div class="manage_input">
        <label class="hotelLabel"><%= t('views.labels.name') %>*</label>
        <%= f.text_field('item_type_name', {:class => ''}) %>
      </div>

      <div class="clear"></div>
      <div class="center">
        <span class="inline-block">
            <%= hidden_field_tag :lan, I18n.locale.to_s %>
          <%= f.submit t('views.labels.create'), {:class => 'go_btn center_postion mbot'} %>
        </span>
      </div>

    <% end %>

  </div>
</div>