<% if params[:outside].to_s == 'true' %>
    $j('#report_view').html('<%=escape_javascript(render :partial => 'quick_view_full')%>');
    $j('#view_options_wrapper').html('<%=escape_javascript(render :partial => 'view_options')%>');
<% else %>
var target_container = '<%=params['target_dom_id'] || 'quick_view_container'%>';
    <% if !@no_data %>
        $j('#'+ target_container).html('<%=escape_javascript(render :partial => 'quick_view_stats')%>')
    <% else %>
        $j('#'+ target_container).html('')
    <% end %>
<% end %>
$j.delay(0.1, function(){
    $j('a.submit_future_inventory').closest('form').submit();
});