<% if params[:outside].to_s == 'true' %>
$j('#report_view').html('<%=escape_javascript(render :partial => 'stay_view_full')%>');
$j('#view_options_wrapper').html('<%=escape_javascript(render :partial => 'view_options')%>');
<% else %>
var target_container = '<%=params['target_dom_id'] || 'stay_view_content'%>';
$j('#' + target_container).html('<%=escape_javascript(render :partial => 'stay_view_filters')%>');
<% if !@no_data %>
$j('#' + target_container).append('<%=escape_javascript(render :partial => 'stay_view_content')%>');
<% else %>
$j('#' + target_container).html('')
<% end %>
<% end %>

DASHBOARD.bindContextMenu();
DASHBOARD.StayView.updateRoomStats();

