<script type="text/template" id="available_room_view_options_template">
  <div id="room_view_context_{{item_id}}" class="context-menu context-menu-theme-gloss">
    {{#can_check_in}}
    <div class="context-menu-item">
      <a href="javascript:void(0)" class="check_in avl_room" manual-remove-loading="true" rel="fdr_checkin_form" title="Check In" url="/check_ins/new?item_ids={{item_id}}&target_dom_id=fdr_checkin_form_content">
        <div class="context-menu-item-inner"><%= t('views.labels.check_in') %></div>
      </a>
    </div>
    {{/can_check_in}}

    {{#can_reserve}}
    <div class="context-menu-item">
      <a href="javascript:void(0)" class="check_in avl_room" rel="fdr_reservation_form" title="Reservation" url="/check_ins/new?item_ids={{item_id}}&status=RESERVED&target_dom_id=fdr_reservation_form_content">
        <div class="context-menu-item-inner"><%= t('views.labels.reservation') %></div>
      </a>
    </div>
    {{/can_reserve}}

    <div class="context-menu-item">
      <a href="javascript:void(0)" class="add_edit_task icon_ad avl_room" data-remote="true" data-url="/tasks/new_lb?hide_due_date=true&supplied_type=DamagedRoomTask&task%5Broom_id%5D={{item_id}}&title=Mark+as+Maintenance">
        <div class="context-menu-item-inner">
          <%= t('views.labels.mark_as_maintenance') %>
        </div>
      </a>
    </div>

    <div class="context-menu-item">
      <a href="javascript:void(0)" class="add_edit_task icon_ad avl_room" data-remote="true" data-url="/tasks/new_lb?hide_due_date=true&supplied_type=LockedRoomTask&task%5Broom_id%5D={{item_id}}&title=Mark+as+Locked">
        <div class="context-menu-item-inner">
          <%= t('views.labels.mark_as_locked') %>
        </div>
      </a>
    </div>

    <%= render :partial => "reporting_service/items/option_templates/common_room_view_options" %>

  </div>
</script>