{{#can_assign_employee}}
<div class="context-menu-item">
  <a href="javascript:void(0)" class="add_edit_task icon_ad avl_room" data-remote="true" data-url="/tasks/new_lb?task%5Broom_id%5D={{item_id}}&title=<%= u t('views.labels.assign_employee') %>">
    <div class="context-menu-item-inner">
      <%= t('views.labels.assign_employee') %>
    </div>
  </a>
</div>
{{/can_assign_employee}}

{{#can_assign_markers}}
<div class="context-menu-item">
  <a href="/rooms/edit_markers?id={{item_id}}" class="assign_marker avl_room" data-remote="true">
    <div class="context-menu-item-inner">
      <%= t('views.labels.assign_markers') %>
    </div>
  </a>
</div>
{{/can_assign_markers}}

{{#dirty}}
<div class="context-menu-item">
  <a href="/rooms/mark_as_clean?room_id={{item_id}}" class="mark_clean avl_room" data-method="post" data-remote="true" rel="nofollow">
    <div class="context-menu-item-inner" id="manage_cleaning_{{item_id}}">
      <%= t('views.labels.mark_as_clean') %>
    </div>
  </a>
</div>
{{/dirty}}

{{#clean}}
<div class="context-menu-item">
  <a href="/rooms/mark_as_dirty?room_id={{item_id}}" class="mark_dirty avl_room" data-method="post" data-remote="true" rel="nofollow">
    <div class="context-menu-item-inner" id="manage_cleaning_{{item_id}}">
      <%= t('views.labels.mark_as_dirty') %>
    </div>
  </a>
</div>
{{/clean}}

<!--<div class="context-menu-item">-->
  <!--<a href="javascript:void(0)" class="for_tab_view" rel="rpt_fixed_asset_transaction" title="Asset Allocations" url="/groups_report/room_asset_allocation_report?room_id={{item_id}}&target_dom_id=rpt_fixed_asset_transaction_content">-->
    <!--<div class="context-menu-item-inner">-->
      <!--<%#= t('template.dashboard.hotel_admin_nav.room_asset_allocation_report') %>-->
    <!--</div>-->
  <!--</a>-->
<!--</div>-->