<script type="text/template" id="due_out_room_view_options_template">
  <div id="room_view_context_{{item_id}}" class="context-menu context-menu-theme-gloss context-menu-theme-gloss-semitransparent">
    {{#can_add_charge}}
    <div class="context-menu-item">
      <a href="/allocated_rooms/add_charge_from_room_view?reference_id={{reference_id}}" class="avl_room" data-remote="true">
        <div class="context-menu-item-inner" id="manage_charge_{{item_id}}">
          <%= t('views.labels.add_charge') %>
        </div>
      </a>
    </div>
    {{/can_add_charge}}

    {{#can_add_payment}}
    <div class="context-menu-item">
      <a href="javascript:void(0)" class="add_payment avl_room" data-url="/hotel_services_payments/add_payment?check_in_id={{check_in_id}}&previous_page=front_desk">
        <div class="context-menu-item-inner" id="manage_payment_{{item_id}}">
          <%= t('views.labels.payment') %>
        </div>
      </a>
    </div>
    {{/can_add_payment}}

    {{#can_edit_check_in}}
    <div class="context-menu-item">
      <a href="javascript:void(0)" class="for_tab_view avl_room"  data-remote="true" rel="fdt_checkin_{{check_in_id}}" title="Checked In- {{check_in_id}}" url="/check_ins/{{check_in_id}}/edit?open_tab=2&target_dom_id=fdt_checkin_{{check_in_id}}_content">
        <div class="context-menu-item-inner" id="manage_check_out_tab_{{item_id}}">
          <%= t('views.labels.check_out') %>
        </div>
      </a>
    </div>

    <div class="context-menu-item">
      <a href="javascript:void(0)" class="for_tab_view avl_room" data-remote="true" loading_container_id="fdt_checkin_{{check_in_id}}_content" manual-remove-loading="true" rel="fdt_checkin_{{check_in_id}}" title="Checked In- {{check_in_id}}" url="/check_ins/{{check_in_id}}/edit?open_tab=0&target_dom_id=fdt_checkin_{{check_in_id}}_content">
        <div class="context-menu-item-inner" id="manage_check_out_{{item_id}}">
          <%= t('views.labels.edit') %>
        </div>
      </a>
    </div>
    {{/can_edit_check_in}}
    {{#can_assign_employee}}
    <div class="context-menu-item">
      <a href="javascript:void(0)" class="add_edit_task icon_ad avl_room" data-remote="true" data-url="/tasks/new_lb?task%5Broom_id%5D={{item_id}}&title=<%= u t('views.labels.assign_employee') %>">
        <div class="context-menu-item-inner">
          <%= t('views.labels.assign_employee') %>
        </div>
      </a>
    </div>
    {{/can_assign_employee}}
    {{#dirty}}
    <div class="context-menu-item">
      <a href="/rooms/mark_as_clean?room_id={{item_id}}" class="mark_clean avl_room" data-method="post" data-remote="true" rel="nofollow">
        <div class="context-menu-item-inner" id="manage_cleaning_{{item_id}}">
          <%= t('views.labels.mark_as_clean') %>
        </div>
      </a>
    </div>
    {{/dirty}}

    {{#clean}}
    <div class="context-menu-item">
      <a href="/rooms/mark_as_dirty?room_id={{item_id}}" class="mark_dirty avl_room" data-method="post" data-remote="true" rel="nofollow">
        <div class="context-menu-item-inner" id="manage_cleaning_{{item_id}}">
          <%= t('views.labels.mark_as_dirty') %>
        </div>
      </a>
    </div>
    {{/clean}}
  </div>
</script>