<script type="text/template" id="maintenance_room_view_options_template">
  <div id="room_view_context_{{item_id}}" class="context-menu context-menu-theme-gloss context-menu-theme-gloss-semitransparent">

    {{#damaged_room_task_id}}
    <div class="context-menu-item">
      <a href="javascript:void(0)" class="add_edit_task icon_ad avl_room" data-remote="true" data-url="/tasks/{{damaged_room_task_id}}/edit_lb?hide_due_date=true&supplied_type=DamagedRoomTask&task%5Broom_id%5D={{item_id}}&title=<%= u t('views.labels.remove_from_maintenance') %>">
        <div class="context-menu-item-inner">
          <%= t('views.labels.remove_from_maintenance') %>
        </div>
      </a>
    </div>
    {{/damaged_room_task_id}}

    <div class="context-menu-item">
      <a href="javascript:void(0)" class="add_edit_task icon_ad avl_room" data-remote="true" data-url="/tasks/new_lb?hide_due_date=true&supplied_type=LockedRoomTask&task%5Broom_id%5D={{item_id}}&title=<%= u t('views.labels.mark_as_locked') %>">
        <div class="context-menu-item-inner">
          <%= t('views.labels.mark_as_locked') %>
        </div>
      </a>
    </div>

    <%= render :partial => "reporting_service/items/option_templates/common_room_view_options" %>
  </div>
</script>