<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="shortcut icon" href="/assets/favicon.ico"/>
  <title><%= t('views.labels.front_desk') + ' :: ' + t('views.labels.page_title') %></title>
  <%= stylesheet_link_tag 'front_desk' %>
  <%= stylesheet_link_tag "dashboard/style_#{I18n.locale.to_s}" %>
  <%= stylesheet_link_tag 'lightbox_'+I18n.locale.to_s %>
  <%= yield :head_tag %>
  <%= csrf_meta_tag %>

</head>

<body class="<%= ltr_or_rtl %>" current_language="<%= I18n.locale.to_s %>" ng-app="custom_directives" autocomplete_test="<%= Rails.env.test? ? 'true' : 'false' %>">

<% load_local_asset = LOCAL_SERVER || !Rails.env.production? %>
<%= javascript_include_tag load_local_asset ? 'jquery' : '//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js' %>
<%= javascript_include_tag load_local_asset ? 'lib/mustache' : '//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js' %>
<%= javascript_include_tag load_local_asset ? 'jquery-ui' : '//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js' %>
<%= javascript_include_tag load_local_asset ? 'twitter/bootstrap' : '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js' %>
<%= javascript_include_tag load_local_asset ? 'moment.min' : '//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js' %>
<%= javascript_include_tag load_local_asset ? 'angular' : '//cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.3/angular.min.js' %>
<%= javascript_include_tag 'front_desk' %>

<div class="clear">
  <%= render :partial => 'layouts/parts/front_desk_header' %>
  <div class="wrapper">
    <div class="slide_wrap">
      <div class="inner_page_content">

        <div class="inner_full_width">

          <div class="grid_16 content">
            <div id="front_desk_left_column"><%= render :partial => 'layouts/parts/front_desk_left_column' %></div>
            <div class="wide_wrapper">
              <div class="wide">
                <%= render :partial => 'layouts/parts/common_lb_partials' %>
                <div id='flash_message_div'>
                  <%= render :partial => 'parts/dashboard_flash_message' %>
                </div>
                <div class="tabs">
                  <div id="view_options_wrapper">
                    <%= render :partial => 'view_options' %>
                  </div>
                </div>

                <div class="quickview less_top" id="v_tab_content">
                  <%= yield %>
                  <div id="stay_view_content" class="v_tab_content_item">
                  </div>
                  <div id="quick_view_content" class="v_tab_content_item stay_view_one_third" style="padding-top: 10px">
                  </div>
                  <div id="payment_view_content" class="v_tab_content_item" style="display: none">
                    <%= render :partial => 'hotel_services_payment/tab_payment_content' %>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="inner_bot_wrap">
    <div class="inner_bot_shade"></div>
  </div>
</div>

<%= render :partial => 'parts/dashboard_footer' %>
<%= render :partial => 'lightbox/message' %>
<%= render :partial => 'shared/warn_for_time_zone' %>
<%= render :partial => 'autocomplete/templates' %>
<%= render :partial => 'reporting_service/items/room_view_template' %>

</body>
</html>