<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="shortcut icon" href="/assets/favicon.ico"/>
  <title><%= t('views.labels.page_title') %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag "dashboard/style_#{I18n.locale.to_s}" %>
  <%= stylesheet_link_tag 'lightbox_'+I18n.locale.to_s %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'jquery.miniColors' %>
  <%= javascript_include_tag "jquery.minicolors" %>
  <%= yield :head_tag %>
  <%= csrf_meta_tag %>
</head>


<body class="<%= ltr_or_rtl %>" current_language="<%= I18n.locale.to_s %>">

<div class="slider_row clear">
  <%= render :partial => 'layouts/parts/hotel_admin_header' %>
  <div class="wrapper">
    <div class="slide_wrap">
      <div class="inner_page_content">


        <div class="inner_full_width">
          <div class="grid_16 content">
            <%#= render :partial => 'parts/dashboard_statistics_report' %>
            <div class="wide_wrapper" style="width: 100%">
              <div class="wide">
                <div dynamic_lbs="true">

                </div>
                <div id='flash_message_div'>
                  <%= render :partial => 'parts/dashboard_flash_message' %>
                </div>
                <div class="quickview less_margin_top no_border_full">
                  <%= yield %>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="inner_bot_wrap">
    <div class="inner_bot_shade"></div>
  </div>
</div>

<%= render :partial => 'parts/dashboard_footer' %>
<%= render :partial => 'lightbox/message' %>
<%= render :partial => 'autocomplete/templates' %>

</body>
</html>