<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="shortcut icon" href="/assets/favicon.ico"/>
  <title><%= t('views.labels.report') + ' :: ' + t('views.labels.page_title') %></title>
  <%= stylesheet_link_tag 'front_desk' %>
  <%= stylesheet_link_tag "dashboard/style_#{I18n.locale.to_s}" %>
  <%= stylesheet_link_tag 'lightbox_'+I18n.locale.to_s %>
  <%= javascript_include_tag LOCAL_SERVER ? 'jquery' : '//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js' %>
  <%= javascript_include_tag LOCAL_SERVER ? 'lib/mustache' : '//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js' %>
  <%= javascript_include_tag LOCAL_SERVER ? 'jquery-ui' : '//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js' %>
  <%= javascript_include_tag LOCAL_SERVER ? 'twitter/bootstrap' : '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js' %>
  <%= javascript_include_tag LOCAL_SERVER ? 'moment.min' : '//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js' %>
  <%= javascript_include_tag LOCAL_SERVER ? 'angular' : '//cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.3/angular.min.js' %>
  <%= javascript_include_tag 'front_desk' %>
  <script src='http://www.google.com/jsapi'></script>
  <%= yield :head_tag %>
  <%= csrf_meta_tag %>

</head>


<body class="<%= ltr_or_rtl %>" current_language="<%=I18n.locale.to_s%>">

<div class="slider_row clear">
  <%= render :partial => 'reports_base_header' %>
  <div class="wrapper">
    <div class="slide_wrap">
      <div class="inner_page_content">


        <div class="inner_full_width">
          <div class="grid_16 content">
            <div>
              <div class="wide">
                <%= render :partial => 'layouts/parts/common_lb_partials' %>
                <div id='flash_message_div'>
                  <%= render :partial => 'parts/dashboard_flash_message' %>
                </div>
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="inner_bot_wrap">
    <div class="inner_bot_shade"></div>
  </div>
</div>

<%= render :partial => 'parts/dashboard_footer' %>
<%= render :partial => 'lightbox/message' %>

</body>
</html>

<script type="text/javascript">
  $j(document).ready(function(){
      $j('#reports_base_branch_id').change(function(){

      });
  })
</script>