<a href="" class="lbOn" rel="new_check_lb"></a>
<div class="fi_light_box_row" id="new_check_lb" style="display: none;width: auto;left:0%;right:0%;z-index: 1001;position: absolute;">
  <div class="fi_head with_tabs">
    <h1 id='check_in_lb_header'></h1>
    <a class="fi_close" href="javascript:void(0)" onclick="gLightBoxes['new_check_lb'].deactivate();"></a>
  </div>

  <div class="check_in_form_container" id="check_in_form_container">

  </div>
</div>

<%= render :partial => 'check_ins/guests_lb' %>
<%= render :partial => 'check_ins/group_lb' %>

<div style="display: none">
  <div id="guest_form_html">
    <%= render :partial => 'guests/lb_form', :locals => {:guest => Guest.new} %>
  </div>

  <%= render :partial => 'check_ins/dependent' %>
</div>
<script type="text/javascript">
    $j(document).ready(function () {
        //DASHBOARD.addMoreDependent('a.addMoreDependent', '#dependent_guest_html', '#dependent_guests', 'span.removeDependentGuest', 'dependent_guest', '', true);
        //DASHBOARD.addMoreAllocatedRoom('a.addMoreAllocatedRoom', '#new_allocated_room_html', '#allocated_rooms_container', 'span.removeAllocatedRoom', 'allocated_room_row', "DASHBOARD.adjustAllocatedRoomSerial()");
        //DASHBOARD.addMoreAllocatedRoom('a.addMoreAllocatedRoom', '#new_allocated_room_html', '#js-check-in-form-container', 'span.removeAllocatedRoom', 'room-wrapper', '');


    });


</script>






