<div id="report_wrapper" class="narrow">
    <div class="nrw_con">
      <div class="group_list">
        <a href="#" class="heading minimize">Report Group</a>
        <ul>
          <li><a href="#">Reporting one</a></li>
        </ul>
      </div>
    </div>
</div>