<% if flash[:notice] || flash[:error] || flash[:alert] %>
    <div class="notification <%= flash[:notice].present? ? 'success' : 'failure' %>">
      <a id='flash_messages_div_close' href="javascript:void(0)" class="close"></a>
      <% flash.each do |name, msg| %>
          <% if msg.is_a?(String) %>
              <label><%= raw msg if msg.is_a?(String) %></label>
          <% elsif msg.is_a?(Array) && !msg.empty? %>
              <% msg.each do |msg| %>
                  <% if msg.present? %>
                      <label><%= raw msg %></label>
                  <% end %>
              <% end %>
          <% end %>
      <% end %>
    </div>
<% end %>
