<div class="statistics">
  <ul>
    <li><a href="#">Most Rented Room </a></li>
    <li><a href="#">Least Rented Room</a></li>
  </ul>
  <div class="statcontent">
    <div class="bundle">
      <div class="row">
        <label>Presidencial Suite</label>

        <div class="reserve">
          <div style="width: 25%" class="usage">

          </div>

        </div>
      </div>
      <div class="row">
        <label>&nbsp;</label>

        <div class="chout">
          <div style="width: 25%" class="usage">
            <label>Checked Out</label>
            <span>36</span>
          </div>

        </div>
      </div>
    </div>
    <div class="bundle">
      <div class="row">
        <label>Super Deluxe</label>

        <div class="reserve">
          <div style="width: 40%" class="usage">

          </div>
        </div>
      </div>
      <div class="row">
        <label>&nbsp;</label>

        <div class="chout">
          <div style="width: 40%" class="usage">
            <label>Checked Out</label>
            <span>36</span>
          </div>
        </div>
      </div>
    </div>
    <div class="bundle">
      <div class="row">
        <label>Deluxe</label>

        <div class="reserve">
          <div style="width: 60%" class="usage">

          </div>
        </div>
      </div>
      <div class="row">
        <label>&nbsp;</label>

        <div class="chout">
          <div style="width:60%" class="usage">
            <label>Checked Out</label>
            <span>36</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>