<h1><%= t('template.dashboard.quick_view') %></h1>

<div class="views" id="cloneMenu">
  <div class="one_third">
    <div class="group">
      <h2><%= t('template.dashboard.hotel_admin_nav.hotel_profile') %></h2>
      <ul class="nav-sub-menu">
        <% if permitted_to?(:edit, :user_panel_hotels) %>
            <li><%= link_to t('template.dashboard.hotel_admin_nav.booking_policy'), edit_hotel_admin_hotel_path(current_branch) + '#booking_policy' %></li>
        <% end %>
      </ul>
    </div>


    <div class="group">
      <h2><%= t('template.dashboard.hotel_admin_nav.hotel_Management') %></h2>
      <ul class="nav-sub-menu">
        <%= render :partial => 'layouts/parts/hotel_admin_navs/hotels_sub_navs' %>
      </ul>
    </div>
    <!--<div class="group">-->
      <!--<h2><%= t('template.dashboard.hotel_admin_nav.asset_inventory') %></h2>-->
      <!--<ul class="nav-sub-menu">-->
        <!--<%= render :partial => 'layouts/parts/hotel_admin_navs/asset_inventory_sub_navs' %>-->

      <!--</ul>-->
    <!--</div>-->


  </div>

  <div class="one_third">
    <div class="group">
      <h2><%= t('template.dashboard.hotel_admin_nav.user_and_permission') %></h2>
      <ul class="nav-sub-menu">
        <%= render :partial => 'layouts/parts/hotel_admin_navs/user_management_navs', :locals => {:child_class => ''} %>
      </ul>
    </div>

    <div class="group">
      <h2><%= t('template.dashboard.hotel_admin_nav.crm') %></h2>
      <ul class="nav-sub-menu">
        <%= render :partial => 'layouts/parts/hotel_admin_navs/guest_group_navs', :locals => {child_class: ''} %>
      </ul>
    </div>
    <div class="group">
      <h2><%= t('template.dashboard.hotel_admin_nav.accounting_pricing') %></h2>
      <ul class="nav-sub-menu">
        <%= render :partial => 'layouts/parts/hotel_admin_navs/accounting_pricing', :locals => {child_class: ''} %>
      </ul>
    </div>

  </div>

  <div class="one_third">
    <div class="group">
      <h2><%= t('template.dashboard.hotel_admin_nav.hotel_website_setup') %></h2>
      <ul class="nav-sub-menu">
        <%= render_assign_template_link(tag=:li, options ={:class => ''}) %>
        <li><%= link_to t('views.labels.view_website'), current_branch && current_branch.subdomain.present? ? root_url(:subdomain => current_branch.subdomain) : hotel_path(current_reporting_branch_id), :target => "_blank" %></li>
        <li><%= link_to t('activerecord.models.online_reservation'), [:hotel_admin, :online_reservations] %></li>
      </ul>
    </div>
  </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        try {
            $('.group > ul').each(function () {
                if ($(this).children().size() == 0) {
                    $(this).parent().remove();
                }
            });
            $(".admin_top_menu_event").click(function () {
                var eleId = $(this).attr("id");
                var eleName = eleId.split('_');
                var ulId = eleName[0] + '_arrow';
                if (eleName[0] == 'userMenu') {

                    var htitle = '<h2>User and Permission</h2>';

                    $("#cloneMenu").html(htitle);
                    $("#cloneMenu").append($("#" + ulId).clone())

                } else {
                    $("#cloneMenu").html($("#" + ulId).clone());
                }

                $("#cloneMenu > ul").show();
                $("#cloneMenu > ul").removeAttr("id");


            })
            if ($('.views').first().children().size() == 0) {
                $('.views').first().html("<div class='q_msg_row'><p><%= t('template.dashboard.no_permission_notification') %></p></div>");
            }
        } catch (e) {
            console.debug(e);
        }
    });
</script>
