<div class="controls">
  <% if has_role?(:front_desk_manager) %>
      <%= link_to t('template.dashboard.reservation'), new_reservation_path, 'data-remote' => true, :class => 'newreserve' %>
      <%= link_to t('template.dashboard.walkin_checkin'), new_check_in_path, 'data-remote' => true, :class => 'newcheckin' %>
      <%= link_to t('views.labels.check_out'), "javascript:void(0)", :class => 'checkout check_out ' %>
      <%= link_to t('template.dashboard.charge_room'), "javascript:void(0)", :class => 'chargeroom ' %>
      <%= link_to t('template.dashboard.cash_close_out'), new_hotel_path(:lan => I18n.locale.to_s), :class => 'cashcloseout ' %>

  <% else %>

      <% if  hotel_agent? || has_role?(:access_hotel_wizard) %>
          <%= link_to t('template.dashboard.add_new_entity'), new_hotel_path(:lan => I18n.locale.to_s), :class => 'newbran ' %>
      <% end %>

      <% if  hotel_agent? || has_role?(:access_room_wizard) %>
          <%= link_to t('template.dashboard.add_item'), new_room_path(:from => 'item'), :class => 'newcar ' %>
      <% end %>

      <% if  hotel_agent? || has_role?(:access_employee_wizard) %>
          <a href="javascript:void(0)" class="genreport "><%= t('template.dashboard.generate_report') %></a>
      <% end %>

      <% if  hotel_agent? || has_role?(:access_employee_wizard) %>
          <%= link_to t('template.dashboard.add_employee'), new_employee_path(:from => 'employee'), :class => 'chin ' %>
      <% end %>


      <% if  hotel_agent? || has_role?(:access_room_type_wizard) %>
          <%= link_to t('template.dashboard.add_new_item_type'), new_room_path(:from => 'item_type'), :class => 'chout no_margin ' %>
      <% end %>

  <% end %>
</div>