<div class="wrapper">
  <div class="header">
    <%= link_to(image_tag('dashboard/moteel_logo.png'), root_path, :class => 'logo') %>

    <div class="sign_row" style="margin-top: 15px">
      <% if current_user.present? %>
        <div class="welcome">
          <span class="bold"><%= current_user.name %></span>
          <span><%= t('template.dashboard.welcome') %></span>
        </div>
      <% end %>
      <ul>
        <li>
          <% if I18n.locale.to_s == 'en' %>
            <%= link_to(t('template.dashboard.arabic'), {:'lan' => 'ar', :params => params.delete_if { |key, value| key == "lan" }}, {:class => '', :onclick => fix_language_switch}) %>
          <% else %>
            <%= link_to(t('template.dashboard.english'), {:'lan' => 'en', :params => params.delete_if { |key, value| key == "lan" }}, {:class => '', :onclick => fix_language_switch}) %>
          <% end %>
        </li>
        <% if current_user.present? %>
          <li>|</li>
          <li><%= link_to_logout %></li>
          <li>|</li>
          <li><%= link_to(t('template.dashboard.my_account'), profile_path('x')) %></li>
          <li>|</li>
          <li><%= link_to t('views.labels.list_hotel_now'), new_hotel_path(:lan => I18n.locale.to_s) %></li>
        <% end %>
        <li>|</li>
        <li><%= link_to(t('template.dashboard.home'), root_path(:lan => I18n.locale.to_s)) %></li>
      </ul>

    </div>
    <% if current_reporting_branch_id > 0 %>
      <%= render :partial => 'layouts/parts/dashboard_nav' %>
    <% end %>
  </div>

</div>
