<div class="footer">
  <div class="wrapper home-wrapper">
    <div class="footer_link">
      <ul>
        <!--<li>-->
          <!--<a href="http://<%#= request.host_with_port %>/User_manual_<%#= I18n.locale.to_s %>.zip" target="_blank"><%#= t('views.labels.download_manual') %></a>-->
        <!--</li>-->
        <!--<a href="http://<%#= request.host_with_port %>/manual" target="_blank"><%#= t('views.labels.manual') %></a></li>-->
        <!--<li><a href="<%#= download_user_manual_path("pdf") %>">Downlaod Manual</a></li>-->
        <!--<li><a href="javascript:void(0)"><%#= t('template.dashboard.home') %></a></li>-->
        <!--<li>|</li>-->
        <!--<li><a href="javascript:void(0)"><%#= t('template.dashboard.about_us') %></a></li>-->
        <!--<li>|</li>-->
        <!--<li><a href="javascript:void(0)"><%#= t('template.dashboard.privacy_policy') %></a></li>-->
        <!--<li>|</li>-->
        <!--<li><a href="javascript:void(0)"><%#= t('template.dashboard.terms_and_conditions') %></a></li>-->
        <!--<li>|</li>-->
        <!--<li><a href="javascript:void(0)"><%#= t('template.dashboard.contact_us') %></a></li>-->
        <!--<li>|</li>-->
        <!--<li><a href="javascript:void(0)"><%#= t('template.dashboard.faqs') %></a></li>-->
      </ul>
    </div>
    <div class="social_icon_row">
      <!--<a class="facebook" href="#"></a>-->
      <!--<a class="twiter" href="#"></a>-->
    </div>
  </div>
</div>