<div class="wrapper">
  <div class="header">
    <%= link_to(image_tag('dashboard/moteel_logo.png'), root_path, :class => 'logo') %>
    <div class="sign_row" style="margin-top: 20px">
      <% if current_user.present? %>
          <div class="welcome">
            <span class="bold"><%= current_user.name %></span>
            <span><%= t('template.dashboard.welcome') %></span>
          </div>
      <% end %>
      <ul>
        <li>
          <% if I18n.locale.to_s == 'en' %>
              <%= link_to(t('template.dashboard.arabic'), {:'lan' => 'ar', :params => params.delete_if { |key, value| key == "lan" }}, {:class => '', :onclick => fix_language_switch}) %>
          <% else %>
              <%= link_to(t('template.dashboard.english'), {:'lan' => 'en', :params => params.delete_if { |key, value| key == "lan" }}, {:class => '', :onclick => fix_language_switch}) %>
          <% end %>
        </li>
        <% if current_user.present? %>
            <li>|</li>
            <li><%= link_to_logout %></li>
            <li>|</li>
            <li><%= link_to(t('template.dashboard.my_account'), profile_path('x')) %></li>
            <% if hotel_agent? %>
                <li>|</li>
                <li><%= link_to t('views.labels.list_hotel_now'), new_hotel_path(:lan => I18n.locale.to_s) %></li>
            <% end %>
        <% end %>
        <li>|</li>
        <li><%= link_to(t('template.dashboard.home'), root_path(:lan => I18n.locale.to_s)) %></li>
      </ul>
    </div>
    <div class="nav_wrapper">
      <div class="current_branch right clear" style="margin-top: 10px;">
        <% entities = Hotel.all(:include => :translations, :conditions => {'hotels.id' => manageable_hotel_ids}) %>
        <%= select_tag('current_reporting_branch_id', ("<option value=''>#{t('template.dashboard.select_entity')}</option>" + options_for_select(entities.collect { |r| [r.title, r.id] }, current_reporting_branch_id)).html_safe, :class => '') %>
      </div>
      <div class="right" style="margin: 15px">
        <%= t('views.labels.hotel') %>
      </div>

      <%= render :partial => 'layouts/parts/dashboard_nav' %>
    </div>
  </div>
</div>