<% if flash[:notice] %>
    Message.showSuccess("<%= raw flash[:notice] %>");
<% end %>
<% if flash[:error] %>
    Message.showError("<%= raw flash[:error] %>");
<% end %>
<% if flash[:alert] %>
    Message.showWarning("<%= raw flash[:alert] %>");
<% end %>

<%
    flash[:notice] = nil
    flash[:error] = nil
    flash[:alert] = nil
%>