<% @room_types = current_reporting_branch_id.present? ? (Hotel.find(current_reporting_branch_id).room_types rescue []) : [] %>
<% @reservation ||= CheckIn.new %>

<a href="" class="lbOn" rel="new_reserve_lb"></a>
<div class="fi_light_box_row" id="new_reserve_lb" style="display: none;width: auto;left:0%;right:0%;z-index: 1001;position: absolute;">
  <div class="fi_head">
    <h1><%= t('views.labels.reservation') %></h1>
    <a class="fi_close" href="javascript:void(0)" onclick="gLightBoxes['new_reserve_lb'].deactivate();"></a>
  </div>

  <div class="check_in_form_container">

    <%= form_for(@reservation) do |f| %>

      <div class="qv_row" style="width: 30%">
        <h2><%= t('views.labels.stay_details') %></h2>

        <div class="qv_info rooms_information">
          <%= render :partial => 'reservations/parts/lb_form', :locals => {:f => f} %>
        </div>
      </div>
      <div class="qv_row">
        <h2><%= t('views.labels.room_cost') %></h2>

        <div class="qv_info">
          <% Constants::CHECK_IN_RATE_TYPES.each do |crt| %>
            <div class="qv_desc_row room_rate for_<%= crt %>">
              <%= f.radio_button :rate_type, crt, :id => 'reservation_rate_type_'+crt %>
              <span class="radio_label">
                    <%= crt.humanize %>
                  </span>

                  <span class="rate_hints ">
                        <%= f.text_field :manual_rate if crt == 'manual' %>
                  </span>

            </div>
          <% end %>
        </div>
      </div>
      <div class="qv_row">
        <h2>
          <%= check_box_tag :reserve_group_check_in %>
          <%= t('views.labels.group') + t('views.labels.reservation') %>
        </h2>

        <div class="qv_info ">
          <%= label_tag :group_name %>
          <%#= text_field_tag :group_info %>
          <%= text_field_tag :group_info, '',
                             :class => 'auto_group_name',
                             :id => 'auto_reserve_group_name',
                             :onkeyup => '',
                             :autocomplete => 'on',
                             :disabled => 'disabled',
                             :onblur => "$('where_spin').hide();" %>


          <div class='auto_complete' id='search_reserve_group_name_auto_complete'></div>
          <%= image_tag 'dashboard/edit.png', :class => 'edit_info load_another_lightbox', :old_lb => 'new_reserve_lb', :new_lb => 'reserve_group_lb' %>
          <span id="reserve_where_spin" style="display:none;padding-bottom: 0px;"><%= image_tag 'spin.gif' %></span>
          <%= f.hidden_field :group_id, :id => 'selected_reserve_group_id' %>

          <div class="group_information">

          </div>
        </div>
      </div>


      <div class="qv_row" style="width: 98%">
        <div class="qv_row_full_content">
          <label class="subhead-label">
            <%= t('views.labels.billing_information') %>
          </label>
          <%= render :partial => 'reservations/parts/billing_information_form', :locals => {:f => f, :addressable => @reservation} %>

        </div>
      </div>

      <div class="qv_row guest_rows" style="width: 98%">
        <h2>
               <span class="sl">

                 SL
               </span>
            <span class="room_type">
               <%= t('views.labels.room_type') %>
               </span>
            <span class="room">
              <%= t('views.labels.room') %>
               </span>
            <span class="guest_information">
              <%= t('views.labels.guest_information') %>
               </span>
            <span class="adults">
              <%= t('views.labels.adults') %>
               </span>

            <span class="children">
              <%= t('views.labels.children') %>
               </span>
            <span class="dependents">
              <%= t('views.labels.dependent_information') %>
               </span>
        </h2>

        <div class="qv_row_full_content" id="reserved_rooms_container">
          <% if @reservation.allocated_rooms.size > 0 %>
            <%= render :partial => 'check_ins/allocated_room', :collection => @reservation.allocated_rooms, :locals => {:form => f, :room_types => @room_types, :model_object => @reservation} %>
          <% end %>
        </div>

        <%= link_to t('views.labels.add_room'), 'javascript:void(0)', :class => 'adMore addMoreReservedRoom right' %>
      </div>

      <div style="margin: 10px auto; text-align: center">
        <input type="button" class="light_box_submit_btn" value="<%= t('views.labels.back') %>" onclick="gLightBoxes['new_reserve_lb'].deactivate();"/>
        <input type="submit" class="light_box_submit_btn seperate" value="<%= t('views.labels.go') %>"/>
      </div>

      <% @form_builder = f %>
    <% end %>
  </div>
</div>

<%= render :partial => 'reservations/parts/reserve_guests_lb' %>
<%= render :partial => 'reservations/parts/reserve_group_lb' %>

<div style="display: none">
  <div id="new_reserved_room_html">
    <%= render :partial => 'check_ins/allocated_room', :locals => {:form => @form_builder, :allocated_room => AllocatedRoom.new, :room_types => @room_types, :model_object => @reservation} %>
  </div>
</div>


<script type="text/javascript">
  DASHBOARD.addMoreItem('a.addMoreDependent', '#dependent_guest_html', '#dependent_guests', 'span.removeDependentGuest', 'dependent_guest');
  DASHBOARD.addMoreItem('a.addMoreReservedRoom', '#new_reserved_room_html', '#reserved_rooms_container', 'span.removeReservedRoom', 'reserved_room_row');
</script>

<script type="text/javascript">

  //auto populate group name
//  new Ajax.Autocompleter('auto_reserve_group_name',
//      'search_reserve_group_name_auto_complete',
//      '/groups/auto_complete_for_group?authenticity_token=' +
//          encodeURIComponent('<%=form_authenticity_token%>') +
//          '&lan=<%=I18n.locale.to_s%>',
//      {indicator:'reserve_where_spin', afterUpdateElement:setGroupData});

  function setGroupData(text, li) {
    var ids = li.id.split('_');
    $j("#selected_reserve_group_id").val(ids[0]);
    $j("#reservation_rate_type_contract").prop('checked', true);

    $j.ajax({
      type:"GET",
      url:"/groups/" + ids[0] + "?authenticity_token=" + encodeURIComponent('<%=form_authenticity_token%>') + '&lan=<%=I18n.locale.to_s%>',
      data:{ id:ids[0] },
      dataType:"json"
    }).done(function (json_data) {
          var bf = "#reservation_billing_information_attributes";
          $j(bf + "_name").val(json_data.name);
          $j(bf + "_billing_address").val(json_data.billing_address);
          $j(bf + "_phone").val(json_data.phone);
          $j(bf + "_email").val(json_data.email);
        });

  }

  //disabled group name field if group not checked
  $j("#reserve_group_check_in").click(function () {
    if (this.checked) {
      $j("#auto_reserve_group_name").removeAttr("disabled");
    } else {
      $j("#auto_reserve_group_name").attr("disabled", "disabled");
    }
  })

</script>