<div class="hk_status">
  <h3><%= t('views.labels.tasks') %></h3>

  <div class="hk_row">
    <label><%= link_to t('views.labels.assigned'), 'javascript:void(0)', :url => assigned_tasks_path(:target_dom_id => 'assigned_tasks_container'), :class => 'for_tab_view', :rel => 'fdr_assigned_tasks', :title => t('views.labels.assigned_tasks') %></label>
    <span id="assigned_tasks_count"><%= current_user.assigned_tasks.assigned.count %></span>
  </div>

  <div class="hk_row">
    <label><%= link_to t('views.labels.owned'), 'javascript:void(0)', :url => created_tasks_path(:target_dom_id => 'created_tasks_container'), :class => 'for_tab_view', :rel => 'fdr_created_tasks', :title => t('views.labels.created_tasks') %></label>
    <span id="owned_tasks_count"><%= current_user.created_tasks.count %></span>
  </div>

  <div class="hk_row">
    <label><%= link_to t('views.labels.over_due'), 'javascript:void(0)', :url => over_due_tasks_path(:target_dom_id => 'over_due_tasks_container'), :class => 'for_tab_view', :rel => 'fdr_over_due_tasks', :title => t('views.labels.over_due_tasks') %></label>
    <span id="over_due_tasks_count"><%= current_user.assigned_tasks.over_due.count %></span>
  </div>
</div>