<div class="hk_status">
  <h3><%= t('views.labels.message') %></h3>

  <div class="hk_row">
    <label><%= link_to t('views.labels.my_message'), 'javascript:void(0)', :url => inbox_messages_path(:target_dom_id => 'messages_container'), :class => 'for_tab_view', :rel => 'fdr_messages', :title => t('views.labels.inbox') %></label>
    <span><a href="#" id="unread_message_counter"><%= Message.unread_by(current_user).count %></a></span>
  </div>
</div>