<div class="narrow">
  <div class="hk_status">
    <h3><%= t('views.labels.housekeeping') %></h3>
    <% Constants::HOUSEKEEPING_STATUS_CODES.each do |k, v| %>
        <div class="hk_row">
          <label class="housekeeping_status_filter"><%= link_to t("views.labels.#{k}"), 'javascript:void(0)', :data_seed => k.to_s.titleize %></label>
          <span id="<%= k %>_count">0</span>
        </div>
    <% end %>
  </div>

  <%= render :partial => 'parts/side_bar_message_notification' %>

  <%= render :partial => 'parts/side_bar_task_notification' %>

  <div class="hk_status">
    <h3><%= t('views.labels.todays_room_status') %></h3>

    <div class="hk_row">
      <label><a href="#"><%= t('views.labels.todays_check_in') %></a></label>
      <span><a href="#"><%= @todays_activity_count['todays_checkin'] %></a></span>
    </div>
    <div class="hk_row">
      <label><a href="#"><%= t('views.labels.todays_check_out') %></a></label>
      <span><a href="#"><%= @todays_activity_count['todays_checkout'] %></a></span>
    </div>
    <div class="hk_row">
      <label><%= t('views.labels.available') %></label>
      <span><%= @todays_statistics['available'] %></span>
    </div>
    <div class="hk_row">
      <label><%= t('views.labels.reserved') %></label>
      <span><%= @todays_statistics['reserved'] %></span>
    </div>
    <!--<div class="hk_row">-->
    <!--<label><%= t('views.labels.occupied') %></label>-->
    <!--<span></span>-->
    <!--</div>-->
    <!--<div class="hk_row">-->
    <!--<label><%= t('views.labels.blocked') %></label>-->
    <!--<span></span>-->
    <!--</div>-->
    <!--<div class="hk_row">-->
    <!--<label><%= t('views.labels.checked_out') %></label>-->
    <!--<span></span>-->
    <!--</div>-->
  </div>

  <div class="hk_status">
    <h3><%= t('views.labels.room_status_legends') %></h3>

    <div class="hk_row">
      <div class="available"></div>
      <p><%= t('views.labels.available') %></p>
    </div>
    <div class="hk_row">
      <div class="reserved"></div>
      <p><%= t('views.labels.reserved') %></p>
    </div>
    <div class="hk_row">
      <div class=" due_out"></div>
      <p><%= t('views.labels.due_out') %></p>
    </div>
    <div class="hk_row">
      <div class=" checked_in"></div>
      <p><%= t('views.labels.checked_in') %></p>
    </div>
    <div class="hk_row">
      <div class=" checked_out"></div>
      <p><%= t('views.labels.checked_out') %></p>
    </div>
    <div class="hk_row">
      <div class=" locked"></div>
      <p><%= t('views.labels.locked') %></p>
    </div>
    <div class="hk_row">
      <div class=" maintenance"></div>
      <p><%= t('views.labels.maintenance') %></p>
    </div>
  </div>

</div>