<div class="group">
  <h2><%= t('template.dashboard.hotel_admin_nav.acc_payment_finance_report') %></h2>
  <ul class="nav-sub-menu">
    <% if hotel_agent? || has_any_role_with_hierarchy?(:report_cash_closeouts) %>
        <li><%= link_to t('views.labels.cash_closeout_reports'), 'javascript:void(0)', :url => branch_panel_cash_closeouts_path(:target_dom_id => 'rpt_cash_closeout_content'),:loading_container_id => 'rpt_cash_closeout_content', :class => 'for_tab_view', :rel => 'rpt_cash_closeout', :title => t('views.labels.cash_closeout_reports') %></li>
    <% end %>
    <% if hotel_agent? || has_any_role_with_hierarchy?(:report_payment_type_wise_transaction) %>
        <li><%= link_to t('template.dashboard.hotel_admin_nav.payment_type_transaction_report'), 'javascript:void(0)', :url => payment_type_wise_transactions_report_path(:target_dom_id => 'rpt_payment_type_transaction_content'),:loading_container_id => 'rpt_payment_type_transaction_content', :class => 'for_tab_view', :rel => 'rpt_payment_type_transaction', :title => t('views.labels.payment_type_transaction_reports') %></li>
    <% end %>
    <% if hotel_agent? || has_any_role_with_hierarchy?(:report_service_wise_revenue) %>
        <li><%= link_to t('template.dashboard.hotel_admin_nav.service_wise_revenue_report'), 'javascript:void(0)', :url => service_wise_revenue_report_path(:target_dom_id => 'rpt_service_wise_revenue_content'),:loading_container_id => 'rpt_service_wise_revenue_content', :class => 'for_tab_view', :rel => 'rpt_service_wise_revenue', :title => t('views.labels.service_wise_revenue_reports') %></li>
    <% end %>
    <% if hotel_agent? || has_any_role_with_hierarchy?(:report_deposit_listing) %>
        <li><%= link_to t('template.dashboard.hotel_admin_nav.deposit_listing_report'), 'javascript:void(0)', :url => deposit_listing_report_path(:target_dom_id => 'rpt_deposit_listing_content'),:loading_container_id => 'rpt_deposit_listing_content', :class => 'for_tab_view', :rel => 'rpt_deposit_listing', :loading_container_id => 'rpt_deposit_listing_content', :title => t('views.labels.deposit_listing_reports') %></li>
    <% end %>
    <% if hotel_agent? || has_any_role_with_hierarchy?(:report_financial_statement) %>
        <li><%= link_to t('template.dashboard.hotel_admin_nav.financial_statement_report'), 'javascript:void(0)', :url => financial_statement_report_path(:target_dom_id => 'rpt_financial_statement_content'),:loading_container_id => 'rpt_financial_statement_content', :class => 'for_tab_view', :rel => 'rpt_financial_statement', :title => t('views.labels.financial_statement_reports') %></li>
    <% end %>
    <% if hotel_agent? || has_any_role_with_hierarchy?(:report_billing_information) %>
        <li><%= link_to t('template.dashboard.hotel_admin_nav.billing_information_report'), 'javascript:void(0)', :url => billing_information_report_path(:target_dom_id => 'rpt_billing_information_content'),:loading_container_id => 'rpt_billing_information_content', :class => 'for_tab_view', :rel => 'rpt_billing_information', :title => t('views.labels.billing_information_reports') %></li>
    <% end %>
    <% if hotel_agent? || has_any_role_with_hierarchy?(:report_groups_revenue) %>
        <li><%= link_to t('template.dashboard.hotel_report_nav.group_wise_revenue_report'), 'javascript:void(0)', :url => groups_revenue_report_path(:target_dom_id => 'rpt_groups_revenue_content'),:loading_container_id => 'rpt_groups_revenue_content', :class => 'for_tab_view', :rel => 'rpt_groups_revenue', :title => t('views.labels.groups_revenue_reports') %></li>
    <% end %>
    <% if hotel_agent? || has_any_role_with_hierarchy?(:report_room_types_revenue) %>
        <li><%= link_to t('template.dashboard.hotel_report_nav.room_types_revenue_report'), 'javascript:void(0)', :url => room_types_revenue_report_path(:target_dom_id => 'rpt_room_types_revenue_content'),:loading_container_id => 'rpt_room_types_revenue_content', :class => 'for_tab_view ', :rel => 'rpt_room_types_revenue', :title => t('views.labels.room_types_revenue_reports') %></li>
    <% end %>
    <% if hotel_agent? || has_any_role_with_hierarchy?(:report_cashier_statement) %>
        <li><%= link_to t('template.dashboard.hotel_report_nav.cashier_report'), 'javascript:void(0)', :url => cashier_statement_report_path(:target_dom_id => 'rpt_cashier_statement_content'),:loading_container_id => 'rpt_cashier_statement_content', :class => 'for_tab_view', :rel => 'rpt_cashier_statement', :title => t('template.dashboard.hotel_report_nav.cashier_report') %></li>
    <% end %>
    <% if hotel_agent? || has_any_role_with_hierarchy?(:report_revenue_by_counter) %>
        <li><%= link_to t('template.dashboard.hotel_report_nav.revenue_report_by_counter'), 'javascript:void(0)', :url => revenue_by_counter_report_path(:target_dom_id => 'rpt_revenue_by_counter_content'),:loading_container_id => 'rpt_revenue_by_counter_content', :class => 'for_tab_view', :rel => 'rpt_revenue_by_counter', :title => t('views.labels.revenue_by_counter_reports') %></li>
    <% end %>

  </ul>
</div>

<!--<div class="group">-->
  <!--<h2><%= t('template.dashboard.hotel_admin_nav.fixed_asset_or_inventory_report') %></h2>-->
  <!--<ul class="nav-sub-menu">-->
    <!--<% if hotel_agent? || has_any_role_with_hierarchy?(:report_inventory_transaction_list) %>-->
        <!--<li><%= link_to t('template.dashboard.hotel_admin_nav.inventory_transaction_report'), 'javascript:void(0)', :url => inventory_transaction_list_report_path(:target_dom_id => 'rpt_inventory_transaction_content'),:loading_container_id => 'rpt_inventory_transaction_content', :class => 'for_tab_view', :rel => 'rpt_inventory_transaction', :title => t('views.labels.inventory_transaction_report') %></li>-->
    <!--<% end %>-->
    <!--<% if hotel_agent? || has_any_role_with_hierarchy?(:report_fixed_asset_allocation_history) %>-->
        <!--<li><%= link_to t('template.dashboard.hotel_admin_nav.fixed_asset_transaction_report'), 'javascript:void(0)', :url => fixed_asset_transactions_report_path(:target_dom_id => 'rpt_fixed_asset_transaction_content'),:loading_container_id => 'rpt_fixed_asset_transaction_content', :class => 'for_tab_view', :rel => 'rpt_fixed_asset_transaction', :title => t('views.labels.fixed_asset_transaction_report') %></li>-->
    <!--<% end %>-->

  <!--</ul>-->
<!--</div>-->


<div class="group">
  <h2><%= t('template.dashboard.hotel_admin_nav.reservation_or_checkin_report') %></h2>
  <ul class="nav-sub-menu">
    <% if hotel_agent? || has_any_role_with_hierarchy?(:report_group_stay) %>
        <li><%= link_to t('template.dashboard.hotel_report_nav.group_stay_report'), 'javascript:void(0)', :url => group_stay_report_path(:target_dom_id => 'rpt_group_stay_content'),:loading_container_id => 'rpt_group_stay_content', :class => 'for_tab_view', :rel => 'rpt_group_stay', :title => t('views.labels.group_stay_reports') %></li>
    <% end %>
    <% if hotel_agent? || has_any_role_with_hierarchy?(:report_reservation_activity_report) %>
        <li><%= link_to t('template.dashboard.hotel_report_nav.reservation_activity_report'), 'javascript:void(0)', :url => reservation_activity_report_path(:target_dom_id => 'rpt_reservation_activity_content'),:loading_container_id => 'rpt_reservation_activity_content', :class => 'for_tab_view', :rel => 'rpt_reservation_activity', :title => t('views.labels.reservation_activity_reports') %></li>
    <% end %>
    <% if hotel_agent? || has_any_role_with_hierarchy?(:report_reservation_cash_counter) %>
        <li><%= link_to t('template.dashboard.hotel_report_nav.reservation_activity_report_by_cash_counter'), 'javascript:void(0)', :url => reservation_cash_counter_path(:target_dom_id => 'rpt_reservation_cash_counter_content'),:loading_container_id => 'rpt_reservation_cash_counter_content', :class => 'for_tab_view', :rel => 'rpt_reservation_cash_counter', :title => t('template.dashboard.hotel_report_nav.reservation_activity_report_by_cash_counter') %></li>
    <% end %>

  </ul>
</div>


<div class="group">
  <h2><%= t('template.dashboard.hotel_admin_nav.night_audit_report') %></h2>
  <ul class="nav-sub-menu">
    <% if hotel_agent? || has_any_role_with_hierarchy?(:report_night_audit_report_by_date) %>
        <li><%= link_to t('template.dashboard.hotel_report_nav.night_audit_report_by_date'), 'javascript:void(0)', :url => night_audit_report_by_date_path(:target_dom_id => 'rpt_night_audit_by_date_content'),:loading_container_id => 'rpt_night_audit_by_date_content', :class => 'for_tab_view', :rel => 'rpt_night_audit_by_date', :title => t('views.labels.night_audit_by_date_reports') %></li>
    <% end %>

  </ul>
</div>


<div class="group">
  <h2><%= t('template.dashboard.hotel_admin_nav.sales_reports') %></h2>
  <ul class="nav-sub-menu">
    <% if hotel_agent? || has_any_role_with_hierarchy?(:report_room_occupancy) %>
        <li><%= link_to t('views.labels.room_occupancy_report'), 'javascript:void(0)', :url => room_wise_revenue_report_path(:target_dom_id => 'room_occupancy_report_content'),:loading_container_id => 'room_occupancy_report_content', :class => 'for_tab_view', :rel => 'room_occupancy_report', :title => t('views.labels.room_occupancy_report') %></li>
    <% end %>

  </ul>
</div>