<div class="group_type_tab tab_view">
  <ul id="v_tabs">
    <li>
      <%= link_to t('views.labels.report'), 'javascript:void(0)', :load_url => reports_base_path(:target_dom_id => 'reports_base_dashboard_content'), :loaded => true, :id => 'reports_base_dashboard', :title => t('views.labels.report'), :class => view_options_selected_tab('reports_base_dashboard') + ' tab  existing_tab' %>
    </li>
    <%= render_refresh_tab(t('views.labels.report')) %>
  </ul>
</div>
<div class="quickview less_top" id="v_tab_content">
  <div id="reports_base_dashboard_content" class="v_tab_content_item report-wrap">
    <div class="group">
      <h2><%= t('template.dashboard.hotel_admin_nav.acc_payment_finance_report') %></h2>
      <ul class="nav-sub-menu">
        <% if hotel_agent? || has_any_role_with_hierarchy?(:report_cash_closeouts) %>
            <li><%= link_to t('views.labels.pending_cheque_list'), 'javascript:void(0)', :url => cheque_list_report_path(:status => Constants::CHEQUE_STATUS[:pending], :target_dom_id => 'rpt_receive_cheque_list_content'), :loading_container_id => 'rpt_receive_cheque_list_content', :class => 'for_tab_view', :rel => 'rpt_receive_cheque_list', :title => t('views.labels.pending_cheque_list') %></li>
        <% end %>

        <% if hotel_agent? || has_any_role_with_hierarchy?(:report_cash_closeouts) %>
            <li><%= link_to t('views.labels.bounce_cheque_list'), 'javascript:void(0)', :url => cheque_list_report_path(:status => Constants::CHEQUE_STATUS[:bounced], :target_dom_id => 'rpt_bounce_cheque_list_content'), :loading_container_id => 'rpt_bounce_cheque_list_content', :class => 'for_tab_view', :rel => 'rpt_bounce_cheque_list', :title => t('views.labels.bounce_cheque_list') %></li>
        <% end %>

        <% if hotel_agent? || has_any_role_with_hierarchy?(:report_cash_closeouts) %>
            <li><%= link_to t('views.labels.cash_closeout_reports'), 'javascript:void(0)', :url => branch_panel_cash_closeouts_path(:target_dom_id => 'rpt_cash_closeout_content'), :loading_container_id => 'rpt_cash_closeout_content', :class => 'for_tab_view', :rel => 'rpt_cash_closeout', :title => t('views.labels.cash_closeout_reports') %></li>
        <% end %>
        <% if hotel_agent? || has_any_role_with_hierarchy?(:report_payment_type_wise_transaction) %>
            <li><%= link_to t('template.dashboard.hotel_admin_nav.payment_type_transaction_report'), 'javascript:void(0)', :url => payment_type_wise_transactions_report_path(:target_dom_id => 'rpt_payment_type_transaction_content'), :loading_container_id => 'rpt_payment_type_transaction_content', :class => 'for_tab_view', :rel => 'rpt_payment_type_transaction', :title => t('views.labels.payment_type_transaction_reports') %></li>
        <% end %>
        <% if hotel_agent? || has_any_role_with_hierarchy?(:report_service_wise_revenue) %>
            <li><%= link_to t('template.dashboard.hotel_admin_nav.service_wise_revenue_report'), 'javascript:void(0)', :url => service_wise_revenue_report_path(:target_dom_id => 'rpt_service_wise_revenue_content'), :loading_container_id => 'rpt_service_wise_revenue_content', :class => 'for_tab_view', :rel => 'rpt_service_wise_revenue', :title => t('views.labels.service_wise_revenue_reports') %></li>
        <% end %>
        <% if hotel_agent? || has_any_role_with_hierarchy?(:report_deposit_listing) %>
            <li><%= link_to t('template.dashboard.hotel_admin_nav.deposit_listing_report'), 'javascript:void(0)', :url => deposit_listing_report_path(:target_dom_id => 'rpt_deposit_listing_content'), :loading_container_id => 'rpt_deposit_listing_content', :class => 'for_tab_view', :rel => 'rpt_deposit_listing', :loading_container_id => 'rpt_deposit_listing_content', :title => t('views.labels.deposit_listing_reports') %></li>
        <% end %>
        <% if hotel_agent? || has_any_role_with_hierarchy?(:report_financial_statement) %>
            <li><%= link_to t('template.dashboard.hotel_admin_nav.financial_statement_report'), 'javascript:void(0)', :url => financial_statement_report_path(:target_dom_id => 'rpt_financial_statement_content'), :loading_container_id => 'rpt_financial_statement_content', :class => 'for_tab_view', :rel => 'rpt_financial_statement', :title => t('views.labels.financial_statement_reports') %></li>
        <% end %>
        <% if hotel_agent? || has_any_role_with_hierarchy?(:report_billing_information) %>
            <li><%= link_to t('template.dashboard.hotel_admin_nav.billing_information_report'), 'javascript:void(0)', :url => billing_information_report_path(:target_dom_id => 'rpt_billing_information_content'), :loading_container_id => 'rpt_billing_information_content', :class => 'for_tab_view', :rel => 'rpt_billing_information', :title => t('views.labels.billing_information_reports') %></li>
        <% end %>
        <% if hotel_agent? || has_any_role_with_hierarchy?(:report_groups_revenue) %>
            <li><%= link_to t('template.dashboard.hotel_report_nav.group_wise_revenue_report'), 'javascript:void(0)', :url => groups_revenue_report_path(:target_dom_id => 'rpt_groups_revenue_content'), :loading_container_id => 'rpt_groups_revenue_content', :class => 'for_tab_view', :rel => 'rpt_groups_revenue', :title => t('views.labels.groups_revenue_reports') %></li>
        <% end %>
        <% if hotel_agent? || has_any_role_with_hierarchy?(:report_room_types_revenue) %>
            <li><%= link_to t('template.dashboard.hotel_report_nav.room_types_revenue_report'), 'javascript:void(0)', :url => room_types_revenue_report_path(:target_dom_id => 'rpt_room_types_revenue_content'), :loading_container_id => 'rpt_room_types_revenue_content', :class => 'for_tab_view ', :rel => 'rpt_room_types_revenue', :title => t('views.labels.room_types_revenue_reports') %></li>
        <% end %>
        <% if hotel_agent? || has_any_role_with_hierarchy?(:report_cashier_statement) %>
            <li><%= link_to t('template.dashboard.hotel_report_nav.cashier_report'), 'javascript:void(0)', :url => cashier_statement_report_path(:target_dom_id => 'rpt_cashier_statement_content'), :loading_container_id => 'rpt_cashier_statement_content', :class => 'for_tab_view', :rel => 'rpt_cashier_statement', :title => t('template.dashboard.hotel_report_nav.cashier_report') %></li>
        <% end %>
        <% if hotel_agent? || has_any_role_with_hierarchy?(:report_revenue_by_counter) %>
            <li><%= link_to t('template.dashboard.hotel_report_nav.revenue_report_by_counter'), 'javascript:void(0)', :url => revenue_by_counter_report_path(:target_dom_id => 'rpt_revenue_by_counter_content'), :loading_container_id => 'rpt_revenue_by_counter_content', :class => 'for_tab_view', :rel => 'rpt_revenue_by_counter', :title => t('views.labels.revenue_by_counter_reports') %></li>
        <% end %>
        <% if hotel_agent? || has_any_role_with_hierarchy?(:report_revenue_by_counter) %>
            <li><%= link_to t('template.dashboard.hotel_report_nav.room_rates_variation'), 'javascript:void(0)', :url => room_rates_revenue_path(:target_dom_id => 'room_rates_revenue_content'), :loading_container_id => 'room_rates_revenue_content', :class => 'for_tab_view', :rel => 'room_rates_revenue', :title => t('template.dashboard.hotel_report_nav.room_rates_variation') %></li>
        <% end %>
        <% if hotel_agent? || has_any_role_with_hierarchy?(:invoice_list) %>
            <li><%= link_to t('views.labels.invoice_list'), 'javascript:void(0)', :url => front_desk_invoice_list_path(:target_dom_id => 'front_desk_invoice_list_report_content'), :loading_container_id => 'front_desk_invoice_list_report_content', :class => 'for_tab_view', :rel => 'front_desk_invoice_list_report', :title => t('views.labels.invoice') %></li>
        <% end %>
      </ul>
    </div>

    <!--<div class="group">-->
      <!--<h2><%= t('template.dashboard.hotel_admin_nav.fixed_asset_or_inventory_report') %></h2>-->
      <!--<ul class="nav-sub-menu">-->
        <!--<% if hotel_agent? || has_any_role_with_hierarchy?(:report_inventory_transaction_list) %>-->
            <!--<li><%= link_to t('template.dashboard.hotel_admin_nav.inventory_transaction_report'), 'javascript:void(0)', :url => inventory_transaction_list_report_path(:target_dom_id => 'rpt_inventory_transaction_content'), :loading_container_id => 'rpt_inventory_transaction_content', :class => 'for_tab_view', :rel => 'rpt_inventory_transaction', :title => t('views.labels.inventory_transaction_report') %></li>-->
        <!--<% end %>-->
        <!--<% if hotel_agent? || has_any_role_with_hierarchy?(:report_fixed_asset_allocation_history) %>-->
            <!--<li><%= link_to t('template.dashboard.hotel_admin_nav.fixed_asset_transaction_report'), 'javascript:void(0)', :url => fixed_asset_transactions_report_path(:target_dom_id => 'rpt_fixed_asset_transaction_content'), :loading_container_id => 'rpt_fixed_asset_transaction_content', :class => 'for_tab_view', :rel => 'rpt_fixed_asset_transaction', :title => t('views.labels.fixed_asset_transaction_report') %></li>-->
        <!--<% end %>-->
        <!--&lt;!&ndash;<li><%= link_to t('template.dashboard.hotel_admin_nav.room_asset_allocation_report'), 'javascript:void(0)', :url => room_asset_allocation_report_path(:target_dom_id => 'rpt_asset_allocation_content'), :loading_container_id => 'rpt_asset_allocation_content', :class => 'for_tab_view', :rel => 'rpt_asset_allocation', :title => t('views.labels.fixed_asset_transaction_report') %></li>&ndash;&gt;-->

      <!--</ul>-->
    <!--</div>-->


    <div class="group">
      <h2><%= t('template.dashboard.hotel_admin_nav.reservation_or_checkin_report') %></h2>
      <ul class="nav-sub-menu">
        <% if hotel_agent? || has_any_role_with_hierarchy?(:report_group_stay) %>
            <li><%= link_to t('template.dashboard.hotel_report_nav.group_stay_report'), 'javascript:void(0)', :url => group_stay_report_path(:target_dom_id => 'rpt_group_stay_content'), :loading_container_id => 'rpt_group_stay_content', :class => 'for_tab_view', :rel => 'rpt_group_stay', :title => t('views.labels.group_stay_reports') %></li>
        <% end %>
        <% if hotel_agent? || has_any_role_with_hierarchy?(:report_reservation_activity_report) %>
            <li><%= link_to t('template.dashboard.hotel_report_nav.reservation_activity_report'), 'javascript:void(0)', :url => reservation_activity_report_path(:target_dom_id => 'rpt_reservation_activity_content'), :loading_container_id => 'rpt_reservation_activity_content', :class => 'for_tab_view', :rel => 'rpt_reservation_activity', :title => t('views.labels.reservation_activity_reports') %></li>
        <% end %>
        <% if hotel_agent? || has_any_role_with_hierarchy?(:report_reservation_cash_counter) %>
            <li><%= link_to t('template.dashboard.hotel_report_nav.reservation_activity_report_by_cash_counter'), 'javascript:void(0)', :url => reservation_cash_counter_path(:target_dom_id => 'rpt_reservation_cash_counter_content'), :loading_container_id => 'rpt_reservation_cash_counter_content', :class => 'for_tab_view', :rel => 'rpt_reservation_cash_counter', :title => t('template.dashboard.hotel_report_nav.reservation_activity_report_by_cash_counter') %></li>
        <% end %>
        <% if hotel_agent? || has_any_role_with_hierarchy?(:report_reservation_cash_counter) %>
            <li><%= link_to t('template.dashboard.hotel_report_nav.room_history_report'), 'javascript:void(0)', :url => room_history_report_path(:target_dom_id => 'rpt_room_history_content'), :loading_container_id => 'rpt_room_history_content', :class => 'for_tab_view', :rel => 'rpt_room_history', :title => t('template.dashboard.hotel_report_nav.room_history_report') %></li>
        <% end %>
        <% if hotel_agent? || has_any_role_with_hierarchy?(:report_reservation_cash_counter) %>
            <li><%= link_to t('template.dashboard.hotel_report_nav.room_wise_revenue_type_report', :report_name => t('views.labels.estimated')), 'javascript:void(0)', :url => room_wise_revenue_report_path(:target_dom_id => 'rpt_room_estimated_revenue_content', :revenue_type => 'estimated'), :loading_container_id => 'rpt_room_estimated_revenue_content', :class => 'for_tab_view', :rel => 'rpt_room_estimated_revenue', :title => t('template.dashboard.hotel_report_nav.room_wise_revenue_type_report', :report_name => t('views.labels.estimated')) %></li>
        <% end %>
        <% if hotel_agent? || has_any_role_with_hierarchy?(:report_reservation_cash_counter) %>
            <li><%= link_to t('template.dashboard.hotel_report_nav.room_wise_revenue_type_report', :report_name => t('views.labels.actual')), 'javascript:void(0)', :url => room_wise_revenue_report_path(:target_dom_id => 'rpt_room_actual_revenue_content', :revenue_type => 'actual'), :loading_container_id => 'rpt_room_actual_revenue_content', :class => 'for_tab_view', :rel => 'rpt_room_actual_revenue', :title => t('template.dashboard.hotel_report_nav.room_wise_revenue_type_report', :report_name => t('views.labels.actual')) %></li>
        <% end %>
        <% if hotel_agent? || has_any_role_with_hierarchy?(:report_reservation_cash_counter) %>
            <li><%= link_to t('template.dashboard.hotel_report_nav.room_type_wise_occupancy_report'), 'javascript:void(0)', :url => room_type_occupancy_revenue_path(:target_dom_id => 'rpt_room_type_wise_occupancy_report_content', :revenue_type => 'actual'), :loading_container_id => 'rpt_room_type_wise_occupancy_report_content', :class => 'for_tab_view', :rel => 'rpt_room_type_wise_occupancy_report', :title => t('template.dashboard.hotel_report_nav.room_type_wise_occupancy_report') %></li>
        <% end %>

      </ul>
    </div>


    <div class="group">
      <h2><%= t('template.dashboard.hotel_admin_nav.night_audit_report') %></h2>
      <ul class="nav-sub-menu">
        <% if hotel_agent? || has_any_role_with_hierarchy?(:report_night_audit_report_by_date) %>
            <li><%= link_to t('template.dashboard.hotel_report_nav.night_audit_report_by_date'), 'javascript:void(0)', :url => night_audit_report_by_date_path(:target_dom_id => 'rpt_night_audit_by_date_content'), :loading_container_id => 'rpt_night_audit_by_date_content', :class => 'for_tab_view', :rel => 'rpt_night_audit_by_date', :title => t('views.labels.night_audit_by_date_reports') %></li>
        <% end %>

      </ul>
    </div>


    <div class="group">
      <h2><%= t('template.dashboard.hotel_admin_nav.sales_reports') %></h2>
      <ul class="nav-sub-menu">
        <% if hotel_agent? || has_any_role_with_hierarchy?(:report_room_occupancy) %>
            <li><%= link_to t('views.labels.room_occupancy_report'), 'javascript:void(0)', :url => room_wise_revenue_path(:target_dom_id => 'room_occupancy_report_content'), :loading_container_id => 'room_occupancy_report_content', :class => 'for_tab_view', :rel => 'room_occupancy_report', :title => t('views.labels.room_occupancy_report') %></li>
        <% end %>

      </ul>
    </div>


    <div class="group">
      <h2><%= t('template.dashboard.hotel_admin_nav.payment_reports') %></h2>
      <ul class="nav-sub-menu">
        <li><%= link_to t('views.labels.check_in_bill_summary'), 'javascript:void(0)', :url => front_desk_checkin_bill_summary_path(:target_dom_id => 'checkin_bill_summary_content'), :loading_container_id => 'checkin_bill_summary_content', :class => 'for_tab_view', :rel => 'checkin_bill_summary', :title => t('views.labels.check_in_bill_summary') %></li>

        <%# if hotel_agent? || has_any_role_with_hierarchy?(:report_room_occupancy) %>
        <li><%= link_to t('views.labels.credit_invoices'), 'javascript:void(0)', :url => credit_invoices_branch_panel_invoices_path(:target_dom_id => 'credit_invoices_report_content'), :loading_container_id => 'credit_invoices_report_content', :class => 'for_tab_view', :rel => 'credit_invoices_report', :title => t('views.labels.credit_invoices') %></li>
        <%# end %>
        <li><%= link_to t('views.labels.guest_revenue'), 'javascript:void(0)', :url => guest_revenue_report_path(:target_dom_id => 'guest_revenue_report_content'), :loading_container_id => 'guest_revenue_report_content', :class => 'for_tab_view', :rel => 'guest_revenue_report', :title => t('views.labels.guest_revenue') %></li>
        <li><%= link_to t('views.labels.cash_counter_transactions'), 'javascript:void(0)', :url => cash_counter_transactions_report_path(:target_dom_id => 'cash_counter_transactions_report_content'), :loading_container_id => 'cash_counter_transactions_report_content', :class => 'for_tab_view', :rel => 'cash_counter_transactions_report', :title => t('views.labels.cash_counter_transactions') %></li>

      </ul>
    </div>

    <div class="group">
      <h2><%= t('template.dashboard.hotel_admin_nav.room_reports') %></h2>
      <ul class="nav-sub-menu">
        <li><%= link_to t('views.labels.room_rate'), 'javascript:void(0)', :url => room_rate_report_path(:target_dom_id => 'room_rate_report_content'), :loading_container_id => 'room_rate_report_content', :class => 'for_tab_view', :rel => 'room_rate_report', :title => t('views.labels.room_rate') %></li>
        <li><%= link_to t('views.labels.net_revenue'), 'javascript:void(0)', :url => room_net_revenue_report_path(:target_dom_id => 'room_net_revenue_report_content'), :loading_container_id => 'room_rate_report_content', :class => 'for_tab_view', :rel => 'room_net_revenue_report', :title => t('views.labels.net_revenue') %></li>
      </ul>
    </div>


  </div>
</div>

