<%= form_tag report_available_path, :method => 'get', :name => 'filter-from', :class => 'submit_on_load show_inner_loading', 'data-remote' => true do %>
  <div class="boxinfo">
    <h1><%= t('template.dashboard.reporting_service_report.room_available') %></h1>

    <div class="info">
      <%= select_tag('days_count', options_for_select(translate_days_count_options(Constants::DAYS_COUNT_OPTIONS_LESS), params[:days_count].to_i), :class => 'select_ajax_submit') %>
      <label><%= @current_total %></label>
    </div>
  </div>
  <%= hidden_field_tag 'current_reporting_branch_id', current_reporting_branch_id , :id => '', :class => 'current_reporting_branch_id' %>
  <div class="changed">
    <div class="stat <%= @change %>"></div>
    <div class="amount"><%= @change_total %></div>
  </div>
<% end %>