<div class="boxinfo">
  <h1><%= t('template.dashboard.reporting_service_report.total_sales') %></h1>

  <div class="info">
    <select>
      <option>Today</option>
    </select>
    <label>10000</label>
    <span>SAR</span>
  </div>
</div>
<div class="changed">
  <div class="stat up"></div>
  <div class="amount">12,000</div>
</div>