<div class="border_inner_box">
  <div class="views border_bg">
    <div class=" rpt_base">
      <div class="rpt_choose">
        <label>Filters</label>
        <select name="serviceable_id" id="">
          <option value="">Daily</option>
          <option value="1">Cash</option>
          <option value="2">Credit</option>
        </select>
        <select name="serviceable_id" id="">
          <option value="">Daily Sales Report</option><option value="1">Cash</option>
          <option value="2">Credit</option>
        </select>

      </div>

      <div style="width: 20%; margin-bottom: 0px" class="manage_input">
        <label>Form Date</label>
        <div class="dt_txt">
          <input type="text" value="2012-09-13" name="start_date" id="start_date" data-less-than-eq-field="acc_ledger_end_date" class="datepicker">
        </div>
      </div>

      <div style="width: 20%; margin-bottom: 0px" class="manage_input">
        <label>To Date</label>
        <div class="dt_txt">
          <input type="text" value="2012-09-13" name="start_date" id="start_date" data-less-than-eq-field="acc_ledger_end_date" class="datepicker">
        </div>
      </div>

      <div class="rpt_choose">
        <input type="radio" name="">
        <span>Chart</span>
        <input type="radio" name="">
        <span>Chart</span>

        <select name="serviceable_id" id="">
          <option value="">Pie Graph</option>
          <option value="2">Credit</option>
        </select>

        <input type="submit" value="Search" class="go_btn centered_button " name="submit">
      </div>



    </div>
  </div>

  <div class="gp_stay_links mtop8" id="csv_pdf_chkout">
    <h1 class="start d_sales">Daily Sates</h1>
    <a href="http://localhost:3000/front_desk/checkout_list.csv?lan=en&amp;target_dom_id=fdr_checkout_list_content">csv</a>
    <a href="http://localhost:3000/front_desk/checkout_list.pdf?lan=en&amp;target_dom_id=fdr_checkout_list_content">pdf</a>
  </div>

  <div class="views border_bg graph_icon">
    <a href="#" class="graph_1"></a>
    <a href="#" class="graph_2"></a>
    <a href="#" class="graph_3"></a>
    <a href="#" class="graph_4"></a>
    <a href="#" class="graph_5"></a>
  </div>

  <div class="graph_wrap">

    <div class=" graph_border">
      <h1>Sales By Services</h1>
      <div class="graph_img">
        <img src="/assets/dashboard/sales_by_service.jpg" alt="">
      </div>
      <div class="g_status">
        <div style="background:#99ae63"></div>
        <span>Maintenance</span>
      </div>
      <div class="g_status">
        <div style="background:#ce8781"></div>
        <span>Available</span>
      </div>
      <div class="g_status">
        <div style="background:#62a7ea"></div>
        <span>Blocked</span>
      </div>
    </div>

    <div class=" graph_border">
      <h1>Sales By Source</h1>
      <div class="graph_img">
        <img src="/assets/dashboard/sales_by_source.jpg" alt="">
      </div>
      <div class="g_status">
        <div style="background:#99ae63"></div>
        <span>Maintenance</span>
      </div>
      <div class="g_status">
        <div style="background:#ce8781"></div>
        <span>Available</span>
      </div>
      <div class="g_status">
        <div style="background:#62a7ea"></div>
        <span>Blocked</span>
      </div>
    </div>
    <div class=" graph_border no_margin">
      <h1>Sales By Room Rent</h1>
      <div class="graph_img">
        <img src="/assets/dashboard/sales_by_roomrent.jpg" alt="">
      </div>
      <div class="g_status">
        <div style="background:#99ae63"></div>
        <span>Maintenance</span>
      </div>
      <div class="g_status">
        <div style="background:#ce8781"></div>
        <span>Available</span>
      </div>
      <div class="g_status">
        <div style="background:#62a7ea"></div>
        <span>Blocked</span>
      </div>
    </div>

  </div>

</div>