<% ul_id ||= ''; parent_class ||= ''; child_class ||= '' %>
<ul class="nav-sub-menu" id="<%= ul_id %>">
  <%= '<li>'.html_safe %>
  <%= link_to t('template.dashboard.hotel_admin_nav.accounting_pricing'), '', :class => parent_class%>
  <%= raw ul_id.blank? ? '<ul>' : '</li>' %>
  <%= render :partial => 'layouts/parts/hotel_admin_navs/accounting_pricing', :locals => {child_class: child_class} %>
  <%= '</ul></li>'.html_safe if ul_id.blank? %>

  </ul>

