<%= render_cash_counter_management_link(tag=:li, options ={}) %>
<%= render_discount_management_link(tag=:li, options ={:class => child_class}) %>
<%= render_wallet_management_link(tag=:li, options ={:class => child_class}) %>