<% ul_id ||= ''; parent_class ||= ''; child_class ||= '' %>
<ul class="nav-sub-menu" id="<%= ul_id %>">
  <%= '<li>'.html_safe %>
  <%#= link_to t('template.dashboard.hotel_admin_nav.travel_agent_and_company_management'),  'javascript:void(0)', :class => parent_class %>
  <%= raw ul_id.blank? ? '<ul>' : '</li>' %>
  <%#= render_travel_agent_management_link(tag=:li, options ={:class => child_class }) %>
  <%= '</ul></li>'.html_safe if ul_id.blank? %>
  <%= '<li>'.html_safe %>
  <%= link_to t('template.dashboard.hotel_admin_nav.guest_management'), 'javascript:void(0)', :class => parent_class %>
  <%= raw ul_id.blank? ? '<ul>' : '</li>' %>
  <%= render :partial => 'layouts/parts/hotel_admin_navs/guest_group_navs', :locals => {child_class: child_class} %>
  <%= '</ul></li>'.html_safe if ul_id.blank? %>
</ul>

