<% ul_id ||= ''; parent_class ||= ''; child_class ||= '' %>
<ul class="nav-sub-menu" id="<%= ul_id %>">
  <%= '<li>'.html_safe %>
  <%= link_to t('template.dashboard.hotel_admin_nav.hotel_profile'), '', :class => parent_class %>
  <%= raw ul_id.blank? ? '<ul>' : '</li>' %>
  <% if permitted_to?(:edit, :user_panel_hotels) %>
  <li><%= link_to t('template.dashboard.hotel_admin_nav.booking_policy'), edit_hotel_admin_hotel_path(current_branch) + '#booking_policy', :class => child_class %></li>
  <% end %>
  <%= '</ul></li>'.html_safe if ul_id.blank? %>
</ul>