<% ul_id ||= ''; parent_class ||= ''; child_class ||= '' %>
<ul class="nav-sub-menu" id="<%= ul_id %>">

  <%= '<li>'.html_safe %>
  <%= link_to t('template.dashboard.hotel_admin_nav.hotel_Management'), '', :class => parent_class %>
  <%= raw ul_id.blank? ? '<ul>' : '</li>' %>

  <%= render :partial => 'layouts/parts/hotel_admin_navs/hotels_sub_navs' %>

  <%= '</ul></li>'.html_safe if ul_id.blank? %>

  <!--<%= '<li>'.html_safe %>-->
  <!--<%= link_to t('template.dashboard.hotel_admin_nav.asset_inventory'), '', :class => parent_class %>-->
  <!--<%= raw ul_id.blank? ? '<ul>' : '</li>' %>-->

  <!--<%= render :partial => 'layouts/parts/hotel_admin_navs/asset_inventory_sub_navs' %>-->

  <!--<%= '</ul></li>'.html_safe if ul_id.blank? %>-->

</ul>
