<%= render_branch_management_link %>
<%= render_room_management_link %>
<%= render_room_type_management_link %>
<%= render_department_management_link %>
<%= render_marker_management_link %>
<%#= render_amenities_management_link %>
<%= render_rate_setup_link %>
<%= render_branch_service_management_link %>
<%= render_night_audit_link %>