<% ul_id ||= ''; parent_class ||= ''; child_class ||= '' %>
<ul class="nav-sub-menu" id="<%= ul_id %>">
  <%= '<li>'.html_safe %>
  <%= link_to t('template.dashboard.hotel_admin_nav.hotel_website_setup'), '', :class => parent_class %>
  <%= raw ul_id.blank? ? '<ul>' : '</li>' %>
  <%#= render_customize_template_link(tag=:li, options ={:class => child_class}) %>
  <%= render_assign_template_link(tag=:li, options ={:class => child_class}) %>
  <li><%= link_to t('views.labels.view_website'), current_branch.subdomain.present? ? root_url(:subdomain => current_branch.subdomain) : hotel_path(current_reporting_branch_id), :target => "_blank", :class => child_class %></li>
  <%#= render_customize_theme_link(tag=:li, options ={:class => child_class}) %>
  <%#= render_upload_layout_link(tag=:li, options ={:class => child_class}) %>
  <%#= render_shomoos_config_link(tag=:li, options ={:class => child_class}) %>
  <%= '</ul></li>'.html_safe if ul_id.blank? %>
  <li><%= link_to t('activerecord.models.online_reservation'), [:hotel_admin, :online_reservations] %></li>
  <%= '<li>'.html_safe %>
  <%= link_to t('template.dashboard.hotel_admin_nav.top_nav_shomoos'), '', :class => parent_class %>
  <%= raw ul_id.blank? ? '<ul>' : '</li>' %>
  <li><%= link_to t('template.dashboard.hotel_admin_nav.shomoos_information'), edit_shomoos_info_user_panel_hotel_path(:id => current_reporting_branch_id), :remote => true, :class => 'left-padding15' %></li>
  <li><%= link_to toggle_shomoos_link_label(current_branch), toggle_shomoos_user_panel_hotel_path(:id => current_reporting_branch_id), :method => :put, :remote => true, :class => 'left-padding15 shomoos_enable_link' %></li>
  <%= '</ul></li>'.html_safe if ul_id.blank? %>

</ul>

