<% ul_id ||= ''; parent_class ||= ''; child_class ||= '' %>
<ul class="nav-sub-menu" id="<%= ul_id %>">
  <%= render :partial => 'layouts/parts/hotel_admin_navs/user_management_navs', :locals => {:child_class => child_class} %>
</ul>
