<%= render_emp_management_link(tag=:li, option = {:class => @selected_menu=='agent_user_list' ? 'selectedAccount ' : ''} ) %>
<%= render_permission_management_link(tag=:li, options ={:class => child_class }) %>
<%= render_task_management_link(tag=:li, options ={:class => child_class }) %>
<%= render_audit_log_link(tag=:li, options ={:class => child_class}) %>
